{% if not head.ajax %}{% set baseTemplate = '@Rozier/base.html.twig' %}{% else %}{% set baseTemplate = '@Rozier/ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}


{% block content %}
<section class="content-global purge-cache">

    <header class="content-header header-cache header-about-cms">
        <h1 class="content-title about-cms-title">{% trans %}about.cms{% endtrans %}</h1>
    </header>

    <article class="content content-delete content-no-action-menu">
        <div class="content-table-cont">
            {% if newVersion %}
                <h2><i class="uk-icon-cloud-download"></i> {% trans %}new.version.available{% endtrans %}</h2>
            {% else %}
                <h2><i class="uk-icon-check"></i> {% trans %}lastest.version.installed{% endtrans %}</h2>
            {% endif %}
            <table class="content-table uk-table">
                <tr>
                    <td>{% trans %}current.version{% endtrans %}</td>
                    <td>{% trans %}last.version{% endtrans %}</td>
                </tr>
                <tr>
                    <td>{{ currentVersion }}</td>
                    <td>{{ lastVersion }}</td>
                </tr>
            </table>
            {# {% if newVersion %} #}
            <hr/>
            <h2><i class="uk-icon-file-text-o"></i> {% trans %}changelog{% endtrans %}:</h2>
            <p>{{ changelog|markdown }}</p>
            {# {% if downloadUrl %} #}
            <a href="{{ downloadUrl }}" class="uk-button"><i class="uk-icon-download"></i> {% trans %}download{% endtrans %}</a>
            {# {% endif %} #}
            {# {% endif %} #}
            <hr />
            <h2><i class="uk-icon-refresh"></i> {% trans %}automatic.upgrade{% endtrans %}:</h2>
            <p class="uk-alert uk-alert-warning"><i class="uk-icon-warning"></i> {% trans %}always.make.a.database.backup.before.upgrade{% endtrans %}</p>
            <a href="{{ path('aboutUpdatePage') }}" class="uk-button"><i class="uk-icon-refresh"></i> {% trans %}update.roadiz{% endtrans %}</a>
        </div>
    </article>
</section>
{% endblock %}
