{% extends 'simple.html.twig' %}

{% block content %}
<section id="login">
    <div id="login-logo">
        {% if head.companyLogo %}
        {% else %}
            <i class="uk-icon-rezozero"></i>
        {% endif %}
    </div>
    <div id="login-credit">
        <i class="uk-icon-rezozero"></i>
        <span id="login-version">{{ head.cmsVersion }} - build {{ head.cmsBuild }}</span>
    </div>
	<h1 id="tag-title">{% trans %}Back-office{% endtrans %}</h1>
	{% if error %}
	    <div data-uk-alert class="uk-alert uk-alert-danger">{{ error.message }}</div>
    {% endif %}

   	{% form_theme form 'forms.html.twig' %}
    <form id="login-form" class="uk-form uk-form-stacked {% if error %}uk-animation-shake{% endif %}" action="{{ path('loginCheckPage') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
	    <fieldset>
	    	<button class="uk-button uk-button-primary" type="submit"><i class="uk-icon-sign-in"></i> {% trans %}Login{% endtrans %}</button>
   		</fieldset>
	</form>
</section>
{% endblock %}
