{% extends '@Rozier/simple.html.twig' %}

{% block content %}
<section id="login">
    <div class="login-inner{% if error %} uk-animation-shake{% endif %}">
        <div id="login-infos">
            <div id="login-logo">
                {% if themeServices.adminImage %}
                    {{ themeServices.adminImage|display({width:150}) }}
                {% else %}
                    <i class="uk-icon-rz-roadiz-icon"></i>
                {% endif %}
            </div>
            <div id="login-credit">
                <i class="uk-icon-rz-rezozero"></i>
                <span id="login-version">{{ head.cmsVersion }} {{ head.cmsVersionNumber }}</span>
            </div>
        </div>
        <div id="login-formGlobal">
            <h1 id="tag-title">{% trans %}back_office{% endtrans %}</h1>
            {% if error %}
                <div data-uk-alert class="uk-alert uk-alert-danger">{{ error.message|trans }}</div>
            {% endif %}

            {% form_theme form '@Rozier/forms.html.twig' %}
            <form id="login-form" class="uk-form uk-form-stacked {% if error %}uk-animation-shake{% endif %}" action="{{ path('loginCheckPage') }}" method="post">
                {{ form_widget(form) }}
                {{ form_rest(form) }}
                <fieldset>
                    <button class="uk-button" type="submit"><i class="uk-icon-sign-in"></i> {% trans %}login{% endtrans %}</button>
                </fieldset>
            </form>
            <div id="login-link">
                <a id="frontend-home-link"
                   title="{% trans %}see.website{% endtrans %}" target="_blank" href="{% if request.basePath %}{{ request.basePath }}{% else %}/{% endif %}"><span class="uk-icon-button uk-icon-rz-earth"></span>
                    <span class="text">{% trans %}view.site{% endtrans %}</span>
                </a>
                <a href="{{ path('loginRequestPage') }}" class="login-link">{% trans %}forgot.password{% endtrans %}</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
