{% extends 'simple.html.twig' %}

{% block content %}
<section id="login">
    <div id="login-infos">
        <div id="login-logo">
            {% if head.companyLogo %}
            {% else %}
                <i class="uk-icon-rz-rezozero"></i>
            {% endif %}
        </div>
        <div id="login-credit">
            <i class="uk-icon-rz-rezozero"></i>
            <span id="login-version">{{ head.cmsVersion }} - build {{ head.cmsBuild }}</span>
        </div>
    </div>
    <div id="login-formGlobal">
    	<h1 id="tag-title">{% trans %}back_office{% endtrans %}</h1>
    	{% if error %}
    	    <div data-uk-alert class="uk-alert uk-alert-danger">{{ error.message }}</div>
        {% endif %}
       	{% form_theme form 'forms.html.twig' %}
        <form id="login-form" class="uk-form uk-form-stacked {% if error %}uk-animation-shake{% endif %}" action="{{ path('loginCheckPage') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
    	    <fieldset>
    	    	<button class="uk-button" type="submit"><i class="uk-icon-sign-in"></i> {% trans %}login{% endtrans %}</button>
       		</fieldset>
    	</form>
        <div id="login-link">
            <a id="frontend-home-link"
               title="{% trans %}see.website{% endtrans %}" target="_blank" href="{{ path('homePage') }}"><span class="uk-icon-button uk-icon-rz-earth"></span>
               <span class="text">{% trans %}view.site{% endtrans %}</span>
            </a>
            <a href="#" class="login-link">{% trans %}forgot.password{% endtrans %}</a>
        </div>
    </div>
</section>
{% endblock %}
