{% extends '@Rozier/login/base.html.twig' %}

{% block login_content %}
    {% if error %}
        <div data-uk-alert class="uk-alert uk-alert-danger">{{ error.message|trans }}</div>
    {% endif %}

    {% if openid %}
        <p>
            <a href="{{ openid }}"
              class="uk-button uk-button-secondary">
                <i class="uk-icon uk-icon-chain"></i>
                {{ (openid_button_label|default('login_with_openid'))|trans -}}
            </a>
        </p>
        <hr>
    {% endif %}

    {% form_theme form '@Rozier/forms.html.twig' %}
    <form id="login-form"
          class="uk-form uk-form-stacked {% if error %}uk-animation-shake{% endif %}"
          action="{{ path('loginCheckPage') }}"
          method="post">
        {{ form_widget(form) }}
        <fieldset>
            <button class="uk-button uk-button-primary" type="submit"><i class="uk-icon-sign-in"></i> {% trans %}login{% endtrans %}</button>
        </fieldset>
    </form>
{% endblock %}
