{% extends 'simple.html.twig' %}

{% block content %}
<section id="login" {% if error %}class="uk-animation-shake"{% endif %}>
    <div id="login-infos">
        <div id="login-logo">
            {% if themeServices.adminImage %}
                {{ themeServices.adminImage.viewer.getDocumentByArray({width:150})|raw }}
            {% else %}
                <i class="uk-icon-rz-roadiz-icon"></i>
            {% endif %}
        </div>
        <div id="login-credit">
            <i class="uk-icon-rz-rezozero"></i>
            <span id="login-version">{{ head.cmsVersion }} {{ head.cmsVersionNumber }}</span>
        </div>
    </div>
    <div id="login-formGlobal">
    	<h1 id="tag-title">{% trans %}back_office{% endtrans %}</h1>
    	{% if error %}
    	<div data-uk-alert class="uk-alert uk-alert-danger">{{ error }}</div>
        {% endif %}
        {% if form %}
           	{% form_theme form 'forms.html.twig' %}
            <form id="login-form" class="uk-form uk-form-stacked {% if error %}uk-animation-shake{% endif %}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
        	    <fieldset>
        	    	<button class="uk-button" type="submit"><i class="uk-icon-sign-in"></i> {% trans %}save.new.password{% endtrans %}</button>
           		</fieldset>
        	</form>
        {% endif %}
        <div id="login-link">
            <a id="frontend-home-link"
               title="{% trans %}see.website{% endtrans %}" target="_blank" href="{% if request.basePath %}{{ request.basePath }}{% else %}/{% endif %}"><span class="uk-icon-button uk-icon-rz-earth"></span>
               <span class="text">{% trans %}view.site{% endtrans %}</span>
            </a>
            <a href="{{ path('loginPage') }}" class="login-link">{% trans %}back_to.login{% endtrans %}</a>
        </div>
    </div>
</section>
{% endblock %}
