{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global manage-themes">

    <header class="content-header header-themes header-themes-add">
        <h1 class="content-title">{% trans %}import.theme.content.title{% endtrans %}</h1>
        <a class="content-header-nav-back uk-navbar-content" href="{{ path('themesHomePage') }}" title="{% trans %}back_to.themes{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
    </a>
    </header>

    <article id="content-import-node-type" class="content install-theme-content">
        <div class="content-text-cont">
            <div class="content-text">
                {% if roles|length > 0 %}
                <h4 class="import-nodetypes-part">{% trans %}import_roles{% endtrans %}</h4>
                <table class="install-table import-nodetypes-part1-table uk-table">
                    <tr>
                        <th></th>
                        <th>{% trans %}step.name{% endtrans %}</th>
                        <th class="last-col">{% trans %}status{% endtrans %}</th>
                    </tr>
                    {% for role in roles %}
                        <tr>
                            <td></td>
                            <td>{{ role|trans }}</td>
                            <td class="last-col">
                                <div class="uk-badge uk-badge-notification" id="{{ role|replace({'/': '_', '.': '_'}) }}"><i class="uk-icon-circle-o"></i></div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
                {% if groups|length > 0 %}
                <h4 class="import-nodetypes-part">{% trans %}import_groups{% endtrans %}</h4>
                <table class="install-table import-nodetypes-part1-table uk-table">
                    <tr>
                        <th></th>
                        <th>{% trans %}step.name{% endtrans %}</th>
                        <th class="last-col">{% trans %}status{% endtrans %}</th>
                    </tr>
                    {% for group in groups %}
                        <tr>
                            <td></td>
                            <td>{{ group|trans }}</td>
                            <td class="last-col">
                                <div class="uk-badge uk-badge-notification" id="{{ group|replace({'/': '_', '.': '_'}) }}"><i class="uk-icon-circle-o"></i></div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
                {% if settings|length > 0 %}
                <h4 class="import-nodetypes-part">{% trans %}import_settings{% endtrans %}</h4>
                <table class="install-table import-nodetypes-part1-table uk-table">
                    <tr>
                        <th></th>
                        <th>{% trans %}step.name{% endtrans %}</th>
                        <th class="last-col">{% trans %}status{% endtrans %}</th>
                    </tr>
                    {% for setting in settings %}
                        <tr>
                            <td></td>
                            <td>{{ setting|trans }}</td>
                            <td class="last-col">
                                <div class="uk-badge uk-badge-notification" id="{{ setting|replace({'/': '_', '.': '_'}) }}"><i class="uk-icon-circle-o"></i></div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
                {% if nodetypes|length > 0 %}
                <h4 class="import-nodetypes-part">{% trans %}import_node_type.node_type{% endtrans %}</h4>
                <table class="install-table import-nodetypes-part1-table uk-table">
                    <tr>
                        <th></th>
                        <th>{% trans %}step.name{% endtrans %}</th>
                        <th class="last-col">{% trans %}status{% endtrans %}</th>
                    </tr>
                    {% for nodetype in nodetypes %}
                        <tr>
                            <td></td>
                            <td>{{ nodetype|trans }}</td>
                            <td class="last-col">
                                <div class="uk-badge uk-badge-notification" id="{{ nodetype|replace({'/': '_', '.': '_'}) }}"><i class="uk-icon-circle-o"></i></div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
                {% if tags|length > 0 %}
                <h4 class="import-nodetypes-part">{% trans %}import_tags{% endtrans %}</h4>
                <table class="install-table import-nodetypes-part1-table uk-table">
                    <tr>
                        <th></th>
                        <th>{% trans %}step.name{% endtrans %}</th>
                        <th class="last-col">{% trans %}status{% endtrans %}</th>
                    </tr>
                    {% for tag in tags %}
                        <tr>
                            <td></td>
                            <td>{{ tag|trans }}</td>
                            <td class="last-col">
                                <div class="uk-badge uk-badge-notification" id="{{ tag|replace({'/': '_', '.': '_'}) }}"><i class="uk-icon-circle-o"></i></div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
                {% if nodes|length > 0 %}
                <h4 class="import-nodetypes-part">{% trans %}import_node_type.node{% endtrans %}</h4>
                <table class="install-table uk-table">
                    <tr>
                        <th></th>
                        <th>{% trans %}step.name{% endtrans %}</th>
                        <th class="last-col">{% trans %}status{% endtrans %}</th>
                    </tr>
                    {% for node in nodes %}
                        <tr>
                            <td></td>
                            <td>{{ node|trans }}</td>
                            <td class="last-col">
                                <div class="uk-badge uk-badge-notification" id="{{ node|replace({'/': '_', '.': '_'}) }}"><i class="uk-icon-circle-o"></i></div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>

            {% apply spaceless %}
            <div class="content-buttons">
                <a id="next-step-button"
                   class="content-button uk-button uk-button-primary uk-button-disabled rz-no-ajax-link"
                   href="{{ path('themesHomePage')}}">
                    <span class="label"><span class="label-text">{% trans %}next{% endtrans %} </span></span>
                    <span class="icon-container"><i class="uk-icon-arrow-circle-right icon-right"></i></span>
                </a>
            </div>
            {% endapply %}
        </div>
    </article>
{% endblock %}

{% block customScripts %}
<script type="text/javascript">
    (function() {
        Rozier.importRoutes = [];
        {% for role in roles %}
        Rozier.importRoutes.push({
            'url': "{{ path('themesImportRoles', {'themeId': themeId}) }}",
            'id':'{{ role|replace({'/': '_', '.': '_'}) }}',
            'filename': '{{ role }}'
        });
        {% endfor %}
        {% for group in groups %}
        Rozier.importRoutes.push({
            'url': "{{ path('themesImportGroups', {'themeId': themeId}) }}",
            'id':'{{ group|replace({'/': '_', '.': '_'}) }}',
            'filename': '{{ group }}'
        });
        {% endfor %}
        {% for setting in settings %}
        Rozier.importRoutes.push({
            'url': "{{ path('themesImportSettings', {'themeId': themeId}) }}",
            'id':'{{ setting|replace({'/': '_', '.': '_'}) }}',
            'filename': '{{ setting }}'
        });
        {% endfor %}
        {% for nodetype in nodetypes %}
        Rozier.importRoutes.push({
            'postUpdate': ["{{ path('themesClearCacheSchema') }}", "{{ path('themesUpdateSchema') }}"],
            'url': "{{ path('themesImportNodeTypes', {'themeId': themeId}) }}",
            'id':'{{ nodetype|replace({'/': '_', '.': '_'}) }}',
            'filename': '{{ nodetype }}'
        });
        {% endfor %}
        {% for tag in tags %}
        Rozier.importRoutes.push({
            'url': "{{ path('themesImportTags', {'themeId': themeId}) }}",
            'id':'{{ tag|replace({'/': '_', '.': '_'}) }}',
            'filename': '{{ tag }}'
        });
        {% endfor %}
        {% for node in nodes %}
        Rozier.importRoutes.push({
            'url': "{{ path('themesImportNodes', {'themeId': themeId}) }}",
            'id':'{{ node|replace({'/': '_', '.': '_'}) }}',
            'filename': '{{ node }}'
        });
        {% endfor %}
    })();
</script>
{% endblock %}
