{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global manage-themes">

    <header class="content-header header-themes header-themes-add">
        <h1 class="content-title">{% trans %}theme.summary.title{% endtrans %}</h1>
        <a class="content-header-nav-back uk-navbar-content" href="{{ path('themesHomePage') }}" title="{% trans %}back_to.themes{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
    </a>
    </header>

    <article id="content-requirements" class="content install-theme-content">
        <div class="content-text-cont">
            <div class="content-text">
                <h4 class="import-nodetypes-part">{% trans %}check.version{% endtrans %}</h4>
                <table class="install-table import-nodetypes-part1-table uk-table">
                    <tr>
                        <th></th>
                        <th>{% trans %}theme.name{% endtrans %}</th>
                        <th>{% trans %}theme.version{% endtrans %}</th>
                        <th>{% trans %}cms.version{% endtrans %}</th>
                        <th class="last-col">{% trans %}status{% endtrans %}</th>
                    </tr>
                        <tr>
                            <td></td>
                            <td>{{theme.name}}</td>
                            <td>{{theme.version}}</td>
                            <td>{{cms.version}}</td>
                            <td class="last-col align-center">
                                {% if status.version == true %}
                                    <div class="uk-badge uk-badge-success uk-badge-notification" id="theme"><i class="uk-icon-check"></i></div>
                                {% else %}
                                    <div class="uk-badge uk-badge-danger uk-badge-notification" id="theme"><i class="uk-icon-warning"></i></div>
                                {% endif %}
                            </td>
                            {% if status.version == false %}
                                <tr><td class="uk-alert uk-alert-danger" colspan="5">{% trans %}error.version.message{% endtrans %}</td></tr>
                            {% endif %}
                        </tr>
                </table>

                <h4 class="import-locale-part">{% trans %}check.locale{% endtrans %}</h4>
                <table class="install-table import-nodetypes-part1-table uk-table">
                    <tr>
                        <th></th>
                        <th>{% trans %}theme.name{% endtrans %}</th>
                        <th>{% trans %}theme.supportedLocale{% endtrans %}</th>
                        <th>{% trans %}cms.locale{% endtrans %}</th>
                        <th class="last-col">{% trans %}status{% endtrans %}</th>
                    </tr>
                        <tr>
                            <td></td>
                            <td>{{theme.name}}</td>
                            <td>{{theme.supportedLocale|join(", ")}}</td>
                            <td>{{cms.locale}}</td>
                            <td class="last-col align-center">
                                {% if status.locale == true %}
                                    <div class="uk-badge uk-badge-success uk-badge-notification" id="theme"><i class="uk-icon-check"></i></div>
                                {% else %}
                                    <div class="uk-badge uk-badge-danger uk-badge-notification" id="theme"><i class="uk-icon-warning"></i></div>
                                {% endif %}
                            </td>
                        </tr>
                        {% if status.locale == false %}
                            <tr><td class="uk-alert uk-alert-danger" colspan="5">{% trans %}error.locale.message{% endtrans %}</td></tr>
                        {% endif %}
                </table>

                {% if theme.haveFileImport %}
                <h4 class="import-nodetypes-part">{% trans %}check.import.files{% endtrans %}</h4>
                <table class="install-table import-nodetypes-part1-table uk-table">
                    <tr>
                        <th></th>
                        <th>{% trans %}name{% endtrans %}</th>
                        <th>{% trans %}filename{% endtrans %}</th>
                        <th class="last-col">{% trans %}status{% endtrans %}</th>
                    </tr>
                    {# theme files #}
                    {% for name, filenames in theme.imports %}
                        {% for filename in filenames %}
                        <tr>
                            <td></td>
                            <td>{{name}}</td>
                            <td>{{filename}}</td>
                            <td class="last-col align-center">
                                {% if status.import[filename] == true %}
                                    <div class="uk-badge uk-badge-success uk-badge-notification" id="theme"><i class="uk-icon-check"></i></div>
                                {% else %}
                                    <div class="uk-badge uk-badge-danger uk-badge-notification" id="theme"><i class="uk-icon-warning"></i></div>
                                {% endif %}
                            </td>
                        </tr>
                        {% if status.import[filename] == false %}
                            <tr><td class="uk-alert uk-alert-danger" colspan="4">{{ "file.not.exist.%filename%"|trans({"%filename%": filename}) }}</td></tr>
                        {% endif %}
                        {% endfor %}
                    {% endfor %}
                </table>
                {% endif %}

            </div>

            {% apply spaceless %}
            <div class="content-buttons">
                <a class="content-button uk-button" href="{{ path('themesHomePage') }}"><i class="uk-icon-rz-back-parent"></i> {% trans %}back_to.themes{% endtrans %}</a>
                {% if not status.version or not status.locale or false in status.import %}
                    <button class="content-button uk-button uk-button-primary" data-uk-modal="{target:'#error'}">{% trans %}goto.import{% endtrans %} <i class="uk-icon-arrow-circle-right"></i></button>
                {% else %}
                    <a class="content-button uk-button uk-button-primary" href="{{ path('themesSettingPage') ~ '?classname=' ~ classname|url_encode }}">{% trans %}install.theme{% endtrans %} <i class="uk-icon-arrow-circle-right icon-right" ></i></a>
                {% endif %}
            </div>
            {% endapply %}

        </div>

    </article>
    <div id="error" class="uk-modal">
        <div class="uk-modal-dialog">
            <h3 class="import-nodetypes-part">{% trans %}error.modal.title{% endtrans %}</h3>
            <ul class="import-nodetypes-part">
                {% if not status.version %}
                    <li>{% trans %}error.version.message{% endtrans %}</li>
                {% endif %}
                {% if not status.locale %}
                    <li>{% trans %}error.locale.message{% endtrans %}</li>
                {% endif %}
                {% for name, filenames in theme.imports %}
                    {% for filename in filenames %}
                        {% if not status.import[filename] %}
                            <li>{{ "file.not.exist.%filename%"|trans({"%filename%": filename}) }}</li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
            <p>{% trans %}warning.theme.continue{% endtrans %}</p>
            <a class="content-button uk-button uk-button-primary" href="{{ path('themesSettingPage', { classname: classname }) }}">
                <span class="label"><span class="label-text">{% trans %}install.theme{% endtrans %} </span></span>
                <span class="icon-container"><i class="uk-icon-arrow-circle-right icon-right"></i></span>
            </a>
        </div>
    </div>
</section>
{% endblock %}
