<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{{ head.siteTitle }}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% for cssMin in grunt.staticAssets['custom-forms'].css %}
        <link rel="stylesheet" href="{{ head.resourcesUrl }}public{{ cssMin }}" />
        {% endfor %}
        <script src="{{ head.resourcesUrl }}js/vendor/modernizr.custom.50380.js"></script>
    </head>
    <body id="custom-form-front">

        <!-- Add your site or application content here -->
        <section id="main-content">
            {% block content %}
                <h1>{% trans %}Welcome{% endtrans %}</h1>
            {% endblock %}
        </section>

        <!-- ##debug_panel## -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ head.resourcesUrl }}js/vendor/jquery-2.2.4.min.js"><\/script>')</script>

        {% for jsMin in grunt.staticAssets['custom-forms'].js %}
        <script src="{{ head.resourcesUrl }}public{{ jsMin }}"></script>
        {% endfor %}
    </body>
</html>
