<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% block title %}<title>Your Message Subject or Title</title>{% endblock %}
</head>
<body>
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="600">
            <div class="content">
                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                    {% if headerImageSrc %}
                        <tr>
                            <td class="header-image-wrap aligncenter"{% if mainColor %}style="background-color: {{ mainColor }};"{% endif %}>
                                <img class="header-image" src="{{ headerImageSrc }}" alt="{{ title }}" />
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="content-wrap aligncenter{% if headerImageSrc %} with-header-image{% endif %}">
                            {% block content_table %}
                                <table cellpadding="0" cellspacing="0" border="0" align="center">
                                    <tr>
                                        <td width="200" valign="top"></td>
                                        <td width="200" valign="top"></td>
                                        <td width="200" valign="top"></td>
                                    </tr>
                                </table>
                            {% endblock %}
                        </td>
                    </tr>
                </table>
                {% if mailContact %}
                    <div class="footer">
                        <table width="100%">
                            <tr>
                                <td class="aligncenter content-block">{% trans %}for.questions.email{% endtrans %} <a href="mailto:{{ mailContact }}">{{ mailContact|escape }}</a></td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
                {% if disclaimer %}
                    <div class="footer">
                        <table width="100%">
                            <tr>
                                <td class="aligncenter content-block">{{ disclaimer }}</td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            </div>
        </td>
        <td></td>
    </tr>
</table>
</body>
</html>
