<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{{ head.siteTitle }}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/vendor/uikit/uikit.min.css" />
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/vendor/uikit/addons/uikit.addons.min.css" />
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/custom-forms-front.min.css" />
        <script src="{{ head.resourcesUrl }}js/vendor/modernizr.custom.50380.js"></script>
    </head>
    <body id="custom-form-front">

        <!-- Add your site or application content here -->
        <section id="main-content">
            {% block content %}
                <h1>{% trans %}Welcome{% endtrans %}</h1>
            {% endblock %}
        </section>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ head.resourcesUrl }}js/vendor/jquery-2.1.3.min.js"><\/script>')</script>
        <script src="{{ head.resourcesUrl }}js/vendor/uikit.min.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/jquery-ui.js"></script>
    </body>
</html>
