{% extends 'base_custom_form.html.twig' %}

{% block title %}{{ customForm.displayName }}{% endblock %}

{% block content %}
<section class="content-global">
    <header class="content-header header-custom-form header-custom-form-add">
        <h1 class="content-title">{{ customForm.displayName }}</h1>
        <div class="content-desc">{{ customForm.description|markdown }}</div>
        <p class="required-mention">{% trans %}*.required.fields{% endtrans %}</p>
    </header>

    <article class="content">
        {% form_theme form 'customForms.html.twig' %}
        {{ form_start(form, { attr: {id: 'add-custom-form-form'}}) }}
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                {% apply spaceless %}
                <button data-action-save="#add-custom-form-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                    <span class="icon-container"><i class="uk-icon-send"></i></span>
                    <span class="label"><span class="label-text">{% trans %}form.submit{% endtrans %}</span></span>
                </button>
                {% endapply %}
            </fieldset>
        {{ form_end(form) }}
    </article>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</section>
{% endblock %}
