{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global delete-item">
    <header class="content-header header-document header-document-preview">
        <h1 class="content-title document-delete-title">{{ "trigger.webhook.%name%"|trans({'%name%': item}) }}</h1>
        <a class="content-header-nav-back uk-navbar-content"
           href="{{ path('webhooksHomePage') }}"
           title="{% trans %}back_to.webhooks{% endtrans %}"
           data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
    </header>
    <article class="content content-trigger content-no-action-menu">
        {% form_theme form '@Rozier/forms.html.twig' %}
        {{ form_start(form, {
            'attr': {
                'class': 'uk-form uk-form-stacked'
            }
        }) }}{{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-warning"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.trigger.webhook{% endtrans %}</legend>
                <a href="{{ path('webhooksHomePage') }}" class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
                <button class="uk-button uk-button-warning" type="submit"><i class="uk-icon-space-shuttle"></i> {% trans %}webhook.trigger{% endtrans %}</button>
            </fieldset>
        {{ form_end(form) }}
    </article>
</section>
{% endblock %}
