{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global">

    <header class="content-header header-node-types header-node-types-delete">
        <h1 class="content-title node-delete-title">{{ "delete.nodeType.%name%"|trans({'%name%': nodeType.getDisplayName}) }}</h1>
        <a class="content-header-nav-back uk-navbar-content" href="{{ path('nodeTypesHomePage') }}" title="{% trans %}back_to.nodeTypes{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i> </a>
    </header>

    <article class="content content-delete content-node-types-delete content-no-action-menu">
        {% form_theme form '@Rozier/forms.html.twig' %}
        {{ form_start(form, { attr: {id: "delete-node-type-form"}}) }}
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-danger"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.delete.nodeType.and.nodes.newsletters{% endtrans %}</legend>
                <a href="{{ path('nodeTypesHomePage') }}" class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
                <button class="uk-button uk-button-danger" type="submit"><i class="uk-icon-trash-o"></i> {% trans %}delete{% endtrans %}</button>
            </fieldset>
        {{ form_end(form) }}
    </article>

</section>
{% endblock %}
