{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global manage-node-types">

    <header class="content-header header-node-types header-node-types-edit">
        <h1 class="content-title node-types-edit-title">{{ "edit.nodeType.%name%"|trans({'%name%': nodeType.displayName})|u.truncate(25, '[…]', true) }}</h1>
        <a class="content-header-nav-back uk-navbar-content"
           href="{{ path('nodeTypesHomePage') }}"
           title="{% trans %}back_to.nodeTypes{% endtrans %}"
           data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i> </a>

        {% include '@Rozier/node-types/navBar.html.twig' with {
            nodeType: nodeType,
            current: 'nodeType'
        } only %}
    </header>

    <article class="content content-first content-node-types-edit">
        {% form_theme form '@Rozier/forms.html.twig' %}
        {{ form_start(form, { attr: {id: "edit-node-type-form"}}) }}
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                {% apply spaceless %}
                <button data-action-save="#edit-node-type-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                    <span class="icon-container"><i class="uk-icon-rz-save-mini"></i></span>
                    <span class="label"><span class="label-text">{% trans %}save{% endtrans %}</span></span>
                </button>
                {% endapply %}
            </fieldset>
        {{ form_end(form) }}
    </article>
    <article class="content content-node-types-edit">
        <div class="content-table-cont metadata-list">
            <table class="node-types content-table uk-table">
                <tr>
                    <td>{% trans %}name{% endtrans %}</td>
                    <td>{{ nodeType.name }}</td>
                </tr>
                <tr>
                    <td>{% trans %}classname{% endtrans %}</td>
                    <td>{{ nodeType.sourceEntityClassName() }}</td>
                </tr>
            </table>
        </div>
    </article>
    {% include '@Rozier/node-types/actionsMenu.html.twig' %}
</section>
{% endblock %}
