{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-node-types">
	<h1 id="title">{% trans %}Node types{% endtrans %}</h1>
	<td>
		<a class="uk-button" href="{{ path('nodeTypesAddPage') }}"><i class="uk-icon-plus"></i> {% trans %}Create a node-type{% endtrans %}</a>
		<a class="uk-button" href="{{ path('nodeTypesImportPage') }}"><i class="uk-icon-plus"></i> {% trans %}Import a node type (.rzt){% endtrans %}</a>
	</td>

	{% include 'widgets/filtersBar.html.twig' %}

	<table class="node-types uk-table">
		<thead>
	        <tr>
	            <th>{% trans %}Name{% endtrans %}</th>
	            <th>{% trans %}Display name{% endtrans %}</th>
	            <th>{% trans %}Entity name{% endtrans %}</th>
	            <th></th>
	            <th>{% trans %}Actions{% endtrans %}</th>
	        </tr>
	    </thead>
		<tbody>
			{% for type in node_types %}
				<tr>
					<td><a href="{{ path('nodeTypesEditPage', { nodeTypeId: type.getId }) }}">{{ type.getName }}</a></td>
					<td>{{ type.getDisplayName }}</td>
					<td>{{ type.getSourceEntityClassName }}</td>
					<td><div class="uk-badge">{{ type.getFields|length }} {% trans %}fields{% endtrans %}</div></td>
					<td>
						<a class="uk-button uk-button-small" href="{{ path('nodeTypeFieldsListPage', { nodeTypeId: type.getId }) }}"><i class="uk-icon-node-type-fields"></i> {% trans %}Manage fields{% endtrans %}</a>
						<a class="uk-button uk-button-small uk-button-danger" href="{{ path('nodeTypesDeletePage', { nodeTypeId: type.getId }) }}">{% trans %}Delete{% endtrans %}</a>
						<a class="uk-button uk-button-small" href="{{ path('nodesTypesExportPage', { nodeTypeId: type.getId }) }}">{% trans %}Export{% endtrans %}</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}
