{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-node-types">
	<h1 id="title">{% trans %}nodeTypes{% endtrans %}</h1>
	<td>
		<a class="uk-button" href="{{ path('nodeTypesAddPage') }}"><i class="uk-icon-plus"></i> {% trans %}add.nodeType{% endtrans %}</a>
		<a class="uk-button" href="{{ path('nodeTypesImportPage') }}"><i class="uk-icon-plus"></i> {% trans %}import.nodeType{% endtrans %}</a>
	</td>

	{% include 'widgets/filtersBar.html.twig' %}

	{% spaceless %}
	<table class="node-types uk-table">
		<thead>
	        <tr>
	            <th>{% trans %}name{% endtrans %}</th>
	            <th>{% trans %}nodeType.displayName{% endtrans %}</th>
	            <th>{% trans %}nodeType.entityName{% endtrans %}</th>
	            <th></th>
	            <th>{% trans %}actions{% endtrans %}</th>
	        </tr>
	    </thead>
		<tbody>
			{% for type in node_types %}
				<tr>
					<td><a href="{{ path('nodeTypesEditPage', { nodeTypeId: type.getId }) }}">{{ type.getName }}</a></td>
					<td>{{ type.getDisplayName }}</td>
					<td>{{ type.getSourceEntityClassName }}</td>
					<td><div class="uk-badge">{% transchoice type.getFields|length %}{0} no.nodeTypeField|{1} 1.nodeTypeField|]1,Inf] %count%.nodeTypeFields{% endtranschoice %}</div></td>
					<td>
						<a class="uk-button uk-button-small" href="{{ path('nodeTypeFieldsListPage', { nodeTypeId: type.getId }) }}">
							<i class="uk-icon-node-type-fields"></i> {% trans %}manage.nodeTypeFields{% endtrans %}
						</a>
						<a class="uk-button uk-button-small uk-button-danger" href="{{ path('nodeTypesDeletePage', { nodeTypeId: type.getId }) }}">{% trans %}delete{% endtrans %}</a>
						<a class="uk-button uk-button-small" href="{{ path('nodesTypesExportPage', { nodeTypeId: type.getId }) }}">{% trans %}export{% endtrans %}</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endspaceless %}
</section>
{% endblock %}
