{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global content-nav-and-filters">

    <header class="content-header header-node-types header-node-types-list">
        <h1 class="content-title nodes-node-types-title">{% trans %}nodeTypes{% endtrans %}</h1>
        {% include '@Rozier/widgets/countFiltersBar.html.twig' %}
        <div class="content-header-action-menu">
            <nav>
                <a class="uk-button" href="{{ path('nodeTypesAddPage') }}"><i class="uk-icon-rz-plus"></i> {% trans %}add.a.nodeType{% endtrans %}</a>
                <a class="uk-button" href="{{ path('nodeTypesImportPage') }}"><i class="uk-icon-rz-upload"></i> {% trans %}import.nodeType{% endtrans %}</a>

                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                    <button class="uk-button">
                        <i class="uk-icon-rz-download"></i> {% trans %}export{% endtrans %} <i class="uk-icon-caret-down"></i>
                    </button>
                    <div class="uk-dropdown uk-dropdown-flip uk-dropdown-small">
                        <ul class="uk-nav uk-nav-dropdown">
                            <li><a class="rz-no-ajax-link"
                                   href="{{ path('nodesTypesExportAllPage') }}">
                                    <i class="uk-icon-rz-download"></i> {% trans %}export.all{% endtrans %}
                                </a></li>
                            <li><a class="rz-no-ajax-link"
                                   href="{{ path('nodesTypesExportDocumentationPage') }}">
                                    <i class="uk-icon-rz-download"></i> {% trans %}export.documentation{% endtrans %}
                                </a></li>
                            <li><a class="rz-no-ajax-link"
                                   href="{{ path('nodesTypesExportTypeScriptPage') }}">
                                    <i class="uk-icon-rz-download"></i> {% trans %}export.typescript_declaration{% endtrans %}
                                </a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    {% include '@Rozier/widgets/filtersBar.html.twig' %}

    <article class="content content-no-action-menu content-node-types-list">
        <div class="content-table-cont">
            {% apply spaceless %}
            <table class="node-types content-table uk-table">
                <thead>
                    <tr>
                        <th>
                            {% trans %}name{% endtrans %}
                            {% include 'includes/column_ordering.html.twig' with {
                                'field': 'name',
                                'filters': filters,
                            } only %}
                        </th>
                        <th class="mobile-hidden uk-hidden-small">
                            {% trans %}nodeType.displayName{% endtrans %}
                            {% include 'includes/column_ordering.html.twig' with {
                                'field': 'displayName',
                                'filters': filters,
                            } only %}
                        </th>
                        <th class="mobile-hidden uk-hidden-small uk-visible-xlarge">{% trans %}nodeType.entityName{% endtrans %}</th>
                        <th class="mobile-hidden uk-hidden-small uk-visible-large">{% trans %}nodeType.numberFields{% endtrans %}</th>
                        <th class="mobile-hidden uk-hidden-small uk-visible-large">{% trans %}nodeType.status{% endtrans %}</th>
                        <th class="table-actions-row table-actions-row-4">{% trans %}actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for type in node_types %}
                        {% set classes = ['node-type-item'] %}
                        {% if not type.reachable %}
                            {% set classes = classes|merge(['not-reachable']) %}
                        {% endif %}
                        {% if not type.visible %}
                            {% set classes = classes|merge(['not-visible']) %}
                        {% endif %}
                        {% if type.hidingNodes %}
                            {% set classes = classes|merge(['hiding-children']) %}
                        {% endif %}

                        <tr class="{{ classes|join(' ') }}">
                            <td class="name"><a href="{{ path('nodeTypesEditPage', { nodeTypeId: type.getId }) }}">
                                <span class="color" style="background-color:{{ type.getColor }};"></span>{{ type.getName }}
                            </a></td>
                            <td class="mobile-hidden uk-hidden-small">{{ type.getDisplayName }}</td>
                            <td class="mobile-hidden uk-hidden-small uk-visible-xlarge">{{ type.getSourceEntityClassName }}</td>
                            <td class="mobile-hidden uk-hidden-small uk-visible-large"><div class="uk-badge uk-badge-table">{% transchoice type.getFields|length %}{0} no.nodeTypeField|{1} 1.nodeTypeField|]1,Inf] %count%.nodeTypeFields{% endtranschoice %}</div></td>
                            <td class="mobile-hidden uk-hidden-small uk-visible-large">
                                {% if not type.visible %}<span data-uk-tooltip="{animation:true}" title="{% trans %}nodeType.not_visible{% endtrans %}" class="uk-button-status uk-button-warning"><i class="uk-icon-eye-slash"></i></span>{% endif %}
                                {% if type.hidingNodes %}<span class="uk-button-status" data-uk-tooltip="{animation:true}" title="{% trans %}nodeType.hiding_nodes{% endtrans %}"><i class="uk-icon-rz-steril"></i></span>{% endif %}
                            </td>
                            <td class="table-actions-row">
                            {% apply spaceless %}
                                <a class="uk-button uk-button-content uk-button-small" href="{{ path('nodeTypesEditPage', { nodeTypeId: type.getId }) }}" title="{% trans %}edit{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
                                <a class="uk-button uk-button-content uk-button-small" href="{{ path('nodeTypeFieldsListPage', { nodeTypeId: type.getId }) }}" title="{% trans %}manage.nodeTypeFields{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-node-type-field"></i></a>
                                <a class="uk-button uk-button-content uk-button-small rz-no-ajax-link" href="{{ path('nodesTypesExportPage', { nodeTypeId: type.getId }) }}" title="{% trans %}export{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-download"></i></a>
                                <a class="uk-button uk-button-content uk-button-small uk-button-table-delete" href="{{ path('nodeTypesDeletePage', { nodeTypeId: type.getId }) }}" title="{% trans %}delete{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-o"></i></a>
                            {% endapply %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endapply %}
        </div>
    </article>
</section>
{% endblock %}
