{% extends '@Rozier/layout.html.twig' %}

{% import _self as macro %}

{% macro column(type, request) %}
<tr>
    <td class="uk-text-bold">{{ type.customFormField.label|trans }}</td>
    {% if type.customFormField.isCountry  %}
        <td>{{ type.value|country_iso(request.locale) }}</td>
    {% elseif type.customFormField.isDate %}
        <td>{{ type.value|format_datetime('full', 'none', locale=app.request.locale) }}</td>
    {% elseif type.customFormField.isDateTime %}
        <td>{{ type.value|format_datetime('full', 'medium', locale=app.request.locale) }}</td>
    {% elseif type.customFormField.isDocuments %}
        <td>
            {% for document in type.documents %}
                <a href="{{ path('documentsDownloadPage', { documentId: document.id}) }}" class="rz-no-ajax-link" download>{{ document.filename }}</a><br>
            {% endfor %}
        </td>
    {% else %}
        <td>{{ type.value|trans }}</td>
    {% endif %}
</tr>
{% endmacro %}

{% block content %}
<section class="content-global content-nav-and-filters">
    <header class="content-header header-node-types header-node-types-list">
        <h1 class="content-title nodes-node-types-title">{% trans %}customFormFieldAttribute{% endtrans %}</h1>
        <a class="content-header-nav-back uk-navbar-content" href="{{ path('customFormAnswersHomePage', {'customFormId': customFormId}) }}" title="{% trans %}back_to.customFormAnswers{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i> </a>
    </header>

    <article class="content content-no-action-menu content-node-types-list">
        <div class="data-uk-margin metadata-list">
            <table class="uk-table-condensed uk-table">
                {% for groupName, answers in fields %}
                    {% if answers is iterable %}
                        </table>
                        <div class="data-uk-margin">
                            <h3>{{ groupName|trans }}</h3>
                            <table class="uk-table uk-table-condensed">
                                {% for type in answers %}
                                    {{ macro.column(type, request) }}
                                {% endfor %}
                            </table>
                        </div>
                        <table class="uk-table-condensed uk-table">
                    {% else %}
                        {{ macro.column(answers, request) }}
                    {% endif %}
                {% endfor %}
                <tr>
                    <td class="uk-text-bold">{{ 'ip.address'|trans }}</td>
                    <td>{{ answer.ip }}</td>
                </tr>
                <tr>
                    <td class="uk-text-bold">{{ 'submitted.date'|trans }}</td>
                    <td>{{ answer.submittedAt|format_datetime('full', 'medium', locale=app.request.locale) }}</td>
                </tr>
            </table>
        </div>
    </article>
</section>
{% endblock %}
