<nav>
	<p><a title="{% trans %}see.website{% endtrans %}" class="uk-icon-button uk-icon-earth" target="_blank" href="{{ path('homePage') }}"></a></p>
	<ul class="uk-nav">
		<li><a href="{{ path('nodesHomePage') }}"><i class="uk-icon-tree-big"></i><span class="info">{% trans %}manage.nodes{% endtrans %}</span></a></li>
		<li><a href="{{ path('documentsHomePage') }}"><i class="uk-icon-documents"></i><span class="info">{% trans %}manage.documents{% endtrans %}</span></a></li>
		<li><a href="{{ path('tagsHomePage') }}"><i class="uk-icon-tags"></i><span class="info">{% trans %}manage.tags{% endtrans %}</span></a></li>
		<li><a href="{{ path('nodeTypesHomePage') }}"><i class="uk-icon-node-type"></i><span class="info">{% trans %}manage.node-types{% endtrans %}</span></a></li>
		<li><a href="{{ path('translationsHomePage') }}"><i class="uk-icon-translate"></i><span class="info">{% trans %}manage.translations{% endtrans %}</span></a></li>
		<li><a href="{{ path('fontsHomePage') }}"><i class="uk-icon-font"></i><span class="info">{% trans %}manage.fonts{% endtrans %}</span></a></li>
		<li><a href="{{ path('themesHomePage') }}"><i class="uk-icon-themes"></i><span class="info">{% trans %}manage.themes{% endtrans %}</span></a></li>
		<li><a href="{{ path('usersHomePage') }}"><i class="uk-icon-user"></i><span class="info">{% trans %}manage.users{% endtrans %}</span></a></li>
		<li><a href="{{ path('rolesHomePage') }}"><i class="uk-icon-roles"></i><span class="info">{% trans %}manage.roles{% endtrans %}</span></a></li>
		<li><a href="{{ path('groupsHomePage') }}"><i class="uk-icon-groups"></i><span class="info">{% trans %}manage.groups{% endtrans %}</span></a></li>
		<li><a href="{{ path('settingsHomePage') }}"><i class="uk-icon-settings"></i><span class="info">{% trans %}site.settings{% endtrans %}</span></a></li>
	</ul>
</nav>