{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global content-nav-and-filters">
    <header class="content-header header-item header-item-list">
        <h1 class="content-title item-list-title">{% trans %}attributes{% endtrans %}</h1>
        {% include '@Rozier/widgets/countFiltersBar.html.twig' %}
        <div class="content-header-action-menu">
            <a class="uk-button" href="{{ path('attributesAddPage') }}">
                <i class="uk-icon-rz-plus"></i> {% trans %}add.a.attribute{% endtrans %}
            </a>
            <a class="uk-button" href="{{ path('attributeGroupsHomePage') }}">
                <i class="uk-icon-gears"></i> {% trans %}attribute_groups{% endtrans %}
            </a>
            <a class="uk-button rz-no-ajax-link" href="{{ path('attributesExportPage') }}">
                <i class="uk-icon-rz-download"></i> {% trans %}export.all{% endtrans %}
            </a>
            <a class="uk-button rz-no-ajax-link" href="{{ path('attributesImportPage') }}">
                <i class="uk-icon-rz-upload"></i> {% trans %}import{% endtrans %}
            </a>
        </div>
    </header>

    {% include '@Rozier/widgets/filtersBar.html.twig' %}

    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="items content-table uk-table attributes">
                <thead>
                    <tr>
                        <th>
                            {% trans %}attributes.code{% endtrans %}
                            {% include 'includes/column_ordering.html.twig' with {
                                'field': 'code',
                                'filters': filters,
                            } only %}
                        </th>
                        <th>{% trans %}attributes.group{% endtrans %}</th>
                        <th class="table-actions-row table-actions-row-3">{% trans %}actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td class="name">
                            <a href="{{ path('attributesEditPage', { id: item.id }) }}">
                                <span class="color" style="background-color:{{ item.color|default('transparent') }};"></span>
                                {{ item.attributeTranslations.first.label|default(item.code) -}}
                            </a>
                        </td>
                        <td>{%- if item.group -%}
                                {{- item.group.name -}}
                            {%- endif -%}</td>
                        <td class="table-actions-row">
                        {% apply spaceless %}
                            <a class="uk-button uk-button-content uk-button-small" href="{{ path('attributesEditPage', { id: item.id }) }}" title="{% trans %}edit{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
                            {% if is_granted('ROLE_ACCESS_ATTRIBUTES_DELETE') %}
                                <a class="uk-button uk-button-content uk-button-small uk-button-table-delete" href="{{ path('attributesDeletePage', { id: item.id }) }}" title="{% trans %}delete{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-mini-o"></i></a>
                            {% endif %}
                        {% endapply %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</section>
{% endblock %}
