{#
 # Main base HTML file.
 #}
{% set pageMetaDescription = pageMetaDescription|default(pageMeta.description)|default(meta.siteDescription) %}
{% set pageMetaTitle = pageMetaTitle|default(pageMeta.title)|default(meta.siteName) %}
{% set formattedLocale = request.locale|replace({'_': '-'})|lower %}
{#  #}
{% set nodeName = nodeName|default(node.nodeName) %}
{% set nodeTypeName = nodeTypeName|default(node.nodeType.name) %}
{% set nodeHome = node.home|default(false) %}
{#  #}
{% set title = title|default(nodeSource.title) %}
{% set content = content|default(nodeSource.content) %}
{% if nodeSource %}
    {% set headerImage = nodeSource.headerImage[0] %}
{% endif %}
{# No whitespace before DOCTYPE #}
<!DOCTYPE html>
<html itemscope
      itemtype="http://schema.org/WebPage"
      class="no-js"
      lang="{{ formattedLocale }}"{% if app.request.locale is rtl %} dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">
    <title>{{ pageMetaTitle }}</title>
    <meta name="description" content="{{ pageMetaDescription }}" />
    {% if pageMeta.keywords %}<meta name="keywords" content="{{ pageMeta.keywords }}" />{% endif %}
    <meta name="generator" content="{% if cms_prefix or cms_version %}Roadiz {{ cms_prefix }} {{ cms_version }} - {% endif %}{{ head.themeName }} v{{ head.themeVersion }}" />
    {#
     # This will enable mobile viewports
     #}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {#
     # HrefLang alternate url (Google suggestion), to activate ONLY if there
     # are more than 1 translation for your website
     #}
    {% if translation %}
        {% for key in translation|menu(true) %}
            <link rel="alternate" href="{{ key.url }}" hreflang="{{ key.locale|replace({'_': '-'})|lower }}" />
        {% endfor %}
    {% endif %}

    {#
     # Canonical url -----------------------------------------------------------
     #}
    {% if node %}
        <link rel="canonical" href="{{ url(nodeSource) }}" />
    {% endif %}

    {#
     # Share metas -------------------------------------------------------------
     #}
    {% block share_metas %}
        {% if headerImage %}
            {% set previewImageUrl = headerImage|url(imageFormats.shareImage) %}
        {% else %}
            {% set previewImageUrl = absolute_url(asset('img/share.png', 'DefaultTheme')) %}
        {% endif %}

        {# Facebook #}
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:site_name" content="{{ meta.siteName }}" />
        <meta property="og:description" content="{{ pageMetaDescription }}" />
        <meta property="og:url" content="{{ request.uri }}" />
        <meta property="og:image" content="{{ previewImageUrl }}" />
        <meta property="og:type" content="{{ ogType|default('article') }}" />
        {# Google plus #}
        <meta itemprop="name" content="{{ pageMetaTitle }}" />
        <meta itemprop="description" content="{{ pageMetaDescription }}" />
        <meta itemprop="image" content="{{ previewImageUrl }}" />
        {# Twitter #}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{ pageMetaTitle }}" />
        <meta name="twitter:description" content="{{ pageMetaDescription }}" />
        {% if head.twitterAccount %}
            <meta name="twitter:site" content="{{ head.twitterAccount }}" />
            <meta name="twitter:creator" content="{{ head.twitterAccount }}" />
        {% endif %}
        <meta name="twitter:url" content="{{ request.uri }}" />
        <meta name="twitter:image" content="{{ previewImageUrl }}" />
    {% endblock %}

    <link rel="stylesheet" href="{{ asset('vendor/bootstrap.min.css', 'DefaultTheme') }}">
    <link rel="stylesheet" href="{{ asset('css/style.min.css', 'DefaultTheme') }}">

    {#
     # Roadiz font-face CSS (comment it if no fonts available) -----------------
     #}
    <link rel="stylesheet" href="{{ path('FontFaceCSS') }}" />
    {% if head.googleTagManagerId %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{ head.googleTagManagerId }}');</script>
        <!-- End Google Tag Manager -->
    {% endif %}
</head>

{% set bodyClasses = [] %}
{% if node %}
    {% set bodyClasses = bodyClasses|merge([
    nodeTypeName|lower,
    nodeName,
    formattedLocale
    ]) %}
{% endif %}
{% if app.request.locale is rtl %}
    {% set bodyClasses = bodyClasses|merge([
        'rtl'
    ]) %}
{% endif %}
<body {% block body_attributes %}{% if node %}class="{{ bodyClasses|join(' ') }}" id="{{nodeName }}" data-node-type="{{ nodeTypeName|lower }}" data-is-home="{{ nodeHome }}"{% endif %}{% endblock %}>
{% if head.googleTagManagerId %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ head.googleTagManagerId }}"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endif %}
{% block header %}{% endblock %}
{#
 # Main navigation inclusion -----------------------------------------------
 #}
{% block mainnavigation %}{% include '@DefaultTheme/common/nav.html.twig' %}{% endblock %}

{#
 # Content block -----------------------------------------------------------
 #}
<div id="main-container">
    {% block content %}{% endblock %}
</div>

{#
 # Footer ------------------------------------------------------------------
 #}
{% include '@DefaultTheme/common/footer.html.twig' %}

<noscript><div id="no-js-message">{% trans %}no_javascript_message{% endtrans %}</div></noscript>
<script>
    {# Passing server vars to JS framework #}
    window.temp = {
        devMode: {% if head.devMode %}true{% else %}false{% endif %},
        locale: '{{ app.request.locale }}',
        resourcesUrl: '{{ asset('', 'DefaultTheme') }}',
        mapsStyle: {% if head.mapsStyle %}JSON.parse('{{ head.mapsStyle|raw }}'){% else %}null{% endif %}
    };

    {#
     # Browser update — www.browser-update.org/customize.html --------------
     #}
    var $buoop = {
        vs:{i:9,f:15,o:12.1,s:5.1,c:2},
        text:'{% trans %}browser_update.message{% endtrans %} <a href="http://browser-update.org/update-browser.html" target="_blank">{% trans %}browser_update.link{% endtrans %}</a>'
    };
    function $buo_f(){
        var e = document.createElement("script");
        e.src = "//browser-update.org/update.js";
        document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}

    {% if head.universalAnalyticsId and not head.googleTagManagerId %}
    {# Google Analytics: change head.universalAnalyticsId to be your site ID.  #}
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ head.universalAnalyticsId }}', 'auto');
    ga('send', 'pageview');
    {% endif %}
</script>
</body>
</html>
