{% if not head.ajax %}{% set baseTemplate = '@Rozier/base.html.twig' %}{% else %}{% set baseTemplate = '@Rozier/ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}


{% block content %}
<section class="content-global delete-document">
	<header class="content-header header-document header-document-preview">
        <h1 class="content-title document-delete-title">{{ "delete.documents"|trans() }}</h1>
    </header>

    <article class="content content-delete content-no-action-menu">

		{% form_theme form '@Rozier/forms.html.twig' %}
		<form id="documents-bulk-delete-form" class="uk-form uk-form-stacked" action="{{ action }}" method="post" {{ form_enctype(form) }}>
		    {{ form_widget(form) }}
		    <fieldset data-uk-margin>
		    	<legend>{% trans %}are_you_sure.delete.these.documents{% endtrans %}</legend>
		    	<a href="{{ path('documentsHomePage') }}" class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
		    	<button class="uk-button uk-button-danger" type="submit"><i class="uk-icon-rz-trash-mini-o"></i> {% trans %}delete{% endtrans %}</button>
	   		</fieldset>
		</form>

        {% spaceless %}
        <ul class="documents-list" id="documents-list-bulk-delete">
        {% for document in documents %}
        {% include '@Rozier/documents/singleDocumentThumbnail.html.twig' with {
            document: document,
            thumbnailFormat: thumbnailFormat,
            controls: false
        } only %}
        {% endfor %}
        </ul>
        {% endspaceless %}

	</article>
</section>
{% endblock %}
