{% if not head.ajax %}{% set baseTemplate = '@Rozier/base.html.twig' %}{% else %}{% set baseTemplate = '@Rozier/ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}


{% block content %}
<section class="content-global manage-document">

    <header class="content-header header-document header-document-edit">
        <h1 class="content-title document-edit-title">{{ "edit.document.%name%"|trans({'%name%': document.getFilename})|truncate(25, true, '[…]') }}</h1>
        {% include 'documents/navBar.html.twig' with {'document':document, current:'edit'} %}
        <a class="content-header-nav-back uk-navbar-content" href="{{ path('documentsHomePage') }}" title="{% trans %}back_to.documents{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
    </header>

    <article class="content content-document-edit">
    	{% form_theme form '@Rozier/forms.html.twig' %}
    	<form id="edit-document-form" class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
    	    {{ form_widget(form) }}
    	    <fieldset data-uk-margin>
    	    	{% spaceless %}
                <button data-action-save="#edit-document-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                    <span class="icon-container"><i class="uk-icon-rz-save-mini"></i></span>
                    <span class="label"><span class="label-text">{% trans %}save{% endtrans %}</span></span>
                </button>
                {% endspaceless %}
       		</fieldset>
    	</form>

        <dl class="document-paths">
            {% if not document.private %}
            <dt>{% trans %}document.public_url{% endtrans %}</dt>
            <dd>{{ document.viewer.documentUrlByArray() }}</dd>
            {% endif %}
            <dt>{% trans %}document.filepath{% endtrans %}</dt>
            <dd>{{ document.absolutePath }}</dd>
        </dl>
    </article>

	{% include 'documents/actionsMenu.html.twig' %}
</section>
{% endblock %}
