{% if not head.ajax %}{% set baseTemplate = '@Rozier/base.html.twig' %}{% else %}{% set baseTemplate = '@Rozier/ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}


{% block content %}
<section class="content-global manage-document">

    <header class="content-header header-document header-document-edit">
        <h1 class="content-title document-edit-title">{{ "edit.document.%name%"|trans({'%name%': document.getFilename})|truncate(25, true, '[…]') }}</h1>
        {% include '@Rozier/documents/navBar.html.twig' with {'document':document, current:'edit'} %}
        {% include '@Rozier/documents/backLink.html.twig' with { 'request': request } only %}
    </header>

    <article class="content content-document-edit">

        {% if document and document.image %}
            <blanchette-editor-container data-vuejs src-url="{{ document|url({ 'noProcess': true }) }}" filename="{{ document.filename }}">
                <div class="hidden">
                    {{ form(file_form) }}
                </div>
            </blanchette-editor-container>
        {% endif %}

        {% form_theme form '@Rozier/forms.html.twig' %}
        <form id="edit-document-form" class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                {% spaceless %}
                <button data-action-save="#edit-document-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                    <span class="icon-container"><i class="uk-icon-rz-save-mini"></i></span>
                    <span class="label"><span class="label-text">{% trans %}save{% endtrans %}</span></span>
                </button>
                {% endspaceless %}
            </fieldset>
        </form>

        <dl class="document-paths">
            <dt>{% trans %}updatedAt{% endtrans %}</dt>
            <dd>{{ document.updatedAt|localizeddate('medium', 'short') }}</dd>
            <dt>{% trans %}createdAt{% endtrans %}</dt>
            <dd>{{ document.createdAt|localizeddate('medium', 'short') }}</dd>
            {% if not document.private %}
            <dt>{% trans %}document.public_url{% endtrans %}</dt>
            <dd>{{ document|url({noProcess: true}) }}</dd>
            {% endif %}
            <dt>{% trans %}document.filepath{% endtrans %}</dt>
            <dd>{{ document|path }}</dd>
            {% if rawDocument %}
            <dt>{% trans %}document.raw_document{% endtrans %}</dt>
            <dd><p>{{ rawDocument|path }}</p><p><a href="{{ path('documentsDownloadPage', { documentId: rawDocument.id}) }}" class="uk-button uk-button-small rz-no-ajax-link"><i class="uk-icon-cloud-download"></i> {% trans %}download.raw.document{% endtrans %}</a></p></dd>
            {% endif %}
        </dl>
    </article>

    {% include '@Rozier/documents/actionsMenu.html.twig' %}
</section>
{% endblock %}
