{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global manage-document">
    <header class="content-header header-document header-document-edit">
        <h1 class="content-title document-edit-title">{{ "edit.document.%name%"|trans({'%name%': document|u.truncate(25, '[…]', true)}) }}</h1>
        {% include '@Rozier/documents/navBar.html.twig' with {'document':document, current:'edit'} %}
        {% include '@Rozier/documents/backLink.html.twig' %}
    </header>

    <article class="content content-document-edit">
        {% form_theme form '@Rozier/forms.html.twig' %}
        {{ form_start(form, { attr: {id: "edit-document-form"}}) }}
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                {% apply spaceless %}
                <button data-action-save="#edit-document-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                    <span class="icon-container"><i class="uk-icon-rz-save-mini"></i></span>
                    <span class="label"><span class="label-text">{% trans %}save{% endtrans %}</span></span>
                </button>
                {% endapply %}
            </fieldset>
        {{ form_end(form) }}

        <div class="content-table-cont metadata-list">
            <table class="uk-table content-table">
                <tr>
                    <td>{% trans %}created.at{% endtrans %}</td>
                    <td>{{ document.createdAt|format_datetime('long', locale=app.request.locale) }}</td>
                </tr>
                <tr>
                    <td>{% trans %}updated.at{% endtrans %}</td>
                    <td>{{ document.updatedAt|format_datetime('long', locale=app.request.locale) }}</td>
                </tr>
                {% if document.Local %}
                    <tr>
                        <td>{% trans %}document.filepath{% endtrans %}</td>
                        <td>{{ document|path }}</td>
                    </tr>
                {% endif %}
                {% if not document.private and document.Local %}
                    <tr>
                        <td>{% trans %}document.public_url{% endtrans %}</td>
                        <td>{{ document|url({noProcess: true}) }}</td>
                    </tr>
                {% endif %}
                {% if rawDocument and rawDocument.Local %}
                    <tr>
                        <td>{% trans %}document.raw_document{% endtrans %}</td>
                        <td><p>{{ rawDocument|path }}</p><p><a href="{{ path('documentsDownloadPage', { documentId: rawDocument.id}) }}" class="uk-button uk-button-small rz-no-ajax-link"><i class="uk-icon-cloud-download"></i> {% trans %}download.raw.document{% endtrans %}</a></p></td>
                    </tr>
                {% endif %}
                {% if document.original %}
                    <tr>
                        <td>{% trans %}original.document{% endtrans %}</td>
                        <td>
                            <p>{{ document.original.filename }}</p>
                            <p><a
                                    href="{{ path('documentsEditPage', { documentId: document.original.id}) }}"
                                    class="uk-button uk-button-small rz-no-ajax-link">
                                    <i class="uk-icon-rz-link"></i>
                                    {% trans %}see.original.document{%- endtrans -%}
                                </a>
                            </p>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </article>

    {% include '@Rozier/documents/actionsMenu.html.twig' %}
</section>
{% endblock %}
