<nav class="uk-navbar" id="uk-navbar-filter">
    <div class="uk-navbar-content-cont">

        {% if filters.description %}<a class="uk-navbar-brand">{{ filters.description|trans }}</a>{% endif %}

        <div class="uk-navbar-content uk-hidden-small" id="uk-navbar-filter-search">
            {% if not orphans %}
            <form class="uk-form uk-margin-remove uk-display-inline-block" method="get">
                <div class="uk-form-icon">
                    <i class="uk-icon-search"></i>
                    <input id="uk-form-filter-input-search" type="text" name="search" placeholder="{% trans %}search{% endtrans %}" value="{{ filters.search }}">
                </div>
                <div class="rz-select">
                    <select class="uk-form-control"
                            onchange="this.form.submit()"
                            name="list"
                            id="document_display_list">
                        <option value="">{{ 'document.document_display_gallery'|trans }}</option>
                        <option{% if app.request.query.get('list') == '1' %} selected{% endif %}
                            value="1">{% trans %}documents.document_display_list{% endtrans %}</option>
                    </select>
                </div>
                <div class="rz-select">
                    <select class="uk-form-control"
                            onchange="this.form.submit()"
                            name="embedPlatform"
                            id="embedPlatform">
                        <option value="">{{ 'document.no_embed_platform'|trans }}</option>
                        <option{% if embedPlatform == 'unsplash' %} selected{% endif %} value="unsplash">{{ 'random.document'|trans }}</option>
                        {% for availablePlatform, class in availablePlatforms %}
                            <option{% if embedPlatform == availablePlatform %} selected{% endif %}
                                value="{{ availablePlatform }}">{{ availablePlatform|capitalize }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="uk-button uk-button-filter" type="submit" aria-label="{{ 'filter'|trans }}">
                    <i class="uk-icon uk-icon-filter"></i>
                </button>
            </form>
            {% endif %}

            <a class="uk-button uk-button-select-all uk-button-bulk-select-documents" href="#" title="{% trans %}select.all{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-check-square-o"></i> {% trans %}select.all{% endtrans %}</a>
        </div>

        {% if filters.itemPerPage and filters.itemCount > filters.itemPerPage %}
        <div class="uk-navbar-content uk-hidden-small" id="uk-navbar-filter-pagination">
            <form class="uk-form uk-margin-remove uk-display-inline-block" method="get">
                {% if app.request.query.get('list') == '1' %}<input type="hidden" name="list" value="1" />{% endif %}
                {% if filters.search %}<input type="hidden" name="search" value="{{ filters.search }}" />{% endif %}
                {% if filters.previousPageQuery %}<a class="uk-button uk-button-filter" href="?{{ filters.previousPageQuery }}"><i class="uk-icon-rz-prev-page"></i></a>{% endif %}
                <span class="filter-form-text pageTitle">{% trans %}page{% endtrans %}</span>
                <input class="uk-form-width-mini" id="uk-form-filter-input-page" type="text" name="page"  value="{{ filters.currentPage }}" />
                <span class="filter-form-text pageCount">/ {{ filters.pageCount }}</span>
                {% if filters.nextPageQuery %}<a class="uk-button uk-button-filter" href="?{{ filters.nextPageQuery }}"><i class="uk-icon-rz-next-page"></i></a>{% endif %}
            </form>
        </div>
        {% endif %}

        {% include '@Rozier/documents/itemPerPage.html.twig' %}

        <nav class="bulk-actions documents-bulk-actions">

            <div class="bulk-actions-title-cont">
                <h3 class="bulk-actions-title documents-bulk-actions-title">{% trans %}bulk.actions{% endtrans %}</h3>
            </div>

            {% apply spaceless %}
                <a class="uk-button uk-button-bulk uk-button-bulk-deselect uk-button-bulk-deselect-documents" href="#" title="{% trans %}deselect.all{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-square-o"></i></a>
                <a class="uk-button uk-button-bulk uk-button-bulk-download uk-button-bulk-download-documents" href="#" title="{% trans %}bulk.download.documents{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-download"></i></a>
                {% if joinFolderForm %}
                <a class="uk-button uk-button-bulk uk-button-bulk-folder uk-button-bulk-folder-documents" href="#" title="{% trans %}bulk.fold.documents{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-folder-tree-mini"></i></a>
                {% endif %}
                <a class="uk-button uk-button-bulk uk-button-danger uk-button-bulk-delete uk-button-bulk-delete-documents" href="#" title="{% trans %}bulk.delete.documents{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-mini-o"></i></a>
                {% if joinFolderForm %}
                <div class="bulk-folder-cont documents-bulk-folder-cont">
                    {% form_theme joinFolderForm '@Rozier/horizontalForms.html.twig' %}
                    {{ form_start(joinFolderForm, { attr: {id: "embed-dropzone-document"}}) }}
                        {{ form_widget(joinFolderForm) }}
                    {{ form_end(joinFolderForm) }}
                </div>
                {% endif %}
            {% endapply %}

        </nav>

    </div>
</nav>
