{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global content-nav-and-filters">
	<header class="content-header header-document header-document-list">
        {% if folder %}
            {% set folderName = folder.translatedFolders.first.name|default(folder.folderName) %}
            <h1 class="content-title">{{ folderName|u.truncate(25, '[…]', true) }}</h1>
            {% include '@Rozier/folders/navBar.html.twig' with {'folder':folder, current:'list'} %}
        {% elseif orphans %}
        <h1 class="content-title">{% trans %}unused_documents{% endtrans %}</h1>
        {% else %}
        <h1 class="content-title">{% trans %}documents{% endtrans %}</h1>
        {% endif %}
        {% include '@Rozier/widgets/countFiltersBar.html.twig' %}
        {% include '@Rozier/documents/backLink.html.twig' %}
        <div class="content-header-action-menu">
            <a class="uk-button" href="{{ path('documentsUploadPage', {folderId: folder.id}) }}"><i class="uk-icon-rz-upload"></i> {% trans %}upload.document{% endtrans %}</a>
            <a class="uk-button" href="{{ path('documentsEmbedPage', {folderId: folder.id}) }}"><i class="uk-icon-rz-embed"></i> {% trans %}embed.document{% endtrans %}</a>
            <a class="uk-button rz-no-ajax-link" href="{{ path('documentsRandomPage', {folderId: folder.id}) }}"><i class="uk-icon-magic"></i> {% trans %}random.document{% endtrans %}</a>
            {% if not orphans %}
            <a href="{{ path('documentsUnusedPage') }}" class="uk-button"><i class="uk-icon-unlink"></i> {% trans %}unused_documents{% endtrans %}</a>
            {% endif %}
        </div>
    </header>

    {% include '@Rozier/documents/filtersBar.html.twig' %}

    {% block content_body %}
    <article class="content">
        {% apply spaceless %}
            <div class="documents-list">
                {% for document in documents %}
                    {% include '@Rozier/documents/singleDocumentThumbnail.html.twig' with {
                        document: document,
                        thumbnailFormat: thumbnailFormat,
                        controls: true
                    } only %}
                {% endfor %}
            </div>
        {% endapply %}
	</article>
    {% endblock %}
</section>
{% endblock %}
