{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-documents">
	<h1 id="title">{% trans %}documents{% endtrans %}</h1>
	<nav>
		<a class="uk-button" href="{{ path('documentsUploadPage') }}"><i class="uk-icon-plus"></i> {% trans %}upload.document{% endtrans %}</a>
	</nav>
	{% include 'widgets/filtersBar.html.twig' %}
	<table class="documents uk-table">
		<thead>
	        <tr>
	            <th class="uk-text-center">{% trans %}document.thumbnail{% endtrans %}</th>
	            <th>{% trans %}document.filename{% endtrans %}</th>
	            <th>{% trans %}document.createdAt{% endtrans %}</th>
	            <th>{% trans %}actions{% endtrans %}</th>
	        </tr>
	    </thead>
		<tbody>
			{% for document in documents %}
			<tr>
				{% if document.isImage %}
				<td class="uk-text-center">
					<a href="{{ path('documentsEditPage', { documentId: document.getId }) }}">
						{# <img width="100" alt="" src="{{ document.getViewer.getDocumentUrlByArray(thumbnailFormat) }}" /> #}
						{{ document.getViewer.getDocumentByArray(thumbnailFormat)|raw }}
					</a>
				</td>
				{% else %}
				<td class="uk-text-center">
					<a href="{{ path('documentsEditPage', { documentId: document.getId }) }}"><i class='uk-icon-large uk-icon-file-{{ document.getShortType }}-o'></i></a>
				</td>
				{% endif %}
				<td>
					<p>{{ document.getFilename }}</p>
				</td>
				<td>{{ document.getCreatedAt|localizeddate('full', 'none') }}</td>
				<td>
					<a class="uk-button uk-button-small uk-button-danger" href="{{ path('documentsDeletePage', { documentId: document.getId }) }}">{% trans %}delete{% endtrans %}</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}
