{% extends '@Rozier/layout.html.twig' %}


{% block content %}
    <section class="content-global manage-document">

        <header class="content-header header-document header-document-edit">
            <h1 class="content-title document-edit-title">{{ "edit.document.%name%"|trans({'%name%': document})|u.truncate(25, '[…]', true) }}</h1>
            {% include '@Rozier/documents/navBar.html.twig' with {'document':document, current:'preview'} %}
            {% include '@Rozier/documents/backLink.html.twig' %}
        </header>

        <article class="content content-document-preview">
            <div class="content-inner">
                {% if not document|exists %}
                    <p class="uk-alert uk-alert-danger"><i class="uk-icon-error"></i> {% trans %}current.document.file.does.not.exist{% endtrans %}</p>
                {% elseif not document.filename %}
                    <p class="uk-alert uk-alert-warning"><i class="uk-icon-error"></i> {% trans %}document.is_only_external{% endtrans %}</p>
                {% endif %}
                {% if not document.private %}
                    {% if document.image or document.svg or document.video or document.audio or document.pdf %}
                        {% if document.pdf %}
                            {% set thumbnailFormat = thumbnailFormat|merge({'height': 700, 'embed': true}) %}
                        {% endif %}
                        <figure class="uk-thumbnail">{{ document|display(thumbnailFormat) }}</figure>
                        {% if document.mimeType == 'image/gif' %}
                            <hr />
                            <figure class="uk-thumbnail">{{ document|display({noProcess:true}) }}</figure>
                        {% endif %}
                    {% endif %}

                    {% if document.isEmbed %}
                        <hr />
                        <h3>{% trans %}embed.preview{% endtrans %}</h3>
                        <figure class="uk-thumbnail">{{ document|display(thumbnailFormat|merge({
                                embed: true,
                                autoplay: false,
                                controls: true,
                                fullscreen: true
                            })) }}</figure>
                    {% endif %}
                {% else %}
                    <p class="uk-alert uk-alert-warning"><i class="uk-icon-warning"></i> {% trans %}current.document.is.private.you.cannot.preview.it{% endtrans %}</p>
                {% endif %}
            </div>
        </article>
        <article class="content content-document-infos">
            <div class="content-inner">
                <table class="uk-table content-table">
                    <tr><td>{% trans %}document.relative_url{% endtrans %}</td><td>{{ document|url(thumbnailFormat) }}</td></tr>
                    <tr><td>{% trans %}document.absolute_url{% endtrans %}</td><td>{{ document|url(thumbnailFormat|merge({absolute:true})) }}</td></tr>
                    <tr><td>{% trans %}document.unprocessed_url{% endtrans %}</td><td>{{ document|url({noProcess:true}) }}</td></tr>
                    {% if document.isEmbed and document|embedFinder %}
                        <tr><td>{% trans %}document.source_url{% endtrans %}</td><td>{{ (document|embedFinder).source }}</td></tr>
                    {% endif %}
                    <tr><td>{% trans %}document.filesize{% endtrans %}</td><td>{{ document.filesize|formatBytes }}</td></tr>
                    {% for key, info in infos %}
                        <tr><td>{{ ('document.' ~ key)|trans }}</td><td>{{ info }}</td></tr>
                    {% endfor %}
                </table>
            </div>
        </article>

        {% include '@Rozier/documents/actionsMenu.html.twig' %}
    </section>
{% endblock %}
