<div class="document-item" data-uk-tooltip="{animation:true, pos:'bottom'}" title="{{ document.filename }}">
    <div class="document-border"></div>
    <figure class="document-image">
        {% if not document.private and (document.isImage or document.isSvg or document.hasThumbnails) %}
            {{ document|display(thumbnailFormat) }}
        {% endif %}
        {% if not (document.isImage or document.isSvg) and document.shortType != 'unknown' %}
            <div class="document-platform-icon"><i class="uk-icon-file-{{ document.shortType }}-o"></i></div>
        {% endif %}
    </figure>
    <div class="document-name">{{ document|centralTruncate(18, -4) }}</div>
    <div class="document-overflow">
        {% if controls %}
        <input class="document-checkbox" type="checkbox" name="documents[]" value="{{ document.id }}" />
        <div class="document-links">
            <a class="uk-button uk-button-small document-link"
               href="{{ path('documentsEditPage', { documentId: document.id }) }}"><i class="uk-icon-rz-pencil"></i></a>
            <a class="uk-button uk-button-small uk-button-danger document-link"
               href="{{ path('documentsDeletePage', { documentId: document.id }) }}"><i class="uk-icon-trash-o"></i></a>
        </div>
        {% endif %}
        {% if document.isEmbed %}
            {% set iconName = document.embedPlatform %}
            {% if document.embedPlatform == 'unsplash' or document.embedPlatform == 'splashbase' %}
                {% set iconName = 'documents' %}
            {% endif %}
            <div class="document-mime-type">{{ document.embedPlatform }}</div>
            {% if document.private %}
                <div class="document-platform-icon"><i class="uk-icon-lock"></i></div>
            {% else %}
                <div class="document-platform-icon"><i class="uk-icon-rz-{{ iconName }}"></i></div>
            {% endif %}
        {% else %}
            <div class="document-mime-type">{{ document.shortMimeType|u.truncate(13, '…') }}</div>
            {% if document.private %}
                <div class="document-platform-icon"><i class="uk-icon-lock"></i></div>
            {% endif %}
        {% endif %}
    </div>
</div>
