{% extends '@Rozier/layout.html.twig' %}


{% block content %}
<section class="content-global manage-document">

    <header class="content-header header-document header-document-edit">
        <h1 class="content-title document-edit-title">{{ "document.%name%.usage"|trans({'%name%': document})|u.truncate(25, '[…]', true) }}</h1>
        {% include '@Rozier/documents/navBar.html.twig' with {'document':document, current:'usage'} %}
        {% include '@Rozier/documents/backLink.html.twig' %}
    </header>
    {# usages #}

    <article class="content content-no-action-menu">
        {% if usages|length %}
            <div class="content-table-cont">
                <h3>{% trans %}nodes{% endtrans %}</h3>
                <table class="content-table uk-table">
                    <thead>
                    <tr>
                        <th class="uk-text-center">{% trans %}title{% endtrans %}</th>
                        <th>{% trans %}usage.fieldName{% endtrans %}</th>
                        <th>{% trans %}nodeType.name{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for usage in usages %}
                        {% set source = usage.nodeSource %}
                        {% set field = usage.field %}
                        <tr>
                            <td>
                                <a href="{{ path('nodesEditSourcePage', {
                                    nodeId: source.node.id,
                                    translationId: source.translation.id
                                }) }}">
                                    {% if source.title %}
                                        {{ source.title }}
                                    {% else %}
                                        {{ source.node.nodeName }}
                                    {% endif %}
                                </a>
                            </td>
                            <td>{{ field.name }}</td>
                            <td>{{ field.nodeType.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
        {% endif %}
        {% if attributes|length %}
            <div class="content-table-cont">
                <h3>{% trans %}attributes{% endtrans %}</h3>
                <table class="content-table uk-table">
                    <thead>
                    <tr>
                        <th>{% trans %}attributes.code{% endtrans %}</th>
                        <th>{% trans %}attributes.group{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for attribute in attributes %}
                        <tr>
                            <td class="name">
                                <a href="{{ path('attributesEditPage', { id: attribute.id }) }}">
                                    <span class="color"
                                          style="background-color:{{ attribute.color|default('transparent') }};"></span>
                                    {{ attribute.attributeTranslations.first.label|default(attribute.code) -}}
                                </a>
                            </td>
                            <td>{%- if attribute.group -%}
                                    {{- attribute.group.name -}}
                                {%- endif -%}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr>
        {% endif %}
        {% if tags|length %}
            <div class="content-table-cont">
                <h3>{% trans %}tags{% endtrans %}</h3>
                <table class="content-table uk-table">
                    <thead>
                    <tr>
                        <th>{% trans %}tagName{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tag in tags %}
                        <tr>
                            <td class="name">
                                <a href="{{ path('tagsEditPage', { tagId: tag.id }) }}">
                                    <span class="color"
                                          style="background-color:{{ tag.color|default('transparent') }};"></span>
                                    {{ tag.tagTranslations.first.label|default(tag.tagName) -}}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </article>

</section>
{% endblock %}
