{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-translations">
	<h1 id="title">{% trans %}Translations{% endtrans %}</h1>
	<a class="uk-button" href="{{ path('translationsAddPage') }}"><i class="uk-icon-plus"></i> {% trans %}Create a translation{% endtrans %}</a>
	<table class="translations uk-table">
		<thead>
	        <tr>
	            <th>{% trans %}Name{% endtrans %}</th>
	            <th>{% trans %}Locale{% endtrans %}</th>
	            <th>{% trans %}Status{% endtrans %}</th>
	            <th>{% trans %}Actions{% endtrans %}</th>
	        </tr>
	    </thead>
		<tbody>
			{% for t in translations %}
			<tr>
				<td><a href="{{ path('translationsEditPage', { translation_id: t.translation.getId }) }}">{{ t.translation.getName }}</a></td>
				<td>{{ t.translation.getLocale }}</td>
				<td>
				{% if t.translation.isAvailable == false %}<div class="uk-badge uk-badge-warning">{% trans %}Not available{% endtrans %}</div>{% endif %}
				{% if t.translation.isDefaultTranslation == true %}
				<div class="uk-badge uk-badge-notification"><i class="uk-icon-star"></i></div>
				{% endif %}
				</td>
				<td>
				{% if t.translation.isDefaultTranslation == false %}
					<form action="#" method="post" {{ form_enctype(t.defaultForm) }}>
						{{ form_errors(t.defaultForm) }}
					    {% for item in t.defaultForm %}
					        {% if item.vars.name != "_token" %}
						        {{ form_widget(item) }}
					        {% endif %}
						{% endfor %}
						{{ form_rest(t.defaultForm) }}
						<input class="uk-button uk-button-small" type="submit" value="{% trans %}Set as default{% endtrans %}" />
					</form>
					<a class="uk-button uk-button-small uk-button-danger" href="{{ path('translationsDeletePage', { translation_id: t.translation.getId }) }}">{% trans %}Delete{% endtrans %}</a>
				{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}