{% set currentTitle = source.title|default(node.nodeName) %}

{% extends '@Rozier/layout.html.twig' %}

{% block content %}
    <section class="content-global">
        <header class="content-header header-node header-node-edit-source">
            {% include '@Rozier/nodes/breadcrumb.html.twig' with {
                "node": node,
                "source": source,
            } only %}
            <h1 class="content-title node-edit-source-title"{% if source.translation.locale is rtl %} dir="rtl"{% endif %}>
                {{ ("edit.nodeSource.%name%"|trans({'%name%': currentTitle}))|u.truncate(30, '[…]', false) }}
                {% include '@Rozier/nodes/nodeTypeCircle.html.twig' %}
            </h1>
            {% include 'nodes/navBar.html.twig' with {"current": 'attributes'} %}
            {% include 'nodes/attributes/translationBar.html.twig' with {"current": translation.id} %}
        </header>

        <article class="content content-settings-list">
            <div class="content-table-cont">
                <table class="attribute-value-forms content-table settings uk-table attributes">
                    <thead>
                        <tr>
                            <th>{% trans %}attributes.code{% endtrans %}</th>
                            <th class="uk-visible-large">{% trans %}attributes.group{% endtrans %}</th>
                            <th>{% trans %}attributes.value{% endtrans %}</th>
                            <th>{% trans %}actions{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody class="uk-sortable" data-uk-sortable="{animation:0, dragCustomClass:'setting-row rz-node-type-field-dragged', handleClass:'attribute-value-col'}">
                        {% for attribute_value_translation_form in attribute_value_translation_forms %}
                            {% set attributeValue = attribute_value_translation_form.vars.data.attributeValue %}
                            <tr class="setting-row" data-position="{{ attributeValue.position }}" data-id="{{ attributeValue.getId }}">
                                <td class="name attribute-value-col">
                                    <span class="color" style="background-color:{{ attributeValue.attribute.color|default('transparent') }};"></span>
                                    {{- attribute_value_translation_form.vars.data|attribute_label -}}
                                </td>
                                <td class="uk-visible-large">{%- if attributeValue.attribute.group %}
                                        {{- attributeValue.attribute.group|attribute_group_label -}}
                                    {% endif -%}</td>
                                <td>
                                    {% form_theme attribute_value_translation_form '@Rozier/horizontalForms.html.twig' %}
                                    {{ form_start(attribute_value_translation_form, {
                                        'attr': {
                                            'class': 'uk-form uk-form-horizontal'
                                        }
                                    }) }}
                                    {{ form_widget(attribute_value_translation_form) }}
                                    {% apply spaceless %}
                                        <button data-uk-tooltip="{animation:true}"
                                                title="{% trans %}edit{% endtrans %}"
                                                class="uk-button uk-button-settings-submit uk-button-small"
                                                type="submit"><i class="uk-icon-rz-save-mini"></i></button>
                                    {% endapply %}
                                    {{ form_end(attribute_value_translation_form) }}
                                </td>
                                <td class="table-actions-row">
                                    {% apply spaceless %}
                                        <a class="uk-button uk-button-content uk-button-small uk-button-settings-save no-ajax-link uk-button-table-save"
                                           href="#{{ attribute_value_translation_form.vars.id }}"
                                           title="{% trans %}save{% endtrans %}"
                                           data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-save-mini"></i></a>

                                        {% if translation and attributeValue.attributeValueTranslations.count > 1 %}
                                            <a class="uk-button uk-button-content uk-button-small uk-button-table-warning"
                                               href="{{ path('nodesResetAttributesPage', {
                                                   nodeId : node.id,
                                                   translationId : translation.id,
                                                   attributeValueId : attributeValue.id
                                               }) }}"
                                               title="{% trans %}attributes.reset_value{% endtrans %}"
                                               data-uk-tooltip="{animation:true}"><i class="uk-icon-undo"></i></a>
                                        {% endif %}

                                        {% if translation and (translation.defaultTranslation or attributeValue.attributeValueTranslations.count == 1) %}
                                            <a class="uk-button uk-button-content uk-button-small uk-button-table-delete"
                                               href="{{ path('nodesDeleteAttributesPage', {
                                                   nodeId : node.id,
                                                   translationId : translation.id,
                                                   attributeValueId : attributeValue.id
                                               }) }}"
                                               title="{% trans %}attributes.delete_value{% endtrans %}"
                                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-o"></i></a>
                                        {% endif %}
                                    {% endapply %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <table>
                    <tr>
                        <td>
                            {% form_theme addAttributeForm '@Rozier/horizontalForms.html.twig' %}
                            {{ form_start(addAttributeForm, {
                                'attr': {
                                    'id': 'add-node-attribute-form',
                                    'class': 'uk-form uk-form-stacked'
                                }
                            }) }}{{ form_widget(addAttributeForm) }}
                            {% apply spaceless %}
                                <button class="uk-button uk-button-primary" type="submit">
                                    <span class="icon-container"><i class="uk-icon-rz-plus"></i></span>
                                    <span class="label"><span class="label-text">{% trans %}add.a.node.attribute{% endtrans %}</span></span>
                                </button>
                            {% endapply %}
                            {{ form_end(addAttributeForm) }}
                        </td>
                    </tr>
                </table>
            </div>
            <hr>

            {% set currentPath = path('nodesEditAttributesPage', {
                nodeId: node.id,
                translationId: translation.id
            })  %}

            <div class="content-table-cont uk-margin">
                <a class="uk-button"
                   href="{{ path('attributesAddPage', {referer: currentPath}) }}">
                    <i class="uk-icon-rz-plus"></i>
                    {% trans %}add.a.attribute{%- endtrans -%}
                </a>
            </div>
        </article>

        {% include '@Rozier/nodes/actionsMenu.html.twig' %}
    </section>
{% endblock %}
