{% if levels[log.level] == 'error' %}
    {% set tdClass = 'class="uk-alert-danger"' %}
    {% set icon = 'uk-icon-warning' %}
{% else %}
    {% set tdClass = 'class=""' %}
    {% set icon = 'uk-icon-info-circle' %}
{% endif %}

<div class="history-log-item {% if log.nodeSource %}has-source {% endif %}{% if log.user or log.username %}has-user{% endif %}">
    <div class="history-log-date">
        <div class="table">
            <div class="table-cell">{{ log.datetime|format_datetime('short', 'short', locale=app.request.locale) }}</div>
        </div>
    </div>
    {% if log.user %}
        <div class="history-log-user">
            {% if is_granted('ROLE_ACCESS_USERS') %}
                {% set userPath = path("usersEditPage", { userId: log.user.id }) %}
            {% elseif is_granted('ROLE_ACCESS_LOGS') %}
                {% set userPath = path('historyUserPage', { userId: log.user.id }) %}
            {% else %}
                {% set userPath = '#' %}
            {% endif %}

            <a href="{{ userPath }}">
                <img width="60"
                     height="60"
                     class="user-image uk-thumbnail"
                     src="{{ log.user.pictureUrl }}"
                     alt="{{ log.user.identifier }}"
                     title="{{ log.user.identifier }}"
                     data-uk-tooltip="{animation:true}"/>
            </a>
        </div>
    {% elseif log.username %}
        <div class="history-log-user">
            <span class="user-image uk-thumbnail"
                  width="60"
                  height="60"
                  title="{{ log.username }}"
                  data-uk-tooltip="{animation:true}" ><i class="uk-icon uk-icon-rz-user"></i></span>
        </div>
    {% endif %}
    <div class="history-log-message">
        <div class="table">
            {% if log.nodeSource %}
                <div class="history-log-source table-cell">
                    {% if is_granted('ROLE_ACCESS_NODES') %}
                        {% set nodePath = path("nodesEditSourcePage", {"nodeId":log.nodeSource.node.id, "translationId":log.nodeSource.translation.id }) %}
                    {% elseif is_granted('ROLE_ACCESS_LOGS') %}
                        {% set nodePath = path("nodesHistoryPage", {"nodeId":log.nodeSource.node.id }) %}
                    {% else %}
                        {% set nodePath = '#' %}
                    {% endif %}
                    <a href="{{ nodePath }}">
                        {% set thumbnail = log.nodeSource.getDocumentsByFields.first.getDocument %}
                        {% if thumbnail and thumbnail.image %}
                            <figure title="{{ log.nodeSource.title }}" data-uk-tooltip="{animation:true}" >
                                {{ thumbnail|display({
                                    "fit":"60x60",
                                    "quality":80,
                                    "picture": true,
                                    "alt": log.nodeSource.title,
                                }) }}
                            </figure>
                        {% else %}
                            <span class="no-thumb"
                                  title="{{ log.nodeSource.title }}"
                                  data-uk-tooltip="{animation:true}"></span>
                        {% endif %}
                    </a>
                </div>
            {% endif %}
            <div class="table-cell">
                {% if log.channel and log.channel != 'roadiz' %}
                    <span class="uk-badge">{{ log.channel|trans }}</span>&nbsp;
                {% endif %}
                {% if log.level and log.level >= 300 %}
                    <span class="uk-badge{% if log.level >= 400 %} uk-badge-danger{% elseif log.level >= 300 %} uk-badge-warning{% endif %}">{{ levels[log.level]|trans }}</span>
                {% endif %}
                {{ log.message -}}
                <div class="history-log-message-details">
                    <dl>
                        <dt>{{ 'username'|trans }}</dt>
                        <dd>{{ log.username }}</dd>
                        {% for key, data in log.additionalData %}
                            <dt>{{ key|trans }}</dt>
                            <dd>{{ data }}</dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
