{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-documents">
	<h1 id="title">{% trans %}Documents{% endtrans %}</h1>
	<a class="uk-button" href="{{ path('documentsUploadPage') }}"><i class="uk-icon-plus"></i> {% trans %}Upload a document{% endtrans %}</a>
	<table class="documents uk-table">
		<thead>
	        <tr>
	            <th>{% trans %}Thumbnail{% endtrans %}</th>
	            <th>{% trans %}Name{% endtrans %}</th>
	            <th>{% trans %}Upload date{% endtrans %}</th>
	            <th>{% trans %}Actions{% endtrans %}</th>
	        </tr>
	    </thead>
		<tbody>
			{% for document in documents %}
			<tr>
				{% if document.isImage %}
				<td>
					<a href="{{ path('documentsEditPage', { document_id: document.getId }) }}">
						<img width="100" alt="" src="{{ document.getViewer.getDocumentUrlByArray(thumbnailFormat) }}" />
					</a>
				</td>
				{% else %}
				<td>
					<a href="{{ path('documentsEditPage', { document_id: document.getId }) }}"><i class='uk-icon-small uk-icon-file-{{ document.getShortType }}-o'></i></a>
				</td>
				{% endif %}
				<td>
					<p>{{ document.getFilename }}</p>
				</td>
				<td>{{ document.getCreatedAt.format('d M Y H:i:s') }}</td>
				<td>
					<a class="uk-button uk-button-small uk-button-danger" href="{{ path('documentsDeletePage', { document_id: document.getId }) }}">{% trans %}Delete{% endtrans %}</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}