{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-users">
	<h1 id="title">{% trans %}Users{% endtrans %}</h1>
	<nav><a class="uk-button" href="{{ path('usersAddPage') }}"><i class="uk-icon-plus"></i> {% trans %}Create a user{% endtrans %}</a></nav>
	<table class="users uk-table">
		<thead>
	        <tr>
	            <th>{% trans %}user.roles{% endtrans %}</th>
	            <th>{% trans %}user.username{% endtrans %} 
	            	{% if request.query.get("field") == 'username' and request.query.get("ordering") == "DESC" %}
	            		<a href="?field=username&amp;ordering=ASC"><i class="uk-icon-sort-down"></i></a>
	            	{% else %}
	            		<a href="?field=username&amp;ordering=DESC"><i class="uk-icon-sort-up"></i></a>
	            	{% endif %}
	            </th>
	            <th>{% trans %}user.email{% endtrans %} 
	            	{% if request.query.get("field") == 'email' and request.query.get("ordering") == "DESC" %}
	            		<a href="?field=email&amp;ordering=ASC"><i class="uk-icon-sort-down"></i></a>
	            	{% else %}
	            		<a href="?field=email&amp;ordering=DESC"><i class="uk-icon-sort-up"></i></a>
	            	{% endif %}
	            </th>
	            <th>{% trans %}actions{% endtrans %}</th>
	        </tr>
	    </thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td>
					{% for role in user.getRolesEntities %}
						<i data-uk-tooltip title="{{ role.getName }}" data-role="{{ role.getName }}" class="uk-icon-user uk-icon-{{ role.getClassName }}"></i>
					{% endfor %}
				</td>
				<td><a href="{{ path('usersEditPage', { user_id: user.getId }) }}">{{ user.getUsername }}</a></td>
				<td>{{ user.getEmail }}</td>
				<td>
					<a class="uk-button uk-button-small uk-button-danger" href="{{ path('usersDeletePage', { user_id: user.getId }) }}">{% trans %}Delete{% endtrans %}</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}