{% extends 'base.html.twig' %}

{% block content %}
<section id="manage-user-roles">
	<h1 id="user-title">Edit {{ user.getDefaultTranslatedTag.getName }} roles</h1>
	
	{% include 'users/navBar.html.twig' with {'user':user, current:'roles'} %}

	<table class="users-roles uk-table">
		<thead>
	        <tr>
	            <th>{% trans %}Role{% endtrans %}</th>
	            <th>{% trans %}Actions{% endtrans %}</th>
	        </tr>
	    </thead>
		<tbody>
			{% for role in user.getRolesEntities %}
			<tr>
				<td>{{ role.getName }}</td>
				<td>
					<a class="uk-button uk-button-small uk-button-danger" href="{{ path('usersRemoveRolesPage', { user_id: user.getId, role_id: role.getId }) }}">{% trans %}Unlink{% endtrans %}</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<h2>{% trans %}Add a role{% endtrans %}</h2>
	<form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
   		{{ form_errors(form) }}

   		<fieldset data-uk-margin>
		    {% for item in form %}
			    {% if item.vars.name != "_token" and item.vars.name != 'user_id' %}
			    <div class="uk-form-row">
			    	{# Source fields  #}
			        <label class="uk-form-label"for="{{ item.vars.id }}">{% if item.vars.label %}{{ item.vars.label|trans }}{% else %}{{ item.vars.name|trans }}{% endif %}</label>
			        {{ form_errors(item) }}
			        {{ form_widget(item) }}
			    </div>
			    {% endif %}
		    {% endfor %}
   		</fieldset>
	    {{ form_rest(form) }}
	    <fieldset data-uk-margin>
	    	<input class="uk-button uk-button-primary" type="submit" />
   		</fieldset>
	</form>
</section>
{% endblock %}