<tr class="{% if loop.index0 is odd %}odd{% endif %}">
    <td>
        {# Update URL alias #}
        {% form_theme urlAlias.editForm 'horizontalForms.html.twig' %}
        {{ form_start(urlAlias.editForm, {
            attr: { class: "uk-form uk-form-horizontal urlalias-form" }
        }) }}
            {{ form_widget(urlAlias.editForm) }}
            <button class="uk-button uk-button-primary" type="submit" value="{% trans %}edit{% endtrans %}"><i class="uk-icon-pencil"></i> {% trans %}edit{% endtrans %}</button>
        {{ form_end(urlAlias.editForm) }}
    </td>
    <td>{{ urlAlias.alias.getNodeSource.getTranslation.getName }}</td>
    <td>
        {# Delete URL Alias #}
        {% form_theme urlAlias.deleteForm 'horizontalForms.html.twig' %}
        {{ form_start(urlAlias.deleteForm) }}
            {{ form_widget(urlAlias.deleteForm) }}
            <button class="uk-button uk-button-danger" type="submit" value="{% trans %}delete{% endtrans %}"><i class="uk-icon-rz-trash-o"></i> {% trans %}delete{% endtrans %}</button>
        {{ form_end(urlAlias.deleteForm) }}
    </td>
</tr>
