{% extends '@DefaultTheme/pages/base.html.twig' %}

{% block inner_content %}
    <h1 class="page-title">{{ nodeSource.title }}</h1>
    <div class="page-text">{{ nodeSource.content|markdownExtra }}</div>
    <ul class="block-attributes">
        {% for groupedAttributeValueTranslation in nodeSource|grouped_attributes %}
            <li>
                {% if groupedAttributeValueTranslation.group %}
                    <strong>{{ groupedAttributeValueTranslation.group|attribute_group_label(translation) }}</strong>
                {% endif %}
                <ul>
                    {% for attributeValueTranslation in groupedAttributeValueTranslation.attributeValues %}
                        <li>
                            {% if attributeValueTranslation.attribute.documents|length %}
                                {% for document in attributeValueTranslation.attribute.documents %}
                                    <figure>{{ document|display(imageFormats.mini) }}</figure>
                                {% endfor %}
                            {% endif %}
                            <strong>{{ attributeValueTranslation|attribute_label(translation) }}:</strong>

                            {% if attributeValueTranslation is datetime %}
                                {{ attributeValueTranslation.value|format_datetime('medium', 'short', locale=app.request.locale) }}
                            {% elseif attributeValueTranslation is date %}
                                {{ attributeValueTranslation.value|date('Y') }}
                            {% elseif attributeValueTranslation is number %}
                                {{ attributeValueTranslation.value|format_number(locale=app.request.locale) }}
                            {% elseif attributeValueTranslation is country %}
                                {{ attributeValueTranslation.value|country_iso(request.locale) }}
                            {% elseif attributeValueTranslation is percent %}
                                {% set spacer = '' %}
                                {% if app.request.locale == 'fr' or app.request.locale == 'fr_FR' %}
                                    {% set spacer = ' ' %}
                                {% endif %}
                                {{ attributeValueTranslation.value|format_number(locale=app.request.locale) }}{{ spacer }}%
                            {% else %}
                                {{ attributeValueTranslation.value }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

            </li>
        {% endfor %}
    </ul>
    <div class="page-blocks row">
        {#
         # Use a loop over children to display blocks
         # according to their node-types.
         # Here is the real power of Roadiz!
         #}
        {% set blocks = nodeSource|children({
            'node.nodeType.reachable': false
        }) %}
        {% for singleBlock in blocks %}
            {#{{ singleBlock|render('DefaultTheme') }}#}
            {% include '@DefaultTheme/blocks/' ~ singleBlock.node.nodeType.name|lower ~ '.html.twig' ignore missing with {
                'nodeSource': singleBlock,
                'parentNodeSource': nodeSource,
                'themeServices': themeServices,
                'head': head,
                'node': singleBlock.node,
                'nodeType': singleBlock.node.nodeType,
                'loop': loop,
                'blocksLength':blocks|length
            } only %}
        {% endfor %}
    </div>

    {# Test render #}
    {#<pre>#}
        {#{{ render(controller(#}
            {#'Themes\\DefaultTheme\\Controllers\\PageController::embedAction',#}
            {#{ 'name': 'Roadiz' }#}
        {#)) }}#}
    {#</pre>#}

    <div class="images row">
        {% for image in nodeSource.pictures %}
            {% set imageMetas = image.documentTranslations.first %}
            <figure class="image col-sm-6 col-md-4">
                {{ image|display(imageFormats.thumbnail) }}
                {% if imageMetas.name or imageMetas.description %}
                    <figcaption><h5>{{ imageMetas.name }}</h5>{{ imageMetas.description|markdown }}</figcaption>
                {% endif %}
            </figure>
            {#{% set embedFinder = (image|embedFinder) %}
            {% if embedFinder %}
                <pre>{{ embedFinder.source }}</pre>
            {% endif %}#}
        {% endfor %}
    </div>

    {% if form %}
        <div class="edit-form">
            {{ form_start(form, { attr: { id: "edit-node-source-form" }}) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i> {% trans %}save{% endtrans %}
                </button>
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}
