{% set formattedLocale = request.locale|replace({'_': '-'})|lower %}
<!DOCTYPE html>
<html class="no-js" lang="{{ formattedLocale }}"{% if request.locale is rtl %} dir="rtl"{% endif %}>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block siteTitle %}{{ head.siteTitle|trans }}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Styles -->
        <link rel="stylesheet" href="{{ asset('css/vendor/uikit/uikit.min.css', 'Install') }}" />
        <link rel="stylesheet" href="{{ asset('css/vendor/uikit/uikit.gradient.min.css', 'Install') }}" />
        <link rel="stylesheet" href="{{ asset('css/vendor//uikit/addons/uikit.addons.min.css', 'Install') }}" />
        <link rel="stylesheet" href="{{ asset('css/vendor/bootstrap3/bootstrap-switch.css', 'Install') }}" />
        <link rel="stylesheet" href="{{ asset('public' ~ head.grunt.staticAssets.global.css[0], 'Install') }}" />

        <!-- Modernizr -->
        <script src="{{ asset('js/vendor/modernizr-custom.js', 'Install') }}"></script>
    </head>
    <body class="install {{ request.locale }}"
          data-locale="{{ request.locale }}"
          data-session-locale="{{ app.session.locale }}">
        <div id="main-container" class="absolute">
            <section id="inner-container">
                <aside class="infos">
                    <div class="logo">
                        <i class="uk-icon-rz-roadiz-icon"></i>
                    </div>
                    <div class="credits">
                        <div class="credits-content">
                            <i class="uk-icon-rz-rezozero"></i>
                            <span class="version">{{ cms_prefix }} {{ cms_version }}</span>
                        </div>
                    </div>
                </aside>
                {% block content %}
                    <h1>{% trans %}welcome.title{% endtrans %}</h1>
                {% endblock %}
            </section>
        </div>

        <script src="{{ asset('js/vendor/jquery.min.js', 'Install') }}"></script>
        {% if head.devMode %}
        <script src="{{ asset('js/vendor/bootstrap-switch.js', 'Install') }}"></script>
        <script src="{{ asset('js/vendor/uikit.min.js', 'Install') }}"></script>
        <script src="{{ asset('js/plugins.js', 'Install') }}"></script>
        <script src="{{ asset('js/importFixtures.js', 'Install') }}"></script>
        <script src="{{ asset('js/selectDatabaseField.js', 'Install') }}"></script>
        <script src="{{ asset('js/import.js', 'Install') }}"></script>
        <script src="{{ asset('js/resizeContainer.js', 'Install') }}"></script>
        <script src="{{ asset('js/main.js', 'Install') }}"></script>
        {% else %}
        <script src="{{ asset('public' ~ head.grunt.staticAssets.global.js[0], 'Install') }}"></script>
        {% endif %}

        <script type="text/javascript">
            var temp = {
                'baseUrl':      '{{ head.baseUrl }}',
                'resourcesUrl': '{{ asset('', 'Install') }}'
            };
        </script>

        {% block customScripts %}{% endblock %}
    </body>
</html>
