<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{{ head.siteTitle }}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- Styles -->
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/uikit/uikit.min.css" />
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/uikit/uikit.gradient.min.css" />
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/uikit/addons/uikit.addons.min.css" />
        <link rel="stylesheet" href="{{ head.resourcesUrl }}public{{ head.grunt.staticAssets.global.css[0] }}" />

        <!-- Modernizr -->
        <script src="{{ head.resourcesUrl }}js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>

        <div id="main-container" class="absolute">

            <section id="inner-container">

                <aside class="infos">
                    <div class="logo">
                        <i class="uk-icon-rezozero"></i>
                    </div>
                    <div class="credits">
                        <div class="credits-content">
                            <i class="uk-icon-rezozero"></i>
                            <span class="version">{{ head.cmsVersion }} - build {{ head.cmsBuild }}</span>
                        </div>
                    </div>
                </aside>

                <!-- Add your site or application content here -->
                {% block content %}
                    <h1>{% trans %}welcome.title{% endtrans %}</h1>
                {% endblock %}

            </section>

        </div>

        <!-- Scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ head.resourcesUrl }}js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        {% if head.devMode %}
        <script src="{{ head.resourcesUrl }}js/vendor/uikit.min.js"></script>
        <script src="{{ head.resourcesUrl }}js/plugins.js"></script>
        <script src="{{ head.resourcesUrl }}js/main.js"></script>
        <script src="{{ head.resourcesUrl }}js/importFixtures.js"></script>
        <script src="{{ head.resourcesUrl }}js/selectDatabaseField.js"></script>
        <script src="{{ head.resourcesUrl }}js/importNodeType.js"></script>
        <script src="{{ head.resourcesUrl }}js/resizeContainer.js"></script>
        {% else %}
        <script src="{{ head.resourcesUrl }}dist/install-theme.min.js"></script>
        {% endif %}

        <script type="text/javascript">
            var temp = {
                'baseUrl':      '{{ head.baseUrl }}',
                'resourcesUrl': '{{ head.resourcesUrl }}'
            };
        </script>

        {% block customScripts %}{% endblock %}
    </body>
</html>
