<nav id="admin-menu-nav">
	<header>
		<div id="frontend-home-area">
			<a id="frontend-home-link"
			   title="{% trans %}see.website{% endtrans %}"
			   class="uk-icon-button uk-icon-rz-earth"
			   data-uk-tooltip="{pos:'right', animation:'true'}"
			   target="_blank"
			   href="{{ path('homePage') }}"></a>
		</div>
		{% if (securityContext.Granted('ROLE_ACCESS_NODES')) %}
		<hr/>
		<div id="minify-tree-panel-area">
			<a id="minify-tree-panel-button"
				title="{% trans %}minify.tree.panel{% endtrans %}"
				class="uk-icon-button">
				<i class="uk-icon-rz-panel-tree-close"></i>
			</a>
		</div>
		{% endif %}
	</header>
	{% spaceless %}
	<ul class="uk-nav uk-nav-parent-icon">

		{# DASHBOARD #}
		<li><a href="{{ path('adminHomePage') }}"><i class="uk-icon-rz-dashboard"></i><span class="info">{% trans %}dashboard{% endtrans %}</span></a></li>

		{% if (securityContext.Granted('ROLE_ACCESS_SURVEYS') or securityContext.Granted('ROLE_ACCESS_NEWSLETTERS') or securityContext.Granted('ROLE_ACCESS_MANAGE_SUBSCRIBERS') or securityContext.Granted('ROLE_ACCESS_COMMENTS')) %}
		{% endif %}


		{# NODES #}
		{% if (securityContext.Granted('ROLE_ACCESS_NODES')) %}
		
		<li class="uk-parent">
			<p><i class="uk-icon-rz-global-nodes"></i><span class="info">{% trans %}nodes{% endtrans %}</span></p>
			<ul class="uk-nav-sub">
				<li class="uk-nav-sub-item"><a href="{{ path('nodesHomePage') }}"><i class="uk-icon-rz-all-nodes"></i><span class="info">{% trans %}all.nodes{% endtrans %}</span></a></li>
				<li class="uk-nav-sub-item"><a href="{{ path('nodesHomeDraftPage') }}"><i class="uk-icon-rz-draft-nodes"></i><span class="info">{% trans %}draft.nodes{% endtrans %}</span></a></li>
				<li class="uk-nav-sub-item"><a href="{{ path('nodesHomePendingPage') }}"><i class="uk-icon-rz-pending-nodes"></i><span class="info">{% trans %}pending.nodes{% endtrans %}</span></a></li>
				<li class="uk-nav-sub-item"><a href="{{ path('nodesHomeArchivedPage') }}"><i class="uk-icon-rz-archives-nodes"></i><span class="info">{% trans %}archived.nodes{% endtrans %}</span></a></li>
				<li class="uk-nav-sub-item"><a href="{{ path('nodesHomeDeletedPage') }}"><i class="uk-icon-rz-deleted-nodes"></i><span class="info">{% trans %}deleted.nodes{% endtrans %}</span></a></li>
				<li class="uk-nav-sub-item"><a href="{{ path('searchNodePage') }}"><i class="uk-icon-search"></i><span class="info">{% trans %}search.nodes{% endtrans %}</span></a></li> <!-- uk-icon-rz-search -->
			</ul>
		</li>

		{% endif %}


		{# DOCUMENTS #}
		{% if (securityContext.Granted('ROLE_ACCESS_DOCUMENTS')) %}

		<li><a href="{{ path('documentsHomePage') }}"><i class="uk-icon-rz-documents"></i><span class="info">{% trans %}manage.documents{% endtrans %}</span></a></li>

		{% endif %}


		{# TAGS #}
		{% if (securityContext.Granted('ROLE_ACCESS_TAGS')) %}

		<li><a href="{{ path('tagsHomePage') }}"><i class="uk-icon-rz-tags"></i><span class="info">{% trans %}manage.tags{% endtrans %}</span></a></li>

		{% endif %}


		{# CONSTRUCTION #}
		{% if (securityContext.Granted('ROLE_ACCESS_NODETYPES') or
		       securityContext.Granted('ROLE_ACCESS_TRANSLATIONS') or
		       securityContext.Granted('ROLE_ACCESS_THEMES') or
		       securityContext.Granted('ROLE_ACCESS_FONTS')) %}

		<li class="uk-parent">
			<p><i class="uk-icon-rz-construction"></i><span class="info">{% trans %}construction{% endtrans %}</span></p>
			<ul class="uk-nav-sub">

			{% if (securityContext.Granted('ROLE_ACCESS_NODETYPES')) %}

				<li class="uk-nav-sub-item"><a href="{{ path('nodeTypesHomePage') }}"><i class="uk-icon-rz-manage-nodes"></i><span class="info">{% trans %}manage.nodeTypes{% endtrans %}</span></a></li>

			{% endif %}

			{% if (securityContext.Granted('ROLE_ACCESS_TRANSLATIONS')) %}

				<li class="uk-nav-sub-item"><a href="{{ path('translationsHomePage') }}"><i class="uk-icon-rz-translate"></i><span class="info">{% trans %}manage.translations{% endtrans %}</span></a></li>
			{% endif %}

			{% if (securityContext.Granted('ROLE_ACCESS_THEMES')) %}

				<li class="uk-nav-sub-item"><a href="{{ path('themesHomePage') }}"><i class="uk-icon-rz-themes"></i><span class="info">{% trans %}manage.themes{% endtrans %}</span></a></li>

			{% endif %}

			{% if (securityContext.Granted('ROLE_ACCESS_FONTS')) %}

				<li class="uk-nav-sub-item"><a href="{{ path('fontsHomePage') }}"><i class="uk-icon-rz-fontes"></i><span class="info">{% trans %}manage.fonts{% endtrans %}</span></a></li>
			{% endif %}
			</ul>
		</li>

		{% endif %}


		{# USERS #}
		{# uk-icon-user-fill #}
		{% if (securityContext.Granted('ROLE_ACCESS_USERS') or securityContext.Granted('ROLE_ACCESS_ROLES') or securityContext.Granted('ROLE_ACCESS_GROUPS')) %}

		<li class="uk-parent">
			<p><i class="uk-icon-rz-users"></i><span class="info">{% trans %}user.system{% endtrans %}</span></p>
			<ul class="uk-nav-sub">

				{% if (securityContext.Granted('ROLE_ACCESS_USERS')) %}

				<li class="uk-nav-sub-item"><a href="{{ path('usersHomePage') }}"><i class="uk-icon-rz-user"></i><span class="info">{% trans %}manage.users{% endtrans %}</span></a></li>

				{% endif %}

				{% if (securityContext.Granted('ROLE_ACCESS_ROLES')) %}

				<li class="uk-nav-sub-item"><a href="{{ path('rolesHomePage') }}"><i class="uk-icon-rz-roles"></i><span class="info">{% trans %}manage.roles{% endtrans %}</span></a></li>

				{% endif %}

				{% if (securityContext.Granted('ROLE_ACCESS_GROUPS')) %}

				<li class="uk-nav-sub-item"><a href="{{ path('groupsHomePage') }}"><i class="uk-icon-rz-groups"></i><span class="info">{% trans %}manage.groups{% endtrans %}</span></a></li>

				{% endif %}
			</ul>
		</li>

		{% endif %}


		{# INTERACTIONS #}
		<li class="uk-parent">
			<p><i class="uk-icon-rz-interactions"></i>
			<span class="info">{% trans %}interactions{% endtrans %}</span></p>
			<ul class="uk-nav-sub">

			{% if (securityContext.Granted('ROLE_ACCESS_CUSTOMFORMS')) %}

				<li class="uk-nav-sub-item"><a href="{{ path('customFormsHomePage') }}">
					<i class="uk-icon-rz-surveys"></i>
					<span class="info">{% trans %}manage.customForms{% endtrans %}</span>
					</a>
				</li>

			{% endif %}

			{% if (securityContext.Granted('ROLE_ACCESS_NEWSLETTERS')) %}

				<li class="uk-nav-sub-item uk-rz-coming-soon"><a href="#">
					<i class="uk-icon-rz-newsletters"></i>
					<span class="info">{% trans %}manage.newsletters{% endtrans %}</span>
					</a>
				</li>

			{% endif %}

			{% if (securityContext.Granted('ROLE_ACCESS_MANAGE_SUBSCRIBERS')) %}

				<li class="uk-nav-sub-item uk-rz-coming-soon"><a href="#">
					<i class="uk-icon-rz-subscribers"></i>
					<span class="info">{% trans %}manage.subscribers{% endtrans %}</span>
					</a>
				</li>

			{% endif %}

			{% if (securityContext.Granted('ROLE_ACCESS_COMMENTS')) %}

				<li class="uk-nav-sub-item uk-rz-coming-soon"><a href="#">
					<i class="uk-icon-rz-comments"></i><span class="info">{% trans %}manage.comments{% endtrans %}</span>
					</a>
				</li>

			{% endif %}

			</ul>
		</li>


		{# SETTINGS #}
		{% if (securityContext.Granted('ROLE_ACCESS_SETTINGS')) %}

		<li class="uk-parent">
			<p><i class="uk-icon-rz-settings"></i><span class="info">{% trans %}settings{% endtrans %}</span></p>
			<ul class="uk-nav-sub">
				<li class="uk-nav-sub-item"><a href="{{ path('settingsHomePage') }}"><i class="uk-icon-rz-settings-general"></i><span class="info">{% trans %}all.settings{% endtrans %}</span></a></li>

				{% for group in settingGroups %}
				<li class="uk-nav-sub-item"><a href="{{ path('settingGroupsSettingsPage', {'settingGroupId': group.getId}) }}"><i class="uk-icon-rz-settings-group"></i><span class="info">{{ group.getName }}</span></a></li>
				{% endfor %}

				<li class="uk-nav-sub-item"><a href="{{ path('settingGroupsHomePage') }}"><i class="uk-icon-rz-settings-groups"></i><span class="info">{% trans %}setting.groups{% endtrans %}</span></a></li>
			</ul>
		</li>

		{% endif %}
	</ul>
	{% endspaceless %}
</nav>
