{% if session.user.getFirstName %}
{% set displayName = session.user.getFirstName %}
{% else %}
{% set displayName = session.user.getUsername %}
{% endif %}

{%  spaceless %}
<div>

    <div id="menu-mobile">
        <div class="menu-mobile-bar" id="menu-mobile-bar-1"></div>
        <div class="menu-mobile-bar" id="menu-mobile-bar-2"></div>
        <div class="menu-mobile-bar" id="menu-mobile-bar-3"></div>
    </div>

    <div id="company" style="background-color:{{ head.mainColor }};">
        {% if adminImage %}
            <a class="admin-image" href="{{ path('adminHomePage') }}">{{ adminImage.viewer.getDocumentByArray({width:70, crop:'1:1'})|raw }}</a>
        {% else %}
            <a class="uk-icon-rz-rezozero" href="{{ path('adminHomePage') }}"></a>
        {% endif %}
    </div>
	<div id="user">
        <a id="user-picture" href="{{ path('usersEditPage', {'userId':session.user.getId }) }}"><img width="200" height="200" class="uk-thumbnail" src="{{ session.user.getPictureUrl }}" alt="{{ session.user.getUsername }}" /></a>
        <h3>{{ "hello.%name%"|trans({'%name%': displayName}) }}</h3>
        <nav class="user-actions">
            {# <a title="{% trans %}edit.account{% endtrans %}" class="uk-icon-button uk-icon-user" href="{{ path('usersEditPage', {'userId':session.user.getId }) }}"></a> #}
            {% if (securityContext.Granted('ROLE_ACCESS_DOCTRINE_CACHE_DELETE')) %}
            <a title="{% trans %}delete.caches{% endtrans %}" data-uk-tooltip   class="uk-icon-button uk-icon-rz-flash" href="{{ path('deleteDoctrineCache') }}"></a>
            {% endif %}
            {% if (securityContext.Granted('ROLE_ACCESS_DOCTRINE_CACHE_DELETE')) %}
            <a title="{% trans %}delete.caches{% endtrans %}" data-uk-tooltip class="uk-icon-button uk-icon-rz-flash-images" href="{{ path('deleteDoctrineCache') }}"></a>
            {% endif %}
            <a title="{% trans %}logout{% endtrans %}" data-uk-tooltip class="uk-icon-button uk-icon-rz-turn-off rz-no-ajax-link" href="{{ path('logoutPage') }}"></a>
            {% if head.devMode %}
            <p class="dev-mode"><i class="uk-icon-rz-devmode"></i> {% trans %}dev_mode.activated{% endtrans %}</p>
            {% endif %}
        </nav>

    </div>
    <footer id="cms-version">
        <a target="_blank" title="{% trans %}help{% endtrans %}" data-uk-tooltip class="uk-icon-button uk-icon-rz-help" href="http://doc.rezo-zero.com"></a>
        <p class="cms-version"><i class="uk-icon-rz-rezozero"></i></p>
        <p>{{ head.cmsVersion }} - build {{ head.cmsBuild }}</p>
    </footer>
</div>
 {%  endspaceless %}
