{%  spaceless %}
<div id="user-panel-container">

    <div id="menu-mobile">
        <div class="menu-mobile-bar" id="menu-mobile-bar-1"></div>
        <div class="menu-mobile-bar" id="menu-mobile-bar-2"></div>
        <div class="menu-mobile-bar" id="menu-mobile-bar-3"></div>
    </div>

    <div id="company">
        {% if themeServices.adminImage %}
            <a class="admin-image" href="{{ path('adminHomePage') }}">{{ themeServices.adminImage.viewer.getDocumentByArray({width:150})|raw }}</a>
        {% else %}
            <a class="uk-icon-rz-roadiz-icon" href="{{ path('adminHomePage') }}"></a>
        {% endif %}
    </div>
	<div id="user">
        <a id="user-picture" href="{{ path('usersEditPage', {'userId':session.user.id }) }}"><img width="200" height="200" class="uk-thumbnail" src="{{ session.user.getPictureUrl }}" alt="{{ session.user.identifier }}" /></a>
        <h3>{{ "hello.%name%"|trans({'%name%': session.user.identifier}) }}</h3>
        <nav class="user-actions">
            <a class="uk-icon-button uk-icon-rz-earth" href="{% if request.basePath %}{{ request.basePath }}{% else %}/{% endif %}" target="_blank"><span class="user-action-label">{% trans %}see.website{% endtrans %}</span></a>
            {% if (securityContext.Granted('ROLE_ACCESS_DOCTRINE_CACHE_DELETE')) %}
                <a title="{% trans %}delete.caches{% endtrans %}" data-uk-tooltip="{animation:true}" class="uk-icon-button uk-icon-rz-flash" href="{{ path('deleteDoctrineCache') }}"><span class="user-action-label">{% trans %}delete.caches{% endtrans %}</span></a>
            {% endif %}
            {% if (securityContext.Granted('ROLE_ACCESS_DOCTRINE_CACHE_DELETE')) %}
                <a title="{% trans %}delete.generated_images.cache{% endtrans %}" data-uk-tooltip="{animation:true}" class="uk-icon-button uk-icon-rz-flash-images" href="{{ path('deleteSLIRCache') }}"><span class="user-action-label">{% trans %}delete.generated_images.cache{% endtrans %}</span></a>
            {% endif %}
            <a class="uk-icon-button uk-icon-rz-user" href="{{ path('usersEditPage', {'userId':session.user.id }) }}"><span class="user-action-label">{% trans %}edit.account{% endtrans %}</span></a>
            {% if securityContext.Granted('ROLE_PREVIOUS_ADMIN') %}
                <a title="{% trans %}stop.test.user.right{% endtrans %}" data-uk-tooltip="{animation:true}" class="uk-icon-button uk-icon-rz-turn-off rz-no-ajax-link" href="?_su=_exit"><span class="user-action-label">{% trans %}stop.test.user.right{% endtrans %}</span></a>
            {% else %}
                <a title="{% trans %}logout{% endtrans %}" data-uk-tooltip="{animation:true}" class="uk-icon-button uk-icon-rz-turn-off rz-no-ajax-link" href="{{ path('logoutPage') }}"><span class="user-action-label">{% trans %}logout{% endtrans %}</span></a>
            {% endif %}
            {% if head.devMode %}
            <p class="dev-mode"><i class="uk-icon-rz-devmode"></i> {% trans %}dev_mode.activated{% endtrans %}</p>
            {% endif %}
        </nav>

    </div>
    <footer id="cms-version">
        <a target="_blank" title="{% trans %}help{% endtrans %}" data-uk-tooltip="{animation:true}" class="uk-icon-button uk-icon-rz-help" href="http://docs.roadiz.io"></a>
        <a title="{% trans %}about.cms{% endtrans %}" data-uk-tooltip="{animation:true}" class="uk-icon-button uk-icon-refresh" href="{{ path("aboutPage") }}"></a>
        <p class="cms-version"><i class="uk-icon-rz-rezozero"></i></p>
        <p>{{ head.cmsVersion }} {{ head.cmsVersionNumber }}</p>
    </footer>
</div>
{%  endspaceless %}
