{% apply spaceless %}
<div id="user-panel-container">
    <div id="menu-mobile">
        <div class="menu-mobile-bar" id="menu-mobile-bar-1"></div>
        <div class="menu-mobile-bar" id="menu-mobile-bar-2"></div>
        <div class="menu-mobile-bar" id="menu-mobile-bar-3"></div>
    </div>

    {# Make this block overidable from themes. #}
    {% include 'admin/blocks/adminImage.html.twig' %}
    <div class="user-actions-menu">
        {% if app.user and app.user.id %}
            <a id="user-picture" href="{{ path('usersEditPage', {'userId':app.user.id }) }}">
                <img width="200"
                     height="200"
                     class="uk-thumbnail"
                     src="{{ app.user.pictureUrl }}"
                     alt="{{ app.user.identifier }}" />
            </a>
            <h3>{{ "hello.%name%"|trans({'%name%': app.user.identifier}) }}</h3>
        {% elseif app.user %}
            {% set displayName = app.user.nickname|default(app.user.givenName|default(app.user.name)) %}
            {% if app.user.picture %}
                <span id="user-picture">
                    <img width="200"
                         height="200"
                         class="uk-thumbnail"
                         src="{{ app.user.picture }}"
                         alt="{{ displayName }}" />
                </span>
            {% endif %}
            <h3>{{ "hello.%name%"|trans({'%name%': displayName }) }}</h3>
        {% endif %}
        <nav class="user-actions">
            <a class="uk-icon-button uk-icon-rz-earth" href="{% if request.basePath %}{{ request.basePath }}{% else %}/{% endif %}" target="_blank"><span class="user-action-label">{% trans %}see.website{% endtrans %}</span></a>
            {% if (is_granted('ROLE_ACCESS_DOCTRINE_CACHE_DELETE')) %}
                <a title="{% trans %}delete.caches{% endtrans %}"
                   data-uk-tooltip="{animation:true}"
                   class="uk-icon-button uk-icon-rz-flash"
                   href="{{ path('deleteDoctrineCache') }}"><span class="user-action-label">{% trans %}delete.caches{% endtrans %}</span></a>
            {% endif %}
            {% if (is_granted('ROLE_ACCESS_DOCTRINE_CACHE_DELETE')) %}
                <a title="{% trans %}delete.generated_images.cache{% endtrans %}"
                   data-uk-tooltip="{animation:true}"
                   class="uk-icon-button uk-icon-rz-flash-images"
                   href="{{ path('deleteAssetsCache') }}"><span class="user-action-label">{% trans %}delete.generated_images.cache{% endtrans %}</span></a>
            {% endif %}
            {% if app.user and app.user.id %}
            <a class="uk-icon-button uk-icon-rz-user"
               href="{{ path('usersEditPage', {'userId':app.user.id }) }}"><span class="user-action-label">{% trans %}edit.account{% endtrans %}</span></a>
            {% endif %}
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <a title="{% trans %}stop.test.user.right{% endtrans %}"
                   data-uk-tooltip="{animation:true}"
                   class="uk-icon-button uk-icon-rz-turn-off rz-no-ajax-link"
                   href="?_su=_exit"><span class="user-action-label">{% trans %}stop.test.user.right{% endtrans %}</span></a>
            {% else %}
                <a title="{% trans %}logout{% endtrans %}"
                   data-uk-tooltip="{animation:true}"
                   class="uk-icon-button uk-icon-rz-turn-off rz-no-ajax-link"
                   href="{{ path('logoutPage') }}"><span class="user-action-label">{% trans %}logout{% endtrans %}</span></a>
            {% endif %}
        </nav>

        {% if head.devMode %}
            <p class="dev-mode"><i class="uk-icon-rz-devmode"></i> {% trans %}dev_mode.activated{% endtrans %}</p>
        {% endif %}
        {% if head.maintenanceMode %}
            <p class="dev-mode"><i class="uk-icon-exclamation-triangle"></i> {% trans %}maintenance_mode.activated{% endtrans %}</p>
        {% endif %}
    </div>
    <footer id="cms-version">
        {% if help_external_url is defined %}
            <a target="_blank" rel="noopener"
               title="{% trans %}help{% endtrans %}"
               data-uk-tooltip="{animation:true}"
               class="uk-icon-button uk-icon-rz-help"
               href="{{ help_external_url }}"></a>
        {% endif %}
        <a title="{% trans %}about.cms{% endtrans %}"
           data-uk-tooltip="{animation:true}"
           class="uk-icon-button uk-icon-refresh"
           href="{{ path("aboutPage") }}"></a>
        <p class="cms-version"><i class="uk-icon-rz-rezozero"></i></p>
        <p>{{ cms_prefix }} {{ cms_version }}</p>
    </footer>
</div>
{% endapply %}
