{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global edit-translation">

    <header class="content-header header-translation header-translation-list">
        <h1 class="content-title translation-add-title">{{ "edit.translation.%name%"|trans({'%name%': translation.getName })|u.truncate(25, '[…]', true) }}</h1>
        <a class="content-header-nav-back uk-navbar-content" href="{{ path('translationsHomePage') }}" title="{% trans %}back_to.translations{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
    </header>

    <article class="content content-edit-translation">
        {% form_theme form '@Rozier/forms.html.twig' %}
        {{ form_start(form, { attr: { id: 'edit-translation-form'}}) }}
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                {% apply spaceless %}
                <button data-action-save="#edit-translation-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                    <span class="icon-container"><i class="uk-icon-rz-save-mini"></i></span>
                    <span class="label"><span class="label-text">{% trans %}save{% endtrans %}</span></span>
                </button>
                {% endapply %}
            </fieldset>
        {{ form_end(form) }}
    </article>
    {% include '@Rozier/translations/actionsMenu.html.twig' %}
</section>
{% endblock %}
