{% extends 'base.html.twig' %}


{% block content %}
<section class="content-global edit-translation">

	<header class="content-header header-translation header-translation-list">
        <h1 class="content-title translation-add-title">{% trans %}translations{% endtrans %}</h1>
        <div class="content-header-action-menu">
			<a class="uk-button" href="{{ path('translationsAddPage') }}"><i class="uk-icon-plus"></i> {% trans %}add.translation{% endtrans %}</a>
		</div>
    </header>

	{% include 'widgets/filtersBar.html.twig' %}

	<article class="content content-no-action-menu">
        <div class="content-table-cont">
			<table class="translations content-table uk-table">
				<thead>
			        <tr>
			            <th>{% trans %}name{% endtrans %}</th>
			            <th>{% trans %}translation.locale{% endtrans %}</th>
			            <th>{% trans %}status{% endtrans %}</th>
			            <th>{% trans %}actions{% endtrans %}</th>
			        </tr>
			    </thead>
				<tbody>
					{% for t in translations %}
					<tr>
						<td><a href="{{ path('translationsEditPage', { translationId: t.translation.getId }) }}">{{ t.translation.getName }}</a></td>
						<td>{{ t.translation.getLocale }}</td>
						<td>
						{% if t.translation.isAvailable == false %}<div class="uk-badge uk-badge-warning">{% trans %}not_available{% endtrans %}</div>{% endif %}
						{% if t.translation.isDefaultTranslation == true %}
						<div class="uk-badge uk-badge-notification"><i class="uk-icon-star"></i></div>
						{% endif %}
						</td>
						<td>
						{% if t.translation.isDefaultTranslation == false %}
							{% form_theme t.defaultForm 'forms.html.twig' %}
							<form action="#" method="post" {{ form_enctype(t.defaultForm) }}>
								{{ form_widget(t.defaultForm) }}
								<button class="uk-button uk-button-small" type="submit"><i class="uk-icon-star"></i> {% trans %}set.default{% endtrans %}</button>
							</form>
							<a class="uk-button uk-button-small uk-button-danger" href="{{ path('translationsDeletePage', { translationId: t.translation.getId }) }}">
								<i class="uk-icon-rz-trash-o"></i> {% trans %}delete{% endtrans %}
							</a>
						{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</article>
</section>
{% endblock %}
