{% extends '@Rozier/layout.html.twig' %}


{% block content %}
<section class="content-global edit-translation content-nav-and-filters">

    <header class="content-header header-translation header-translation-list">
        <h1 class="content-title translation-add-title">{% trans %}translations{% endtrans %}</h1>
        {% include '@Rozier/widgets/countFiltersBar.html.twig' %}
        <div class="content-header-action-menu">
            <a class="uk-button" href="{{ path('translationsAddPage') }}"><i class="uk-icon-rz-plus"></i> {% trans %}add.a.translation{% endtrans %}</a>
        </div>
    </header>

    {% include '@Rozier/widgets/filtersBar.html.twig' %}

    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="translations content-table uk-table">
                <thead>
                    <tr>
                        <th>{% trans %}name{% endtrans %}
                            {% include 'includes/column_ordering.html.twig' with {
                                'field': 'name',
                                'filters': filters,
                            } only %}
                        </th>
                        <th>{% trans %}translation.locale{% endtrans %}
                            {% include 'includes/column_ordering.html.twig' with {
                                'field': 'locale',
                                'filters': filters,
                            } only %}
                        </th>
                        <th>{% trans %}overrideLocale{% endtrans %}
                            {% include 'includes/column_ordering.html.twig' with {
                                'field': 'overrideLocale',
                                'filters': filters,
                            } only %}
                        </th>
                        <th>{% trans %}status{% endtrans %}</th>
                        <th class="table-actions-row table-actions-row-3">{% trans %}actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in translations %}
                    <tr>
                        <td><a href="{{ path('translationsEditPage', { translationId: t.translation.getId }) }}">{{ t.translation.getName }}</a></td>
                        <td>{{ t.translation.getLocale }}</td>
                        <td>{{ t.translation.getOverrideLocale }}</td>
                        <td>
                        {% if t.translation.isAvailable == false %}<div class="uk-badge uk-badge-warning">{% trans %}not_available{% endtrans %}</div>{% endif %}
                        {% if t.translation.isDefaultTranslation == true %}
                        <div class="uk-badge uk-badge-table uk-badge-notification" title="{% trans %}default.translation{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-star"></i></div>
                        {% endif %}
                        </td>
                        <td class="table-actions-row">
                        {% apply spaceless %}
                            <a class="uk-button uk-button-content uk-button-small" title="{% trans %}edit{% endtrans %}" href="{{ path('translationsEditPage', { translationId: t.translation.getId }) }}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
                            {% if t.translation.isDefaultTranslation == false %}
                                {% form_theme t.defaultForm 'forms.html.twig' %}
                                <form class="uk-form-translation-default" action="#" method="post">
                                    {{ form_widget(t.defaultForm) }}
                                    <button class="uk-button uk-button-content uk-button-small" title="{% trans %}set.default{% endtrans %}" type="submit" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-star"></i></button>
                                </form>
                                <a class="uk-button uk-button-content uk-button-small uk-button-danger uk-button-table-delete" title="{% trans %}delete{% endtrans %}" href="{{ path('translationsDeletePage', { translationId: t.translation.getId }) }}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-o"></i></a>
                            {% endif %}
                        {% endapply %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</section>
{% endblock %}
