{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global content-nav-and-filters">
    <header class="content-header header-item header-item-list">
        <h1 class="content-title item-list-title">{% trans %}attribute_groups{% endtrans %}</h1>
        {% include '@Rozier/widgets/countFiltersBar.html.twig' %}
        <div class="content-header-action-menu">
            <a class="uk-button" href="{{ path('attributeGroupsAddPage') }}">
                <i class="uk-icon-rz-plus"></i> {% trans %}add.a.attribute_group{% endtrans %}
            </a>
        </div>
        <a class="content-header-nav-back uk-navbar-content" href="{{ path('attributesHomePage') }}" title="{% trans %}back_to.attributes{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
    </header>

    {% include '@Rozier/widgets/filtersBar.html.twig' %}

    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="items content-table uk-table">
                <thead>
                    <tr>
                        <th>
                            {% trans %}attribute_groups.name{% endtrans %}
                            {% include 'includes/column_ordering.html.twig' with {
                                'field': 'name',
                                'filters': filters,
                            } only %}
                        </th>
                        <th class="table-actions-row table-actions-row-3">{% trans %}actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>
                            <a href="{{ path('attributeGroupsEditPage', { id: item.id }) }}">
                                {{- item.name -}}
                            </a>
                        </td>
                        <td class="table-actions-row">
                        {% apply spaceless %}
                            <a class="uk-button uk-button-content uk-button-small"
                               href="{{ path('attributeGroupsEditPage', { id: item.id }) }}"
                               title="{% trans %}edit{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
                            {% if is_granted('ROLE_ACCESS_ATTRIBUTES_DELETE') %}
                                <a class="uk-button uk-button-content uk-button-small uk-button-table-delete"
                                   href="{{ path('attributeGroupsDeletePage', { id: item.id }) }}"
                                   title="{% trans %}delete{% endtrans %}"
                                   data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-mini-o"></i></a>
                            {% endif %}
                        {% endapply %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</section>
{% endblock %}
