<article class="col-md-4 basic-block" data-index="{{ loop.index }}">
    <h3 class="block-title">{{ loop.index }}. {{ nodeSource.title }}</h3>
    <div class="block-content">{{ nodeSource.content|markdownExtra }}</div>
    <div class="block-images">
        {% for image in nodeSource.images %}
            {{ image|display({
                'width' : 400,
                'picture' : true,
                'class': 'img-responsive img-fluid'
            }) }}
        {% endfor %}
    </div>
    <ul class="block-attributes">
        {% for attributeValueTranslation in nodeSource|attributes %}
            <li><strong>{{ attributeValueTranslation|label }}</strong> {{ attributeValueTranslation.value }}
            </li>
        {% endfor %}
    </ul>
</article>
