<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{{ head.siteTitle }}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {# <link rel="stylesheet" href="{{ head.resourcesUrl }}css/uikit.min.css" /> #}
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/uikit.gradient.min.css" />
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/addons/uikit.addons.min.css" />
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/style.min.css" />
        <script src="{{ head.resourcesUrl }}js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <div id="main-container">
            <div id="inner-container" class="uk-panel">
                <!-- Add your site or application content here -->
                {% block content %}
                    <h1>{% trans %}Welcome{% endtrans %}</h1>
                {% endblock %}
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/uikit.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ head.resourcesUrl }}js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="{{ head.resourcesUrl }}js/plugins.js"></script>
        <script src="{{ head.resourcesUrl }}js/main.js"></script>
        <script type="text/javascript">
            var temp = {
                'baseUrl':      '{{ head.baseUrl }}',
                'resourcesUrl': '{{ head.resourcesUrl }}'
            };
        </script>

        {% block customScripts %}{% endblock %}
    </body>
</html>
