
{% apply spaceless %}
<li class="uk-sortable-list-item custom-forms-widget-sortable-list-item" data-custom-form-id="{{ customForm.getId }}">

	<div class="uk-sortable-handle"></div>

    <div class="custom-form-border" style="background-color:{{ customForm.color }};"></div>

	<span class="custom-form-name">{{ customForm.name }}</span>
	<input type="hidden" name="{{ full_name }}" value="{{ customForm.getId }}" />

    <div class="custom-form-links">
         <a href="{{ path('customFormsEditPage', { customFormId: customForm.getId}) }}" class="uk-button custom-form-link uk-button-mini">
            <i class="uk-icon-rz-pencil"></i>
            <span class="label">{% trans %}edit.custom_form{% endtrans %}</span>
        </a>
        <a data-custom-form-widget-unlink-custom-form href="#" class="uk-button uk-button-mini custom-form-link uk-button-danger rz-no-ajax-link">
            <i class="uk-icon-rz-trash-o"></i>
            <span class="label">{% trans %}unlink.custom_form{% endtrans %}</span>
        </a>
    </div>

    <a data-custom-form-widget-link-custom-form href="#" class="uk-button uk-button-mini link-button">
        <div class="link-button-inner">
            <i class="uk-icon-rz-plus"></i>
            <span class="label">{% trans %}link.custom-form{% endtrans %}</span>
        </div>
    </a>

</li>
{% endapply %}
