<li class="uk-nestable-item" data-document-id="{{ document.getId }}">
	<div class="uk-nestable-handle"></div>&nbsp;
	{% if document.isImage %}
	<img src="{{ document.getViewer.getDocumentUrlByArray({"width":40, "crop":"1x1", "quality":50}) }}" />
	{% endif %}
	<span class="document-name">{{ document.getFilename }}</span>
	<input type="hidden" name="{{ full_name }}" value="{{ document.getId }}" />
	<a href="{{ path('documentsEditPage', { documentId: document.getId}) }}" class="uk-button uk-button-mini"><i class="uk-icon-pencil"></i> {% trans %}edit.document{% endtrans %}</a>
	<a data-document-widget-unlink-document href="#" class="uk-button uk-button-mini uk-button-danger"><i class="uk-icon-trash-o"></i> {% trans %}unlink.document{% endtrans %}</a>
</li>
