{% set classes = [
    document.getShortType ~'-document',
    'uk-sortable-list-item',
    'documents-widget-sortable-list-item'
] %}
{% if not document.isImage and not document.isSvg %}
{% set classes = classes|merge(['not-image']) %}
{% endif %}

{% set editRouteParams = { documentId: document.getId } %}

{% if nodeSource %}
    {% set refererPath = path('nodesEditSourcePage', {
        'nodeId': nodeSource.node.id,
        'translationId': nodeSource.translation.id
    }) %}

    {% set editRouteParams = editRouteParams|merge({ referer: refererPath }) %}
{% endif %}

{% apply spaceless %}
<li class="{{ classes|join(' ') }}"
    data-document-id="{{ document.getId }}"
    title="{{ document.getFilename }}"
    data-uk-tooltip="{animation:true, pos:'bottom'}">

    <div class="uk-sortable-handle"></div>
    <div class="document-border"></div>

    {% if document.isSvg and not document.private %}
        <object class="document-image" type="image/svg+xml" width="80" height="80" data="{{ document|url }}"></object>
    {% elseif document.isImage and not document.private %}
        {{- document|display({
            "fit":"80x80",
            "quality":50,
            "picture": true,
            "class": "document-image"
        }) -}}
    {% elseif document.private %}
        <div class="document-platform-icon"><i class="uk-icon-lock"></i></div>
    {% else %}
        <div class="document-platform-icon"><i class="uk-icon-file-{{ document.getShortType }}-o"></i></div>
    {% endif %}
    <input type="hidden" name="{{ full_name }}" value="{{ document.getId }}" />
    <div class="document-overflow">
        <div class="document-links">
             <a href="{{ path('documentsEditPage', editRouteParams) }}" class="uk-button document-link uk-button-mini">
                <i class="uk-icon-rz-pencil"></i>
                <span class="label">{% trans %}edit.document{% endtrans %}</span>
            </a>
            <a data-document-widget-unlink-document href="#" class="uk-button uk-button-mini document-link uk-button-danger rz-no-ajax-link">
                <i class="uk-icon-rz-trash-o"></i>
                <span class="label">{% trans %}unlink.document{% endtrans %}</span>
            </a>
        </div>
        {% if document.isEmbed %}
            <div class="document-mime-type">{{ document.getEmbedPlatform }}</div>
            <div class="document-platform-icon"><i class="uk-icon-rz-{{ document.getEmbedPlatform }}"></i></div>
        {% else %}
            <div class="document-mime-type">{{ document.getShortMimeType|u.truncate(13, '…', false) }}</div>
        {% endif %}

        <a data-document-widget-link-document href="#" class="uk-button uk-button-mini link-button">
            <div class="link-button-inner">
                <i class="uk-icon-rz-plus"></i>
                <span class="label">{% trans %}link.document{% endtrans %}</span>
            </div>
        </a>
    </div>
    <div class="document-name">{{ document.getFilename|centralTruncate(12, -4)}}</div>
</li>
{% endapply %}
