<nav class="uk-navbar" id="uk-navbar-filter">
    <div class="uk-navbar-content-cont">

        {% if filters.description %}<a class="uk-navbar-brand">{{ filters.description }}</a>{% endif %}
        {% if not filters.searchDisable %}
        <div class="uk-navbar-content uk-hidden-small" id="uk-navbar-filter-search">
            <form class="uk-form uk-margin-remove uk-display-inline-block" method="get">
                <div class="uk-form-icon">
                    <i class="uk-icon-search"></i>
                    <input id="uk-form-filter-input-search" type="text" name="search" placeholder="{% trans %}search{% endtrans %}" value="{{ filters.search }}">
                </div>
            </form>
        </div>
        {% endif %}
        {% if filters.itemCount and filters.itemPerPage and filters.itemCount > filters.itemPerPage %}
        <div class="uk-navbar-content uk-hidden-small" id="uk-navbar-filter-pagination">
            <form class="uk-form uk-margin-remove uk-display-inline-block" method="get">
                {% if filters.search %}<input type="hidden" name="search" value="{{ filters.search }}" />{% endif %}
                {% if filters.previousPageQuery %}<a class="uk-button uk-button-filter" href="?{{ filters.previousPageQuery }}"><i class="uk-icon-rz-prev-page"></i></a>{% endif %}
                <span class="filter-form-text pageTitle">{% trans %}page{% endtrans %}</span>
                <input class="uk-form-width-mini" id="uk-form-filter-input-page" type="text" name="page"  value="{{ filters.currentPage }}" />
                <span class="filter-form-text pageCount">/ {{ filters.pageCount }}</span>
                {% if filters.nextPageQuery %}<a class="uk-button uk-button-filter" href="?{{ filters.nextPageQuery }}"><i class="uk-icon-rz-next-page"></i></a>{% endif %}

            </form>
        </div>
        {% endif %}

        {% include '@Rozier/widgets/itemPerPage.html.twig' %}
    </div>
</nav>
