{% if filters.itemPerPage and filters.itemCount > 10 %}
{% set enabledCounts = [10,20,50,100,200] %}
{% apply spaceless %}
<form class="uk-form uk-margin-remove uk-display-inline-block" method="get">
    {% if filters.search %}<input type="hidden" name="search" value="{{ filters.search }}" />{% endif %}
    {# Current page should be reset to avoid displaying empty results pages because items per page is higher than items count #}
    <input type="hidden" name="page" value="1" />
    {% block additional_inputs %}{% endblock %}
    <span class="item-per-page-label">{% trans %}item-per-page.display.count{% endtrans %}</span>
    <div class="rz-select">
        <select class="item-per-page" name="item_per_page">
            {% if filters.itemPerPage not in enabledCounts %}
            <option selected value="{{ filters.itemPerPage }}">{{ '%count%.items'|trans({'%count%':filters.itemPerPage})|raw }}</option>
            {% endif %}
            {% for index in enabledCounts %}
            <option {% if filters.itemPerPage == index %}selected{% endif %} value="{{ index }}">{{ '%count%.items'|trans({'%count%':index})|raw }}</option>
            {% endfor %}
        </select>
    </div>
</form>
{% endapply %}
{% endif %}
