{% if not nodeSource %}
{% set nodeSource = node.nodeSources.first %}
{% endif %}

{% set parent = nodeSource|parent %}

{% spaceless %}
<li class="uk-sortable-list-item nodes-widget-sortable-list-item" data-node-id="{{ node.getId }}">
	<div class="uk-sortable-handle"></div>
    <div class="node-border" style="background-color:{{ node.nodeType.color }};"></div>
    {% if parent %}
    <span class="parent-node-name">{% if parent.title %}{{ parent.title|truncate(26, false, '[因') }}{% else %}{{ parent.node.nodeName|truncate(26, false, '[因') }}{% endif %}</span>
    {% endif %}
	<span class="node-name">{% if nodeSource.title %}{{ nodeSource.title|truncate(26, false, '[因') }}{% else %}{{ node.nodeName|truncate(26, false, '[因') }}{% endif %}</span>
	<input type="hidden" name="{{ full_name }}" value="{{ node.getId }}" />

    <div class="node-links">
        <a href="{{ path('nodesEditPage', { nodeId: node.getId}) }}" class="uk-button node-link uk-button-mini">
            <i class="uk-icon-rz-pencil"></i>
            <span class="label">{% trans %}edit.node{% endtrans %}</span>
        </a>
        <a data-node-widget-unlink-node href="#" class="uk-button uk-button-mini node-link uk-button-danger rz-no-ajax-link">
            <i class="uk-icon-rz-minus"></i>
            <span class="label">{% trans %}unlink.node{% endtrans %}</span>
        </a>
    </div>
    <a data-node-widget-link-node href="#" class="uk-button uk-button-mini link-button">
        <div class="link-button-inner">
            <i class="uk-icon-rz-plus"></i>
            <span class="label">{% trans %}link.node{% endtrans %}</span>
        </div>
    </a>
</li>
{% endspaceless %}
