{% if not nodeSource %}
{% set nodeSource = node.nodeSources.first %}
{% endif %}

{% set parent = nodeSource|parent %}
{% if parent %}
{% set subparent = parent|parent %}
{% endif %}

{% apply spaceless %}
<li class="uk-sortable-list-item nodes-widget-sortable-list-item{% if not node.isPublished %} not-published{% endif %}" data-node-id="{{ node.getId }}">
	<div class="uk-sortable-handle"></div>
    <div class="node-border" style="background-color:{{ node.nodeType.color }};"></div>
    {% if parent %}
    <p class="parent-node-name">
        {% if subparent %}
        <span class="sub">{{ subparent.title|default(subparent.node.nodeName) }}</span>
        {% endif %}
        <span class="direct">{{ parent.title|default(parent.node.nodeName) }}</span>
    </p>
    {% endif %}
	<span class="node-name">{{ nodeSource.title|default(node.nodeName) }}</span>
	<input type="hidden" name="{{ full_name }}" value="{{ node.getId }}" />

    <div class="node-links">
        <a href="{{ path('nodesEditSourcePage', {
            nodeId: node.getId,
            translationId: node.nodeSources.first.translation.id
        }) }}" class="uk-button node-link uk-button-mini">
            <i class="uk-icon-rz-pencil"></i>
            <span class="label">{% trans %}edit.node{% endtrans %}</span>
        </a>
        <a data-node-widget-unlink-node href="#" class="uk-button uk-button-mini node-link uk-button-danger rz-no-ajax-link">
            <i class="uk-icon-rz-trash-o"></i>
            <span class="label">{% trans %}unlink.node{% endtrans %}</span>
        </a>
    </div>
    <a data-node-widget-link-node href="#" class="uk-button uk-button-mini link-button">
        <div class="link-button-inner">
            <i class="uk-icon-rz-plus"></i>
            <span class="label">{% trans %}link.node{% endtrans %}</span>
        </div>
    </a>
</li>
{% endapply %}
