{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-node-type-fields">
	<h1 id="title">{% trans %}Fields: {% endtrans %}{{ node_type.getDisplayName }}</h1>
	<a class="uk-button" href="{{ path('nodeTypesHomePage') }}"><span class="uk-icon-chevron-left"></span>{% trans %}Back to node-types{% endtrans %}</a>
	<a class="uk-button" href="{{ path('nodeTypeFieldsAddPage', { node_type_id: node_type.getId }) }}"><span class="uk-icon-plus"></span>{% trans %}Add a field{% endtrans %}</a>
	<table class="node-type-fields uk-table">
		<thead>
	        <tr>
	            <th>{% trans %}Name{% endtrans %}</th>
	            <th>{% trans %}Label{% endtrans %}</th>
	            <th>{% trans %}Type{% endtrans %}</th>
	            <th>{% trans %}Actions{% endtrans %}</th>
	        </tr>
	    </thead>
		<tbody>
			{% for field in fields %}
			<tr>
				<td><a href="{{ path('nodeTypeFieldsEditPage', { node_type_field_id: field.getId }) }}">{{ field.getName }}</a></td>
				<td>{{ field.getLabel }}</td>
				<td>{{ field.getTypeName }}</td>
				<td>
					<a class="uk-button uk-button-small uk-button-danger" href="{{ path('nodeTypeFieldsDeletePage', { node_type_field_id: field.getId }) }}">{% trans %}Delete{% endtrans %}</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}