<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{{ head.siteTitle }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="apple-touch-icon" sizes="57x57" href="{{ head.resourcesUrl }}img/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ head.resourcesUrl }}img/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ head.resourcesUrl }}img/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ head.resourcesUrl }}img/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="{{ head.resourcesUrl }}img/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="{{ head.resourcesUrl }}img/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="{{ head.resourcesUrl }}img/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{ head.resourcesUrl }}img/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ head.resourcesUrl }}img/apple-touch-icon-180x180.png" />
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicon-192x192.png" sizes="192x192" />
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicon-160x160.png" sizes="160x160" />
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicon-32x32.png" sizes="32x32" />
        <meta name="msapplication-TileImage" content="{{ head.resourcesUrl }}img/mstile-144x144.png" />

        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/vendor/uikit/uikit.gradient.min.css" />
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/vendor/uikit/addons/uikit.addons.min.css" />
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/vendor/bootstrap3/bootstrap-switch.css" />
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/vendor/jquery.minicolors.css" />
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/vendor/codemirror.css" />

        {% for cssMin in themeServices.grunt.staticAssets.global.css %}
        <link rel="stylesheet" href="{{ head.resourcesUrl }}public{{ cssMin }}" />
        {% endfor %}
        <link rel="stylesheet" href="{{ path('cssMainColor') }}" />
        {% block customStyles %}{% endblock %}
        <script src="{{ head.resourcesUrl }}js/vendor/modernizr.custom.50380.js"></script>
    </head>
    <body>
        <div id="main-container" >
            <div id="main-container-inner">
                <section class="main-container-section" id="user-panel">
                    {% include 'panels/user_panel.html.twig' with {
                        'session' : session,
                        'securityContext' : securityContext,
                        'head' : head,
                        'themeServices':themeServices
                    } only %}
                </section>
                <section class="main-container-section" id="admin-menu">
                    {% include 'panels/admin_menu.html.twig' with {
                        'themeServices' : themeServices,
                        'securityContext' : securityContext,
                        'backofficeEntries':backofficeEntries
                    } only %}
                </section>
                {% if (securityContext.isGranted('ROLE_ACCESS_NODES') or securityContext.isGranted('ROLE_ACCESS_DOCUMENTS') or securityContext.isGranted('ROLE_ACCESS_TAGS')) %}
                <section id="main-trees" class="main-container-section">
                    <div id="main-trees-overlay"></div>
                    <div id="main-trees-container">
                        {% include 'panels/tree_panel.html.twig' with {
                            'securityContext': securityContext,
                            'themeServices': themeServices
                        } only %}
                    </div>
                </section>
                {% endif %}
                <!-- Add your site or application content here -->
                <section id="main-content" class="main-container-section" data-uk-observe>
                    <div id="main-content-overlay"></div>
                    <div id="main-content-scrollable">
                        {% block content %}
                            <h1>{% trans %}Welcome{% endtrans %}</h1>
                        {% endblock %}
                        <div id="canvasloader-container"></div>
                        <div id="back-top-button" title="{% trans %}back_to.top{% endtrans %}" data-uk-tooltip="{animation:true,pos:'top'}"><i class="uk-icon-rz-backtop"></i></div>
                    </div>
                </section>
                {# This is a debug panel placeholder… do not remove it. #}
                <!-- ##debug_panel## -->
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ head.resourcesUrl }}js/vendor/jquery-2.1.3.min.js"><\/script>')</script>

        {% if head.devMode %}
        <script src="{{ head.resourcesUrl }}js/vendor/uikit.js"></script>

        <script src="{{ head.resourcesUrl }}js/vendor/addons/sortable.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/addons/nestable.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/addons/pagination.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/addons/notify.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/addons/htmleditor.js"></script>

        <script src="{{ head.resourcesUrl }}js/vendor/jquery-ui.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/TweenMax.min.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/ScrollToPlugin.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/bootstrap-switch.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/mousetrap.min.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/jquery.minicolors.min.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/codemirror.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/mode/markdown/markdown.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/mode/overlay.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/mode/xml/xml.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/mode/gfm/gfm.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/marked.min.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/dropzone.js"></script>

        <script src="{{ head.resourcesUrl }}js/bulk-edits/documentsBulk.js"></script>
        <script src="{{ head.resourcesUrl }}js/bulk-edits/nodesBulk.js"></script>

        <script src="{{ head.resourcesUrl }}js/widgets/documentsList.js"></script>
        <script src="{{ head.resourcesUrl }}js/widgets/documentWidget.js"></script>
        <script src="{{ head.resourcesUrl }}js/widgets/nodeWidget.js"></script>
        <script src="{{ head.resourcesUrl }}js/widgets/customFormWidget.js"></script>
        <script src="{{ head.resourcesUrl }}js/widgets/documentUploader.js"></script>
        <script src="{{ head.resourcesUrl }}js/widgets/saveButtons.js"></script>
        <script src="{{ head.resourcesUrl }}js/widgets/settingsSaveButtons.js"></script>
        <script src="{{ head.resourcesUrl }}js/widgets/nodeEditSource.js"></script>
        <script src="{{ head.resourcesUrl }}js/widgets/nodeTree.js"></script>
        <script src="{{ head.resourcesUrl }}js/widgets/nodeStatuses.js"></script>
        <script src="{{ head.resourcesUrl }}js/widgets/childrenNodesField.js"></script>
        <script src="{{ head.resourcesUrl }}js/widgets/geotagField.js"></script>
        <script src="{{ head.resourcesUrl }}js/widgets/markdownEditor.js"></script>
        <script src="{{ head.resourcesUrl }}js/widgets/tagAutocomplete.js"></script>
        <script src="{{ head.resourcesUrl }}js/widgets/folderAutocomplete.js"></script>
        <script src="{{ head.resourcesUrl }}js/widgets/stackNodeTree.js"></script>
        <script src="{{ head.resourcesUrl }}js/node-type-fields/nodeTypeFieldEdit.js"></script>
        <script src="{{ head.resourcesUrl }}js/node-type-fields/nodeTypeFieldsPosition.js"></script>
        <script src="{{ head.resourcesUrl }}js/custom-form-fields/customFormFieldsPosition.js"></script>
        <script src="{{ head.resourcesUrl }}js/custom-form-fields/customFormFieldEdit.js"></script>
        <script src="{{ head.resourcesUrl }}js/panels/entriesPanel.js"></script>
        <script src="{{ head.resourcesUrl }}js/rozierMobile.js"></script>
        <script src="{{ head.resourcesUrl }}js/lazyload.js"></script>
        <script src="{{ head.resourcesUrl }}js/plugins.js"></script>
        <script src="{{ head.resourcesUrl }}js/main.js"></script>
        {% else %}
        {% for jsMin in themeServices.grunt.staticAssets.global.js %}
        <script src="{{ head.resourcesUrl }}public{{ jsMin }}"></script>
        {% endfor %}
        {% endif %}

        <script type="text/javascript">
            var temp = {
                'baseUrl':        '{{ head.baseUrl }}',
                'resourcesUrl':   '{{ head.resourcesUrl }}',
                'ajaxToken':      '{{ head.ajaxToken }}',
                'mainColor':      '{{ head.mainColor }}',
                'mapsStyle':      {% if head.mapsStyle %}{{ head.mapsStyle|raw }}{% else %}[]{% endif %},
                'googleClientId': '{{ head.googleClientId }}',
                'messages': {
                    'forbiddenPage':     '{{ 'forbidden.page'|trans() }}',
                    'see_all':           '{{ 'see_all'|trans() }}',
                    'searchDocuments':   '{{ 'search.documents'|trans() }}',
                    'searchNodes':       '{{ 'search.nodes'|trans() }}',
                    'searchCustomForms': '{{ 'search.custom_forms'|trans() }}',
                    'moreDocuments':     '{{ 'more.documents'|trans() }}',
                    'moreNodes':         '{{ 'more.nodes'|trans() }}',
                    'moreCustomForms':   '{{ 'more.custom_forms'|trans() }}',
                    'dropzone' : {
                        'maxFilesize' :                 {{ themeServices.maxFilesize }},
                        'dictDefaultMessage':           "{{ 'drop.files.here.to.upload.or.click.to.open.your.explorer'|trans() }}",
                        'dictFallbackMessage':          "{{ 'your.browser.does.not.support.dragndrop.file.uploads'|trans() }}",
                        'dictFallbackText':             "{{ 'please.use.the.fallback.form.below.to.upload.your.files.like.in.the.olden.days'|trans() }}",
                        'dictFileTooBig':               "{{ 'file.is.too.big.({{filesize}}mib).max.filesize.{{maxFilesize}}.mib'|trans() }}",
                        'dictInvalidFileType':          "{{ 'you.cant.upload.files.of.this.type'|trans() }}",
                        'dictResponseError':            "{{ 'server.responded.with.{{statuscode}}.code'|trans() }}",
                        'dictCancelUpload':             "{{ 'cancel.upload'|trans() }}",
                        'dictCancelUploadConfirmation': "{{ 'are.you.sure.you.want.to.cancel.this.upload'|trans() }}",
                        'dictRemoveFile':               "{{ 'remove.file'|trans() }}",
                        'dictRemoveFileConfirmation':   null,
                        'dictMaxFilesExceeded':         "{{ 'you.can.not.upload.any.more.files'|trans() }}"
                    },
                    'htmleditor': {
                        'h2':          '{{'headline.2'|trans() }}',
                        'h3':          '{{'headline.3'|trans() }}',
                        'h4':          '{{'headline.4'|trans() }}',
                        'h5':          '{{'headline.5'|trans() }}',
                        'h6':          '{{'headline.6'|trans() }}',
                        'fullscreen':  '{{'fullscreen'|trans() }}',
                        'bold' :       '{{'bold'|trans() }}',
                        'italic' :     '{{'italic'|trans() }}',
                        'strike' :     '{{'strikethrough'|trans() }}',
                        'blockquote' : '{{'blockquote'|trans() }}',
                        'link' :       '{{'link'|trans() }}',
                        'image' :      '{{'image'|trans() }}',
                        'listUl' :     '{{'unordered.list'|trans() }}',
                        'listOl' :     '{{'ordered.list'|trans() }}',
                        'back' :       '{{'back'|trans() }}',
                        'hr' :         '{{'separator'|trans() }}',
                        'nbsp' :       '{{'non_breaking.space'|trans() }}'
                    },
                    'geotag': {
                        'resetMarker':   '{{'reset.marker'|trans() }}',
                        'typeAnAddress': '{{'geotag.type_an_address.then_type_enter'|trans() }}'
                    }
                },
                'routes': {
                    'nodeAjaxEdit' :              '{{ head.baseUrl }}/rz-admin/ajax/node/edit/%nodeId%',
                    'tagAjaxEdit' :               '{{ head.baseUrl }}/rz-admin/ajax/tag/edit/%tagId%',
                    'folderAjaxEdit' :            '{{ head.baseUrl }}/rz-admin/ajax/folder/edit/%folderId%',
                    'nodeTypesFieldAjaxEdit':     '{{ head.baseUrl }}/rz-admin/ajax/node-types/fields/edit/%nodeTypeFieldId%',
                    'customFormsFieldAjaxEdit':   '{{ head.baseUrl }}/rz-admin/ajax/custom-forms/fields/edit/%customFormFieldId%',
                    'documentsBulkDeletePage' :   '{{ path('documentsBulkDeletePage') }}',
                    'documentsBulkDownloadPage' : '{{ path('documentsBulkDownloadPage') }}',
                    'documentsAjaxExplorer' :     '{{ path('documentsAjaxExplorerPage') }}',
                    'nodesAjaxExplorer' :         '{{ path('nodesAjaxExplorerPage') }}',
                    'customFormsAjaxExplorer' :   '{{ path('customFormsAjaxExplorerPage') }}',
                    'documentsUploadPage' :       '{{ path('documentsUploadPage') }}',
                    'searchNodesSourcesAjax':     '{{ path('searchNodesSourcesAjax') }}',
                    'nodesStatusesAjax' :         '{{ path('nodesStatusesAjax') }}',
                    'nodesTreeAjax' :             '{{ path('nodesTreeAjax') }}',
                    'nodesQuickAddAjax' :         '{{ path('nodesQuickAddAjax')}}',
                    'tagAjaxSearch':              '{{ path('tagAjaxSearch') }}',
                    'foldersAjaxSearch':          '{{ path('foldersAjaxSearch') }}',
                    'ajaxSessionMessages':        '{{ path('ajaxSessionMessages') }}'
                }
            };
        </script>

        {% block customScripts %}{% endblock %}
    </body>
</html>
