<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{{ head.siteTitle }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content="Roadiz {{ head.cmsVersion }} {{ head.cmsVersionNumber }} - {{ head.themeName }}" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ head.resourcesUrl }}img/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ head.resourcesUrl }}img/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ head.resourcesUrl }}img/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ head.resourcesUrl }}img/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="{{ head.resourcesUrl }}img/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="{{ head.resourcesUrl }}img/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="{{ head.resourcesUrl }}img/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{ head.resourcesUrl }}img/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ head.resourcesUrl }}img/apple-touch-icon-180x180.png" />
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicon-192x192.png" sizes="192x192" />
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicon-160x160.png" sizes="160x160" />
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}img/favicon-32x32.png" sizes="32x32" />
        <meta name="msapplication-TileImage" content="{{ head.resourcesUrl }}img/mstile-144x144.png" />

        {% for cssMin in themeServices.grunt.staticAssets.global.css %}
        <link rel="stylesheet" href="{{ head.resourcesUrl }}public{{ cssMin }}" />
        {% endfor %}
        <link rel="stylesheet" href="{{ path('cssMainColor') }}" />
        {% block customStyles %}{% endblock %}
        <script src="{{ head.resourcesUrl }}js/vendor/modernizr.custom.50380.js"></script>
    </head>
    <body>
        <div id="main-container" >
            <div id="main-container-inner">
                <section class="main-container-section" id="user-panel">
                    {% include '@Rozier/panels/user_panel.html.twig' with {
                        'session' : session,
                        'head' : head,
                        'authorizationChecker' : authorizationChecker,
                        'tokenStorage': tokenStorage,
                        'themeServices':themeServices,
                        'request':request
                    } only %}
                </section>
                <section class="main-container-section" id="admin-menu">
                    {% include '@Rozier/panels/admin_menu.html.twig' with {
                        'themeServices' : themeServices,
                        'authorizationChecker' : authorizationChecker,
                        'tokenStorage': tokenStorage,
                        'backofficeEntries':backofficeEntries,
                        'request':request
                    } only %}
                </section>
                {% if (is_granted('ROLE_ACCESS_NODES') or
                       is_granted('ROLE_ACCESS_DOCUMENTS') or
                       is_granted('ROLE_ACCESS_TAGS')) %}
                <section id="main-trees" class="main-container-section">
                    <div id="main-trees-overlay"></div>
                    <div id="main-trees-container">
                        {% include '@Rozier/panels/tree_panel.html.twig' with {
                            'authorizationChecker': authorizationChecker,
                            'tokenStorage': tokenStorage,
                            'themeServices': themeServices,
                            "nodeStatuses":nodeStatuses,
                            "request":request,
                        } only %}
                    </div>
                </section>
                {% endif %}
                <!-- Add your site or application content here -->
                <section id="main-content" class="main-container-section" data-uk-observe>
                    <div id="main-content-overlay"></div>
                    <div id="main-content-scrollable">
                        {% block permanentComponents %}
                            <overlay data-vuejs></overlay>
                        {% endblock %}
                        {% block content %}
                            <h1>{% trans %}Welcome{% endtrans %}</h1>
                        {% endblock %}
                        <div id="canvasloader-container"></div>
                        <div id="back-top-button" title="{% trans %}back_to.top{% endtrans %}" data-uk-tooltip="{animation:true,pos:'top'}"><i class="uk-icon-rz-backtop"></i></div>
                        {# This is a debug panel placeholder… do not remove it. #}
                    </div>
                </section>
            </div>
        </div>

        <div id="vue-containers">
            <folder-explorer-container></folder-explorer-container>
            <document-explorer-container></document-explorer-container>
        </div>

        <!-- ##debug_panel## -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/vuex"></script>
        <script>window.jQuery || document.write('<script src="{{ head.resourcesUrl }}js/vendor/jquery-2.2.4.min.js"><\/script>')</script>
        <script src="{{ head.resourcesUrl }}js/vendor/jquery-ui.custom.js"></script>

        {% for jsMin in themeServices.grunt.staticAssets.global.js %}
        <script src="{{ head.resourcesUrl }}public{{ jsMin }}"></script>
        {% endfor %}

        <script type="text/javascript">
            var temp = {
                'baseUrl':        '{{ head.baseUrl }}',
                'resourcesUrl':   '{{ head.resourcesUrl }}',
                'ajaxToken':      '{{ head.ajaxToken }}',
                'mainColor':      '{{ head.mainColor }}',
                'mapsStyle':      {% if head.mapsStyle %}{{ head.mapsStyle|raw }}{% else %}[]{% endif %},
                'googleClientId': '{{ head.googleClientId }}',
                'defaultMapLocation': {{ head.mapsLocation|default('null')|raw }},
                'messages': {
                    'forbiddenPage':     '{{ 'forbidden.page'|trans() }}',
                    'see_all':           '{{ 'see_all'|trans() }}',
                    'searchDocuments':   '{{ 'search.documents'|trans() }}',
                    'searchNodes':       '{{ 'search.nodes'|trans() }}',
                    'searchCustomForms': '{{ 'search.custom_forms'|trans() }}',
                    'moreDocuments':     '{{ 'more.documents'|trans() }}',
                    'moreNodes':         '{{ 'more.nodes'|trans() }}',
                    'moreCustomForms':   '{{ 'more.custom_forms'|trans() }}',
                    'dropzone' : {
                        'maxFilesize':                 {{ themeServices.maxFilesize }},
                        'dictDefaultMessage':           "{{ 'drop.files.here.to.upload.or.click.to.open.your.explorer'|trans() }}",
                        'dictFallbackMessage':          "{{ 'your.browser.does.not.support.dragndrop.file.uploads'|trans() }}",
                        'dictFallbackText':             "{{ 'please.use.the.fallback.form.below.to.upload.your.files.like.in.the.olden.days'|trans() }}",
                        'dictFileTooBig':               "{{ 'file.is.too.big.({{filesize}}mib).max.filesize.{{maxFilesize}}.mib'|trans() }}",
                        'dictInvalidFileType':          "{{ 'you.cant.upload.files.of.this.type'|trans() }}",
                        'dictResponseError':            "{{ 'server.responded.with.{{statusCode}}.code'|trans() }}",
                        'dictCancelUpload':             "{{ 'cancel.upload'|trans() }}",
                        'dictCancelUploadConfirmation': "{{ 'are.you.sure.you.want.to.cancel.this.upload'|trans() }}",
                        'dictRemoveFile':               "{{ 'remove.file'|trans() }}",
                        'dictRemoveFileConfirmation':   null,
                        'dictMaxFilesExceeded':         "{{ 'you.can.not.upload.any.more.files'|trans() }}"
                    },
                    'htmleditor': {
                        'h2':          '{{'headline.2'|trans() }}',
                        'h3':          '{{'headline.3'|trans() }}',
                        'h4':          '{{'headline.4'|trans() }}',
                        'h5':          '{{'headline.5'|trans() }}',
                        'h6':          '{{'headline.6'|trans() }}',
                        'fullscreen':  '{{'fullscreen'|trans() }}',
                        'bold' :       '{{'bold'|trans() }}',
                        'italic' :     '{{'italic'|trans() }}',
                        'strike' :     '{{'strikethrough'|trans() }}',
                        'blockquote' : '{{'blockquote'|trans() }}',
                        'link' :       '{{'link'|trans() }}',
                        'image' :      '{{'image'|trans() }}',
                        'listUl' :     '{{'unordered.list'|trans() }}',
                        'listOl' :     '{{'ordered.list'|trans() }}',
                        'back' :       '{{'back'|trans() }}',
                        'hr' :         '{{'separator'|trans() }}',
                        'nbsp' :       '{{'non_breaking.space'|trans() }}'
                    },
                    'geotag': {
                        'resetMarker':   '{{'reset.marker'|trans() }}',
                        'typeAnAddress': '{{'geotag.type_an_address.then_type_enter'|trans() }}'
                    }
                },
                'routes': {
                    'nodeAjaxEdit' :              '{{ head.baseUrl }}/rz-admin/ajax/node/edit/%nodeId%',
                    'tagAjaxEdit' :               '{{ head.baseUrl }}/rz-admin/ajax/tag/edit/%tagId%',
                    'folderAjaxEdit' :            '{{ head.baseUrl }}/rz-admin/ajax/folder/edit/%folderId%',
                    'nodeTypesFieldAjaxEdit':     '{{ head.baseUrl }}/rz-admin/ajax/node-types/fields/edit/%nodeTypeFieldId%',
                    'nodeTypesFieldAjaxList':     '{{ head.baseUrl }}/rz-admin/ajax/node-types/fields/list',
                    'customFormsFieldAjaxEdit':   '{{ head.baseUrl }}/rz-admin/ajax/custom-forms/fields/edit/%customFormFieldId%',
                    'documentsUploadPage' :       '{{ path('documentsUploadPage', {_format: 'json'}) }}',
                    'documentsBulkDeletePage' :   '{{ path('documentsBulkDeletePage') }}',
                    'documentsBulkDownloadPage' : '{{ path('documentsBulkDownloadPage') }}',
                    'documentsAjaxExplorer' :     '{{ path('documentsAjaxExplorerPage') }}',
                    'documentsAjaxByArray' :      '{{ path('documentsAjaxByArray') }}',
                    'foldersAjaxExplorer' :       '{{ path('foldersAjaxExplorerPage') }}',
                    'nodesAjaxExplorer' :         '{{ path('nodesAjaxExplorerPage') }}',
                    'customFormsAjaxExplorer' :   '{{ path('customFormsAjaxExplorerPage') }}',
                    'searchNodesSourcesAjax':     '{{ path('searchNodesSourcesAjax') }}',
                    'nodesStatusesAjax' :         '{{ path('nodesStatusesAjax') }}',
                    'nodesTreeAjax' :             '{{ path('nodesTreeAjax') }}',
                    'nodesQuickAddAjax' :         '{{ path('nodesQuickAddAjax')}}',
                    'tagAjaxSearch':              '{{ path('tagAjaxSearch') }}',
                    'foldersAjaxSearch':          '{{ path('foldersAjaxSearch') }}',
                    'ajaxSessionMessages':        '{{ path('ajaxSessionMessages') }}'
                }
            };

            var RozierRoot = temp
        </script>
        <script src="{{ head.resourcesUrl }}dist/vue-bundle.js"></script>

        {% block customScripts %}{% endblock %}
    </body>
</html>
