<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{{ head.siteTitle }}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        {# <link rel="stylesheet" href="{{ head.resourcesUrl }}css/uikit.min.css" /> #}
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/vendor/uikit/uikit.gradient.min.css" />
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/vendor/uikit/addons/uikit.addons.min.css" />
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/vendor/bootstrap3/bootstrap-switch.css" />
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/vendor/codemirror.css" />
        <link rel="stylesheet" href="{{ head.resourcesUrl }}css/style.min.css" />
        <script src="{{ head.resourcesUrl }}js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        {% include 'includes/messages.html.twig' %}
        <div id="main-container" >
            <div id="main-container-inner">
                <section class="main-container-section minified" id="user-panel">
                    {% include 'panels/user_panel.html.twig' %}
                </section>
                <section class="main-container-section" id="admin-menu">
                    {% include 'panels/admin_menu.html.twig' %}
                </section>
                {% if (securityContext.isGranted('ROLE_ACCESS_NODES') or securityContext.isGranted('ROLE_SUPERADMIN')) %}
                <section id="main-trees" class="main-container-section">
                    {% include 'panels/tree_panel.html.twig' %}
                </section>
                {% endif %}
                <!-- Add your site or application content here -->
                <section id="main-content" class="main-container-section">
                    <div>
                    {% block content %}
                        <h1>{% trans %}Welcome{% endtrans %}</h1>
                    {% endblock %}
                    </div>
                </section>
                {# This is a debug panel placeholder… do not remove it. #}
                <!-- ##debug_panel## -->
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ head.resourcesUrl }}js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        {% if head.devMode %}
        <script src="{{ head.resourcesUrl }}js/vendor/bootstrap-switch.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/uikit.min.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/mousetrap.min.js"></script>
        <script src="{{ head.resourcesUrl }}js/addons/sortable.min.js"></script>
        <script src="{{ head.resourcesUrl }}js/addons/nestable.min.js"></script>
        <script src="{{ head.resourcesUrl }}js/addons/pagination.min.js"></script>
        <script src="{{ head.resourcesUrl }}js/addons/notify.min.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/codemirror.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/mode/markdown/markdown.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/mode/overlay.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/mode/xml/xml.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/mode/gfm/gfm.js"></script>
        <script src="{{ head.resourcesUrl }}js/vendor/marked.min.js"></script>
        <script src="{{ head.resourcesUrl }}js/addons/htmleditor.min.js"></script>

        <script src="{{ head.resourcesUrl }}js/vendor/dropzone.min.js"></script>
        <script src="{{ head.resourcesUrl }}js/widgets/documentWidget.js"></script>
        <script src="{{ head.resourcesUrl }}js/widgets/saveButtons.js"></script>
        <script src="{{ head.resourcesUrl }}js/widgets/nodeStatuses.js"></script>
        <script src="{{ head.resourcesUrl }}js/plugins.js"></script>
        <script src="{{ head.resourcesUrl }}js/main.js"></script>
        {% else %}
        <script src="{{ head.resourcesUrl }}dist/rozier-backend-theme.min.js"></script>
        {% endif %}

        <script type="text/javascript">
            var temp = {
                'baseUrl':      '{{ head.baseUrl }}',
                'resourcesUrl': '{{ head.resourcesUrl }}',
                'ajaxToken':    '{{ head.ajaxToken }}',
                'routes': {
                    'nodeAjaxEdit' :          '{{ head.baseUrl }}/rz-admin/ajax/node/edit/%nodeId%',
                    'tagAjaxEdit' :           '{{ head.baseUrl }}/rz-admin/ajax/tag/edit/%tagId%',
                    'documentsAjaxExplorer' : '{{ path('documentsAjaxExplorerPage') }}',
                    'searchNodesSourcesAjax' : '{{ path('searchNodesSourcesAjax') }}',
                    'nodesStatusesAjax' : '{{ path('nodesStatusesAjax') }}',
                    'nodesTreeAjax' : '{{ path('nodesTreeAjax') }}'
                }
            };
        </script>

        {% block customScripts %}{% endblock %}
    </body>
</html>
