{#
 #
 # This file extends default symfony2 fields types
 # It adds Roadiz CMS special types templates such as
 # Markdown, document and childrenNodeTree fields
 #
 #}
{% extends "form_div_layout.html.twig" %}

{%- block date_widget -%}
     {%- if widget == 'single_text' -%}
         {%- set type = type|default('text') -%}
         <input data-uk-datepicker="{format:'YYYY-MM-DD'}" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
     {%- else -%}
         <div {{ block('widget_container_attributes') }}>
             {{- date_pattern|replace({
                 '{{ year }}':  form_widget(form.year),
                 '{{ month }}': form_widget(form.month),
                 '{{ day }}':   form_widget(form.day),
             })|raw -}}
         </div>
     {%- endif -%}
{%- endblock date_widget -%}

{% block markdown_widget %}
    {% apply spaceless %}
        <div class="markdown-editor-wrapper">
            {# just let the textarea widget render the select tag #}
            <textarea {{ block('widget_attributes') }} data-rz-markdowneditor>{{- value -}}</textarea>
            <nav class="markdown-editor-navbar">
                <ul class="markdown-editor-navbar-nav">
                    {% if attr.allow_h2 %}
                        <li class="markdown-editor-button-cont-h2">
                            <a class="markdown-editor-button-h2"
                               data-markdowneditor-button="h2"
                               title="{% trans %}headline.2{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-h2"></i></a>
                        </li>
                    {% endif %}
                    {% if attr.allow_h3 %}
                        <li class="markdown-editor-button-cont-h3">
                            <a class="markdown-editor-button-h3"
                               data-markdowneditor-button="h3"
                               title="{% trans %}headline.3{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-h3"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% if attr.allow_h4 %}
                        <li class="markdown-editor-button-cont-h4">
                            <a class="markdown-editor-button-h4"
                               data-markdowneditor-button="h4"
                               title="{% trans %}headline.4{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-h4"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% if attr.allow_h5 %}
                        <li class="markdown-editor-button-cont-h5">
                            <a class="markdown-editor-button-h5"
                               data-markdowneditor-button="h5"
                               title="{% trans %}headline.5{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-h5"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% if attr.allow_h6 %}
                        <li class="markdown-editor-button-cont-h6">
                            <a class="markdown-editor-button-h6"
                               data-markdowneditor-button="h6"
                               title="{% trans %}headline.6{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-h6"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% if attr.allow_bold %}
                        <li class="markdown-editor-button-cont-bold">
                            <a class="markdown-editor-button-bold"
                               data-markdowneditor-button="bold"
                               title="{% trans %}bold{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-bold"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% if attr.allow_italic %}
                        <li class="markdown-editor-button-cont-italic">
                            <a class="markdown-editor-button-italic"
                               data-markdowneditor-button="italic"
                               title="{% trans %}italic{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-italic"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% if attr.allow_blockquote %}
                        <li class="markdown-editor-button-cont-blockquote">
                            <a class="markdown-editor-button-blockquote"
                               data-markdowneditor-button="blockquote"
                               title="{% trans %}blockquote{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-quote"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% if attr.allow_link %}
                        <li class="markdown-editor-button-cont-link">
                            <a class="markdown-editor-button-link"
                               data-markdowneditor-button="link"
                               title="{% trans %}link{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-link"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% if attr.allow_image %}
                        <li class="markdown-editor-button-cont-image">
                            <a class="markdown-editor-button-image"
                               data-markdowneditor-button="image"
                               title="{% trans %}image{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-image"></i></a>
                        </li>
                    {% endif %}
                    {% if attr.allow_list %}
                        <li class="markdown-editor-button-cont-listUl">
                            <a class="markdown-editor-button-listUl"
                               data-markdowneditor-button="listUl"
                               title="{% trans %}unordered.list{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-unordered-list"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% if attr.allow_return %}
                        <li class="markdown-editor-button-cont-back">
                            <a class="markdown-editor-button-back"
                               data-markdowneditor-button="back"
                               title="{% trans %}back{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back"></i></a>
                        </li>
                    {% endif %}
                    {% if attr.allow_hr %}
                        <li class="markdown-editor-button-cont-hr">
                            <a class="markdown-editor-button-hr"
                               data-markdowneditor-button="hr"
                               title="{% trans %}separator{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-hr"></i></a>
                        </li>
                    {% endif %}
                    {% if attr.allow_nbsp %}
                        <li class="markdown-editor-button-cont-nbsp">
                            <a class="markdown-editor-button-nbsp"
                               data-markdowneditor-button="nbsp"
                               title="{% trans %}non_breaking.space{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-space-forced"></i></a>
                        </li>
                    {% endif %}
                    {% if attr.allow_nb_hyphen %}
                        <li class="markdown-editor-button-cont-nb-hyphen">
                            <a class="markdown-editor-button-nb-hyphen"
                               data-markdowneditor-button="nb-hyphen"
                               title="{% trans %}non_breaking.hyphen{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-minus"></i></a>
                        </li>
                    {% endif %}
                    {% if attr.allow_preview %}
                        <li class="markdown-editor-button-cont-preview">
                            <a class="markdown-editor-button-preview"
                               data-markdowneditor-button="preview"
                               title="{% trans %}markdown.preview{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-visibility"></i></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <div class="markdown-editor-count"><span class="count-current"></span>/<span class="count-limit"></span></div>
        </div>
    {% endapply %}
{% endblock markdown_widget %}


{% block json_widget %}
    {% apply spaceless %}
        {# just let the textarea widget render the select tag #}
        <textarea {{ block('widget_attributes') }} data-rz-jsoneditor>{{ value }}</textarea>
    {% endapply %}
{% endblock json_widget %}


{% block css_widget %}
    {% apply spaceless %}
        {# just let the textarea widget render the select tag #}
        <textarea {{ block('widget_attributes') }} data-rz-csseditor>{{ value }}</textarea>
    {% endapply %}
{% endblock css_widget %}


{% block yaml_widget %}
    {% apply spaceless %}
        {# just let the textarea widget render the select tag #}
        <textarea {{ block('widget_attributes') }} data-rz-yamleditor>{{ value }}</textarea>
    {% endapply %}
{% endblock yaml_widget %}

{% block dynamic_widget %}
    {% apply spaceless %}
        {# just let the textarea widget render the select tag #}
        <component
            :is="currentView"
            :entity="entity"
            :mode="mode"
            {{ block('widget_attributes') }}
            initial-value="{{ value }}">
        </component>
    {% endapply %}
{% endblock dynamic_widget %}

{%- block collection_widget -%}
    {% apply spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype)}) %}
            {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
        {% endif %}
        {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
        {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
        {% set attr = attr|merge({'data-name-prefix': full_name}) %}
        {{ block('form_widget') }}
    {% endapply %}
{%- endblock collection_widget -%}

{% block tags_widget %}
    {% include '@Rozier/widgets/drawer.html.twig' with {
        widget_attributes: block('widget_attributes'),
        enableDropzone: false,
        entity: 'tag',
        isSortable: 'false',
        icon: 'uk-icon-tags'
    } %}
{% endblock tags_widget %}

{% block documents_widget %}
    {% include '@Rozier/widgets/drawer.html.twig' with {
        widget_attributes: block('widget_attributes'),
        enableDropzone: true,
        entity: 'document',
        icon: 'uk-icon-rz-documents'
    } %}
{% endblock documents_widget %}

{% block folders_widget %}
    {% include '@Rozier/widgets/drawer.html.twig' with {
        widget_attributes: block('widget_attributes'),
        enableDropzone: false,
        entity: 'explorer-provider',
        icon: 'uk-icon-folder-o'
    } %}
{% endblock folders_widget %}

{% block nodes_widget %}
    {% include '@Rozier/widgets/drawer.html.twig' with {
        widget_attributes: block('widget_attributes'),
        enableDropzone: false,
        entity: 'node',
        icon: 'uk-icon-rz-global-nodes'
    } %}
{% endblock nodes_widget %}

{% block join_widget %}
    {% include '@Rozier/widgets/drawer.html.twig' with {
        widget_attributes: block('widget_attributes'),
        enableDropzone: false,
        entity: 'join',
        icon: 'uk-icon-chain'
    } %}
{% endblock join_widget %}

{% block provider_widget %}
    {% include '@Rozier/widgets/drawer.html.twig' with {
        widget_attributes: block('widget_attributes'),
        enableDropzone: false,
        entity: 'explorer-provider',
        icon: 'uk-icon-chain'
    } %}
{% endblock provider_widget %}

{% block explorer_provider_widget %}
    {% include '@Rozier/widgets/drawer.html.twig' with {
        widget_attributes: block('widget_attributes'),
        enableDropzone: false,
        entity: 'explorer-provider',
        icon: 'uk-icon-chain'
    } %}
{% endblock explorer_provider_widget %}

{% block custom_forms_widget %}
    {% include '@Rozier/widgets/drawer.html.twig' with {
        widget_attributes: block('widget_attributes'),
        enableDropzone: false,
        entity: 'custom-form',
        icon: 'uk-icon-rz-surveys-big'
    } %}
{% endblock custom_forms_widget %}

{% block checkbox_widget -%}
    <input class="rz-boolean-checkbox"
           type="checkbox"
           data-on-text="I"
           data-off-text="O"
        {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}
        {% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="uk-form-group uk-margin-bottom">
                {{- form_widget(child) -}}
                {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{% block number_widget -%}
    <input type="number" step="any" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value|replace({',': '.'}) }}"{% endif %} />
{%- endblock number_widget %}

{% block separator_widget %}
    {% apply spaceless %}
        {# just let the textarea widget render the select tag #}
        <p {{ block('widget_attributes') }}>{{ label|trans }}</p>
    {% endapply %}
{% endblock separator_widget %}

{% block time_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {% else -%}
        {% set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_widget(form.hour, vars) }}{% if with_minutes %}<span class="datetime-separator">:</span>{{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %}<span class="datetime-separator">:</span>{{ form_widget(form.second, vars) }}{% endif %}
        </div>
    {%- endif %}
{%- endblock time_widget %}

{# Override default error block #}
{% block form_errors -%}
    {% if errors|length > 0 -%}
        <ul class="errors">
            {%- for error in errors -%}
                <li class="uk-alert uk-alert-danger"><i class="uk-icon-warning"></i> {{ error.message|trans(error.messageParameters) }}</li>
            {%- endfor -%}
        </ul>
    {%- endif %}
{%- endblock form_errors %}

{# Children node tree field #}
{% block childrennodes_widget %}
    {% apply spaceless %}
        <div class="uk-form-row children-nodes-widget" data-children-nodes-widget {{ block('widget_attributes') }}>
            {% if label is empty -%}
                {% set label = name|humanize %}
            {%- endif -%}
            <nav class="drawer-widget-nav children-nodes-nav uk-navbar">
                <ul class="uk-navbar-nav">
                    <li class="uk-navbar-brand"><i class="uk-icon-rz-node-tree"></i></li>
                    <li class="uk-navbar-brand label">{{ label|trans }}</li>
                </ul>
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav">
                        <li class="children-nodes-quick-creation"
                            data-uk-dropdown="{mode:'click'}">
                            <div class="uk-button"><i class="uk-icon-rz-plus-simple"></i></div>
                            <div class="uk-dropdown uk-dropdown-navbar">
                                {% for linkedType in linkedTypes %}
                                    <a class="uk-button uk-button-small"
                                        href="#"
                                        data-children-node-type="{{ linkedType.getId }}"
                                        data-children-parent-node="{{ nodeTree.rootNode.getId }}"
                                        data-translation-id="{{ nodeTree.translation.getId }}">
                                        <i class="uk-icon-rz-plus-simple"></i>{{ linkedType.getDisplayName }}
                                    </a>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="children-nodes-tree">
                {% include '@Rozier/widgets/nodeTree/nodeTree.html.twig' with {
                "nodeTree": nodeTree,
                "node": nodeTree.getRootNode,
                'mainNodeTree': false,
                "nodeStatuses": nodeStatuses,
                "request": request,
                "linkedTypes": linkedTypes
                } only %}
            </div>
        </div>
    {% endapply %}
{% endblock childrennodes_widget %}
{#
 # Override default form rendering
 #}
{% block form_start -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form class="uk-form uk-form-stacked" name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start %}

{% block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('uk-form-label') ~ ' required')|trim}) %}
        {%- else %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('uk-form-label'))|trim}) %}
        {%- endif %}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}><span class="uk-form-label-title">{{- label|trans -}}</span>{% if attr['data-universal'] %} <i data-uk-tooltip="{animation:true}" title="{% trans %}universal{% endtrans %}" class="uk-icon uk-icon-flag universal-indicator"></i>{% endif %}
        {%- if form.vars.help ?? false -%}
            <small id="{{ form.vars.id }}_help" class="form-row-desc uk-form-label-description">{{ form.vars.help|trans|inlineMarkdown }}</small>
        {%- endif -%}
        </label>
    {%- endif %}
{%- endblock form_label %}

{% block form_widget_compound -%}
    {% set attr = attr|merge({
        'class': attr.class ~ ' data-uk-margin'
    }) %}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound %}

{% block choice_widget_collapsed -%}
    {% if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}

    {% if multiple %}
        <select {{ block('widget_attributes') }} multiple="multiple">
            {% if placeholder is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder|trans({}, translation_domain) }}</option>
            {%- endif %}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {% if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif %}
            {%- endif -%}
            {% set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>
    {% else %}
        <div class="rz-select">
            <select v-model="selected" {{ block('widget_attributes') }}>
                {% if placeholder is not none -%}
                    <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder|trans({}, translation_domain) }}</option>
                {%- endif %}
                {%- if preferred_choices|length > 0 -%}
                    {% set options = preferred_choices %}
                    {{- block('choice_widget_options') -}}
                    {% if choices|length > 0 and separator is not none -%}
                        <option disabled="disabled">{{ separator }}</option>
                    {%- endif %}
                {%- endif -%}
                {% set options = choices -%}
                {{- block('choice_widget_options') -}}
            </select>
        </div>
    {% endif %}

{%- endblock choice_widget_collapsed %}

{% block form_row -%}
    {% set rowClasses = [
        'uk-form-row',
        'form-col-' ~ form.vars.block_prefixes[1],
        'form-col-' ~ form.vars.name|replace({'_': '-'})
    ] %}
    {% if attr.class %}
        {% set rowClasses = rowClasses|merge([
            attr.class ~ '-wrapper'
        ]) %}
    {% endif %}
    <div {% if attr['data-field-group'] %}data-field-group="{{ attr['data-field-group']|trans }}"
         data-field-group-canonical="{{ attr['data-field-group-canonical'] }}"{% endif %}
         {%- if form.vars.help ?? false -%}aria-describedby="{{ form.vars.id }}_help"{% endif %}
         class="{{ rowClasses|join(' ') }}">
        {% if form.vars.block_prefixes[1] != 'separator' %}
            {{- form_label(form) -}}
        {% endif %}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row %}

{%- block button_row -%}
    {% set rowClasses = [
    'uk-form-row',
    'form-col-' ~ form.vars.block_prefixes[1],
    'form-col-' ~ form.vars.name|replace({'_': '-'})
    ] %}
    <div class="{{ rowClasses|join(' ') }}">
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row -%}

{%- block button_widget -%}
    {% if not attr.class %}
        {% set attr = attr|merge({'class': 'uk-button'}) %}
    {% endif %}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}><span
            class="button-text">{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</span></button>
{%- endblock button_widget -%}
