{#
 #
 # This file extends default symfony2 fields types
 # It adds Renzo CMS special types templates such as
 # Markdown, document and childrenNodeTree fields
 #
 #}
{% block markdown_widget %}
    {% spaceless %}
        {# just let the textarea widget render the select tag #}
        <textarea {{ block('widget_attributes') }} data-uk-htmleditor="{markdown:true, mode:'tab'}">{{ value }}</textarea>
    {% endspaceless %}
{% endblock markdown_widget %}

{% block documents_widget %}
    {% spaceless %}
    <div class="uk-form-row uk-margin-small-top documents-widget" data-document-widget>
        {{- form_label(form) -}}
        <nav class="documents-widget-nav uk-navbar">
            <ul class="uk-navbar-nav">
                <li class="uk-navbar-brand"><i class="uk-icon-rz-documents"></i></li>
            </ul>
            <div class="uk-navbar-content uk-navbar-flip">
                <div class="documents-widget-quick-creation uk-button-group">
                    <a class="uk-button uk-button-small" href="#" data-document-widget-toggle-explorer><i class="uk-icon-rz-explore"></i> {% trans %}documents.toggle-explorer{% endtrans %}</a>
                    <a class="uk-button uk-button-small" href="#" data-document-widget-toggle-uploader><i class="uk-icon-rz-upload"></i> {% trans %}documents.toggle-uploader{% endtrans %}</a>
                    <a class="uk-button uk-button-small" href="#" data-document-widget-toggle-embedder><i class="uk-icon-rz-embed"></i> {% trans %}documents.toggle-embedder{% endtrans %}</a>
                </div>
            </div>
        </nav>
        <ul class="uk-sortable documents-widget-sortable" data-uk-sortable="{group:'documents-widget', dragCustomClass:'documents-widget-dragging'}" data-input-name="{{ name }}">
            {% for doc in data %}
            {% include 'widgets/documentSmallThumbnail.html.twig' with {
                'document':doc,
                'name': name,
                'full_name':full_name ~ '[' ~ loop.index0 ~ ']',
                'read_only': read_only,
                'disabled':disabled,
                'required':required,
                'attr': attr
            } only %}
            {% endfor %}
        </ul>
    </div>
    {% endspaceless %}
{% endblock documents_widget %}

{% block nodes_widget %}
    {% spaceless %}
    <div class="uk-form-row uk-margin-small-top nodes-widget" data-node-widget>
        {{- form_label(form) -}}
        <nav class="nodes-widget-nav uk-navbar">
            <ul class="uk-navbar-nav">
                <li class="uk-navbar-brand"><i class="uk-icon-rz-nodes"></i></li>
            </ul>
            <div class="uk-navbar-content uk-navbar-flip">
                <div class="nodes-widget-quick-creation uk-button-group">
                    <a class="uk-button uk-button-small" href="#" data-node-widget-toggle-explorer><i class="uk-icon-rz-explore"></i> {% trans %}nodes.toggle-explorer{% endtrans %}</a>
                </div>
            </div>
        </nav>
        <ul class="uk-sortable nodes-widget-sortable" data-uk-sortable="{group:'nodes-widget', dragCustomClass:'nodes-widget-dragging'}" data-input-name="{{ name }}">
            {% for doc in data %}
            {% include 'widgets/nodeSmallThumbnail.html.twig' with {
                'node':doc,
                'name': name,
                'full_name':full_name ~ '[' ~ loop.index0 ~ ']',
                'read_only': read_only,
                'disabled':disabled,
                'required':required,
                'attr': attr
            } only %}
            {% endfor %}
        </ul>
    </div>
    {% endspaceless %}
{% endblock nodes_widget %}

{% block checkbox_widget -%}
    <input class="rz-boolean-checkbox" type="checkbox" data-on-text="I" data-off-text="O" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{%- endblock checkbox_widget %}

{% block number_widget -%}
    <input type="number" step="any" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value|replace({',': '.'}) }}"{% endif %} />
{%- endblock number_widget %}

{% block separator_widget %}
    {% spaceless %}
        {# just let the textarea widget render the select tag #}
        <p {{ block('widget_attributes') }}>{{label}}</p>
    {% endspaceless %}
{% endblock separator_widget %}


{# Override default error block #}
{% block form_errors -%}
    {% if errors|length > 0 -%}
    <ul class="errors">
        {%- for error in errors -%}
        <li class="uk-alert uk-alert-danger"><i class="uk-icon-warning"></i> {{ error.message }}</li>
        {%- endfor -%}
    </ul>
    {%- endif %}
{%- endblock form_errors %}

{# Children node tree field #}
{% block childrennodes_widget %}
    {% spaceless %}
    <div class="uk-form-row uk-margin-small-top children-nodes-widget" data-children-nodes-widget>
        {{- form_label(form) -}}
        <nav class="children-nodes-nav uk-navbar">
            <ul class="uk-navbar-nav">
                <li class="uk-navbar-brand"><i class="uk-icon-rz-node-tree"></i></li>
            </ul>
            <div class="uk-navbar-content uk-navbar-flip">
                <div class="children-nodes-quick-creation uk-button-group">
                    {% for linkedType in linkedTypes %}
                    <a class="uk-button uk-button-small" href="#" data-children-node-type="{{ linkedType.getId }}" data-children-parent-node="{{ nodeTree.getRootNode.getId }}">
                        <i class="uk-icon-rz-plus-simple"></i> {{ "add.a.%nodeType%"|trans({'%nodeType%': linkedType.getDisplayName}) }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </nav>
        <div class="children-nodes-tree">
            {% include 'widgets/nodeTree/nodeTree.html.twig' with {"nodeTree":nodeTree, "node":nodeTree.getRootNode, 'mainNodeTree':false, "securityContext":securityContext} only %}
        </div>
    </div>
    {% endspaceless %}
{% endblock childrennodes_widget %}
{#
 # Override default form rendering
 #}
{% block form_start -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form class="uk-form uk-form-stacked" name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start %}

{% block form_label -%}
    {% if label is not sameas(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif %}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        <label class="uk-form-label"{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {%- endif %}
{%- endblock form_label %}

{% block form_widget_compound -%}
    <div class="data-uk-margin" {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound %}

{% block form_row -%}
    <div class="uk-form-row form-col form-col-{{ form.vars.block_prefixes[1] }}">
        {% if form.vars.block_prefixes[1] != 'separator' %}
           {{- form_label(form) -}}
        {% endif %}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row %}