{% extends '@Rozier/forms.html.twig' %}

{% block form_start -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form class="uk-form uk-form-horizontal" name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start %}

{% block form_widget_compound -%}
    {%- if form.parent is empty -%}
        {{ form_errors(form) }}
    {%- endif -%}
    {{- block('form_rows') -}}
    {{- form_rest(form) -}}
{%- endblock form_widget_compound %}

{% block form_row -%}
    <span class="form-col-{{ form.vars.block_prefixes[1] }}">
        {% if form.vars.block_prefixes[1] != 'separator' %}
           {{- form_label(form) -}}
        {% endif %}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </span>
{%- endblock form_row %}

{%- block button_row -%}
    {% set rowClasses = [
    'form-col-' ~ form.vars.block_prefixes[1],
    'form-col-' ~ form.vars.name|replace({'_':'-'})
    ] %}
    <span class="{{ rowClasses|join(' ') }}">
        {{- form_widget(form) -}}
    </span>
{%- endblock button_row -%}
