<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% trans %}back_office{% endtrans %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ head.resourcesUrl }}img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ head.resourcesUrl }}img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ head.resourcesUrl }}img/favicon-16x16.png">
        <link rel="manifest" href="{{ head.resourcesUrl }}img/site.webmanifest">
        <link rel="mask-icon" href="{{ head.resourcesUrl }}img/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#ffffff">

        {# CSS scripts inclusions / Using webpack #}
        {% include '@Rozier/partials/css-inject.html.twig' %}

        <style>
            /* Login */
            #login #login-infos #login-logo{
                background-color:{{ head.mainColor }};
            }
        </style>
        <script src="{{ head.resourcesUrl }}vendor/modernizr.custom.50380.js"></script>
    </head>
    <body id="simple-body">
        {% include '@Rozier/includes/messages.html.twig' %}
        <div id="main-container">
            <!-- Add your site or application content here -->
            <div id="splash-container"></div>
            <div id="main_content">
            {% block content %}
                <h1>{% trans %}welcome{% endtrans %}</h1>
            {% endblock %}
            </div>
        </div>
        <!-- ##debug_panel## -->
        <script>
            var temp = {
                routes: {
                    splashRequest: "{{ path('loginImagePage') }}"
                }
            };

            var RozierRoot = temp;
        </script>

        {% if head.devMode %}
            <script src="{{ head.resourcesUrl }}vendor/jquery.js"></script>
        {% else %}
            <script src="https://unpkg.com/jquery@3.2.1/dist/jquery.js"></script>
        {% endif %}

        {# JS scripts inclusions / Using webpack #}
        {% include '@Rozier/partials/simple-js-inject.html.twig' %}

        {% block customScripts %}{% endblock %}
    </body>
</html>
