{% set formattedLocale = request.locale|replace({'_': '-'})|lower %}
<!DOCTYPE html>
<html class="no-js" lang="{{ formattedLocale }}"{% if request.locale is rtl %} dir="rtl"{% endif %}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% trans %}back_office{% endtrans %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% trans %}back_office{% endtrans %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        {% include 'admin/meta-icon.html.twig' %}
        {# CSS scripts inclusions / Using webpack #}
        {% include '@Rozier/partials/css-inject.html.twig' %}
        <style>
            /* Login */
            #login #login-infos #login-logo{
                background-color:{{ head.mainColor }};
            }
        </style>
        <script src="{{ asset('vendor/modernizr.custom.50380.js', 'Rozier') }}"></script>
    </head>
    <body id="simple-body">
        {% include '@Rozier/includes/messages.html.twig' %}
        <div id="main-container">
            <!-- Add your site or application content here -->
            <div id="splash-container"></div>
            <div id="main_content">
            {% block content %}
                <h1>{% trans %}welcome{% endtrans %}</h1>
            {% endblock %}
            </div>
        </div>
        <!-- ##debug_panel## -->
        <script>
            var temp = {
                "routes": {
                    "splashRequest": "{{ path('loginImagePage') }}"
                }
            };
            var RozierRoot = temp;
        </script>
        {% if head.devMode %}
            <script src="{{ asset('vendor/jquery.js', 'Rozier') }}"></script>
        {% else %}
            <script src="{{ asset('vendor/jquery.min.js', 'Rozier') }}"></script>
        {% endif %}
        {# JS scripts inclusions / Using webpack #}
        {% include '@Rozier/partials/simple-js-inject.html.twig' %}
        {% block customScripts %}{% endblock %}
    </body>
</html>
