<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% trans %}back_office{% endtrans %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="57x57" href="{{ head.resourcesUrl }}assets/img/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ head.resourcesUrl }}assets/img/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ head.resourcesUrl }}assets/img/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{ head.resourcesUrl }}assets/img/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="{{ head.resourcesUrl }}assets/img/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="{{ head.resourcesUrl }}assets/img/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="{{ head.resourcesUrl }}assets/img/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{ head.resourcesUrl }}assets/img/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ head.resourcesUrl }}assets/img/apple-touch-icon-180x180.png" />
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}assets/img/favicon-192x192.png" sizes="192x192" />
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}assets/img/favicon-160x160.png" sizes="160x160" />
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}assets/img/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}assets/img/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="{{ head.resourcesUrl }}assets/img/favicon-32x32.png" sizes="32x32" />
        <meta name="msapplication-TileImage" content="{{ head.resourcesUrl }}assets/img/mstile-144x144.png" />


        {# CSS scripts inclusions / Using webpack #}
        {% include '@Rozier/partials/css-inject.html.twig' %}

        <style>
            /* Login */
            #login #login-infos #login-logo{
                background-color:{{ head.mainColor }};
            }
        </style>
        <script src="{{ head.resourcesUrl }}vendor/modernizr.custom.50380.js"></script>
    </head>
    <body id="simple-body">
        {% include '@Rozier/includes/messages.html.twig' %}
        <div id="main-container">
            <!-- Add your site or application content here -->
            <div id="splash-container"></div>
            <div id="main_content">
            {% block content %}
                <h1>{% trans %}welcome{% endtrans %}</h1>
            {% endblock %}
            </div>
        </div>
        <!-- ##debug_panel## -->
        <script>
            var temp = {
                routes: {
                    splashRequest: "{{ path('loginImagePage') }}"
                }
            };

            var RozierRoot = temp;
        </script>

        {% if head.devMode %}
            <script src="{{ head.resourcesUrl }}vendor/jquery.js"></script>
        {% else %}
            <script src="https://unpkg.com/jquery@3.2.1/dist/jquery.js"></script>
        {% endif %}

        {# JS scripts inclusions / Using webpack #}
        {% include '@Rozier/partials/simple-js-inject.html.twig' %}

        {% block customScripts %}{% endblock %}
    </body>
</html>
