{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-node-types">
	<h1 id="title">{% trans %}Node types{% endtrans %}</h1>
	<a class="uk-button" href="{{ path('nodeTypesAddPage') }}"><span class="uk-icon-plus"></span>{% trans %}Create a node-type{% endtrans %}</a>
	<table class="node-types uk-table">
		<thead>
	        <tr>
	            <th>{% trans %}Name{% endtrans %}</th>
	            <th>{% trans %}Display name{% endtrans %}</th>
	            <th></th>
	            <th>{% trans %}Actions{% endtrans %}</th>
	        </tr>
	    </thead>
		<tbody>
			{% for type in node_types %}
			<tr>
				<td><a href="{{ path('nodeTypesEditPage', { node_type_id: type.getId }) }}">{{ type.getName }}</a></td>
				<td>{{ type.getDisplayName }}</td>
				<td><div class="uk-badge">{{ type.getFields|length }} {% trans %}fields{% endtrans %}</div></td>
				<td>
					<a class="uk-button uk-button-small" href="{{ path('nodeTypeFieldsListPage', { node_type_id: type.getId }) }}">{% trans %}Manage fields{% endtrans %}</a>
					<a class="uk-button uk-button-small uk-button-danger" href="{{ path('nodeTypesDeletePage', { node_type_id: type.getId }) }}">{% trans %}Delete{% endtrans %}</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}