{% if node.getNodeSources.first.getTitle %}
{% set name = node.getNodeSources.first.getTitle %}
{% else %}
{% set name = node.getNodeName %}
{% endif %}
<li data-node-id="{{ node.getId }}" 
	class="nodetree-element level-{{ level }}">

	<div class="nodetree-element-inner uk-nestable-item">
		<div class="uk-nestable-handle"></div>
		<div data-nestable-action="toggle"></div>
		<div class="nodetree-element-name"><a href="{{ path('nodesEditPage', { node_id:node.getId }) }}">{{ name }}</a></div>


		<div class="nodetree-contextualmenu uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
		    <button class="uk-button uk-button-mini"><i class="uk-icon-caret-down"></i></button>
		    <nav class="uk-dropdown uk-dropdown-small">
		        <div class="uk-nav uk-nav-dropdown">
		            <p>
		            	<a title="{% trans %}add.child.node.%name%{% endtrans %}" href="{{ path('nodesAddChildPage', { node_id:node.getId }) }}">
		            		<i class="uk-icon-plus"></i> {% trans %}add.child.node{% endtrans %}
		            	</a>
		            </p>
		            <p>
		            	<a title="{% trans %}delete.node.%name%{% endtrans %}" href="{{ path('nodesDeletePage', { node_id:node.getId }) }}">
		            		<i class="uk-icon-trash-o"></i> {% trans %}delete.node{% endtrans %}
		            	</a>
		            </p>
		        </div>
		    </nav>
		</div>
	</div>
	<ul class="uk-nestable-list">
	{# 
	 # For drag&drop ease, we don't create nested lists
	 # We will have to check after OR inside drag status
	 #}
	{% for subNode in node.getChildren %}
		{% include 'widgets/nodeTree.singleNode.html.twig' with {"node":subNode, "level":(level + 1), "parent":node} %}
	{% endfor %}
	</ul>
</li>