{% if not head.ajax %}{% set baseTemplate = '@Rozier/base.html.twig' %}{% else %}{% set baseTemplate = '@Rozier/ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block content %}
<section class="content-global content-nav-and-filters">

	<header class="content-header content-header-filters manage-history-header">
		{% if user %}
		<h1 class="content-title manage-history-title">{{ "history.for.%name%"|trans({"%name%":user.identifier}) }}</h1>
		{% else %}
		<h1 class="content-title manage-history-title">{% trans %}history{% endtrans %}</h1>
		{% endif %}
		{% include '@Rozier/widgets/countFiltersBar.html.twig' %}

		{% if user %}
		{% include '@Rozier/users/navBar.html.twig' with {'user':user, current:'history'} %}
		{% else %}
		{% include '@Rozier/dashboard/navBar.html.twig' with {'current':'history'} %}
		{% endif %}
	</header>

	{% include '@Rozier/widgets/filtersBar.html.twig' %}

	<article class="content content-no-action-menu content-manage-history">
		{% spaceless %}
		<div class="history-logs">
			{% for log in logs %}

			{% if levels[log.getLevel] == 'error' %}
			{% set tdClass = 'class="uk-alert-danger"' %}
			{% set icon = 'uk-icon-warning' %}
			{% else %}
			{% set tdClass = 'class=""' %}
			{% set icon = 'uk-icon-info-circle' %}
			{% endif %}

			<div class="history-log-item {% if log.nodeSource %}has-source {% endif %}{% if log.user %}has-user{% endif %}">
				<div class="history-log-date">
					<div class="table">
						<div class="table-cell">{{ log.getDatetime|localizeddate('medium') }}</div>
					</div>
				</div>
				{% if log.user %}
				<div class="history-log-user">
					<a href="{{ path("usersEditPage", {"userId":log.user.id }) }}">
						<img width="60"
						     height="60"
						     class="user-image uk-thumbnail"
						     src="{{ log.user.getPictureUrl }}"
						     alt="{{ log.user.identifier }}"
						     title="{{ log.user.identifier }}"
						     data-uk-tooltip="{animation:true}"/>
					</a>
				</div>
				{% endif %}
				<div class="history-log-message">
					<div class="table">
						{% if log.nodeSource %}
						<div class="history-log-source table-cell">
							<a href="{{ path("nodesEditSourcePage", {"nodeId":log.nodeSource.node.id, "translationId":log.nodeSource.translation.id }) }}">
								{% set thumbnail = log.nodeSource.getDocumentsByFields.first.getDocument %}
								{% if thumbnail and thumbnail.image %}
								<figure>
									<img src="{{ thumbnail.getViewer.getDocumentUrlByArray({"width":60, "crop":"1x1", "quality":80}) }}"
										alt="{{ log.nodeSource.title }}"
                             			title="{{ log.nodeSource.title }}"
                             			data-uk-tooltip="{animation:true}" />
								</figure>
								{% else %}
								<span class="no-thumb"
									  title="{{ log.nodeSource.title }}"
                                      data-uk-tooltip="{animation:true}"></span>
								{% endif %}
							</a>
						</div>
						{% endif %}
						<div class="table-cell">{{ log.getMessage }}</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endspaceless %}
    </article>
</section>
{% endblock %}
