{% extends 'base.html.twig' %}

{% block content %}
<section id="manage-history" class="content-global content-nav-and-filters">
	<header class="content-header content-header-filters" id="manage-history-header">
		<h1 class="content-title" id="manage-history-title">{% trans %}history{% endtrans %}</h1>
		{% include 'widgets/countFiltersBar.html.twig' %}
		{% include 'dashboard/navBar.html.twig' with {'current':'history'} %}
	</header>
	{% include 'widgets/filtersBar.html.twig' %}

	<article class="content" id="content-manage-history">
		<div class="content-table-cont">
	        <table class="history content-table uk-table">
				<thead>
			        <tr>
			            <th>{% trans %}datetime{% endtrans %}</th>
			            <th>{% trans %}level{% endtrans %}</th>
			            <th>{% trans %}user{% endtrans %}</th>
			            <th>{% trans %}message{% endtrans %}</th>
			        </tr>
			    </thead>
				<tbody>
					{% for log in logs %}
					<tr>
						<td>{{ log.getDatetime|date }}</td>
						<td>{{ levels[log.getLevel] }}</td>
						<td>{% if log.getUser %}
							<a href="{{ path("usersEditPage", {"userId":log.getUser.getId }) }}">{{ log.getUser.getUsername }}</a>
						{% endif %}</td>
						<td>{{ log.getMessage }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
    </article>	
</section>
{% endblock %}