{% if not head.ajax %}{% set baseTemplate = 'base.html.twig' %}{% else %}{% set baseTemplate = 'ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block content %}
<section class="content-global content-nav-and-filters">

    <header class="content-header header-group header-group-list">
        <h1 class="content-title group-list-title">{% trans %}groups{% endtrans %}</h1>
        {% include 'widgets/countFiltersBar.html.twig' %}
        <div class="content-header-action-menu">
            <a class="uk-button" href="{{ path('groupsAddPage') }}"><i class="uk-icon-rz-plus"></i> {% trans %}add.group{% endtrans %}</a>
            <a class="uk-button" href="{{ path('groupsImportPage') }}"><i class="uk-icon-rz-upload"></i> {% trans %}import.group{% endtrans %}</a>
            <a class="uk-button rz-no-ajax-link" href="{{ path('groupsExportAllPage') }}"><i class="uk-icon-rz-download"></i> {% trans %}export.all.groups{% endtrans %}</a>
        </div>
    </header>

    {% include 'widgets/filtersBar.html.twig' %}
    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="groups content-table uk-table">
                <thead>
                    <tr>
                        <th>{% trans %}name{% endtrans %}</th>
                        <th>{% trans %}roles{% endtrans %}</th>
                        <th>{% trans %}users{% endtrans %}</th>
                        <th>{% trans %}actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                        <td>
                            {% if not group.required %}<a href="{{ path('groupsEditPage', { groupId: group.getId }) }}">{{ group.getName }}</a>{% else %}
                            {{ group.getName }}{% endif %}
                        </td>
                        <td>
                            {% transchoice group.getRolesEntities.count %}{0} no.role|{1} 1.role|]1,Inf] %count%.roles{% endtranschoice %}
                        </td>
                        <td>
                            {% transchoice group.getUsers.count %}{0} no.user|{1} 1.user|]1,Inf] %count%.users{% endtranschoice %}
                        </td>
                        <td>
                        {% spaceless %}
                            {% if not group.required %}
                                <a class="uk-button uk-button-content uk-button-small" href="{{ path('groupsEditPage', { groupId: group.getId }) }}" title="{% trans %}edit{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
                                <a class="uk-button uk-button-content uk-button-small" href="{{ path('groupsDeletePage', { groupId: group.getId }) }}" title="{% trans %}delete{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-o"></i></a>
                                <a class="uk-button uk-button-content uk-button-small" href="{{ path('groupsExportPage', { groupId: group.getId }) }}" title="{% trans %}export{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-download"></i></a>
                            {% else %}
                                <div class="uk-badge uk-badge-table"><span class="uk-icon-rz-lock"></span> {% trans %}group.required{% endtrans %}</div>
                            {% endif %}
                        {% endspaceless %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</section>
{% endblock %}
