{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global content-nav-and-filters">

    <header class="content-header header-group header-group-list">
        <h1 class="content-title group-list-title">{% trans %}groups{% endtrans %}</h1>
        {% include '@Rozier/widgets/countFiltersBar.html.twig' %}
        <div class="content-header-action-menu">
            <a class="uk-button" href="{{ path('groupsAddPage') }}"><i class="uk-icon-rz-plus"></i> {% trans %}add.a.group{% endtrans %}</a>
            <a class="uk-button" href="{{ path('groupsImportPage') }}"><i class="uk-icon-rz-upload"></i> {% trans %}import.group{% endtrans %}</a>
            <a class="uk-button rz-no-ajax-link" href="{{ path('groupsExportAllPage') }}"><i class="uk-icon-rz-download"></i> {% trans %}export.all.groups{% endtrans %}</a>
        </div>
    </header>

    {% include '@Rozier/widgets/filtersBar.html.twig' %}
    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="groups content-table uk-table">
                <thead>
                    <tr>
                        <th>
                            {% trans %}name{% endtrans %}
                            {% include 'includes/column_ordering.html.twig' with {
                                'field': 'name',
                                'filters': filters,
                            } only %}
                        </th>
                        <th class="mobile-hidden">{% trans %}roles{% endtrans %}</th>
                        <th class="mobile-hidden">{% trans %}users{% endtrans %}</th>
                        <th class="table-actions-row table-actions-row-3">{% trans %}actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        {% if is_granted(item) %}
                            <tr>
                                <td>
                                    {% if not item.required %}<a href="{{ path('groupsEditPage', { id: item.getId }) }}">{{ item.getName }}</a>{% else %}
                                        {{ item.getName }}{% endif %}
                                </td>
                                <td class="mobile-hidden">
                                    {% transchoice item.getRolesEntities.count %}{0} no.role|{1} 1.role|]1,Inf] %count%.roles{% endtranschoice %}
                                </td>
                                <td class="mobile-hidden">
                                    {% transchoice item.getUsers.count %}{0} no.user|{1} 1.user|]1,Inf] %count%.users{% endtranschoice %}
                                </td>
                                <td class="table-actions-row">
                                    {% apply spaceless %}
                                        {% if not item.required %}
                                            {% if is_granted(item) %}
                                                <a class="uk-button uk-button-content uk-button-small"
                                                   href="{{ path('groupsEditPage', { id: item.getId }) }}"
                                                   title="{% trans %}edit{% endtrans %}"
                                                   data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
                                            {% endif %}
                                            <a class="uk-button uk-button-content uk-button-small rz-no-ajax-link"
                                               href="{{ path('groupsExportPage', { id: item.getId }) }}"
                                               title="{% trans %}export{% endtrans %}"
                                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-download"></i></a>
                                            {% if is_granted(item) %}
                                                <a class="uk-button uk-button-content uk-button-small uk-button-table-delete"
                                                   href="{{ path('groupsDeletePage', { id: item.getId }) }}"
                                                   title="{% trans %}delete{% endtrans %}"
                                                   data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-o"></i></a>
                                            {% endif %}
                                        {% else %}
                                            <div class="uk-badge uk-badge-table">
                                                <span class="uk-icon-rz-lock"></span>
                                                {% trans %}group.required{% endtrans %}
                                            </div>
                                        {% endif %}
                                    {% endapply %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</section>
{% endblock %}
