{% extends 'base.html.twig' %}

{% block content %}
<section id="manage-groups">
    <h1 id="title">{% trans %}Groups{% endtrans %}</h1>
    <nav>
        <a class="uk-button" href="{{ path('groupsAddPage') }}"><i class="uk-icon-plus"></i> {% trans %}Create a group{% endtrans %}</a>
        <a class="uk-button" href="{{ path('groupsImportPage') }}"><i class="uk-icon-upload"></i> {% trans %}Import a group (.rzt){% endtrans %}</a>
        <a class="uk-button" href="{{ path('groupsExportAllPage') }}"><i class="uk-icon-download"></i> {% trans %}Export all group (.rzt){% endtrans %}</a>
    </nav>

    {% include 'widgets/filtersBar.html.twig' %}

    <table class="groups uk-table">
        <thead>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Roles{% endtrans %}</th>
                <th>{% trans %}Users{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td>
                    {% if not group.required %}<a href="{{ path('groupsEditPage', { groupId: group.getId }) }}">{{ group.getName }}</a>{% else %}
                    {{ group.getName }}{% endif %}
                </td>
                <td>
                    <i class="uk-icon-star"></i> {% transchoice group.getRolesEntities.count %}{0} No roles|{1} 1 role|]1,Inf] %count% roles{% endtranschoice %}
                </td>
                <td>
                    <i class="uk-icon-user"></i> {% transchoice group.getUsers.count %}{0} No users|{1} 1 user|]1,Inf] %count% user{% endtranschoice %}
                </td>
                <td>
                    {% if not group.required %}
                    <a class="uk-button uk-button-small uk-button-danger" href="{{ path('groupsDeletePage', { groupId: group.getId }) }}"><i class="uk-icon-trash-o"></i> {% trans %}Delete{% endtrans %}</a>
                    <a class="uk-button uk-button-small uk-button-success" href="{{ path('groupsExportPage', { groupId: group.getId }) }}"><i class="uk-icon-download"></i> {% trans %}Export{% endtrans %}</a>
                    {% else %}
                    <div class="uk-badge uk-badge-success"><span class="uk-icon-lock"></span> {% trans %}group.required{% endtrans %}</div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
