{% extends '@Rozier/layout.html.twig' %}


{% block content %}
<section class="content-global unlink-user-group">
    <header class="content-header header-group header-group-edit">
        <h1 class="content-title group-add-title">{{ "unlink.user.%name%"|trans({'%name%': user.getUserName})|u.truncate(25, '[…]', true) }}</h1>
    </header>

    <article class="content content-delete content-no-action-menu">
        {% form_theme form '@Rozier/forms.html.twig' %}
        {{ form_start(form, {
            'attr': {
                'class': 'uk-form uk-form-stacked'
            }
        }) }}{{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-danger"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.remove.user.from.group{% endtrans %}</legend>
                <a href="{{ path('groupsEditUsersPage', { id: item.id }) }}" class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
                <button class="uk-button uk-button-danger" type="submit"><i class="uk-icon-trash-o"></i> {% trans %}unlink{% endtrans %}</button>
            </fieldset>
        {{ form_end(form) }}
    </article>
</section>
{% endblock %}
