{% extends 'base.html.twig' %}

{% block content %}
<section id="manage-group-roles">
	<h1 id="group-title">Edit {{ group.getName }} roles</h1>

	{% include 'groups/navBar.html.twig' with {'group':group, current:'roles'} %}

	<table class="groups-roles uk-table">
		<thead>
	        <tr>
	            <th>{% trans %}Role{% endtrans %}</th>
	            <th>{% trans %}Actions{% endtrans %}</th>
	        </tr>
	    </thead>
		<tbody>
			{% for role in group.getRolesEntities %}
			<tr>
				<td>{{ role.getName }}</td>
				<td>
					<a class="uk-button uk-button-small uk-button-danger" href="{{ path('groupsRemoveRolesPage', { groupId: group.getId, roleId: role.getId }) }}">{% trans %}Unlink{% endtrans %}</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<h2>{% trans %}Add a role{% endtrans %}</h2>

	{% form_theme form 'forms.html.twig' %}
	<form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	    <fieldset data-uk-margin>
	    	<input class="uk-button uk-button-primary" type="submit" />
   		</fieldset>
	</form>
</section>
{% endblock %}
