{% apply spaceless %}
<nav data-action-menu class="actions-menu uk-navbar">
    {% if node and not readOnly %}
        {# Delete current node #}
        {% if workflow_can(node, 'undelete') %}
        <a role="button" tabindex="0" class="uk-button uk-button-danger" href="{{ path('nodesUndeletePage', { nodeId: node.getId}) }}">
            <span class="icon-container"><i class="uk-icon-rz-untrash"></i></span>
            <span class="label"><span class="label-text">{% trans %}undelete{% endtrans %}</span></span>
        </a>
        {% endif %}
        {% if workflow_can(node, 'delete') and (node.nodeSources|length == 1 or source.translation.defaultTranslation)  %}
        <a role="button" tabindex="0" class="uk-button uk-button-danger" href="{{ path('nodesDeletePage', {
            nodeId: node.getId,
            referer: node.parent and translation ? path('nodesEditSourcePage', {
                nodeId: node.parent.id,
                translationId: translation.id
            }) : null
        }) }}">
            <span class="icon-container"><i class="uk-icon-rz-trash"></i></span>
            <span class="label"><span class="label-text">{% trans %}delete.node{% endtrans %}</span></span>
        </a>
        {% endif %}
        {% if workflow_can(node, 'delete') and node.nodeSources|length > 1 and source %}
        <a role="button" tabindex="0" class="uk-button uk-button-danger" href="{{ path('nodesDeleteSourcePage', { nodeSourceId: source.id}) }}">
            <span class="icon-container"><i class="uk-icon-flag"></i></span>
            <span class="label"><span class="label-text">{% trans %}delete.translation{% endtrans %}</span></span>
        </a>
        {% endif %}
    {% endif %}

    {% if versions and versions|length > 1 %}
        <div role="button" tabindex="0" class="node-actions with-subnav">
            <header><i class="uk-icon-code-fork"></i><span class="label"><span class="label-text">{% trans %}versions{% endtrans %}</span></span></header>
            <nav class="versions-nav">
                <a class="uk-button{% if not currentVersion %} uk-active{% endif %}" href="{{ path('nodesEditSourcePage', {
                        nodeId: node.id,
                        translationId: translation.id
                    }) }}">{% trans %}versions.working_copy{% endtrans %}</a>
                {% for version in versions %}
                    {% if loop.index0 > 0 and loop.index <= bags.settings.get('max_versions_showed', 6) %}
                        {% include '@Rozier/widgets/versionItem.html.twig' with {
                            version: version,
                            currentVersion: currentVersion,
                            url: path('nodesEditSourcePage', {
                                nodeId: node.id,
                                translationId: translation.id,
                                version: version.version
                            })
                        } only %}
                    {% endif %}
                {% endfor %}
            </nav>
        </div>
    {% endif %}

    {% if node and not node.isDeleted %}
        {#
         # Node actions
         #}
        <div role="button" tabindex="0" class="node-actions with-subnav">
            <header><i class="uk-icon-rz-actions"></i><span class="label"><span class="label-text">{% trans %}actions{% endtrans %}</span></span></header>
            <nav>
                {% if workflow_can(node, 'publish') %}
                    <a class="uk-button publish-all-node" title="{% trans %}publish_node_offspring{% endtrans %}" href="{{ path('nodesPublishAllAction', {nodeId : node.id}) }}"><i class="uk-icon-rz-published-mini"></i><span class="label">{% trans %}publish_node_offspring{% endtrans %}</span></a>
                {% endif %}

                {% block node_public_urls %}
                    {# Only add preview/see button for Reachable node-types #}
                    {% if source and source.Reachable %}
                        {% if bags.settings.get('custom_public_scheme') %}
                            {% set publicUrl = url(source, {
                                'canonicalScheme': bags.settings.get('custom_public_scheme'),
                                '_no_cache': 1
                            }) %}
                        {% else %}
                            {% set publicUrl = path(source, {
                                '_no_cache': 1
                            }) %}
                        {% endif %}
                        {% if node.published and publicUrl%}
                            <a class="uk-button public-url-link"
                               target="_blank"
                               href="{{ publicUrl }}">
                                <i class="uk-icon-rz-visibility"></i>
                                <span class="label">{% trans %}see.page{% endtrans %}</span>
                            </a>
                        {% endif %}
                        {% if node.published or node.draft or node.pending %}
                            {% if bags.settings.get('custom_preview_scheme') %}
                                {% set previewUrl = url(source, {
                                    'canonicalScheme': bags.settings.get('custom_preview_scheme'),
                                    '_no_cache': 1
                                }) %}
                            {% elseif bags.settings.get('custom_public_scheme') %}
                                {% set previewUrl = url(source, {
                                    'canonicalScheme': bags.settings.get('custom_public_scheme'),
                                    '_preview': 1,
                                    '_no_cache': 1
                                }) %}
                            {% else %}
                                {% set previewUrl = path(source, {
                                    '_preview': 1,
                                    '_no_cache': 1
                                }) %}
                            {% endif %}
                            <a class="uk-button preview-url-link"
                               target="_blank"
                               href="{{ previewUrl }}">
                                <i class="uk-icon-rz-visibility"></i>
                                <span class="label">{% trans %}preview.page{% endtrans %}</span>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endblock %}

                {% if not node.isLocked %}
                    <a class="uk-button rz-no-ajax-link" href="{{ path('nodesDuplicatePage', { nodeId:node.getId }) }}"><i class="uk-icon-rz-duplicate"></i><span class="label">{% trans %}duplicate{% endtrans %}</span></a>
                    <a class="uk-button" href="{{ path('nodesTranstypePage', { nodeId:node.getId }) }}"><i class="uk-icon-bolt"></i><span class="label">{% trans %}transtype{% endtrans %}</span></a>
                {% endif %}

                {% block node_add_child %}
                    <a class="uk-button" href="{{ path('nodesAddChildPage', { nodeId:node.getId }) }}"><i class="uk-icon-rz-plus"></i><span class="label">{% trans %}add.child{% endtrans %}</span></a>
                {% endblock %}
                {% block node_export %}
                    <a class="uk-button rz-no-ajax-link" href="{{ path('nodesExportPage', { nodeId:node.getId }) }}"><i class="uk-icon-rz-download"></i><span class="label">{% trans %}export{% endtrans %}</span></a>
                    {% if node.hidingChildren and translation %}
                        <a class="uk-button rz-no-ajax-link" href="{{ path('nodesExportNodeXlsxPage', {parentNodeId: node.id, translationId:translation.id}) }}"><i class="uk-icon-file-excel-o"></i> <span class="label">{{ 'export_format.excel.%language%'|trans({'%language%':translation.name }) }}</span></a>
                    {% endif %}
                {% endblock %}
            </nav>
        </div>

        {#
         # Node parameters
         #}
        {% if node and (is_granted('ROLE_ACCESS_NODES_STATUS')) %}
        <div role="button" tabindex="0" class="node-statuses node-parameters with-subnav">
            <header><i class="uk-icon-rz-settings-general"></i><span class="label"><span class="label-text">{% trans %}parameters{% endtrans %}</span></span></header>
            <ul>
                <li class="node-visibility">
                    <i class="uk-icon-rz-visibility"></i>
                    <span class="label">{% trans %}visibility{% endtrans %}</span>
                    <input data-node-id="{{ node.getId }}" data-on-text="I" data-off-text="O" class="rz-boolean-checkbox" type="checkbox" name="visible" value="1" {% if node.isVisible %}checked{% endif %} />
                </li>
                <li class="node-hiding-children">
                    <i class="uk-icon-rz-stack"></i>
                    <span class="label">{% trans %}hiding-children{% endtrans %}</span>
                    <input data-node-id="{{ node.getId }}" data-on-text="I" data-off-text="O" class="rz-boolean-checkbox" type="checkbox" name="hideChildren" value="1" {% if node.isHidingChildren %}checked{% endif %} />
                </li>
                <li class="node-lock">
                    <i class="uk-icon-lock"></i>
                    <span class="label">{% trans %}lock-status{% endtrans %}</span>
                    <input data-node-id="{{ node.getId }}" data-on-text="I" data-off-text="O" class="rz-boolean-checkbox" type="checkbox" name="locked" value="1" {% if node.isLocked %}checked{% endif %} />
                </li>
                <li class="node-sterile">
                    <i class="uk-icon-rz-steril"></i>
                    <span class="label">{% trans %}sterile-status{% endtrans %}</span>
                    <input data-node-id="{{ node.getId }}" data-on-text="I" data-off-text="O" class="rz-boolean-checkbox" type="checkbox" name="sterile" value="1" {% if node.isSterile %}checked{% endif %} />
                </li>
            </ul>
        </div>
        {% endif %}
        {% if node %}
            {#
             # Node statuses
             #}
            <div role="button" tabindex="0" class="node-statuses node-status with-subnav uk-form">
                {% if node.isDraft %}
                    {% set iconClass = 'uk-icon-rz-draft-nodes' %}
                {% elseif node.isPending %}
                    {% set iconClass = 'uk-icon-rz-pending-nodes' %}
                {% elseif node.isPublished %}
                    {% set iconClass = 'uk-icon-rz-published' %}
                {% elseif node.isArchived %}
                    {% set iconClass = 'uk-icon-rz-archive-mini' %}
                {% endif %}

                <header><i class="{{ iconClass }}"></i><span class="label"><span class="label-text">{% trans %}statuses{% endtrans %}</span></span></header>
                <ul class="node-statuses-list">
                    {% if workflow_can(node, 'reject') or node.isDraft %}
                    <li class="node-statuses-item node-draft">
                        <i class="uk-icon-rz-draft-nodes"></i>
                        <span class="label">{% trans %}draft{% endtrans %}</span>
                        <input data-node-id="{{ node.getId }}"
                               type="radio"
                               name="status"
                               value="reject"
                               {% if node.isDraft %}checked{% endif %} />
                    </li>
                    {% endif %}
                    {% if workflow_can(node, 'unarchive') %}
                        <li class="node-statuses-item node-draft">
                            <i class="uk-icon-rz-draft-nodes"></i>
                            <span class="label">{% trans %}draft{% endtrans %}</span>
                            <input data-node-id="{{ node.getId }}"
                                   type="radio"
                                   name="status"
                                   value="unarchive"
                                   {% if node.isDraft %}checked{% endif %} />
                        </li>
                    {% endif %}
                    {% if workflow_can(node, 'review') or node.isPending %}
                    <li class="node-statuses-item node-pending">
                        <i class="uk-icon-rz-pending-nodes"></i>
                        <span class="label">{% trans %}pending{% endtrans %}</span>
                        <input data-node-id="{{ node.getId }}"
                               type="radio"
                               name="status"
                               value="review"
                               {% if node.isPending %}checked{% endif %} />
                    </li>
                    {% endif %}
                    {% if workflow_can(node, 'publish') or node.isPublished %}
                        <li class="node-statuses-item node-published">
                            <i class="uk-icon-rz-published"></i>
                            <span class="label">{% trans %}published{% endtrans %}</span>
                            <input data-node-id="{{ node.getId }}"
                                   type="radio"
                                   name="status"
                                   value="publish"
                                   {% if node.isPublished %}checked{% endif %} />
                        </li>
                    {% endif %}
                    {% if workflow_can(node, 'archive') or node.isArchived %}
                        <li class="node-statuses-item node-archived">
                            <i class="uk-icon-rz-archive-mini"></i>
                            <span class="label">{% trans %}archived{% endtrans %}</span>
                            <input data-node-id="{{ node.getId }}"
                                   type="radio"
                                   name="status"
                                   value="archive"
                                   {% if node.isArchived %}checked{% endif %} />
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
</nav>
{% endapply %}
