{% extends 'base.html.twig' %}

{% block content %}
<section id="add-node" class="">
	<h1 id="node-title">{% trans %}add.node{% endtrans %}</h1>
	{% if type %}<h2><em>{{ type.getDisplayName }}</em></h2>{% endif %}
	{% if parentNode %}<h2><em>{% trans %}In{% endtrans %}</em> {{ parentNode.getNodeName }}</h2>{% endif %}
	<nav><a class="uk-button uk-button-small" href="{{ path('nodesHomePage') }}"><span class="uk-icon-chevron-left"></span>{% trans %}back_to.nodes{% endtrans %}</a></nav>

	{% form_theme form 'forms.html.twig' %}
	<form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	    <input class="uk-button uk-button-primary" type="submit" />
	</form>
</section>
{% endblock %}
