{% if not head.ajax %}{% set baseTemplate = 'base.html.twig' %}{% else %}{% set baseTemplate = 'ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block content %}
<section class="content-global">

    <header class="content-header header-node header-node-add">
    	<h1 class="content-title">{% trans %}add.a.node{% endtrans %}</h1>
    	{% if type %}<h2><em>{{ type.getDisplayName }}</em></h2>{% endif %}
    	{% if parentNode %}<h2><em>{% trans %}In{% endtrans %}</em> {{ parentNode.getNodeName }}</h2>{% endif %}
        {% include 'nodes/navBack.html.twig' %}
    </header>

    <article class="content content-no-action-menu">
        {% if nodeTypesCount %}
        	{% form_theme form 'forms.html.twig' %}
        	<form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
        	    {{ form_widget(form) }}
                {% spaceless %}
                <button class="uk-button uk-button-primary" type="submit">
                    <i class="uk-icon-plus"></i> {% trans %}add.a.node{% endtrans %}
                </button>
                {% endspaceless %}
        	</form>
        {% else %}
            <div class="content-inner">
                <p class="uk-alert uk-alert-warning">{% trans %}no.nodeType.available.create_one_first{% endtrans %}</p>
                <p><a href="{{ path('nodeTypesAddPage') }}" class="uk-button uk-button-primary"><i class="uk-icon-plus"></i> {% trans %}add.a.nodeType{% endtrans %}</a></p>
            </div>
        {% endif %}
    </article>

</section>
{% endblock %}
