{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global">

    <header class="content-header header-node header-node-add">
        <h1 class="content-title">{% trans %}add.a.node{% endtrans %}</h1>
        {% if type %}<h2><em>{{ type.getDisplayName }}</em></h2>{% endif %}
        {% if parentNode %}<h2><em>{% trans %}In{% endtrans %}</em> {{ parentNode.getNodeName }}</h2>{% endif %}
        {% include 'nodes/navBack.html.twig' %}
    </header>

    <article class="content">
        {% if nodeTypesCount %}
            {% form_theme form '@Rozier/forms.html.twig' %}
            {{ form_start(form, {
                'attr': {
                    'id': 'add-node-form',
                    'class': 'uk-form uk-form-stacked'
                }
            }) }}{{ form_widget(form) }}
                <fieldset data-uk-margin>
                {% apply spaceless %}
                    <button data-action-save="#add-node-form"
                            class="uk-button uk-button-primary rz-action-save" type="submit">
                        <span class="icon-container"><i class="uk-icon-rz-plus"></i></span>
                        <span class="label"><span class="label-text">{% trans %}add.a.node{% endtrans %}</span></span>
                    </button>
                {% endapply %}
                </fieldset>
            {{ form_end(form) }}
        {% else %}
            <div class="content-inner">
                <p class="uk-alert uk-alert-warning">{% trans %}no.nodeType.available.create_one_first{% endtrans %}</p>
                <p><a href="{{ path('nodeTypesAddPage') }}" class="uk-button uk-button-primary"><i class="uk-icon-rz-plus"></i> {% trans %}add.a.nodeType{% endtrans %}</a></p>
            </div>
        {% endif %}
    </article>
    {% include 'nodes/actionsMenu.html.twig' %}
</section>
{% endblock %}
