{% extends '@Rozier/layout.html.twig' %}


{% block content %}
<section class="content-global delete-node">
    <header class="content-header header-node header-node-preview">
        <h1 class="content-title node-delete-title">{{ "delete.nodes"|trans()|u.truncate(25, '[…]', true) }}</h1>
    </header>

    <article class="content content-delete content-no-action-menu">

        {% if referer %}
            {% set returnPath = referer %}
        {% else %}
            {% set returnPath = path('nodesHomePage') %}
        {% endif %}
        {% form_theme form '@Rozier/forms.html.twig' %}
        <form id="nodes-bulk-delete-form" class="uk-form uk-form-stacked" action="{{ action }}?confirm=1" method="post">
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-danger"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.delete.these.nodes{% endtrans %}</legend>
                <a href="{{ returnPath }}" class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
                <button class="uk-button uk-button-danger" type="submit"><i class="uk-icon-rz-trash-mini-o"></i> {% trans %}delete.all{% endtrans %}</button>
            </fieldset>
        </form>

        {% apply spaceless %}
        <ul class="nodes-list">
        {% for node in nodes %}
            {% set source = node.nodeSources.first %}
            {% if source.title %}{% set title = source.title %}{% else %}{% set title = node.nodeName %}{% endif %}
            <li class="node-item">
                <span class="node-item-color" style="background-color:{{ node.nodeType.color }};"></span>
                <div class="node-border"></div>
                <div class="node-name">{{ title }}</div>
            </li>
        {% endfor %}
        </ul>
        {% endapply %}

    </article>
</section>
{% endblock %}
