{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global">
    <header class="content-header header-node header-node-delete">
        <h1 class="content-title node-delete-title">{{ "delete.translation"|trans|u.truncate(25, '[…]', true) }}</h1>
        <p>{{ nodeSource.title }} – {{ nodeSource.translation.name }}</p>
        {% include 'nodes/navBack.html.twig' %}
    </header>
    <article class="content content-delete content-node-delete content-no-action-menu">
        {% form_theme form '@Rozier/forms.html.twig' %}
        {{ form_start(form, {
            'attr': {
                'class': 'uk-form uk-form-stacked'
            }
        }) }}{{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-danger"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.delete.nodeSource{% endtrans %}</legend>
                <a href="{{ path('nodesEditPage', {nodeId: nodeSource.node.getId}) }}" class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
                <button class="uk-button uk-button-danger" type="submit"><i class="uk-icon-rz-trash-o"></i> {% trans %}delete{% endtrans %}</button>
            </fieldset>
        {{ form_end(form) }}
    </article>
</section>
{% endblock %}
