{% extends 'base.html.twig' %}
{% block content %}
<section id="manage-node-aliases">
	<h1 id="node-title">{{ "edit.node.%name%.seo"|trans({'%name%': source.getTitle}) }}</h1>

	{% include 'nodes/breadcrumb.html.twig' with {"node": node} only %}
	{% include 'nodes/navBar.html.twig' with {"current": 'seo'} %}
	{% include 'nodes/translationSEOBar.html.twig' with {"current": translation.getId} %}

	<h2>{% trans %}edit.node.seo{% endtrans %}</h2>

	{% form_theme seoForm 'forms.html.twig' %}
	<form id="edit-seo-form" class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(seoForm) }}>
	    {{ form_widget(seoForm) }}
	    <fieldset data-uk-margin>
	    	{% spaceless %}
	    	<button data-action-save="#edit-seo-form" class="uk-button uk-button-primary rz-action-save" type="submit">
	    		<i class="uk-icon-save"></i>
	    		<span class="label">{% trans %}save{% endtrans %}</span>
	    	</button>
	    	{% endspaceless %}
   		</fieldset>
	</form>


	<h2>{% trans %}urlAlias{% endtrans %}</h2>

	<h3>{% trans %}add.urlAlias{% endtrans %}</h3>
	{% form_theme form 'forms.html.twig' %}
	<form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	    <fieldset data-uk-margin>
	    	<input class="uk-button uk-button-primary" type="submit" />
   		</fieldset>
	</form>

	<hr />
	<table class="aliases uk-table">
		<thead>
	        <tr>
	            <th>{% trans %}urlAlias{% endtrans %}</th>
	            <th>{% trans %}translation{% endtrans %}</th>
	            <th>{% trans %}actions{% endtrans %}</th>
	        </tr>
	    </thead>
		<tbody>
			{% for urlAlias in aliases %}
				{% include 'url-aliases/editRow.html.twig' %}
			{% endfor %}
		</tbody>
	</table>


	{% include 'nodes/actionsMenu.html.twig' %}
</section>
{% endblock %}
