{% extends 'base.html.twig' %}
{% block content %}
<section id="manage-node">
	<h1 id="node-title">{% trans %}edit.node{% endtrans %} "{{ source.getTitle }}"</h1>

	{% include 'nodes/breadcrumb.html.twig' with {"node": node} only %}
	{% include 'nodes/navBar.html.twig' with {"current": 'edit'} %}

	<form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
   		{{ form_errors(form) }}

   		<fieldset data-uk-margin>
		    {% for item in form %}
		    	{# Node fields  #}
		        {% if item.vars.name != "_token" %}
		    	<div class="uk-form-row">
		        	<label class="uk-form-label"for="{{ item.vars.id }}">{% if item.vars.label %}{{ item.vars.label|trans }}{% else %}{{ item.vars.name|trans }}{% endif %}</label>
			        {{ form_errors(item) }}
			        {{ form_widget(item) }}
		    	</div>
		        {% endif %}
		    {% endfor %}
   		</fieldset>

	    {{ form_rest(form) }}
	    <fieldset data-uk-margin>
	    	<input class="uk-button uk-button-primary" type="submit" />
   		</fieldset>
	</form>

	{% if translation_form %}
	<h2 id="add-node-translation">Translate node</h2>
	<form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(translation_form) }}>
   		{{ form_errors(translation_form) }}

   		<fieldset data-uk-margin>
		    {% for item in translation_form %}
		    	{# Node fields  #}
		        {% if item.vars.name != "_token" and item.vars.name != "nodeId" %}
		    	<div class="uk-form-row">
		        	<label class="uk-form-label"for="{{ item.vars.id }}">{% if item.vars.label %}{{ item.vars.label|trans }}{% else %}{{ item.vars.name|trans }}{% endif %}</label>
			        {{ form_errors(item) }}
			        {{ form_widget(item) }}
		    	</div>
		        {% endif %}
		    {% endfor %}
   		</fieldset>

	    {{ form_rest(translation_form) }}
	    <fieldset data-uk-margin>
	    	<input class="uk-button uk-button-primary" type="submit" value="{% trans %}Translate{% endtrans %}" />
   		</fieldset>
	</form>

	{% endif %}
</section>
{% endblock %}