{% set currentTitle = source.title|default(node.nodeName) %}
{% set pageTitle = "edit.node.%name%.tags"|trans({'%name%': currentTitle})|u.truncate(25, '[…]', true) %}

{% extends '@Rozier/layout.html.twig' %}

{% block title %}
    {{ pageTitle }} – {% trans %}back_office{% endtrans %}
{% endblock %}

{% block content %}
<section class="content-global" data-page-title="{{ pageTitle }} – {% trans %}back_office{% endtrans %}">
    <header class="content-header header-node header-node-edit-tags">
        {% include '@Rozier/nodes/breadcrumb.html.twig' with {"node": node} only %}
        <h1 class="content-title node-edit-tags-title">
            {{ pageTitle }}
            {% include '@Rozier/nodes/nodeTypeCircle.html.twig' %}
        </h1>
        {% include 'nodes/navBack.html.twig' %}
        {% include 'nodes/navBar.html.twig' with {"current": 'tags'} %}
    </header>
    <article class="content content-node-edit-tags">
        {% form_theme form '@Rozier/forms.html.twig' %}
        {{ form_start(form, { attr: {id: 'edit-node-tags-form'}}) }}
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                {% apply spaceless %}
                <button data-action-save="#edit-node-tags-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                    <span class="icon-container"><i class="uk-icon-rz-save-mini"></i></span>
                    <span class="label"><span class="label-text">{% trans %}save{% endtrans %}</span></span>
                </button>
                {% endapply %}
            </fieldset>
        {{ form_end(form) }}
    </article>
    {% include 'nodes/actionsMenu.html.twig' %}
</section>
{% endblock %}
