{% extends 'base.html.twig' %}
{% block content %}
<div>
	<section id="manage-node">

		<header class="header" id="header-manage-node">
			<h1 class="title" id="node-title">{{ "edit.node.%name%"|trans({'%name%': node.getNodeName}) }}</h1>
			{% include 'nodes/breadcrumb.html.twig' with {"node": node} only %}
			{% include 'nodes/navBar.html.twig' with {"current": 'edit'} %}
		</header>

		{% form_theme form 'forms.html.twig' %}
		<form id="edit-node-form" class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
		    {{ form_widget(form) }}
		    <fieldset data-uk-margin>
		    	{% spaceless %}
		    	<button data-action-save="#edit-node-form" class="uk-button uk-button-primary rz-action-save" type="submit">
		    		<i class="uk-icon-save"></i>
		    		<span class="label">{% trans %}save{% endtrans %}</span>
		    	</button>
		    	{% endspaceless %}
	   		</fieldset>
		</form>

		{% if translationForm %}
		<h2 id="add-node-translation">translate.node</h2>
		{% form_theme translationForm 'forms.html.twig' %}
		<form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(translationForm) }}>
		    {{ form_widget(translationForm) }}
		    <fieldset data-uk-margin>
		    	<input class="uk-button uk-button-primary" type="submit" value="{% trans %}Translate{% endtrans %}" />
	   		</fieldset>
		</form>
		{% endif %}


		{% include 'nodes/actionsMenu.html.twig' %}
	</section>
</div>
{% endblock %}
