{% extends 'base.html.twig' %}
{% block content %}
<section id="manage-node-aliases">
	<h1 id="node-title">Edit {{ source.getTitle }} aliases</h1>

	{% include 'nodes/breadcrumb.html.twig' with {"node": node} only %}
	{% include 'nodes/navBar.html.twig' with {"current": 'aliases'} %}

	<h2>{% trans %}Add an alias{% endtrans %}</h2>
	<form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
   		{{ form_errors(form) }}

   		<fieldset data-uk-margin>
		    {% for item in form %}
			    {% if item.vars.name != "_token" %}
			    <div class="uk-form-row">
			    	{# Source fields  #}
			        <label class="uk-form-label"for="{{ item.vars.id }}">{% if item.vars.label %}{{ item.vars.label|trans }}{% else %}{{ item.vars.name|trans }}{% endif %}</label>
			        {{ form_errors(item) }}
			        {{ form_widget(item) }}
			    </div>
			    {% endif %}
		    {% endfor %}
   		</fieldset>
	    {{ form_rest(form) }}
	    <fieldset data-uk-margin>
	    	<input class="uk-button uk-button-primary" type="submit" />
   		</fieldset>
	</form>
	<hr />
	<h2>{% trans %}Url aliases{% endtrans %}</h2>
	<table class="aliases uk-table">
		<thead>
	        <tr>
	            <th>{% trans %}Alias{% endtrans %}</th>
	            <th>{% trans %}Translation{% endtrans %}</th>
	            <th>{% trans %}Actions{% endtrans %}</th>
	        </tr>
	    </thead>
		<tbody>
			{% for urlAlias in aliases %}
				{% include 'url-aliases/editRow.html.twig' %}
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}