{% extends 'base.html.twig' %}
{% block content %}
<section id="manage-node">
	<h1 id="node-title">{% trans %}edit.node{% endtrans %} "{{ source.getTitle }}"</h1>

	{% include 'nodes/breadcrumb.html.twig' with {"node": node} only %}
	{% include 'nodes/navBar.html.twig' with {"current": 'edit'} %}

	{% form_theme form 'forms.html.twig' %}
	<form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	    <fieldset data-uk-margin>
	    	<input class="uk-button uk-button-primary" type="submit" />
   		</fieldset>
	</form>

	{% if translation_form %}
	<h2 id="add-node-translation">Translate node</h2>
	{% form_theme translation_form 'forms.html.twig' %}
	<form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(translation_form) }}>
	    {{ form_widget(translation_form) }}
	    <fieldset data-uk-margin>
	    	<input class="uk-button uk-button-primary" type="submit" value="{% trans %}Translate{% endtrans %}" />
   		</fieldset>
	</form>
	{% endif %}


	{% include 'nodes/actionsMenu.html.twig' %}
</section>
{% endblock %}