{% set currentTitle = source.title|default(node.nodeName) %}

{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global">
    <header class="content-header header-node header-node-edit-source">
        {% include '@Rozier/nodes/breadcrumb.html.twig' with {
            "node": node,
            "source": source,
        } only %}
        <h1 class="content-title node-edit-source-title"{% if source.translation.locale is rtl %} dir="rtl"{% endif %}>
            {{ ("edit.nodeSource.%name%"|trans({'%name%': currentTitle}))|u.truncate(30, '[…]', false) }}
            {% include '@Rozier/nodes/nodeTypeCircle.html.twig' %}
        </h1>
        {% include 'nodes/navBack.html.twig' %}
        {% include 'nodes/navBar.html.twig' with {"current": 'source'} %}
        {% include 'nodes/translationBar.html.twig' with {"current": translation.getId} %}
    </header>

    <article class="content content-node-edit-source">
        {% if readOnly %}
            <div class="uk-alert uk-alert-warning" data-uk-alert>
                <a href="{{ path('nodesEditSourcePage', {
                    nodeId: node.id,
                    translationId: translation.id
                }) }}" class="uk-alert-close uk-close"></a>
                <h4>{% trans %}versions.viewing_a_previous_version{% endtrans %}</h4>
                <p>{{ currentVersion.loggedAt|format_datetime('full', 'short', locale=app.request.locale) }} - {{ currentVersion.username }}</p>
                {% if revertForm %}
                    {{ form_start(revertForm, { attr: {id: 'revert-node-source-form'}}) }}
                    {{ form_widget(revertForm) }}
                    {% apply spaceless %}
                        <div class="uk-button-group">
                            <button class="uk-button uk-button-warning" type="submit">
                                <span class="icon-container"><i class="uk-icon-rz-back-parent"></i></span>
                                <span class="label"><span class="label-text">{% trans %}versions.revert_to_this_version{% endtrans %}</span></span>
                            </button>
                            <a class="uk-button" href="{{ path('nodesEditSourcePage', {
                                nodeId: node.id,
                                translationId: translation.id
                            }) }}"><i class="uk-icon-rz-home"></i> {% trans %}versions.back_to_working_copy{% endtrans %}</a>
                        </div>
                    {% endapply %}
                    {{ form_end(revertForm) }}
                {% endif %}
            </div>
        {% endif %}
        {% form_theme form '@Rozier/forms.html.twig' %}
        {{ form_start(form, { attr: {id: 'edit-node-source-form'}}) }}
            {{ form_widget(form) }}
            {% apply spaceless %}
                {% if not readOnly %}
                    <button data-action-save="#edit-node-source-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                        <span class="icon-container"><i class="uk-icon-rz-save-mini"></i></span>
                        <span class="label"><span class="label-text">{% trans %}save{% endtrans %}</span></span>
                    </button>
                {% endif %}
            {% endapply %}
        {{ form_end(form) }}
    </article>

    {% include 'nodes/actionsMenu.html.twig' %}
</section>
{% endblock %}
