<nav class="uk-navbar" id="uk-navbar-filter">
    <div class="uk-navbar-content-cont">

        {% if filters.description %}<a class="uk-navbar-brand">{{ filters.description }}</a>{% endif %}

        <div class="uk-navbar-content uk-hidden-small" id="uk-navbar-filter-search">
            <form class="uk-form uk-margin-remove uk-display-inline-block" method="get">
                <div class="uk-form-icon">
                    <i class="uk-icon-search"></i>
                    <input id="uk-form-filter-input-search" type="text" name="search" placeholder="{% trans %}search{% endtrans %}" value="{{ filters.search }}">
                </div>
            </form>

            <a class="uk-button uk-button-select-all uk-button-bulk-select-nodes" href="#" title="{% trans %}select.all{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-check-square-o"></i> {% trans %}select.all{% endtrans %}</a>
        </div>

        {% if filters.itemCount > filters.itemPerPage %}
        <div class="uk-navbar-content uk-hidden-small" id="uk-navbar-filter-pagination">
            <form class="uk-form uk-margin-remove uk-display-inline-block" method="get">
                {% if filters.search %}<input type="hidden" name="search" value="{{ filters.search }}" />{% endif %}
                {% if filters.previousPageQuery %}<a class="uk-button uk-button-filter" href="?{{ filters.previousPageQuery }}"><i class="uk-icon-rz-prev-page"></i></a>{% endif %}
                <span class="filter-form-text pageTitle">{% trans %}page{% endtrans %}</span>
                <input class="uk-form-width-mini" id="uk-form-filter-input-page" type="text" name="page"  value="{{ filters.currentPage }}" />
                <span class="filter-form-text pageCount">/ {{ filters.pageCount }}</span>

                {% if filters.nextPageQuery %}<a class="uk-button uk-button-filter" href="?{{ filters.nextPageQuery }}"><i class="uk-icon-rz-next-page"></i></a>{% endif %}

            </form>
        </div>
        {% endif %}

        {% include '@Rozier/widgets/itemPerPage.html.twig' %}

        <nav class="bulk-actions nodes-bulk-actions">
            <div class="bulk-actions-title-cont">
                <h3 class="bulk-actions-title nodes-bulk-actions-title">{% trans %}bulk.actions{% endtrans %}</h3>
            </div>
            {% apply spaceless %}
                <a class="uk-button rz-no-ajax-link uk-button-bulk uk-button-bulk-deselect uk-button-bulk-deselect-nodes" href="#" title="{% trans %}deselect.all{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-square-o"></i></a>
                {# Links #}
                {% if tagNodesForm %}
                    <a class="uk-button rz-no-ajax-link uk-button-bulk uk-button-bulk-folder uk-button-bulk-folder-nodes"
                        href="#"
                        title="{% trans %}link.tags{% endtrans %}"
                        data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-tags"></i></a>
                {% endif %}
                {% if statusNodesForm %}
                    <a class="uk-button rz-no-ajax-link uk-button-bulk uk-button-bulk-status uk-button-bulk-status-nodes"
                        href="#"
                        title="{% trans %}nodes.status{% endtrans %}"
                        data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-published"></i></a>
                {% endif %}

                {% if deleteNodesForm %}
                    {% form_theme deleteNodesForm '@Rozier/forms.html.twig' %}
                    <form class="uk-form uk-form-horizontal node-bulk-delete-form"
                          action="{{ path('nodesBulkDeletePage') }}"
                          method="post">
                        {{ form_widget(deleteNodesForm) }}
                        <button type="submit"
                            class="uk-button uk-button-bulk uk-button-danger uk-button-bulk-delete uk-button-bulk-delete-nodes"
                            title="{% trans %}bulk.delete.nodes{% endtrans %}"
                            data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-mini-o"></i></button>
                    </form>
                {% endif %}
                {# Forms #}
                {% if tagNodesForm %}
                    <div class="bulk-folder-cont nodes-bulk-folder-cont">
                        {% form_theme tagNodesForm '@Rozier/forms.html.twig' %}
                        <form class="uk-form uk-form-horizontal node-bulk-tag-form"
                              action="#"
                              method="post">
                            {{ form_widget(tagNodesForm) }}
                        </form>
                    </div>
                {% endif %}
                {% if statusNodesForm %}
                    <div class="bulk-status-cont nodes-bulk-status-cont">
                        {% form_theme statusNodesForm '@Rozier/forms.html.twig' %}
                        <form class="uk-form uk-form-horizontal node-bulk-status-form"
                              action="{{ path('nodesBulkStatusPage') }}"
                              method="get">
                            {{ form_widget(statusNodesForm) }}
                            <div class="uk-form-row form-col-submit">
                                <button type="submit"
                                        class="uk-button uk-button-primary uk-button-small"
                                        title="{% trans %}change.nodes.status{% endtrans %}"
                                        data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-save"></i></button>
                            </div>
                        </form>
                    </div>
                {% endif %}
            {% endapply %}
        </nav>
    </div>
</nav>
