{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global content-nav-and-filters">
    <header class="content-header content-header-filters manage-history-header">
        <h1 class="content-title manage-history-title">{{ "history.for.%name%"|trans({"%name%":node.nodeName}) }}</h1>
        {#{% include '@Rozier/nodes/navBack.html.twig' %}#}
        {% include '@Rozier/widgets/countFiltersBar.html.twig' %}
        {% include '@Rozier/nodes/navBar.html.twig' with {current:'history'} %}
    </header>
    {% include '@Rozier/widgets/filtersBar.html.twig' %}

    <article class="content content-no-action-menu content-manage-history">
        {% spaceless %}
        <div class="history-logs">
            {% for log in entries %}
            {% if levels[log.getLevel] == 'error' %}
            {% set tdClass = 'class="uk-alert-danger"' %}
            {% set icon = 'uk-icon-warning' %}
            {% else %}
            {% set tdClass = 'class=""' %}
            {% set icon = 'uk-icon-info-circle' %}
            {% endif %}

            <div class="history-log-item has-source {% if log.user %}has-user{% endif %}">
                <div class="history-log-date">
                    <div class="table">
                        <div class="table-cell">{{ log.getDatetime|localizeddate('medium') }}</div>
                    </div>
                </div>
                {% if log.user %}
                <div class="history-log-user">
                    <a href="{{ path("usersEditPage", {"userId":log.user.id }) }}">
                        <img width="60"
                             height="60"
                             class="user-image uk-thumbnail"
                             src="{{ log.user.getPictureUrl }}"
                             alt="{{ log.user.identifier }}"
                             title="{{ log.user.identifier }}"
                             data-uk-tooltip="{animation:true}"/>
                    </a>
                </div>
                {% endif %}
                <div class="history-log-message">
                    <div class="table">
                        <div class="table-cell">{{ log.getMessage }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endspaceless %}
    </article>
    {% include '@Rozier/nodes/actionsMenu.html.twig' %}
</section>
{% endblock %}
