{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global content-nav-and-filters">

    <header class="content-header header-node header-nodes-list">
        <h1 class="content-title">
            {% set mainTitle = mainFilter ~ '.nodes' %}
            {{ mainTitle|trans()|truncate(25, true, '[…]') }}
        </h1>
        {% include '@Rozier/widgets/countFiltersBar.html.twig' %}
        {# Add node control #}
        {% if nodeTypes|length %}
        <div class="content-header-action-menu">
            {% if mainFilter == 'deleted' %}
            <a class="uk-button rz-no-ajax-link" href="{{ path('nodesEmptyTrashPage') }}"><i class="uk-icon-trash-o"></i> {% trans %}empty.node.trash{% endtrans %}</a>
            {% else %}
            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                <button class="uk-button">
                <i class="uk-icon-rz-download"></i> {% trans %}export.all.nodes{% endtrans %} <i class="uk-icon-caret-down"></i>
                </button>
                <div class="uk-dropdown uk-dropdown-flip uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown">
                        <li><a class="rz-no-ajax-link" href="{{ path('nodesExportAllPage') }}"><i class="uk-icon-file-code-o"></i> {% trans %}export_format.rzn{% endtrans %}</a></li>
                        {% for translationItem in availableTranslations %}
                            <li><a class="rz-no-ajax-link" href="{{ path('nodesExportAllXlsxPage', {translationId:translationItem.id}) }}"><i class="uk-icon-file-excel-o"></i> {{ 'export_format.excel.%language%'|trans({'%language%':translationItem.name }) }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                <button class="uk-button"><i class="uk-icon-rz-plus"></i> {% trans %}create.a.node{% endtrans %} <i class="uk-icon-caret-down"></i></button>
                <div class="uk-dropdown uk-dropdown-flip uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown">
                        {% for type in nodeTypes %}
                        <li><a href="{{ path('nodesAddPage', { nodeTypeId: type.getId, translationId:translation.getId }) }}">{{ type.getDisplayName }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </header>

    {% include '@Rozier/widgets/filtersBar.html.twig' %}

    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="nodes content-table uk-table">
                <thead>
                    <tr>
                        <th>{% trans %}nodeName{% endtrans %}
                            {% include 'includes/column_ordering.html.twig' with {
                                'field': 'nodeName',
                                'filters': filters,
                            } only %}
                        </th>
                        <th class="mobile-hidden">
                            {% trans %}node.type{% endtrans %}
                            {% include 'includes/column_ordering.html.twig' with {
                                'field': 'nt.name',
                                'filters': filters,
                            } only %}
                        </th>
                        <th class="mobile-hidden uk-visible-large">{% trans %}node.status{% endtrans %}</th>
                        <th class="mobile-hidden uk-visible-xlarge">{% trans %}last.modification{% endtrans %}
                            {% include 'includes/column_ordering.html.twig' with {
                                'field': 'updatedAt',
                                'filters': filters,
                            } only %}
                        </th>
                        <th class="table-actions-row table-actions-row-3">{% trans %}actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for node in nodes %}
                    <tr>
                        <td class="nodes-list-item-link"><span class="nodes-list-item-color" style="background-color:{{ node.nodeType.color }};"></span><a href="{{ path('nodesEditPage', { nodeId: node.getId }) }}">{{ node.nodeSources.first.title|default(node.nodeName) }}</a></td>
                        <td class="mobile-hidden">{{ node.nodeType.displayName }}</td>
                        <td class="mobile-hidden uk-visible-large">
                            {% spaceless %}
                                {% if node.isDraft == true %}
                                <div class="uk-button-status uk-button-draft" title="{% trans %}node.draft{% endtrans %}" data-uk-tooltip="{animation:true}">
                                    <i class="uk-icon-rz-draft-nodes"></i>
                                </div><!-- uk-badge-warning -->
                                {% endif %}
                                {% if node.isPending == true %}
                                <div class="uk-button-status uk-button-pending" title="{% trans %}node.pending.validation{% endtrans %}" data-uk-tooltip="{animation:true}">
                                    <i class="uk-icon-rz-pending-nodes"></i>
                                </div><!-- uk-badge-warning -->
                                {% endif %}
                                {% if node.isDeleted == true %}
                                <div class="uk-button-status uk-button-deleted" title="{% trans %}node.deleted{% endtrans %}" data-uk-tooltip="{animation:true}">
                                    <i class="uk-icon-rz-trash-mini-o"></i>
                                </div><!-- uk-badge-danger -->
                                {% endif %}
                                {% if node.isVisible == false %}
                                <div class="uk-button-status uk-button-hidden" title="{% trans %}node.hidden{% endtrans %}" data-uk-tooltip="{animation:true}">
                                    <i class="uk-icon-eye-slash"></i>
                                </div><!-- uk-badge-notification -->
                                {% endif %}
                                {% if node.isLocked %}
                                <div class="uk-button-status uk-button-locked" title="{% trans %}locked{% endtrans %}" data-uk-tooltip="{animation:true}">
                                    <i class="uk-icon-lock"></i>
                                </div><!-- uk-badge-notification -->
                                {% endif %}
                                {% if node.isArchived %}
                                <div class="uk-button-status uk-button-archived" title="{% trans %}node.archived{% endtrans %}" data-uk-tooltip="{animation:true}">
                                    <i class="uk-icon-rz-archive-mini"></i>
                                </div><!-- uk-badge-notification -->
                                {% endif %}
                            {% endspaceless %}
                        </td>
                        <td class="mobile-hidden uk-visible-xlarge">{{ node.updatedAt|localizeddate('short', 'none') }}</td>
                        <td class="table-actions-row">
                        {% spaceless %}
                            <a class="uk-button uk-button-content uk-button-small" href="{{ path('nodesEditPage', { nodeId: node.getId }) }}" title="{% trans %}edit.node{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
                            <a class="uk-button uk-button-content uk-button-small" href="{{ path('nodesTreePage', { nodeId: node.getId }) }}" title="{% trans %}see.nodetree{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-node-tree-mini"></i></a>
                            {% if workflow_can(node, 'delete') %}
                            <a class="uk-button uk-button-content uk-button-small uk-button-danger uk-button-table-delete" href="{{ path('nodesDeletePage', { nodeId: node.getId }) }}" title="{% trans %}delete{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-o"></i></a>
                            {% endif %}
                            {% if workflow_can(node, 'undelete') %}
                            <a class="uk-button uk-button-content uk-button-small" href="{{ path('nodesUndeletePage', { nodeId: node.getId }) }}" data-uk-tooltip="{animation:true}" title="{% trans %}undelete{% endtrans %}"><i class="uk-icon-rz-untrash"></i></a>
                            {% endif %}
                        {% endspaceless %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>

</section>
{% endblock %}
