{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global content-nav-and-filters">

    <header class="content-header header-node header-nodes-list">
        <h1 class="content-title">
            {% set mainTitle = mainFilter ~ '.nodes' %}
            {{ mainTitle|trans()|u.truncate(25, '[…]', true) }}
        </h1>
        {% include '@Rozier/widgets/countFiltersBar.html.twig' %}
        {# Add node control #}
        {% if nodeTypes|length %}
        <div class="content-header-action-menu">
            {% if mainFilter == 'deleted' %}
            <a class="uk-button rz-no-ajax-link" href="{{ path('nodesEmptyTrashPage') }}"><i class="uk-icon-trash-o"></i> {% trans %}empty.node.trash{% endtrans %}</a>
            {% else %}
            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                <button class="uk-button">
                <i class="uk-icon-rz-download"></i> {% trans %}export.all.nodes{% endtrans %} <i class="uk-icon-caret-down"></i>
                </button>
                <div class="uk-dropdown uk-dropdown-flip uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown">
                        <li><a class="rz-no-ajax-link" href="{{ path('nodesExportAllPage') }}"><i class="uk-icon-file-code-o"></i> {% trans %}export_format.rzn{% endtrans %}</a></li>
                        {% for translationItem in availableTranslations %}
                            <li><a class="rz-no-ajax-link" href="{{ path('nodesExportAllXlsxPage', {translationId:translationItem.id}) }}"><i class="uk-icon-file-excel-o"></i> {{ 'export_format.excel.%language%'|trans({'%language%':translationItem.name }) }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                <button class="uk-button"><i class="uk-icon-rz-plus"></i> {% trans %}create.a.node{% endtrans %} <i class="uk-icon-caret-down"></i></button>
                <div class="uk-dropdown uk-dropdown-flip uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown">
                        {% for type in nodeTypes %}
                        <li><a href="{{ path('nodesAddPage', { nodeTypeId: type.getId, translationId:translation.getId }) }}">{{ type.getDisplayName }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </header>

    {% include '@Rozier/widgets/filtersBar.html.twig' %}

    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="nodes content-table uk-table">
                <thead>
                {% include 'nodes/widgets/node-header.html.twig' with {
                    'filters': filters
                } only %}
                </thead>
                <tbody>
                    {% for node in nodes %}
                        {% include 'nodes/widgets/node-row.html.twig' with {
                            'node': node
                        } only %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>

</section>
{% endblock %}
