<nav class="node-navbar-navigation navbar-navigation uk-navbar has-translations">
    {% if source %}
        {% set translation = source.translation %}
    {% elseif available_translations[0] %}
        {# When no active source use available translation, not default one. #}
        {% set translation = available_translations[0] %}
    {% endif %}
    {% apply spaceless %}
    <ul class="uk-navbar-nav">
        {% if app.user and node != chroot_resolver.chroot(app.user) and is_granted('ROLE_ACCESS_NODES') %}
            <li class="uk-navbar-item{% if current == 'source' %} uk-active{% endif %}">
                {% set url = path('nodesEditSourcePage', {
                    nodeId: node.id,
                    translationId: translation.id
                }) %}
                <a class="uk-navbar-link" href="{{ url }}">{% trans %}node.content{% endtrans %}</a>
            </li>
            {% if (is_granted('ROLE_ACCESS_NODES_SETTING')) %}
                <li class="uk-navbar-item{% if current == 'edit' %} uk-active{% endif %}" >
                    <a class="uk-navbar-link" href="{{ path('nodesEditPage', { nodeId: node.id }) }}">
                        {%- trans -%}node.parameters{%- endtrans -%}
                    </a>
                </li>
            {% endif %}
            {% if (is_granted('ROLE_ACCESS_TAGS')) %}
                <li class="uk-navbar-item{% if current == 'tags' %} uk-active{% endif %}">
                    <a class="uk-navbar-link"
                       href="{{ path('nodesEditTagsPage', { nodeId: node.id}) }}">{% trans %}tags{% endtrans %}</a>
                </li>
            {% endif %}

            {% if (is_granted('ROLE_ACCESS_NODE_ATTRIBUTES')) %}
                <li class="uk-navbar-item{% if current == 'attributes' %} uk-active{% endif %}">
                    <a class="uk-navbar-link" href="{{ path('nodesEditAttributesPage', {
                        nodeId: node.id,
                        translationId: translation.id
                    }) }}">{% trans %}node.attributes{% endtrans %}</a>
                </li>
            {% endif %}
            {% block node_seo %}
                {% if node.nodeType.reachable %}
                    <li class="uk-navbar-item{% if current == 'seo' %} uk-active{% endif %}">
                        <a class="uk-navbar-link" href="{{ path('nodesEditSEOPage', {
                            nodeId: node.id,
                            translationId: translation.id
                        }) }}">{% trans %}seo{% endtrans %}</a>
                    </li>
                {% endif %}
            {% endblock %}
        {% endif %}

        {% if is_granted('ROLE_ACCESS_NODES') %}
        <li class="uk-navbar-item{% if current == 'tree' %} uk-active{% endif %}">
            {% set tree_url = path('nodesTreePage', {
                nodeId: node.id,
                translationId: translation.id
            }) %}
            <a data-uk-tooltip="{animation:true}"
               title="{% trans %}tree{% endtrans %}"
               class="uk-navbar-link"
               href="{{ tree_url }}"><i class="uk-icon-rz-node-tree"></i></a>
        </li>
        {% endif %}

        {% if is_granted('ROLE_ACCESS_LOGS') %}
            <li class="uk-navbar-item{% if current == 'history' %} uk-active{% endif %}">
                <a data-uk-tooltip="{animation:true}"
                   title="{% trans %}history{% endtrans %}"
                   class="uk-navbar-link"
                   href="{{ path('nodesHistoryPage', { nodeId: node.id}) }}"><i class="uk-icon uk-icon-clock-o"></i></a>
            </li>
        {% endif %}
        {% block additional_entries %}{% endblock %}
    </ul>
    {% endapply %}
</nav>
