{% if not head.ajax %}{% set baseTemplate = '@Rozier/base.html.twig' %}{% else %}{% set baseTemplate = '@Rozier/ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block content %}
<section class="content-global stack-tree">

    <header class="content-header header-node header-nodes-tree">
        {% if node %}
            {% include '@Rozier/nodes/breadcrumb.html.twig' with {"node": node} only %}
        {% endif %}
        <h1 class="content-title node-edit-title">
            {% if node %}
                {{ source.title|truncate(25, true, '[…]') }}{% if specificNodeTree.tag %} ({{ specificNodeTree.tag.translatedTags.first.name }}){% endif %}
                {% include '@Rozier/nodes/nodeTypeCircle.html.twig' %}
            {% else %}
                {{ 'tree'|trans }}
            {% endif %}
        </h1>

        {% include '@Rozier/widgets/countFiltersBar.html.twig' with {filters: specificNodeTree.filters} only %}
        {#{% include '@Rozier/nodes/navBack.html.twig' %}#}
        {% if node %}
            {% include '@Rozier/nodes/navBar.html.twig' with {"current": 'tree'} %}
        {% endif %}
        {% if node.stackTypes|length %}
        <div class="content-header-action-menu stack-tree-quick-creation">
            {% for stackType in node.stackTypes %}
            <a data-children-node-type="{{ stackType.id }}"
               data-children-parent-node="{{ node.id }}"
               {% if specificNodeTree.tag %}data-filter-tag="{{ specificNodeTree.tag.id }}"{% endif %}
               class="uk-button rz-no-ajax-link rz-add-child-node"
               href="#"><i class="uk-icon-rz-plus-simple"></i> {{ stackType.displayName }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </header>

    {% include '@Rozier/nodes/filtersBar.html.twig' with {
        filters: specificNodeTree.filters,
        deleteNodesForm: deleteNodesForm,
        tagNodesForm: tagNodesForm,
        statusNodesForm: statusNodesForm
    } only %}

    <article class="content content-node-tree">
        {% include '@Rozier/widgets/nodeTree/nodeTree.html.twig' with {
            "nodeTree":specificNodeTree,
            "node":specificNodeTree.getRootNode,
            "nodeStatuses":nodeStatuses,
            'request':request,
        } only %}
    </article>
    {% if node %}
        {% include '@Rozier/nodes/actionsMenu.html.twig' %}
    {% endif %}
</section>
{% endblock %}
