{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global stack-tree">

    <header class="content-header header-node header-nodes-tree">
        {% if node %}
            {% include '@Rozier/nodes/breadcrumb.html.twig' with {"node": node} only %}
        {% endif %}
        <h1 class="content-title node-edit-title">
            {% if node %}
                {{ source.title|u.truncate(25, '[…]', true) }}{% if specificNodeTree.tag %} ({{ specificNodeTree.tag.translatedTags.first.name }}){% endif %}
                {% include '@Rozier/nodes/nodeTypeCircle.html.twig' %}
            {% else %}
                {{ 'tree'|trans }}
            {% endif %}
        </h1>

        {% include '@Rozier/widgets/countFiltersBar.html.twig' with {filters: specificNodeTree.filters} only %}
        {% include 'nodes/navBack.html.twig' %}
        {% if node %}
            {% include 'nodes/navBar.html.twig' with {"current": 'tree'} %}
            {% include 'nodes/translationBar.html.twig' with {
                "current": translation.id,
                'route': 'nodesTreePage'
            } %}
        {% endif %}
        {% if node.stackTypes|length %}
        <div class="content-header-action-menu stack-tree-quick-creation">
            {% for stackType in node.stackTypes %}
            <a data-children-node-type="{{ stackType.id }}"
               data-children-parent-node="{{ node.id }}"
               {% if specificNodeTree.tag %}data-filter-tag="{{ specificNodeTree.tag.id }}"{% endif %}
               class="uk-button rz-no-ajax-link rz-add-child-node"
               href="#"><i class="uk-icon-rz-plus-simple"></i> {{ stackType.displayName }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </header>

    {% include '@Rozier/nodes/filtersBar.html.twig' with {
        filters: specificNodeTree.filters,
        deleteNodesForm: deleteNodesForm,
        tagNodesForm: tagNodesForm,
        statusNodesForm: statusNodesForm
    } only %}

    <article class="content content-node-tree">
        {% if availableTags %}
            <div class="available-nodetree-tags uk-visible-large">
                <a href="?" class="uk-badge">{{- 'see_all'|trans -}}</a>
                {% for tag in availableTags %}
                    {% set ttag = tag.translatedTagsByTranslation(translation) %}
                    {% set tagName = ttag[0].name|default(tag.tagName) %}
                    <a href="?tagId={{ tag.id }}" class="uk-badge"><i class="uk-icon-tag"></i> {{ tagName -}}</a>
                {% endfor %}
            </div>
        {% endif %}
        {% include '@Rozier/widgets/nodeTree/nodeTree.html.twig' with {
            "nodeTree":specificNodeTree,
            "node":specificNodeTree.getRootNode,
            "nodeStatuses":nodeStatuses,
            'request':request,
        } only %}
    </article>
    {% if node %}
        {% include 'nodes/actionsMenu.html.twig' %}
    {% endif %}
</section>
{% endblock %}
