{% if not head.ajax %}{% set baseTemplate = 'base.html.twig' %}{% else %}{% set baseTemplate = 'ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block content %}
<section class="content-global stack-tree">

    <header class="content-header header-node header-nodes-tree">
        {% include 'nodes/breadcrumb.html.twig' with {"node": node} only %}
        <h1 class="content-title node-edit-title">{{ source.getTitle }}</h1>

        {% include 'widgets/countFiltersBar.html.twig' with {filters: specificNodeTree.filters} only %}
        {% include 'nodes/navBack.html.twig' %}
        {% include 'nodes/navBar.html.twig' with {"current": 'tree'} %}

        {% if node.stackTypes|length %}
        <div class="content-header-action-menu stack-tree-quick-creation">
            {% for stackType in node.stackTypes %}
            <a data-children-node-type="{{ stackType.id }}"
               data-children-parent-node="{{ node.id }}"
               class="uk-button rz-no-ajax-link rz-add-child-node"
               href="#"><i class="uk-icon-rz-plus-simple"></i> {{ "add.a.%nodeType%"|trans({'%nodeType%': stackType.getDisplayName}) }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </header>

    {% include 'widgets/filtersBar.html.twig' with {filters: specificNodeTree.filters} only %}

    <nav class="nodes-bulk-actions">
        {% if deleteNodesForm %}
            {% form_theme deleteNodesForm 'forms.html.twig' %}
            <form class="uk-form uk-form-horizontal node-bulk-delete-form" action="{{ path('nodesBulkDeletePage') }}" method="get" {{ form_enctype(deleteNodesForm) }}>
                {{ form_widget(deleteNodesForm) }}
                <button type="submit" class="uk-button uk-button-small uk-button-danger node-bulk-delete"><i class="uk-icon-rz-trash-mini-o"></i> {% trans %}bulk.delete.nodes{% endtrans %}</button>
            </form>
        {% endif %}
        {% form_theme tagNodesForm 'forms.html.twig' %}
        <form class="uk-form uk-form-horizontal node-bulk-folder-form" action="#" method="post" {{ form_enctype(tagNodesForm) }}>
            {{ form_widget(tagNodesForm) }}
        </form>
    </nav>

    <article class="content content-no-action-menu">
        {% include 'widgets/nodeTree/nodeTree.html.twig' with { "nodeTree":specificNodeTree, "node":specificNodeTree.getRootNode } only %}
    </article>

    {% include 'nodes/actionsMenu.html.twig' %}
</section>
{% endblock %}

