{% set editUrl = path('documentsHomePage', { folderId: folder.id }) %}
{# Remove VueJS placeholder marks #}
{% set folderName = folder.translatedFolders.first.name|default(folder.folderName)|replace({'${':'--'}) %}
{% set subFolders = folderTree.childrenFolders(folder) %}
<li data-folder-id="{{ folder.id }}"
    class="uk-nestable-item uk-nestable-list-item-folder foldertree-element{% if subFolders|length > 0 %} has-children{% endif %}">
    <div class="tree-element-inner uk-nestable-panel uk-nestable-item-folder">
        <div class="uk-nestable-handle uk-nestable-handle-folder">
            <i class="{% if subFolders|length > 0 %}uk-icon-rz-folder-tree-mini{% else %}uk-icon-rz-folder-tree-mini{% endif %}"></i>
        </div>
        <div data-nestable-action="toggle"></div>
        <div class="tree-element-name foldertree-element-name"{% if folderTree.translation is rtl %} dir="rtl"{% endif %}>
            <a href="{{ editUrl }}">{{- folderName -}}</a>
        </div>

        <div class="tree-contextualmenu foldertree-contextualmenu uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
            <button tabindex="-1" class="tree-contextualmenu-button uk-button uk-button-mini">
                <i class="uk-icon-caret-down"></i>
            </button>
            <nav class="uk-dropdown uk-dropdown-small uk-dropdown-flip">
                <div class="uk-nav uk-nav-dropdown uk-dropdown-flip">
                    <p>
                        <a title="{{ "edit.folder.%name%"|trans({'%name%': folderName}) }}"
                           href="{{ path('foldersEditPage', { folderId:folder.id }) }}">
                            <i class="uk-icon-pencil"></i> {% trans %}edit.folder{% endtrans %}
                        </a>
                    </p>
                    <p>
                        <a title="{{ "add.folder.%name%.child"|trans({'%name%': folderName}) }}"
                           href="{{ path('foldersAddPage', { parentFolderId:folder.id }) }}">
                            <i class="uk-icon-rz-plus"></i> {% trans %}add.child.folder{% endtrans %}
                        </a>
                    </p>
                    <p>
                        <a title="{{ "delete.folder.%name%"|trans({'%name%': folderName}) }}"
                           href="{{ path('foldersDeletePage', { folderId:folder.id }) }}">
                            <i class="uk-icon-trash-o"></i> {% trans %}delete.folder{% endtrans %}
                        </a>
                    </p>
                </div>
            </nav>
        </div>
    </div>
    <ul class="uk-nestable-list uk-nestable-list-folder" data-parent-folder-id="{{ folder.id }}">
    {#
     # For drag&drop ease, we don't create nested lists
     # We will have to check after OR inside drag status
     #}
    {% for subFolder in subFolders %}
        {% include 'widgets/folderTree/singleFolder.html.twig' with {
            "folder":subFolder,
            "parent":folder,
            "folderTree":folderTree
        } %}
    {% endfor %}
    </ul>
</li>
