{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global">

    <header class="content-header header-node header-node-add">
        <h1 class="content-title">{% trans %}add.a.newsletter{% endtrans %}</h1>
        {% if type %}<h2><em>{{ type.getDisplayName }}</em></h2>{% endif %}
        {% if parentNode %}<h2><em>{% trans %}In{% endtrans %}</em> {{ parentNode.getNodeName }}</h2>{% endif %}
        {% include '@Rozier/newsletters/navBack.html.twig' %}
    </header>

    <article class="content content-no-action-menu">
        {% if nodeTypesCount %}
            {% form_theme form '@Rozier/forms.html.twig' %}
            {{ form_start(form) }}
                {{ form_widget(form) }}
                {% spaceless %}
                <button class="uk-button uk-button-primary" type="submit">
                    <i class="uk-icon-rz-plus"></i> {% trans %}add.a.newsletter{% endtrans %}
                </button>
                {% endspaceless %}
            {{ form_end(form) }}
        {% else %}
            <p class="uk-alert uk-alert-warning">{% trans %}no.nodeType.available.create_one_first{% endtrans %}</p>
        {% endif %}
    </article>

</section>
{% endblock %}
