{% if not head.ajax %}{% set baseTemplate = 'base.html.twig' %}{% else %}{% set baseTemplate = 'ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block content %}
<section class="content-global content-nav-and-filters">

    <header class="content-header header-node header-nodes-list">
        <h1 class="content-title">
            {% trans %}newsletter{% endtrans %}
        </h1>
        {% include 'widgets/countFiltersBar.html.twig' %}
        {# Add node control #}
        {% if nodeTypes|length %}
        <div class="content-header-action-menu">
            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                <button class="uk-button"><i class="uk-icon-rz-plus"></i> {% trans %}create.a.newsletter{% endtrans %} <i class="uk-icon-caret-down"></i></button>
                <div class="uk-dropdown uk-dropdown-flip uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown">
                        {% for type in nodeTypes %}
                        <li><a href="{{ path('newslettersAddPage', { nodeTypeId: type.getId, translationId:translation.getId }) }}">{{ type.getDisplayName }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </header>

    {% include 'widgets/filtersBar.html.twig' %}

    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="nodes content-table uk-table">
                <thead>
                    <tr>
                        <th>{% trans %}name{% endtrans %}</th>
                        <th class="mobile-hidden">{% trans %}newsletter.type{% endtrans %}</th>
                        <!-- <th class="mobile-hidden">{% trans %}newsletter.status{% endtrans %}</th> -->
                        <th class="mobile-hidden">{% trans %}last.modification{% endtrans %}</th>
                        <th class="table-actions-row table-actions-row-3">{% trans %}actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for newsletter in newsletters %}
                    <tr>
                        {% if newsletter.node.nodeSources.first.title %}
                        <td class="nodes-list-item-link"><span class="nodes-list-item-color" style="background-color:{{ newsletter.node.nodeType.color }};"></span><a href="{{ path('newslettersEditPage', { newsletterId: newsletter.id, translationId: translation.id }) }}">{{ newsletter.node.nodeSources.first.getTitle }}</a></td>
                        {% else %}
                        <td class="nodes-list-item-link"><span class="nodes-list-item-color" style="background-color:{{ newsletter.node.nodeType.color }};"></span><a href="{{ path('newslettersEditPage', { newsletterId: newsletter.id, translationId: translation.id }) }}">{{ newsletter.node.nodeName }}</a></td>
                        {% endif %}
                        <td class="mobile-hidden">{{ newsletter.node.nodeType.displayName }}</td>
                        {# <td class="mobile-hidden">  <!-- style="text-align:center;" -->
                            {% spaceless %}
                                {% if newsletter.draft == true %}
                                <div class="uk-button-status uk-button-draft" title="{% trans %}newsletter.draft{% endtrans %}" data-uk-tooltip="{animation:true}">
                                    <i class="uk-icon-rz-draft-nodes"></i>
                                </div><!-- uk-badge-warning -->
                                {% endif %}
                                {% if newsletter.pending == true %}
                                <div class="uk-button-status uk-button-pending" title="{% trans %}newsletter.pending{% endtrans %}" data-uk-tooltip="{animation:true}">
                                    <i class="uk-icon-rz-pending-nodes"></i>
                                </div><!-- uk-badge-warning -->
                                {% endif %}
                                {% if newsletter.sending == true %}
                                <div class="uk-button-status uk-button-sending" title="{% trans %}newsletter.sending{% endtrans %}" data-uk-tooltip="{animation:true}">
                                    <i class="uk-icon-truck"></i>
                                </div><!-- uk-badge-danger -->
                                {% endif %}
                                {% if newsletter.sent == true %}
                                <div class="uk-button-status uk-button-sent" title="{% trans %}newsletter.sent{% endtrans %}" data-uk-tooltip="{animation:true}">
                                    <i class="uk-icon-check"></i>
                                </div><!-- uk-badge-notification -->
                                {% endif %}
                            {% endspaceless %}
                        </td> #}
                        <td class="mobile-hidden">{{ newsletter.node.updatedAt|localizeddate('short', 'none') }}</td>
                        <td>
                        {% spaceless %}
                            <a class="uk-button uk-button-content uk-button-small" href="{{ path('newslettersEditPage', { newsletterId: newsletter.id, translationId: translation.id }) }}" title="{% trans %}edit{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
                            <a class="uk-button uk-button-content uk-button-small" href="{{ path('newslettersDuplicatePage', { newsletterId: newsletter.id }) }}" title="{% trans %}duplicate{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-duplicate"></i></a>
                            <a class="uk-button uk-button-content uk-button-small" href="{{ path('newslettersPreviewPage', { newsletterId: newsletter.id }) }}" target="_blank" title="{% trans %}see.newsletter{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-visibility"></i></a>
                            <!-- <a class="uk-button uk-button-content uk-button-small" href="{{ path('nodesEditPage', { nodeId: newsletter.node.id }) }}" title="{% trans %}newsletter.test.email{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a> -->
                        {% endspaceless %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>

</section>
{% endblock %}
