{% extends 'base.html.twig' %}


{% block header %}
	{% if nodeSource.headerImage|length > 0 %}
	{% set headerImage = nodeSource.headerImage[0] %}
	<header>
		<figure>
			<img alt="{{ nodeSource.title }}" src="{{ headerImage.viewer.getDocumentUrlByArray(themeServices.imageFormats.headerImage) }}" />
		</figure>
	</header>
	{% else %}
	{{ parent() }}
	{% endif %}
{% endblock %}

{% block content %}
<h1>{{ nodeSource.title }}</h1>
<div class="content">{{ nodeSource.content|markdown }}</div>
<div class="image">
	{% for document in nodeSource.images %}
		{% set imageMetas = document.documentTranslations.first %}
		<figure class="uk-thumbnail">
			{{ document.viewer.documentByArray(themeServices.imageFormats.thumbnail)|raw }}
			{% if imageMetas.name or imageMetas.copyright %}
			<figcaption>{{ imageMetas.name }} — {{ imageMetas.copyright }}</figcaption>
			{% endif %}
		</figure>
	{% endfor %}
</div>
{% endblock %}
