{% extends '@DefaultTheme/base.html.twig' %}

{% block header %}
	{% if nodeSource.headerImage|length > 0 %}
	{% set headerImage = nodeSource.headerImage[0] %}
	<header>
		<figure style="background-image:url({{ headerImage|url(themeServices.imageFormats.headerImage) }})"></figure>
	</header>
	{% else %}
	{{ parent() }}
	{% endif %}
{% endblock %}

{% block content %}
{% spaceless %}
{% set breadcrumb = nodeSource|parents %}
<div class="breadcrumb">
	{% for parent in breadcrumb|reverse %}
		{% if parent.id == home.id %}
		{% else %}
	    <a href="{{ parent|url }}">{{ parent.title }}</a>
		{% endif %}
	{% endfor %}
</div>
{% endspaceless %}
<h1>{{ nodeSource.title }}</h1>
<h2>{{ nodeSource.subtitle }}</h2>


<div class="content">{{ nodeSource.content|markdown }}</div>
<div class="pictures">
	{% for document in nodeSource.pictures %}
		{% set imageMetas = document.documentTranslations.first %}
		<figure class="uk-thumbnail">
			{{ document|display(themeServices.imageFormats.thumbnail) }}
			{% if imageMetas.name or imageMetas.copyright %}
			<figcaption>{{ imageMetas.name }} {{ imageMetas.copyright }}</figcaption>
			{% endif %}
		</figure>
	{% endfor %}
</div>

{% set prev = nodeSource|previous %}
{% if not prev %}{% set prev = nodeSource|lastSibling %}{% endif %}

{% set next = nodeSource|next %}
{% if not next %}{% set next = nodeSource|firstSibling %}{% endif %}


{% if not node.home and (prev or next) %}
{% spaceless %}
<nav class="contextual-menu">
	{% if prev %}
		<a class="previous" href="{{ prev|url }}"><i class="uk-icon-arrow-left"></i> {{ prev.title }}</a>
	{% endif %}
	{% if next %}
		<a class="next" href="{{ next|url }}">{{ next.title }} <i class="uk-icon-arrow-right"></i></a>
	{% endif %}
</nav>
{% endspaceless %}
{% endif %}
{% endblock %}
