{% extends 'base.html.twig' %}

{% set headerImages = nodeSource.headerImage %}
{% block header %}
<header>
	{% for headerImage in headerImages %}
	<figure>
		<img alt="{{ nodeSource.title }}" src="{{ headerImage.viewer.getDocumentUrlByArray(themeServices.imageFormats.headerImage) }}" />
	</figure>
	{% endfor %}
</header>
{% endblock %}

{% block content %}
<h1>{{ nodeSource.title }}</h1>
<div>{{ nodeSource.content|markdown }}</div>
<div class="image">
	{% for document in nodeSource.images %}
		{% set imageMetas = document.documentTranslations.first %}
		<figure class="uk-thumbnail">
			{{ document.viewer.documentByArray(themeServices.imageFormats.thumbnail)|raw }}
			{% if imageMetas.name or imageMetas.copyright %}
			<figcaption>{{ imageMetas.name }} — {{ imageMetas.copyright }}</figcaption>
			{% endif %}
		</figure>
	{% endfor %}
</div>
{% endblock %}
