<tr>
    <td class="nodes-list-item-link">
        <span class="nodes-list-item-color" style="background-color:{{ node.nodeType.color }};"></span>
        <a href="{{ path('nodesEditPage', { nodeId: node.id }) }}">{{ node.nodeSources.first.title|default(node.nodeName) }}</a>
    </td>
    <td class="mobile-hidden">{{ node.nodeType.displayName }}</td>
    <td class="mobile-hidden uk-visible-large">
        {% apply spaceless %}
            {% if node.isDraft == true %}
                <div class="uk-button-status uk-button-draft" title="{% trans %}node.draft{% endtrans %}" data-uk-tooltip="{animation:true}">
                    <i class="uk-icon-rz-draft-nodes"></i>
                </div><!-- uk-badge-warning -->
            {% endif %}
            {% if node.isPending == true %}
                <div class="uk-button-status uk-button-pending" title="{% trans %}node.pending.validation{% endtrans %}" data-uk-tooltip="{animation:true}">
                    <i class="uk-icon-rz-pending-nodes"></i>
                </div><!-- uk-badge-warning -->
            {% endif %}
            {% if node.isDeleted == true %}
                <div class="uk-button-status uk-button-deleted" title="{% trans %}node.deleted{% endtrans %}" data-uk-tooltip="{animation:true}">
                    <i class="uk-icon-rz-trash-mini-o"></i>
                </div><!-- uk-badge-danger -->
            {% endif %}
            {% if node.isVisible == false %}
                <div class="uk-button-status uk-button-hidden" title="{% trans %}node.hidden{% endtrans %}" data-uk-tooltip="{animation:true}">
                    <i class="uk-icon-eye-slash"></i>
                </div><!-- uk-badge-notification -->
            {% endif %}
            {% if node.isLocked %}
                <div class="uk-button-status uk-button-locked" title="{% trans %}locked{% endtrans %}" data-uk-tooltip="{animation:true}">
                    <i class="uk-icon-lock"></i>
                </div><!-- uk-badge-notification -->
            {% endif %}
            {% if node.isArchived %}
                <div class="uk-button-status uk-button-archived" title="{% trans %}node.archived{% endtrans %}" data-uk-tooltip="{animation:true}">
                    <i class="uk-icon-rz-archive-mini"></i>
                </div><!-- uk-badge-notification -->
            {% endif %}
        {% endapply %}
    </td>
    <td class="mobile-hidden uk-visible-xlarge">{{ node.updatedAt|format_date('short', locale=app.request.locale) }}</td>
    <td class="table-actions-row">
        {% apply spaceless %}
            <a class="uk-button uk-button-content uk-button-small"
               href="{{ path('nodesEditPage', { nodeId: node.id }) }}"
               title="{% trans %}edit.node{% endtrans %}"
               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
            <a class="uk-button uk-button-content uk-button-small"
               href="{{ path('nodesTreePage', { nodeId: node.id }) }}"
               title="{% trans %}see.nodetree{% endtrans %}"
               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-node-tree-mini"></i></a>
            {% if workflow_can(node, 'delete') %}
                <a class="uk-button uk-button-content uk-button-small uk-button-danger uk-button-table-delete"
                   href="{{ path('nodesDeletePage', { nodeId: node.id }) }}"
                   title="{% trans %}delete{% endtrans %}"
                   data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-o"></i></a>
            {% endif %}
            {% if workflow_can(node, 'undelete') %}
                <a class="uk-button uk-button-content uk-button-small"
                   href="{{ path('nodesUndeletePage', { nodeId: node.id }) }}"
                   data-uk-tooltip="{animation:true}"
                   title="{% trans %}undelete{% endtrans %}"><i class="uk-icon-rz-untrash"></i></a>
            {% endif %}
        {% endapply %}
    </td>
</tr>
