<nav id="admin-menu" class="uk-width-1-10">
	<ul class="uk-nav">
		<li><a href="{{ path('nodesHomePage') }}">{% trans %}manage.nodes{% endtrans %}</a></li>
		<li><a href="{{ path('documentsHomePage') }}">{% trans %}manage.documents{% endtrans %}</a></li>
		<li><a href="{{ path('tagsHomePage') }}">{% trans %}manage.tags{% endtrans %}</a></li>
		<li><a href="{{ path('nodeTypesHomePage') }}">{% trans %}manage.node-types{% endtrans %}</a></li>
		<li><a href="{{ path('translationsHomePage') }}">{% trans %}manage.translations{% endtrans %}</a></li>
		<li><a href="{{ path('usersHomePage') }}">{% trans %}manage.users{% endtrans %}</a></li>
		<li><a href="{{ path('themesHomePage') }}">{% trans %}manage.themes{% endtrans %}</a></li>
		<li><a href="{{ path('settingsHomePage') }}">{% trans %}manage.settings{% endtrans %}</a></li>
	</ul>
</nav>	