<nav id="admin-menu" class="uk-width-1-10">
	<ul class="uk-nav">
		<li><a href="{{ path('nodesHomePage') }}">{% trans %}Manage nodes{% endtrans %}</a></li>
		<li><a href="{{ path('tagsHomePage') }}">{% trans %}Manage tags{% endtrans %}</a></li>
		<li><a href="{{ path('nodeTypesHomePage') }}">{% trans %}Manage node-types{% endtrans %}</a></li>
		<li><a href="{{ path('translationsHomePage') }}">{% trans %}Manage translations{% endtrans %}</a></li>
		<li><a href="{{ path('settingsHomePage') }}">{% trans %}Manage settings{% endtrans %}</a></li>
	</ul>
</nav>	