<div class="tree-contextualmenu nodetree-contextualmenu uk-button-dropdown"
     data-uk-dropdown="{mode:'click',boundary:'#root-tree'}">
    <a href="#"
       tabindex="-1"
       class="tree-contextualmenu-button uk-button uk-button-mini"><i class="uk-icon-caret-down"></i></a>
    <nav class="uk-dropdown uk-dropdown-small uk-dropdown-flip">
        <div class="vertical-nodetype">
            {% if node.Locked %} <i class="uk-icon-lock"></i>{% endif %}
            {% if not node.Visible %} <i class="uk-icon-eye-slash"></i>{% endif %}
        </div>
        <div class="uk-nav uk-nav-dropdown">
            <p class="add-child">
                <a title="{{ "add.node.%name%.child"|trans({'%name%': node.nodeName}) }}"
                   href="{{ path('nodesAddChildPage', { nodeId:node.id }) }}">
                    <i class="uk-icon-rz-plus"></i> {% trans %}add.a.child.node{% endtrans %}
                </a>
            </p>
            <div class="wrapper">
                <header class="uk-nav-header">Actions</header>
                <p>
                    <a title="{{ "edit.node.%name%"|trans({'%name%': node.nodeName}) }}"
                       href="{{ path('nodesEditPage', { nodeId:node.id }) }}">
                        <i class="uk-icon-rz-pencil"></i> {% trans %}edit.node{% endtrans %}
                    </a>
                </p>
                {% if not node.Locked %}
                    <p>
                        <a class="move-node-first-position smaller-text"
                           title="{% trans %}move.node.to.first.position{% endtrans %}"
                           href="#">
                            <i class="uk-icon-arrow-up"></i> {% trans %}move.node.to.first.position{% endtrans %}
                        </a>
                    </p>
                    <p>
                        <a class="move-node-last-position smaller-text"
                           title="{% trans %}move.node.to.last.position{% endtrans %}"
                           href="#">
                            <i class="uk-icon-arrow-down"></i> {% trans %}move.node.to.last.position{% endtrans %}
                        </a>
                    </p>
                {% endif %}

                {% if workflow_can(node, 'delete') %}
                    {% set refererUrl = null %}
                    {% if node.parent %}
                        {% set refererUrl = path('nodesEditSourcePage', {
                            nodeId: node.parent.id,
                            translationId: nodeTree.translation.id
                        }) %}
                    {% endif %}
                    <p>
                        <a title="{{ "delete.node.%name%"|trans({'%name%': node.nodeName}) }}"
                           href="{{ path('nodesDeletePage', { nodeId: node.id, referer: refererUrl }) }}">
                            <i class="uk-icon-rz-trash-o"></i> {% trans %}delete.node{% endtrans %}
                        </a>
                    </p>
                {% endif %}
            </div>
            {% if not node.Locked %}
                <div class="wrapper node-actions">
                    <header class="uk-nav-header">{% trans %}statuses{% endtrans %}</header>
                    <p>
                        {% if node.visible %}
                            <a data-action="hide"
                               data-status="visible"
                               data-value="0"
                               class="hide-node"
                               title="{% trans %}node.hide{% endtrans %}"
                               href="#"><i class="uk-icon-eye-slash"></i> {% trans %}node.hide{% endtrans %}</a>
                        {% else %}
                            <a data-action="show"
                               data-status="visible"
                               data-value="1"
                               class="show-node"
                               title="{% trans %}node.show{% endtrans %}"
                               href="#"><i class="uk-icon-rz-visibility-mini"></i> {% trans %}node.show{% endtrans %}</a>
                        {% endif %}
                    </p>
                    {% if not node.isPublished and workflow_can(node, 'publish') %}
                        <p>
                            <a data-action="publish"
                               data-status="status"
                               data-value="publish"
                               class="publish-node"
                               title="{% trans %}node.publish{% endtrans %}"
                               href="#"><i class="uk-icon-rz-published-mini"></i> {% trans %}node.publish{% endtrans %}</a>
                        </p>
                    {% endif %}
                    {% if workflow_can(node, 'reject') %}
                        <p>
                            <a data-action="reject"
                               data-status="status"
                               data-value="reject"
                               class="unpublish-node"
                               title="{% trans %}node.unpublish{% endtrans %}"
                               href="#"><i class="uk-icon-rz-draft-nodes"></i> {% trans %}node.unpublish{% endtrans %}</a>
                        </p>
                    {% endif %}
                    {% if workflow_can(node, 'publish') %}
                        <p><a class="publish-all-node"
                              title="{% trans %}publish_node_offspring{% endtrans %}"
                              href="{{ path('nodesPublishAllAction', { nodeId : node.id }) }}">
                                <i class="uk-icon-rz-published-mini"></i> {% trans %}publish_node_offspring{% endtrans %}</a>
                        </p>
                    {% endif %}
                    <p>
                        <a data-action="duplicate"
                           class="duplicate-node"
                           title="{% trans %}node.duplicate{% endtrans %}"
                           href="#"><i class="uk-icon-rz-duplicate"></i> {% trans %}node.duplicate{% endtrans %}</a>
                    </p>
                </div>
            {% endif %}
        </div>
    </nav>
</div>
