{% apply spaceless %}
{% if nodeTree %}
    {% set nodes = nodeTree.nodes %}
    <nav class="tree-widget nodetree-widget">
        {% if mainNodeTree %}
            <div class="tree-head nodetree-head">
                <h4>
                    {% trans %}nodeTree{% endtrans %}
                    <a class="see-all-root-tree"
                       data-uk-tooltip="{animation:true}"
                       title="{% trans %}see_all{% endtrans %}"
                       href="{{ path('nodesTreePage') }}"><i class="uk-icon-search"></i></a>
                </h4>
                {% if not nodeTree.rootNode %}
                    <a href="{{ path('nodesAddChildPage') }}"
                       class="tree-btn-add"
                       id="nodetree-btn-add"><i class="uk-icon-rz-plus-simple"></i>{% trans %}add.a.node{% endtrans %}</a>
                {% else %}
                    <a href="{{ path('nodesAddChildPage', { nodeId : nodeTree.rootNode.id }) }}"
                       class="tree-btn-add"
                       id="nodetree-btn-add"><i class="uk-icon-rz-plus-simple"></i>{% trans %}add.child.node{% endtrans %}</a>
                {% endif %}
            </div>
        {% endif %}
        {% if mainNodeTree %}
        <div class="tree-scroll-cont">
            <div class="tree-scroll">
            {% endif %}
                {% if nodeTree.availableTranslations and nodeTree.availableTranslations|length > 1 %}
                <ul class="nodetree-langs{% if nodeTree.availableTranslations|length <= 5 %} few-langs{% endif %}">
                    {% apply spaceless %}
                    {% for lang in nodeTree.availableTranslations %}
                    <li class="{% if lang.id == nodeTree.translation.id %}active{% endif %}">
                        <a href="#"
                           class="rz-no-ajax-link"
                           {% if nodeTree.tag %}data-filter-tag="{{ nodeTree.tag.id }}"{% endif %}
                           data-children-parent-node="{{ nodeTree.rootNode.id }}"
                           data-translation-id="{{ lang.id }}">{{ lang.preferredLocale|capitalize }}</a>
                    </li>
                    {% endfor %}
                    {% endapply %}
                </ul>
                {% endif %}

                {% set rootTreeClasses = [
                    'nodetree',
                    'root-tree',
                ] %}
                {% if nodeTree.canReorder %}
                    {% set rootTreeClasses = rootTreeClasses|merge(['uk-nestable']) %}
                {% endif %}
                {% if not mainNodeTree and not nodeTree.isStackTree %}
                    {% set rootTreeClasses = rootTreeClasses|merge(['children-node-widget']) %}
                {% elseif nodeTree.isStackTree %}
                    {% set rootTreeClasses = rootTreeClasses|merge(['stack-tree-widget']) %}
                {% endif %}

                <ul class="{{ rootTreeClasses|join(' ') }}"
                    data-uk-nestable="{'group':'nodeTree', handleClass:'uk-nestable-handle'}"
                    data-parent-node-id="{{ nodeTree.rootNode.id }}"
                    data-translation-id="{{ nodeTree.translation.id }}"
                    {% if linkedTypes %}data-linked-types="{{ linkedTypes|map(t => t.name)|json_encode }}"{% endif %}
                    data-page="{{ nodeTree.filters.currentPage }}"
                    {% if nodeTree.isStackTree %}data-stack-tree="1"{% endif %}
                    {% if nodeTree.tag %}data-filter-tag="{{ nodeTree.tag.id }}"{% endif %}>
                    {% for cnode in nodes %}
                        {% include 'widgets/nodeTree/singleNode.html.twig' with {
                            "node":cnode,
                            "parent":nodeTree.rootNode,
                            "nodeTree":nodeTree,
                            "request":request,
                            "mainNodeTree":mainNodeTree,
                            "nodeStatuses":nodeStatuses,
                            "level": 0,
                            'canReorder': nodeTree.canReorder,
                        } only %}
                    {% endfor %}
                </ul>
            {% if mainNodeTree %}
            </div>
        </div>
        {% endif %}
    </nav>
{% endif %}
{% endapply %}
