{% if node.getNodeSources.first.getTitle %}
{% set name = node.getNodeSources.first.getTitle %}
{% else %}
{% set name = node.getNodeName %}
{% endif %}
<li data-node-id="{{ node.getId }}"
	class="nodetree-element">

	<div class="nodetree-element-inner uk-nestable-item
		{% if node.isHome %}home-node {% endif %}
		{% if node.isHidingChildren %}stack-node {% endif %}
		{% if not node.isVisible %}hidden-node {% endif %}
		{% if not node.isPublished %}unpublished-node {% endif %}
		{% if not node.isArchived %}archived-node {% endif %}
		{% if not node.isLocked %}locked-node {% endif %}">
		<div class="uk-nestable-handle"></div>
		{% if not node.isHidingChildren %}<div data-nestable-action="toggle"></div>{% endif %}
		<div class="nodetree-element-name">
			{% if node.isHidingChildren %}
				<a href="{{ path('nodesTreePage', { nodeId:node.getId }) }}">{{ name }}</a>
			{% else %}
				<a href="{{ path('nodesEditSourcePage', { nodeId:node.getId, translationId:nodeTree.getTranslation.getId}) }}">{{ name }}</a>
			{% endif %}

			{#
			 # Node statuses
			 #}
			{% if node.isHome %}<i class="uk-icon-home"></i> {% endif %}
			{% if node.isHidingChildren %}<i class="uk-icon-folder"></i> {% endif %}
			{% if not node.isVisible %}<i class="uk-icon-eye-slash"></i> {% endif %}
			{% if node.isLocked %}<i class="uk-icon-locked-on"></i> {% endif %}
			{% if not node.isPublished %}<i class="uk-icon-unpublished"></i> {% endif %}
			{% if node.isArchived %}<i class="uk-icon-archive"></i> {% endif %}

		</div>

		<div class="nodetree-contextualmenu uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
		    <button class="uk-button uk-button-mini"><i class="uk-icon-caret-down"></i></button>
		    <nav class="uk-dropdown uk-dropdown-small uk-dropdown-flip">
		        <div class="uk-nav uk-nav-dropdown uk-dropdown-flip">
		            <p>
		            	<a title="{% trans %}edit.node.%name%{% endtrans %}" href="{{ path('nodesEditPage', { nodeId:node.getId }) }}">
		            		<i class="uk-icon-pencil"></i> {% trans %}edit.node{% endtrans %}
		            	</a>
		            </p>
		            <p>
		            	<a title="{% trans %}add.child.node.%name%{% endtrans %}" href="{{ path('nodesAddChildPage', { nodeId:node.getId }) }}">
		            		<i class="uk-icon-plus"></i> {% trans %}add.child.node{% endtrans %}
		            	</a>
		            </p>

		            {% if (securityContext.Granted('ROLE_ACCESS_NODES_DELETE') or securityContext.Granted('ROLE_SUPERADMIN')) %}

		            <p>
		            	<a title="{% trans %}delete.node.%name%{% endtrans %}" href="{{ path('nodesDeletePage', { nodeId:node.getId }) }}">
		            		<i class="uk-icon-trash-o"></i> {% trans %}delete.node{% endtrans %}
		            	</a>
		            </p>

		            {% endif %}

		        </div>
		    </nav>
		</div>
	</div>
	{% spaceless %}
	<ul class="uk-nestable-list" data-parent-node-id="{{ node.getId }}">
	{#
	 # For drag&drop ease, we don't create nested lists
	 # We will have to check after OR inside drag status
	 #}
	{% if not node.isHidingChildren %}
		{% for subNode in nodeTree.getChildrenNodes(node) %}
			{% include 'widgets/nodeTree/singleNode.html.twig' with {"node":subNode, "parent":node, "nodeTree":nodeTree} %}
		{% endfor %}
	{% endif %}
	</ul>
	{% endspaceless %}
</li>
