{% set source = node.getNodeSources.first %}

{% if source.getTitle %}
{% set name = source.getTitle %}
{% else %}
{% set name = node.getNodeName %}
{% endif %}
{% set type = node.getNodeType.getName() %}
<li data-node-id="{{ node.getId }}"
	class="{{ type|lower }} nodetree-element uk-nestable-list-item{% if not node.isHidingChildren and not node.nodeType.isHidingNodes and node.getChildren.count > 0 %} has-children{% endif %}">

	{% if not mainNodeTree and not nodeTree.isStackTree %}
	<span class="nodetree-list-item-color"></span>
	{% endif %}

	<div class="nodetree-element-inner uk-nestable-item
		{% if node.isHome and node.isHidingChildren %}home-stack {% endif %}
		{% if node.isHome %}home-node {% endif %}
		{% if node.isHidingChildren %}stack-node {% endif %}
		{% if not node.isVisible %}hidden-node {% endif %}
		{% if not node.isPublished %}unpublished-node {% endif %}
		{% if not node.isArchived %}archived-node {% endif %}
		{% if not node.isLocked %}locked-node {% endif %}">
		<div class="uk-nestable-handle">

			{% if not mainNodeTree and not nodeTree.isStackTree %}
				{% set thumbnail = source.getDocumentsByFields.first.getDocument %}
				{% if thumbnail and thumbnail.image and not thumbnail.private %}
				<figure class="nodetree-element-img">
					{{ thumbnail|display({"width":60, "crop":"1x1", "quality":80}) }}
				</figure>
				{% endif %}
			{% endif %}

			{% if node.isHidingChildren and not node.isHome %}
				<i class="uk-icon-folder"></i>
				<span class="icon-stack-folder"></span>
				<span class="icon-stack-folder icon-stack-folder-final"></span>
			{% endif %}
			{% if node.isHome and not node.isHidingChildren %}<i class="uk-icon-rz-home"></i> {% endif %}
			{% if node.isHome and node.isHidingChildren %}<i class="uk-icon-rz-building"></i> {% endif %}
		</div>

		{#
		 # Node statuses
		 #}
		{# {% if not node.isVisible %}<i class="uk-icon-eye-slash"></i> {% endif %} #}
		{% if node.isLocked %}<i class="uk-icon-locked-on"></i> {% endif %}
		{# {% if not node.isPublished %}<i class="uk-icon-unpublished"></i> {% endif %} #}
		{% if node.isArchived %}<i class="uk-icon-archive"></i> {% endif %}

		<div class="tree-element-name nodetree-element-name">
			{% if node.isHidingChildren %}
				<a href="{{ path('nodesTreePage', { nodeId:node.getId }) }}">{{ name }}</a>
			{% else %}
				<a href="{{ path('nodesEditSourcePage', { nodeId:node.getId, translationId:nodeTree.getTranslation.getId}) }}">{{ name }}</a>
			{% endif %}
		</div>

		{% if nodeTree.isStackTree and node.tags|length %}
		<div class="nodetree-tags">
		{% for tag in node.tags %}
			<a href="?tagId={{ tag.id }}" class="uk-badge">{{ tag.tagName }}</a>
		{% endfor %}
		</div>
		{% endif %}

		{% if nodeTree.isStackTree %}
		<div class="nodetree-bulk-selection">
			<input class="node-checkbox" type="checkbox" name="bulk-selection[]" value="{{ node.getId }}" />
		</div>
		{% endif %}

		<div class="tree-contextualmenu nodetree-contextualmenu uk-button-dropdown" data-uk-dropdown="{mode:'click',boundary:'#root-tree'}">
		    <a href="#" class="tree-contextualmenu-button uk-button uk-button-mini"><i class="uk-icon-caret-down"></i></a>
		    <nav class="uk-dropdown uk-dropdown-small uk-dropdown-flip">
		    	<div class="vertical-nodetype"><p class="text">{{ type }}</p></div>
		        <div class="uk-nav uk-nav-dropdown">
		        	<p class="add-child">
		        		<a title="{{ "add.node.%name%.child"|trans({'%name%': node.getNodeName}) }}" href="{{ path('nodesAddChildPage', { nodeId:node.getId }) }}">
		        			<i class="uk-icon-rz-plus"></i> {% trans %}add.a.child.node{% endtrans %}
		        		</a>
		        	</p>
		        	<div class="wrapper">
			        	<header class="uk-nav-header">Actions</header>
			            <p>
			            	<a title="{{ "edit.node.%name%"|trans({'%name%': node.getNodeName}) }}" href="{{ path('nodesEditPage', { nodeId:node.getId }) }}">
			            		<i class="uk-icon-rz-pencil"></i> {% trans %}edit.node{% endtrans %}
			            	</a>
			            </p>
			            <p>
			            	<a title="{% trans %}move.node.to.first.position{% endtrans %}" href="#">
			            		<i class="uk-icon-arrow-up"></i> {% trans %}move.node.to.first.position{% endtrans %}
			            	</a>
			            </p>
			            {% if (securityContext.Granted('ROLE_ACCESS_NODES_DELETE')) %}
			            <p>
			            	<a title="{{ "delete.node.%name%"|trans({'%name%': node.getNodeName}) }}" href="{{ path('nodesDeletePage', { nodeId:node.getId }) }}">
			            		<i class="uk-icon-rz-trash-o"></i> {% trans %}delete.node{% endtrans %}
			            	</a>
			            </p>
			            {% endif %}
		        	</div>
		        	{# Node Actions coming soon #}
					{# <div class="wrapper">
						<header class="uk-nav-header">Statuses</header>
					    <p>
					    	<a title="" href="#"><i class="uk-icon-rz-visibility-mini-off uk-rz-coming-soon"></i> Hide</a>
					    </p>
					    <p>
					    	<a title="" href="#"><i class="uk-icon-rz-unpublished-mini uk-rz-coming-soon"></i> Unpublished</a>
					    </p>
					    <p>
					    	<a title="" href="#"><i class="uk-icon-rz-archive-mini uk-rz-coming-soon"></i> Archive</a>
					    </p>
					</div> #}
		        </div>
		    </nav>
		</div>
		{% if not node.isHidingChildren %}<div class="minus" data-nestable-action="toggle"></div>{% endif %}
	</div>
	{% spaceless %}
	<ul class="uk-nestable-list
		{% if not mainNodeTree and not nodeTree.isStackTree %} children-node-widget-list{% endif %}
		{% if node.isHidingChildren or node.nodeType.isHidingNodes or node.getChildren.count == 0 %} empty{% endif %}"
		data-parent-node-id="{{ node.getId }}">
	{#
	 # For drag&drop ease, we don't create nested lists
	 # We will have to check after OR inside drag status
	 #}
	{% if not node.isHidingChildren and not node.nodeType.isHidingNodes %}
		{% for subNode in nodeTree.getChildrenNodes(node) %}
			{% include 'widgets/nodeTree/singleNode.html.twig' with {"node":subNode, "parent":node, "nodeTree":nodeTree, "mainNodeTree":mainNodeTree} only %}
		{% endfor %}
	{% endif %}
	</ul>
	{% endspaceless %}
</li>
