{% extends 'base.html.twig' %}
{% block content %}
<section id="manage-node">
	<h1 id="node-title">Edit {{ source.getTitle }}</h1>

	{% include 'nodes/navBar.html.twig' with {"current": 'source'} %}
	{% include 'nodes/translationBar.html.twig' with {"current": translation.getId} %}

	<form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
   		{{ form_errors(form) }}

   		<fieldset data-uk-margin>
		    {% for item in form %}
			    {% if item.vars.name != "_token" %}
			    <div class="uk-form-row">
			    	{# Source fields  #}
			        <label class="uk-form-label"for="{{ item.vars.id }}">{{ item.vars.label }}</label>
			        {{ form_errors(item) }}
			        {{ form_widget(item) }}
			    </div>
			    {% endif %}
		    {% endfor %}
   		</fieldset>
	    {{ form_rest(form) }}
	    <fieldset data-uk-margin>
	    	<input class="uk-button uk-button-primary" type="submit" />
   		</fieldset>
	</form>
</section>
{% endblock %}