{% extends '@Rozier/layout.html.twig' %}

{% block content %}
    <section class="content-global content-nav-and-filters">
        <header class="content-header header-node-types header-node-types-list">
            <h1 class="content-title nodes-node-types-title">{{ customForm.displayName|u.truncate(25, '[…]', true) }}</h1>
            {% include '@Rozier/widgets/countFiltersBar.html.twig' %}
            <a class="content-header-nav-back uk-navbar-content"
               href="{{ path('customFormsHomePage') }}"
               title="{% trans %}back_to.customForms{% endtrans %}"
               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
            {% include '@Rozier/custom-forms/navBar.html.twig' with {
                type: customForm,
                current: 'customFormAnswers'
            } only %}

            <div class="content-header-action-menu">
                <nav>
                    <a class="uk-button rz-no-ajax-link"
                       href="{{ path('customFormsExportPage', { id: customForm.id }) }}">
                        <i class="uk-icon-rz-download"></i> {% trans %}export{% endtrans %}</a>
                </nav>
            </div>
        </header>
        {% include '@Rozier/widgets/filtersBar.html.twig' %}
        <article class="content content-no-action-menu content-node-types-list">
            <div class="content-table-cont">
                {% apply spaceless %}
                    <table class="node-types content-table uk-table">
                        <thead>
                        <tr>
                            <th class="mobile-hidden">
                                {% trans %}ip.address{% endtrans %}
                                {% include 'includes/column_ordering.html.twig' with {
                                    'field': 'ip',
                                    'filters': filters,
                                } only %}
                            </th>
                            <th class="mobile-hidden">
                                {% trans %}email{% endtrans %}
                            </th>
                            <th>
                                {% trans %}submitted.date{% endtrans %}
                                {% include 'includes/column_ordering.html.twig' with {
                                    'field': 'submittedAt',
                                    'filters': filters,
                                } only %}
                            </th>
                            <th class="table-actions-row table-actions-row-2">{% trans %}actions{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for type in custom_form_answers %}
                            <tr>
                                <td class="mobile-hidden">{{ type.ip }}</td>
                                <td class="mobile-hidden">{{ type.email }}</td>
                                <td>{{ type.submittedAt|format_date('short', locale=app.request.locale) }}</td>
                                <td class="table-actions-row table-actions-row-2">
                                    {% apply spaceless %}
                                        <a class="uk-button uk-button-content uk-button-small"
                                           href="{{ path('customFormFieldAttributesHomePage', { customFormAnswerId: type.getId }) }}"
                                           title="{% trans %}customFormAnswer.answers{% endtrans %}"
                                           data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-node-type-field"></i></a>
                                        <a class="uk-button uk-button-content uk-button-small uk-button-danger uk-button-table-delete"
                                           href="{{ path('customFormAnswersDeletePage', { customFormAnswerId: type.getId }) }}"
                                           title="{% trans %}delete{% endtrans %}"
                                           data-uk-tooltip="{animation:true}">
                                            <i class="uk-icon-rz-trash-o"></i>
                                        </a>
                                    {% endapply %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endapply %}
            </div>
        </article>
    </section>
{% endblock %}
