{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-settings">
	<h1 id="title">{% trans %}Settings{% endtrans %}</h1>
	<nav><a class="uk-button" href="{{ path('settingsAddPage') }}"><i class="uk-icon-plus"></i> {% trans %}Create a setting{% endtrans %}</a></nav>
	<table class="settings uk-table">
		<thead>
	        <tr>
	            <th>{% trans %}Name{% endtrans %}</th>
	            <th>{% trans %}Value{% endtrans %}</th>
	            <th>{% trans %}Actions{% endtrans %}</th>
	        </tr>
	    </thead>
		<tbody>
			{% for setting in settings %}
			<tr>
				<td><a href="{{ path('settingsEditPage', { setting_id: setting.setting.getId }) }}">{{ setting.setting.getName }}</a></td>
				<td>
					<form class="uk-form" action="#" method="post" {{ form_enctype(setting.form) }}>
				   		{{ form_errors(setting.form) }}
						    {% for item in setting.form %}
						    	{# Node fields  #}
						        {% if item.vars.name != "_token" %}
							        {{ form_errors(item) }}
							        {{ form_widget(item) }}
						        {% endif %}
						    {% endfor %}
					    {{ form_rest(setting.form) }}
					    <button class="uk-button uk-button-primary uk-button-small" type="submit"><i class="uk-icon-pencil"></i> {% trans %}edit{% endtrans %}</button>
					</form>
				</td>
				<td>
					<a class="uk-button uk-button-small uk-button-danger" href="{{ path('settingsDeletePage', { setting_id: setting.setting.getId }) }}">{% trans %}Delete{% endtrans %}</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}