{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global edit-user">

    <header class="content-header header-user header-user-edit">
        <h1 class="content-title user-add-title">{{ "edit.user.%name%.groups"|trans({'%name%': user.username })|u.truncate(25, '[…]', true) }}</h1>
        {% include '@Rozier/users/navBar.html.twig' with {'user':user, current:'groups'} %}
    </header>

    <article class="content content-user-groups">
        <div class="content-table-cont">
            <table class="content-table users-groups uk-table">
                <thead>
                    <tr>
                        <th>{% trans %}group{% endtrans %}</th>
                        <th class="table-actions-row table-actions-row-2">{% trans %}actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in user.getGroups %}
                    <tr>
                        <td><a href="{{ path('groupsEditPage', {'id':group.getId}) }}">{{ group.getName }}</a></td>
                        <td>
                        {% apply spaceless %}
                            {% if is_granted(group) %}
                                <a class="uk-button uk-button-content uk-button-small" href="{{ path('groupsEditRolesPage', { id: group.getId }) }}" title="{% trans %}roles{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-star"></i></a>
                                <a class="uk-button uk-button-content uk-button-small uk-button-table-delete" href="{{ path('usersRemoveGroupsPage', { userId: user.getId, groupId: group.getId }) }}" title="{% trans %}unlink{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-o"></i></a>
                            {% endif %}
                        {% endapply %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr />
        <h2>{% trans %}add.a.group{% endtrans %}</h2>

        {% form_theme form '@Rozier/forms.html.twig' %}
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
            <button class="uk-button uk-button-primary" type="submit"><i class="uk-icon-rz-plus"></i> {% trans %}add.group{% endtrans %}</button>
            </fieldset>
        {{ form_end(form) }}
    </article>
    {% include '@Rozier/users/actionsMenu.html.twig' %}
</section>
{% endblock %}
