{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global content-nav-and-filters">
    <header class="content-header header-user header-user-list">
        <h1 class="content-title user-add-title">{% trans %}users{% endtrans %}</h1>
        {% include '@Rozier/widgets/countFiltersBar.html.twig' %}
        <div class="content-header-action-menu">
            <a class="uk-button" href="{{ path('usersAddPage') }}"><i class="uk-icon-rz-plus"></i> {% trans %}add.a.user{% endtrans %}</a>
        </div>
    </header>

    {% include '@Rozier/widgets/filtersBar.html.twig' %}
    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="content-table users uk-table">
                <thead>
                    <tr>
                        <th class="table-actions-userpicture-row mobile-hidden uk-visible-xlarge"></th>
                        <th class="mobile-hidden">{% trans %}user.username{% endtrans %}
                            {% include 'includes/column_ordering.html.twig' with {
                                'field': 'username',
                                'filters': filters,
                            } only %}
                        </th>
                        <th>{% trans %}user.email{% endtrans %}
                            {% include 'includes/column_ordering.html.twig' with {
                                'field': 'email',
                                'filters': filters,
                            } only %}
                        </th>
                        <th class="mobile-hidden uk-visible-xlarge">{% trans %}user.roles{% endtrans %}</th>
                        <th class="mobile-hidden uk-visible-large">{% trans %}user.status{% endtrans %}</th>
                        <th class="table-actions-row table-actions-row-3">{% trans %}actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td class="mobile-hidden uk-visible-xlarge">
                            <img width="45" height="45"
                                 data-uk-tooltip="{animation:true}"
                                 title="{{- user.identifier|default(user.username) -}}"
                                 class="uk-thumbnail gravatar user-image"
                                 src="{{ user.getPictureUrl }}"
                                 alt="{{ user.identifier }}" />
                        </td>
                        <td>
                            {% if is_granted('ROLE_SUPERADMIN') or not user.SuperAdmin %}
                            <a href="{{ path('usersEditPage', { userId: user.getId }) }}">
                                {{- user.getUsername|u.truncate(30) -}}
                            </a>
                            {% else %}
                                {{- user.getUsername|u.truncate(30) -}}
                            {% endif %}
                        </td>
                        <td class="mobile-hidden">{{ user.getEmail|u.truncate(30) }}</td>
                        <td class="mobile-hidden uk-visible-xlarge">{% transchoice user.getRoles|length %}{0} no.role|{1} 1.role|]1,Inf] %count%.roles{% endtranschoice %}</td>
                        <td class="mobile-hidden uk-visible-large user-status">
                            {% if user.enabled %}
                            <div class="uk-button-status" title="{% trans %}user.enabled{% endtrans %}" data-uk-tooltip="{animation:true}">
                                <i class="uk-icon-check"></i>
                            </div>
                            {% else %}
                            <div class="uk-button-status uk-button-danger" title="{% trans %}user.disabled{% endtrans %}" data-uk-tooltip="{animation:true}">
                                <i class="uk-icon-close"></i>
                            </div>
                            {% endif %}
                            {% if not user.accountNonLocked %}
                            <div class="uk-button-status uk-button-warning" title="{% trans %}user.locked{% endtrans %}" data-uk-tooltip="{animation:true}">
                                <i class="uk-icon-lock"></i>
                            </div>
                            {% endif %}
                            {% if not user.credentialsNonExpired or not user.accountNonExpired %}
                            <div class="uk-button-status uk-button-danger" title="{% trans %}user.expired{% endtrans %}" data-uk-tooltip="{animation:true}">
                                <i class="uk-icon-hourglass-end"></i>
                            </div>
                            {% endif %}
                        </td>
                        <td class="table-actions-row table-actions-row-3">
                        {% apply spaceless %}
                            {% if is_granted('ROLE_SUPERADMIN') or not user.SuperAdmin %}
                                <a class="uk-button uk-button-content uk-button-small" href="{{ path('usersEditPage', { userId: user.getId }) }}" title="{% trans %}edit{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
                                {% if not (user.username == app.user.username or is_granted('ROLE_PREVIOUS_ADMIN')) %}
                                    <a class="uk-button uk-button-content uk-button-small rz-no-ajax-link" href="{{ path('adminHomePage') }}?_su={{ user.username }}" title="{% trans %}start.test.user.right{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-sudo"></i></a>
                                {% endif %}
                                {% if is_granted('ROLE_ACCESS_USERS_DELETE') %}
                                    <a class="uk-button uk-button-content uk-button-small uk-button-table-delete" href="{{ path('usersDeletePage', { userId: user.getId }) }}" title="{% trans %}delete{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-o"></i></a>
                                {% endif %}
                            {% endif %}
                        {% endapply %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</section>
{% endblock %}
