<nav class="user-edit-navigation navbar-navigation uk-navbar">
    {% spaceless %}
    <ul class="uk-navbar-nav">
        <li class="{% if current == 'edit' %}uk-active{% endif %}" >
            <a href="{{ path('usersEditPage', { userId: user.getId }) }}">{% trans %}user.edit{% endtrans %}</a>
        </li>
        <li class="{% if current == 'edit_details' %}uk-active{% endif %}" >
            <a href="{{ path('usersEditDetailsPage', { userId: user.getId }) }}">{% trans %}user.edit_details{% endtrans %}</a>
        </li>

        {% if (authorizationChecker.Granted('ROLE_ACCESS_USERS')) %}
        <li class="{% if current == 'security' %}uk-active{% endif %}">
            <a href="{{ path('usersSecurityPage', { userId: user.getId }) }}">{% trans %}user.security{% endtrans %}</a>
        </li>
        <li class="{% if current == 'roles' %}uk-active{% endif %}">
            <a href="{{ path('usersEditRolesPage', { userId: user.getId }) }}">{% trans %}user.roles{% endtrans %}</a>
        </li>
        <li class="{% if current == 'groups' %}uk-active{% endif %}">
            <a href="{{ path('usersEditGroupsPage', { userId: user.getId }) }}">{% trans %}user.groups{% endtrans %}</a>
        </li>
        {% endif %}
        <li class="{% if current == 'history' %}uk-active{% endif %}">
            <a href="{{ path('historyUserPage', { userId: user.getId }) }}">{% trans %}user.history{% endtrans %}</a>
        </li>
    </ul>
    {% endspaceless %}
</nav>
