<nav class="user-edit-navigation navbar-navigation uk-navbar">
    {% apply spaceless %}
    <ul class="uk-navbar-nav">
        {% if is_granted('ROLE_ACCESS_USERS') or app.user.id == user.id %}
            <li class="{% if current == 'edit' %}uk-active{% endif %}" >
                <a href="{{ path('usersEditPage', { userId: user.getId }) }}">{% trans %}user.edit{% endtrans %}</a>
            </li>
            <li class="{% if current == 'edit_details' %}uk-active{% endif %}" >
                <a href="{{ path('usersEditDetailsPage', { userId: user.getId }) }}">{% trans %}user.edit_details{% endtrans %}</a>
            </li>
        {% endif %}

        {% if (is_granted('ROLE_ACCESS_USERS')) %}
            <li class="{% if current == 'security' %}uk-active{% endif %}">
                <a href="{{ path('usersSecurityPage', { userId: user.getId }) }}">{% trans %}user.security{% endtrans %}</a>
            </li>
            <li class="{% if current == 'roles' %}uk-active{% endif %}">
                <a href="{{ path('usersEditRolesPage', { userId: user.getId }) }}">{% trans %}user.roles{% endtrans %}</a>
            </li>
            <li class="{% if current == 'groups' %}uk-active{% endif %}">
                <a href="{{ path('usersEditGroupsPage', { userId: user.getId }) }}">{% trans %}user.groups{% endtrans %}</a>
            </li>
        {% endif %}

        {% if is_granted('ROLE_ACCESS_LOGS') %}
            <li class="{% if current == 'history' %}uk-active{% endif %}">
                <a href="{{ path('historyUserPage', { userId: user.getId }) }}">{% trans %}user.history{% endtrans %}</a>
            </li>
        {% endif %}
    </ul>
    {% endapply %}
</nav>
