{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global edit-user">
    <header class="content-header header-user header-user-edit">
        <h1 class="content-title user-add-title">{{ "edit.user.%name%.roles"|trans({'%name%': user.username })|u.truncate(25, '[…]', true) }}</h1>
        {% include '@Rozier/users/navBar.html.twig' with {'user':user, current:'roles'} %}
    </header>
    <article class="content content-user-roles">
        <div class="content-table-cont">
            <table class="content-table users--inherited-roles uk-table">
                <thead>
                    <tr>
                        <th>{% trans %}inherited.roles{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in user.getRoles %}
                    <tr>
                        <td>{{ role }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr />
        <div class="content-table-cont">
            <table class="content-table users-roles uk-table">
                <thead>
                    <tr>
                        <th>{% trans %}specific.roles{% endtrans %}</th>
                        <th class="table-actions-row table-actions-row-3">{% trans %}actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in user.getRolesEntities %}
                    <tr>
                        <td>{{ role.getName }}</td>
                        <td class="table-actions-row table-actions-row-3">
                            {% if is_granted(role.role) %}
                                <a class="uk-button uk-button-content uk-button-small uk-button-table-delete" href="{{ path('usersRemoveRolesPage', { userId: user.getId, roleId: role.getId }) }}" title="{% trans %}remove{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-o"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr />
        <h2>{% trans %}add.a.specific.role{% endtrans %}</h2>

        {% form_theme form '@Rozier/forms.html.twig' %}
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                <button class="uk-button uk-button-primary" type="submit"><i class="uk-icon-rz-plus"></i> {% trans %}add.role{% endtrans %}</button>
            </fieldset>
        {{ form_end(form) }}
    </article>

    {% include '@Rozier/users/actionsMenu.html.twig' %}
</section>
{% endblock %}
