{% extends 'base.html.twig' %}

{% block content %}
<section id="manage-user-roles">
	<h1 id="user-title">Edit {{ user.getDefaultTranslatedTag.getName }} roles</h1>

	{% include 'users/navBar.html.twig' with {'user':user, current:'roles'} %}

	<table class="users-roles uk-table">
		<thead>
	        <tr>
	            <th>{% trans %}Specific roles{% endtrans %}</th>
	            <th>{% trans %}Actions{% endtrans %}</th>
	        </tr>
	    </thead>
		<tbody>
			{% for role in user.getRolesEntities %}
			<tr>
				<td>{{ role.getName }}</td>
				<td>
					<a class="uk-button uk-button-small uk-button-danger" href="{{ path('usersRemoveRolesPage', { userId: user.getId, roleId: role.getId }) }}">{% trans %}Unlink{% endtrans %}</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<table class="users--inherited-roles uk-table">
		<thead>
	        <tr>
	            <th>{% trans %}Inherited roles{% endtrans %}</th>
	        </tr>
	    </thead>
		<tbody>
			{% for role in user.getRoles %}
			<tr>
				<td>{{ role }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<h2>{% trans %}Add a specific role{% endtrans %}</h2>

	{% form_theme form 'forms.html.twig' %}
    <form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
	    <fieldset data-uk-margin>
	    	<input class="uk-button uk-button-primary" type="submit" />
   		</fieldset>
	</form>
</section>
{% endblock %}