{# For performance matters, recursive nav is not enable by default. #}
{% set children = source|children({
   'node.visible': true,
   'node.nodeType.reachable': true
}) %}

{% set itemClasses = ['nav-item'] %}
{% set linkClasses = ['nav-link'] %}

{% if source.node.id == active.id or source.node.id == active.parent.id %}
    {% set itemClasses = itemClasses|merge(['active']) %}
    {% set linkClasses = linkClasses|merge(['active']) %}
{% endif %}

{% if children|length %}
    {% set itemClasses = itemClasses|merge(['dropdown', 'has-children']) %}
{% endif %}

<li class="{{ itemClasses|join(' ') }}"
    id="nav-item-{{ source.node.nodeName }}"
    data-node-id="{{ source.node.id }}">

    <a class="{{ linkClasses|join(' ') }}"
       id="nav-link-{{ source.node.nodeName }}"
       href="{{ path(source) }}">{{ source.title|default(source.node.nodeName) }}</a>

    {% if children|length %}
    <ul class="dropdown-menu nav-children">
        {% for subsource in children %}
            {% include '@DefaultTheme/common/nav-item.html.twig' with {
                'source' : subsource,
                'active' : active
            } only %}
        {% endfor %}
    </ul>
    {% endif %}
</li>
