<nav class="uk-navbar uk-navbar-attached" id="main-navigation" data-active-node="{{ node.id }}">
{% if themeServices.navigation|length %}

    {% if home %}
        {% if home.nodeSources.first.title %}
            {% set hometitle = home.nodeSources.first.title %}
        {% else %}
            {% set hometitle = home.nodeName %}
        {% endif %}
    {% else %}
        {% set hometitle = "home"|trans %}
    {% endif %}

    {#
     #  Home with a node
     #}
    <a href="{{ home.nodeSources.first|url }}" class="uk-navbar-brand"><i class="uk-icon-home"></i></a>

    {#
     # Get home page with no node
     # STATIC MODE
     #}
    {# {% if request.locale != _default_locale %}
    <a href="{{ path('homePageLocale', {"_locale":request.locale}) }}" class="uk-navbar-brand"><i class="uk-icon-home"></i> {{ hometitle }}</a>
    {% else %}
    <a href="{% if request.basePath %}{{ request.basePath }}{% else %}/{% endif %}" class="uk-navbar-brand"><i class="uk-icon-home"></i> {{ hometitle }}</a>
    {% endif %} #}

    {#
     # Main navigation
     #}
	<ul class="uk-navbar-nav">
		{% for cnode in themeServices.navigation %}
			{% set source = cnode.nodeSources.first %}
            {% set level = 0 %}
			{% include '@DefaultTheme/modules/navigationElement.html.twig' with {
                'source' : source,
                'activeId' : node.id,
                'level' : level,
                'securityContext' : securityContext
            } only %}
		{% endfor %}

        {#
         # Page contact
         #}
        {% if request.locale != _default_locale %}
        <li class="{% if route == 'contactPageLocale' %}uk-active{% endif %}"><a href="{{ path('contactPageLocale', {"_locale":request.locale}) }}">{% trans %}contact{% endtrans %}</a></li>
        {% else %}
        <li class="{% if route == 'contactPage' %}uk-active{% endif %}"><a href="{{ path('contactPage') }}">{% trans %}contact{% endtrans %}</a></li>
        {% endif %}
	</ul>
{% endif %}
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
        {% for id, key in translation.viewer.translationMenuAssignation(request) %}
            <li class="uk-parent {% if key.active == true %}uk-active{% endif %}"><a href="{% if not key.active %}{{ key.url }}{% else %}#{% endif %}">{{ key.translation }}</a></li>
        {% endfor %}
        </ul>
    </div>
</nav>
