{% if themeServices.navigation|length %}
<nav class="uk-navbar uk-navbar-attached" id="main-navigation" data-active-node="{{ node.id }}">

    {#
     #  Home with a node
     #}
   {#  {% if home %}
        {% if home.nodeSources.first.title %}
            {% set hometitle = home.nodeSources.first.title %}
        {% else %}
            {% set hometitle = home.getNodeName %}
        {% endif %}

        <a href="{{ home.getHandler.getUrl }}" class="uk-navbar-brand">{{ hometitle }}</a>
    {% endif %} #}

    {#
     # Get home page with no node
     # STATIC MODE
     #}
    {% if request.locale != _default_locale %}
    <a href="{{ path('homePageLocale', {"_locale":request.locale}) }}" class="uk-navbar-brand">{% trans %}home{% endtrans %}</a>
    {% else %}
    <a href="{{ path('homePage') }}" class="uk-navbar-brand">{% trans %}home{% endtrans %}</a>
    {% endif %}

    {#
     # Main navigation
     #}
	<ul class="uk-navbar-nav ">
		{% for cnode in themeServices.navigation %}
			{% set source = cnode.nodeSources.first %}
			{% include 'modules/navigationElement.html.twig' with {
                "source" : source,
                "activeId" : node.id,
                'securityContext':securityContext
            } only %}
		{% endfor %}

        {#
         # Page contact
         #}
        {% if request.locale != _default_locale %}
        <li><a href="{{ path('contactPageLocale', {"_locale":request.locale}) }}">{% trans %}contact{% endtrans %}</a></li>
        {% else %}
        <li><a href="{{ path('contactPage') }}">{% trans %}contact{% endtrans %}</a></li>
        {% endif %}
	</ul>
</nav>
{% endif %}
