{% extends '@Rozier/layout.html.twig' %}


{% block content %}
<section class="content-global content-nav-and-filters">
    <header class="content-header header-settingGroup header-settingGroup-add">
       <h1 class="content-title settingGroup-list-title">{% trans %}settingGroups{% endtrans %}</h1>
       {% include '@Rozier/widgets/countFiltersBar.html.twig' %}
       <div class="content-header-action-menu">
            <nav>
                <a class="uk-button"
                   href="{{ path('settingGroupsAddPage') }}">
                    <i class="uk-icon-rz-plus"></i> {% trans %}add.a.settingGroup{% endtrans %}
                </a>
            </nav>
       </div>
    </header>

    {% include '@Rozier/widgets/filtersBar.html.twig' %}

    <article class="content content-no-action-menu content-settingGroups-list">
        <div class="content-table-cont">
            <table class="content-table settingGroups uk-table">
                <thead>
                    <tr>
                        <th>
                            {% trans %}name{% endtrans %}
                            {% include 'includes/column_ordering.html.twig' with {
                                'field': 'name',
                                'filters': filters,
                            } only %}
                        </th>
                        <th class="mobile-hidden">{% trans %}settingGroup.in.menu{% endtrans %}</th>
                        <th class="table-actions-row table-actions-row-3">{% trans %}actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td><a href="{{ path('settingGroupsEditPage', { id: item.id }) }}">{{ item.getName }}</a></td>
                        <td class="mobile-hidden">{% if item.isInMenu %}<div class="uk-badge uk-badge-table uk-badge-notification"><i class="uk-icon-rz-statuses"></i></div>{% endif %}</td>
                        <td class="table-actions-row">
                        {% apply spaceless %}
                            <a class="uk-button uk-button-content uk-button-small"
                               href="{{ path('settingGroupsEditPage', { id: item.id }) }}"
                               title="{% trans %}edit{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
                            <a class="uk-button uk-button-content uk-button-small"
                               href="{{ path('settingGroupsSettingsPage', { settingGroupId: item.id }) }}"
                               title="{% trans %}see.settings{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-settings-general"></i></a>
                            <a class="uk-button uk-button-content uk-button-small uk-button-table-delete"
                               href="{{ path('settingGroupsDeletePage', { id: item.id }) }}"
                               title="{% trans %}delete{% endtrans %}"
                               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-o"></i></a>
                        {% endapply %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</section>
{% endblock %}
