{% extends 'base.html.twig' %}


{% block content %}
<section class="content-global">
	<header class="content-header header-settingGroup header-settingGroup-add">
	   <h1 class="content-title settingGroup-list-title">{% trans %}settingGroups{% endtrans %}</h1>
	   <div class="content-header-action-menu">
	        <nav>
	        	<a class="uk-button" href="{{ path('settingGroupsAddPage') }}"><i class="uk-icon-plus"></i> {% trans %}add.settingGroup{% endtrans %}</a>
	        </nav>
	   </div>
    </header>

	{% include 'widgets/filtersBar.html.twig' %}

	<article class="content content-no-action-menu content-settingGroups-list">
        <div class="content-table-cont">
			<table class="content-table settingGroups uk-table">
				<thead>
			        <tr>
			            <th>{% trans %}name{% endtrans %}</th>
			            <th>{% trans %}settingGroup.in.menu{% endtrans %}</th>
			            <th>{% trans %}actions{% endtrans %}</th>
			        </tr>
			    </thead>
				<tbody>
					{% for settingGroup in settingGroups %}
					<tr>
						<td><a href="{{ path('settingGroupsEditPage', { settingGroupId: settingGroup.getId }) }}">{{ settingGroup.getName }}</a></td>
						<td>{% if settingGroup.isInMenu %}<div class='uk-badge'><i class='uk-icon-star'></i></div>{% endif %}</td>
						<td>
							<a class="uk-button uk-button-small uk-button-danger" href="{{ path('settingGroupsDeletePage', { settingGroupId: settingGroup.getId }) }}"><i class="uk-icon-rz-trash-o"></i> {% trans %}delete{% endtrans %}</a>
							<a class="uk-button uk-button-small" href="{{ path('settingGroupsSettingsPage', { settingGroupId: settingGroup.getId }) }}"><i class="uk-icon-eye"></i> {% trans %}see.settings{% endtrans %}</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</article>
</section>
{% endblock %}
