{% extends '@Rozier/layout.html.twig' %}


{% block content %}
<section class="content-global delete-tag">
    <header class="content-header header-tag header-tag-preview">
        <h1 class="content-title tag-delete-title">{{ "delete.tags"|trans()|u.truncate(25, '[…]', true) }}</h1>
    </header>

    <article class="content content-delete content-no-action-menu">
        {% if referer %}
            {% set returnPath = referer %}
        {% else %}
            {% set returnPath = path('tagsHomePage') %}
        {% endif %}
        {% form_theme form '@Rozier/forms.html.twig' %}
        <form id="tags-bulk-delete-form" class="uk-form uk-form-stacked" action="{{ action }}" method="post">
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-danger"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.delete.these.tags{% endtrans %}</legend>
                <a href="{{ returnPath }}"
                   class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
                <button class="uk-button uk-button-danger"
                        type="submit"><i class="uk-icon-rz-trash-mini-o"></i> {% trans %}delete.all{% endtrans %}</button>
            </fieldset>
        </form>

        {% apply spaceless %}
        <ul class="tags-list">
        {% for tag in tags %}
            {% set source = tag.translatedTags.first %}
            <li class="tag-item" data-tag-id="{{ tag.id }}">
                <div class="tag-name"><i class="uk-icon-rz-tag-tree"></i> {{ source.name|default(tag.tagName) }}</div>
            </li>
        {% endfor %}
        </ul>
        {% endapply %}
    </article>
</section>
{% endblock %}
