{% if not head.ajax %}{% set baseTemplate = '@Rozier/base.html.twig' %}{% else %}{% set baseTemplate = '@Rozier/ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block content %}
<section class="content-global content-nav-and-filters">

    <header class="content-header header-tags header-nodes-list">
        <h1 class="content-title tags-list-title">{% trans %}tags{% endtrans %}</h1>
        {% include '@Rozier/widgets/countFiltersBar.html.twig' %}
        <div class="content-header-action-menu">
            <nav><a class="uk-button" href="{{ path('tagsAddPage') }}"><i class="uk-icon-rz-plus"></i> {% trans %}add.a.tag{% endtrans %}</a></nav>
        </div>
    </header>

    {% include '@Rozier/tags/filtersBar.html.twig' with {
        filters: filters,
        deleteTagsForm: deleteTagsForm
    } only %}

    <article class="content content-no-action-menu content-tags-list">
        <div class="content-table-cont">
            <table class="tags content-table uk-table">
                <thead>
                    <tr>
                        <th class="table-id-row">{% trans %}id{% endtrans %}</th>
                        <th>{% trans %}name{% endtrans %}</th>
                        <th class="table-actions-row table-actions-row-3">{% trans %}actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in tags %}
                        {% set ttag = tag.getTranslatedTags.first %}
                        {% if ttag %}
                        <tr>
                            <td><a href="{{ path('tagsEditTranslatedPage', { tagId: tag.getId, translationId: ttag.getTranslation.getId }) }}">{{ tag.getId }}</a></td>
                            <td><a href="{{ path('tagsEditTranslatedPage', { tagId: tag.getId, translationId: ttag.getTranslation.getId }) }}">{{ ttag.getName }}</a></td>
                            <td>
                                {% spaceless %}
                                    {% if is_granted('ROLE_ACCESS_TAGS_DELETE') and not tag.locked %}
                                    <div class="tagtree-bulk-selection">
                                        <input class="tag-checkbox" type="checkbox" name="bulk-selection[]" value="{{ tag.getId }}" />
                                    </div>
                                    {% endif %}
                                    <a class="uk-button uk-button-content uk-button-small" href="{{ path('tagsEditTranslatedPage', { tagId: tag.getId, translationId: ttag.getTranslation.getId }) }}" title="{% trans %}edit.tag{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
                                    {% if is_granted('ROLE_ACCESS_TAGS_DELETE') and not tag.locked %}
                                        <a class="uk-button uk-button-content uk-button-small uk-button-danger uk-button-table-delete" href="{{ path('tagsDeletePage', { tagId: tag.getId }) }}" title="{% trans %}delete.tag{% endtrans %}" data-uk-tooltip="{animation:true}">
                                            <i class="uk-icon-rz-trash-o"></i>
                                        </a>
                                    {% endif %}
                                {% endspaceless %}
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td><a href="{{ path('tagsEditPage', { tagId: tag.getId }) }}">{{ tag.getId }}</a></td>
                            <td><a href="{{ path('tagsEditPage', { tagId: tag.getId }) }}">tag_{{ tag.getId }} <span class="uk-badge uk-badge-warning">{% trans %}notranslation_available.tag{% endtrans %}</span></a></td>
                            <td>
                            {% spaceless %}
                                {% if is_granted('ROLE_ACCESS_TAGS_DELETE') and not tag.locked %}
                                <div class="tagtree-bulk-selection">
                                    <input class="tag-checkbox" type="checkbox" name="bulk-selection[]" value="{{ tag.getId }}" />
                                </div>
                                {% endif %}
                                <a class="uk-button uk-button-content uk-button-small" href="{{ path('tagsEditPage', { tagId: tag.getId }) }}" title="{% trans %}edit.tag{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>

                                {% if is_granted('ROLE_ACCESS_TAGS_DELETE') and not tag.locked %}
                                    <a class="uk-button uk-button-content uk-button-small uk-button-danger uk-button-table-delete" href="{{ path('tagsDeletePage', { tagId: tag.getId }) }}" title="{% trans %}delete.tag{% endtrans %}" data-uk-tooltip="{animation:true}">
                                        <i class="uk-icon-rz-trash-o"></i>
                                    </a>
                                {% endif %}
                            {% endspaceless %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>

</section>
{% endblock %}
