{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-tags">
	<h1 id="title">{% trans %}Tags{% endtrans %}</h1>
	<nav><a class="uk-button" href="{{ path('tagsAddPage') }}"><i class="uk-icon-plus"></i> {% trans %}Create a tag{% endtrans %}</a></nav>
	<table class="tags uk-table">
		<thead>
	        <tr>
	            <th>{% trans %}Id{% endtrans %}</th>
	            <th>{% trans %}Name{% endtrans %}</th>
	            <th>{% trans %}Actions{% endtrans %}</th>
	        </tr>
	    </thead>
		<tbody>
			{% for tag in tags %}
			{% set ttag = tag.getTranslatedTags.first %}
			<tr>
				<td><a href="{{ path('tagsEditTranslatedPage', { tag_id: tag.getId, translation_id: ttag.getTranslation.getId }) }}">{{ tag.getId }}</a></td>
				<td><a href="{{ path('tagsEditTranslatedPage', { tag_id: tag.getId, translation_id: ttag.getTranslation.getId }) }}">{{ ttag.getName }}</a></td>
				<td>
					<a class="uk-button uk-button-small uk-button-danger" href="{{ path('tagsDeletePage', { tag_id: tag.getId }) }}">{% trans %}Delete{% endtrans %}</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}