{% extends 'base.html.twig' %}


{% block content %}
<section id="manage-tags">
	<h1 id="title">{% trans %}Tags{% endtrans %}</h1>
	<nav><a class="uk-button" href="{{ path('tagsAddPage') }}"><i class="uk-icon-plus"></i> {% trans %}Create a tag{% endtrans %}</a></nav>

	{% include 'widgets/filtersBar.html.twig' %}

	<table class="tags uk-table">
		<thead>
	        <tr>
	            <th>{% trans %}Id{% endtrans %}</th>
	            <th>{% trans %}Name{% endtrans %}</th>
	            <th>{% trans %}Actions{% endtrans %}</th>
	        </tr>
	    </thead>
		<tbody>
			{% for tag in tags %}
				{% set ttag = tag.getTranslatedTags.first %}
				{% if ttag %}
				<tr>
					<td><a href="{{ path('tagsEditTranslatedPage', { tagId: tag.getId, translationId: ttag.getTranslation.getId }) }}">{{ tag.getId }}</a></td>
					<td><a href="{{ path('tagsEditTranslatedPage', { tagId: tag.getId, translationId: ttag.getTranslation.getId }) }}">{{ ttag.getName }}</a></td>
					<td>
						<a class="uk-button uk-button-small uk-button-danger" href="{{ path('tagsDeletePage', { tagId: tag.getId }) }}">{% trans %}Delete{% endtrans %}</a>
					</td>
				</tr>
				{% else %}
				<tr>
					<td><a href="{{ path('tagsEditPage', { tagId: tag.getId }) }}">{{ tag.getId }}</a></td>
					<td><a href="{{ path('tagsEditPage', { tagId: tag.getId }) }}">tag_{{ tag.getId }} <span class="uk-badge uk-badge-warning">{% trans %}notranslation_available.tag{% endtrans %}</span></a></td>
					<td>
						<a class="uk-button uk-button-small uk-button-danger" href="{{ path('tagsDeletePage', { tagId: tag.getId }) }}">{% trans %}Delete{% endtrans %}</a>
					</td>
				</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}
