{% set tTag = tag.getTranslatedTags.first %}
<nav class="tag-edit-navigation navbar-navigation uk-navbar has-translations">
    <ul class="uk-navbar-nav">
        {% if tag.getChildren|length %}
        <li class="{% if current == 'tree' %}uk-active{% endif %}">
            <a data-uk-tooltip="{animation:true}"
               title="{% trans %}tag.tree{% endtrans %}"
               class="uk-navbar-link"
               href="{{ path('tagsTreePage', { tagId: tag.getId }) }}"><i class="uk-icon-rz-node-tree"></i></a>
        </li>
        {% endif %}
        <li class="{% if current == 'edit' %}uk-active{% endif %}" >
            <a href="{{ path('tagsEditTranslatedPage', { tagId: tag.getId, translationId: tTag.getTranslation.getId }) }}">{% trans %}tag.content{% endtrans %}</a>
        </li>
        <li class="{% if current == 'settings' %}uk-active{% endif %}" >
            <a href="{{ path('tagsSettingsPage', { tagId: tag.getId }) }}">{% trans %}tag.settings{% endtrans %}</a>
        </li>
        <li class="{% if current == 'nodes' %}uk-active{% endif %}" >
            <a href="{{ path('tagsEditNodesPage', { tagId: tag.getId }) }}">{% trans %}tag.nodes{% endtrans %}</a>
        </li>
        <li class="{% if current == 'add-multiple' %}uk-active{% endif %}" >
            <a href="{{ path('tagsAddMultipleChildPage', { parentTagId: tag.getId }) }}">{% trans %}add.tags{% endtrans %}</a>
        </li>
    </ul>
</nav>
