{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global">

    <header class="content-header header-tags header-tags-settings">
        <h1 class="content-title tags-settings-title">{{ "edit.tag.%name%.settings"|trans({'%name%': tag.getTagName }) }}</h1>
        {% include '@Rozier/tags/navBack.html.twig' with {} only %}
        {% include '@Rozier/tags/navBar.html.twig' with {"tag": tag, "current": 'settings'} only %}
    </header>

    <article class="content content-tags-settings">
        {% form_theme form '@Rozier/forms.html.twig' %}
        {{ form_start(form, { attr: {id: 'edit-tag-form'}}) }}
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                {% apply spaceless %}
                <button data-action-save="#edit-tag-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                    <span class="icon-container"><i class="uk-icon-rz-save-mini"></i></span>
                    <span class="label"><span class="label-text">{% trans %}save{% endtrans %}</span></span>
                </button>
                {% endapply %}
            </fieldset>
        {{ form_end(form) }}

        <div class="content-table-cont metadata-list">
            <table class="uk-table content-table">
                <tr>
                    <td>{% trans %}created.at{% endtrans %}</td>
                    <td>{{ tag.createdAt|format_datetime('long', locale=app.request.locale) }}</td>
                </tr>
                <tr>
                    <td>{% trans %}updated.at{% endtrans %}</td>
                    <td>{{ tag.updatedAt|format_datetime('long', locale=app.request.locale) }}</td>
                </tr>
                <tr>
                    <td>{% trans %}position{% endtrans %}</td>
                    <td>{{ tag.position }}</td>
                </tr>
            </table>
        </div>
    </article>
    {% include '@Rozier/tags/actionsMenu.html.twig' %}

</section>
{% endblock %}
