{% if not head.ajax %}{% set baseTemplate = 'base.html.twig' %}{% else %}{% set baseTemplate = 'ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% if session.user.getFirstName %}
{% set displayName = session.user.getFirstName %}
{% else %}
{% set displayName = session.user.getUsername %}
{% endif %}

{% block content %}
<section class="content-global">
    <header class="content-header dashboard-header">
        <h1 class="content-title dashboard-title">{{ "hello.%name%"|trans({'%name%': displayName}) }}</h1>
        {% include 'dashboard/navBar.html.twig' with {'current':'dashboard'} %}
    </header>

    <article class="content content-dashboard">
        {% if latestSources %}
        <div id="latest-sources">
            <h3>{% trans %}latest.node-sources.updates{% endtrans %}</h3>
            {% spaceless %}
            {% for source in latestSources %}
            {% set log = source.logs.first %}
            <div class="latest-source">
                <a href="{{ path("nodesEditSourcePage", {"nodeId":log.nodeSource.node.id, "translationId":log.nodeSource.translation.id }) }}">
                    {% set thumbnail = source.getDocumentsByFields.first.getDocument %}
                    <figure>
                        {% if thumbnail and thumbnail.image %}
                        <img width="150"
                             height="150"
                             class="source-image"
                             src="{{ thumbnail.getViewer.getDocumentUrlByArray({"width":150, "crop":"1x1", "quality":80}) }}" alt="{{ log.nodeSource.title }}">
                        {% else %}
                        <span class="no-thumb"></span>
                        {% endif %}
                        {% if log.user %}
                        <img width="60"
                             height="60"
                             class="user-image"
                             src="{{ log.user.pictureUrl }}"
                             alt="{{ log.user.identifier }}"
                             title="{{ log.user.identifier }}"
                             data-uk-tooltip="{animation:true}" />
                        {% endif %}
                    </figure>
                    <p class="source-title">{{ source.title }}</p>
                    <p class="source-update-date">{{ log.datetime|localizeddate('medium', 'short') }}</p>
                </a>
            </div>
            {% endfor %}
            {% endspaceless %}
        </div>
        {% endif %}
    </article>
</section>
{% endblock %}
