{% extends '@Rozier/layout.html.twig' %}

{% if app.user %}
    {% set displayName = app.user.firstName|default(app.user.nickname|default(app.user.givenName|default(app.user.name|default(app.user.username)))) %}
{% else %}
    {% set displayName = '' %}
{% endif %}

{% block content %}
<section class="content-global">
    <header class="content-header dashboard-header">
        <h1 class="content-title dashboard-title">{{ "hello.%name%"|trans({'%name%': displayName}) }}</h1>
        {% include '@Rozier/dashboard/navBar.html.twig' with {'current':'dashboard'} %}
    </header>

    <article class="content content-dashboard">
        {% if bags.settings.get('dashboard_iframe') %}
            <div class="dashboard-iframe">
                {{- bags.settings.get('dashboard_iframe')|striptags(['iframe','script'])|raw -}}
            </div>
        {% endif %}
        {% if latestLogs %}
        <div id="latest-sources">
            <h3>{% trans %}latest.node-sources.updates{% endtrans %}</h3>
            {% apply spaceless %}
                {% for log in latestLogs %}
                    {% set source = log.nodeSource %}
                    <div class="latest-source">
                        {% if is_granted('ROLE_ACCESS_NODES') %}
                        <a href="{{ path("nodesEditSourcePage", {
                            "nodeId": source.node.id,
                            "translationId": source.translation.id
                        }) }}">
                        {% endif %}
                            {% set thumbnail = source.documentsByFields.first.document %}
                            <figure>
                                {% if thumbnail and thumbnail.image %}
                                    {{ thumbnail|display({
                                        "fit":'150x150',
                                        "quality":70,
                                        "picture": true,
                                        "class": 'source-image'
                                    }) }}
                                {% else %}
                                <span class="no-thumb"></span>
                                {% endif %}
                                {% if log.user %}
                                    <img width="60"
                                         height="60"
                                         class="user-image"
                                         src="{{ log.user.pictureUrl }}"
                                         alt="{{ log.user.identifier }}"
                                         title="{{ log.user.identifier }}"
                                         data-uk-tooltip="{animation:true}" />
                                {% elseif log.username %}
                                    <span class="user-image"
                                          title="{{ log.username }}"
                                          data-uk-tooltip="{animation:true}" ><i class="uk-icon uk-icon-rz-user"></i></span>
                                {% endif %}
                            </figure>
                            <p class="source-title">{{ source.title }}</p>
                            <p class="source-update-date">{{ log.datetime|format_datetime('medium', 'short', locale=app.request.locale) }}</p>
                        {% if is_granted('ROLE_ACCESS_NODES') %}
                        </a>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endapply %}
        </div>
        {% endif %}
    </article>
</section>
{% endblock %}
