{% extends '@Rozier/layout.html.twig' %}

{% block content %}
    <section class="content-global content-nav-and-filters">
        <header class="content-header header-custom-form-fields header-custom-form-fields-list">
            <h1 class="content-title">{{ customForm.displayName|u.truncate(25, '[…]', true) }}</h1>
            <a class="content-header-nav-back uk-navbar-content" href="{{ path('customFormsHomePage') }}" title="{% trans %}back_to.customForms{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i> </a>
            <div class="content-header-action-menu">
                <nav>
                    <a class="uk-button" href="{{ path('customFormFieldsAddPage', { customFormId: customForm.getId }) }}"><i class="uk-icon-rz-plus"></i> {% trans %}add.a.customFormField{% endtrans %}</a>
                </nav>
            </div>
            {% include '@Rozier/custom-forms/navBar.html.twig' with {
                type: customForm,
                current: 'customFormFields',
            } only %}
        </header>
        <article class="content content-no-action-menu">
            <div class="content-table-cont">
                <table class="custom-form-fields content-table uk-table">
                    <thead>
                    <tr>
                        <th>{% trans %}label{% endtrans %}</th>
                        <th class="mobile-hidden">{% trans %}type{% endtrans %}</th>
                        <th class="mobile-hidden">{% trans %}group{% endtrans %}</th>
                        <th class="table-actions-row table-actions-row-2">{% trans %}actions{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody class="uk-sortable" data-uk-sortable="{animation:0, dragCustomClass:'rz-custom-form-field-dragged', handleClass:'custom-form-field-col'}">
                    {% for field in fields %}
                        <tr data-position="{{ field.position }}" data-field-id="{{ field.getId }}" class="custom-form-field-row">
                            <td class="custom-form-field-col custom-form-field-col-1">
                                <a class="custom-form-field-edit-button"
                                   href="{{ path('customFormFieldsEditPage', { customFormFieldId: field.getId }) }}"
                                   data-index="{{ loop.index0 }}">
                                    {{- field.label -}}
                                </a>
                            </td>
                            <td class="mobile-hidden">{{ field.typeName|trans }}</td>
                            <td class="mobile-hidden">{{ field.groupName|trans }}</td>
                            <td class="table-actions-row table-actions-row-2">
                                {% apply spaceless %}
                                    <a class="uk-button uk-button-content uk-button-small custom-form-field-edit-button rz-no-ajax-link" href="{{ path('customFormFieldsEditPage', { customFormFieldId: field.getId }) }}" title="{% trans %}edit{% endtrans %}" data-uk-tooltip="{animation:true}" data-index="{{ loop.index0 }}"><i class="uk-icon-rz-pencil"></i></a>
                                    <a class="uk-button uk-button-content uk-button-small uk-button-danger uk-button-table-delete" href="{{ path('customFormFieldsDeletePage', { customFormFieldId: field.getId }) }}" title="{% trans %}delete{% endtrans %}" data-uk-tooltip="{animation:true}">
                                        <i class="uk-icon-rz-trash-o"></i>
                                    </a>
                                {% endapply %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </article>

    </section>
{% endblock %}
