{% set tTag = tag.getTranslatedTags.first %}
{% if tTag %}
{% set name = tTag.name|replace({'${':'--'}) %} {# Remove VueJS placeholder marks #}
{% set editUrl = path('tagsEditTranslatedPage', { tagId:tag.getId, translationId:tTag.getTranslation.getId }) %}
{% else %}
{% set name = "tag_" ~ tag.getId %}
{% set editUrl = path('tagsEditPage', { tagId:tag.id }) %}
{% endif %}

{% set children = tagTree.getChildrenTags(tag) %}

<li data-tag-id="{{ tag.id }}"
    class="uk-nestable-item uk-nestable-list-item-tag tagtree-element{% if tag.getChildren.count > 0 %} has-children{% endif %}">

    <div class="tree-element-inner uk-nestable-panel uk-nestable-item-tag {% if not tag.isVisible %} hidden-tag{% endif %}">
        {% apply spaceless %}
        <div class="{% if canReorder %}uk-nestable-handle {% endif %}uk-nestable-handle-tag">
            <i class="{% if tag.getChildren.count > 0 %}uk-icon-rz-tags{% else %}uk-icon-rz-tag-tree{% endif %}"></i>
        </div>
        <div class="tree-element-name tagtree-element-name"{% if tagTree.translation is rtl %} dir="rtl"{% endif %}>
            <a href="{{ path('tagsEditNodesPage', { tagId:tag.id }) }}">{{- name -}}</a>
        </div>
        {% endapply %}
        <div class="tree-contextualmenu tagtree-contextualmenu uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
            <button tabindex="-1" class="tree-contextualmenu-button uk-button uk-button-mini"><i class="uk-icon-caret-down"></i></button>
            <nav class="uk-dropdown uk-dropdown-small uk-dropdown-flip">
                <div class="uk-nav uk-nav-dropdown uk-dropdown-flip">
                    <p>
                        <a title="{{ "edit.tag.%name%"|trans({'%name%': tag.getTagName}) }}" href="{{ editUrl }}">
                            <i class="uk-icon-pencil"></i> {% trans %}edit.tag{% endtrans %}
                        </a>
                    </p>
                    <p>
                        <a title="{{ "add.tag.%name%.child"|trans({'%name%': tag.getTagName}) }}" href="{{ path('tagsAddChildPage', { tagId:tag.getId }) }}">
                            <i class="uk-icon-rz-plus"></i> {% trans %}add.a.child.tag{% endtrans %}
                        </a>
                    </p>
                    <p>
                        <a title="{{ "delete.tag.%name%"|trans({'%name%': tag.getTagName}) }}" href="{{ path('tagsDeletePage', { tagId:tag.getId }) }}">
                            <i class="uk-icon-trash-o"></i> {% trans %}delete.tag{% endtrans %}
                        </a>
                    </p>
                </div>
            </nav>
        </div>
        {% if children|length > 0 %}
        <div class="minus" data-nestable-action="toggle"></div>
        {% endif %}
    </div>
    <ul class="uk-nestable-list uk-nestable-list-tag" data-parent-tag-id="{{ tag.getId }}">
    {#
     # For drag&drop ease, we don't create nested lists
     # We will have to check after OR inside drag status
     #}
    {% for subNode in children %}
        {% include 'widgets/tagTree/singleTag.html.twig' with {
            "tag":subNode,
            "parent":tag,
            "tagTree":tagTree,
            'canReorder': (tag.childrenOrder == 'position'),
        } %}
    {% endfor %}
    </ul>
</li>
