{% extends "admin/base.html.twig" %}

{%- block content_title -%}{% trans %}fonts{% endtrans %}{%- endblock -%}

{%- block content_header_actions -%}
    <a class="uk-button" href="{{ path('fontsAddPage') }}">
        <i class="uk-icon-rz-plus"></i> {% trans %}add.a.font{% endtrans %}
    </a>
{%- endblock -%}

{%- block content_filters -%}
    {% include '@Rozier/widgets/filtersBar.html.twig' %}
{%- endblock -%}

{%- block content_body -%}
    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="fonts content-table uk-table">
                <thead>
                <tr>
                    <th>
                        {% trans %}name{% endtrans %}
                        {% include 'includes/column_ordering.html.twig' with {
                            'field': 'name',
                            'filters': filters,
                        } only %}
                    </th>
                    <th>
                        {% trans %}font.variant{% endtrans %}
                    </th>
                    <th class="mobile-hidden">{% trans %}font.files{% endtrans %}</th>
                    <th class="mobile-hidden">
                        {% trans %}font.cssfamily{% endtrans %}
                        {% include 'includes/column_ordering.html.twig' with {
                            'field': 'hash',
                            'filters': filters,
                        } only %}
                    </th>
                    <th class="table-actions-row table-actions-row-3">{% trans %}actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>
                            <a href="{{ path('fontsEditPage', { id: item.id }) }}">{{ item.name }}</a>
                        </td>
                        <td>{{ item.getReadableVariant|trans }}</td>
                        <td class="mobile-hidden">
                            {% if item.getEOTFilename %}<div class="uk-badge uk-badge-table">EOT</div>{% endif %}
                            {% if item.getWOFFFilename %}<div class="uk-badge uk-badge-table">WOFF</div>{% endif %}
                            {% if item.getWOFF2Filename %}<div class="uk-badge uk-badge-table">WOFF2</div>{% endif %}
                            {% if item.getSVGFilename %}<div class="uk-badge uk-badge-table">SVG</div>{% endif %}
                            {% if item.getOTFFilename %}<div class="uk-badge uk-badge-table">OTF</div>{% endif %}
                        </td>
                        <td class="mobile-hidden"><code>{{ item.getHash }}</code></td>
                        <td class="table-actions-row">
                            {% apply spaceless %}
                                <a class="uk-button uk-button-content uk-button-small"
                                   href="{{ path('fontsEditPage', { id: item.id }) }}"
                                   title="{% trans %}edit{% endtrans %}"
                                   data-uk-tooltip="{animation:true}">
                                    <i class="uk-icon-rz-pencil"></i>
                                </a>
                                <a class="uk-button uk-button-content uk-button-small rz-no-ajax-link"
                                   href="{{ path('fontsDownloadPage', { id: item.id }) }}"
                                   title="{% trans %}download{% endtrans %}"
                                   data-uk-tooltip="{animation:true}">
                                    <i class="uk-icon-rz-download"></i>
                                </a>
                                <a class="uk-button uk-button-content uk-button-small uk-button-table-delete"
                                   href="{{ path('fontsDeletePage', { id: item.id }) }}"
                                   title="{% trans %}delete{% endtrans %}"
                                   data-uk-tooltip="{animation:true}">
                                    <i class="uk-icon-rz-trash-mini-o"></i>
                                </a>
                            {% endapply %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
{%- endblock -%}
