{% extends 'base_email.html.twig' %}

{% block title %}<title>{{ 'welcome.user.email.%site%'|trans({'%site%':site})|escape }}</title>{% endblock %}

{% block content_table %}
<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td class="content-block">
			<h1>{% trans %}your.user.account{% endtrans %}</h1>
		</td>
	</tr>
	<tr>
		<td class="content-block">
			<h2>{{ 'welcome.user.email.%site%'|trans({'%site%':site})|escape }}</h2>
		</td>
	</tr>
	<tr>
		<td class="content-block">
			<table class="invoice">
				<tr>
					{% set absUrl = request.host ~ path('loginPage') %}
					<td><a href="{{ absUrl }}">{{ absUrl }}</a></td>
				</tr>
				<tr>
					<td>
						<table class="invoice-items" cellpadding="0" cellspacing="0">
							<tr>
								<td>{% trans %}username{% endtrans %}</td>
								<td class="alignright">{{ user.username|escape }}</td>
							</tr>
							<tr>
								<td>{% trans %}email{% endtrans %}</td>
								<td class="alignright">{{ user.email|escape }}</td>
							</tr>
							{% if user.getPlainPassword %}
							<tr>
								<td>{% trans %}password{% endtrans %}</td>
								<td class="alignright"><code>{{ user.plainPassword|escape }}</code></td>
							</tr>
							{% endif %}
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
{% endblock %}
