{% if not head.ajax %}{% set baseTemplate = 'base.html.twig' %}{% else %}{% set baseTemplate = 'ajaxBase.html.twig' %}{% endif %}{% extends baseTemplate %}

{% block content %}
<section class="content-global content-nav-and-filters">

    <header class="content-header header-node-types header-node-types-list">
        <h1 class="content-title nodes-node-types-title">{% trans %}customForm{% endtrans %}</h1>
        {% include 'widgets/countFiltersBar.html.twig' %}
        <div class="content-header-action-menu">
            <nav>
            	<a class="uk-button" href="{{ path('customFormsAddPage') }}"><i class="uk-icon-plus"></i> {% trans %}add.a.customForm{% endtrans %}</a>
			</nav>
        </div>
    </header>

    {% include 'widgets/filtersBar.html.twig' %}

    <article class="content content-no-action-menu content-node-types-list">
        <div class="content-table-cont">
            {% spaceless %}
			<table class="node-types content-table uk-table">
				<thead>
			        <tr>
			            <th>{% trans %}name{% endtrans %}</th>
			            <th>{% trans %}customForm.displayName{% endtrans %}</th>
			            {# <th>{% trans %}nodeType.entityName{% endtrans %}</th> #}
			            <th></th>
			            <th class="table-actions-row table-actions-row-5">{% trans %}actions{% endtrans %}</th>
			        </tr>
			    </thead>
				<tbody>
					{% for type in custom_forms %}
						<tr>
							<td class="name"><a href="{{ path('customFormsEditPage', { customFormId: type.getId }) }}">
                                <span class="color" style="background-color:{{ type.getColor }};"></span>{{ type.getName }}
                            </a></td>
							<td>{{ type.getDisplayName }}</td>
							{# <td>{{ type.getSourceEntityClassName }}</td> #}
							<td><div class="uk-badge uk-badge-table">{% transchoice type.getFields|length %}{0} no.customFormField|{1} 1.customFormField|]1,Inf] %count%.customFormFields{% endtranschoice %}</div></td>
							<td>
                            {% spaceless %}                                
                                <a class="uk-button uk-button-content uk-button-small" href="{{ path('customFormsEditPage', { customFormId: type.getId }) }}" title="{% trans %}edit.customFormFields{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>  

                                <a class="uk-button uk-button-content uk-button-small" href="{{ path('customFormFieldsListPage', { customFormId: type.getId }) }}" title="{% trans %}manage.customFormFields{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-node-type-field"></i></a> 

                                <a class="uk-button uk-button-content uk-button-small" href="{{ path('customFormAnswersHomePage', { customFormId: type.getId }) }}" title="{% trans %}customForm.answers{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-node-type-field"></i></a> 

                                <a class="uk-button uk-button-content uk-button-small" href="{{ path('customFormSendAction', { customFormId: type.getId }) }}" title="{% trans %}customForm.show{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-visibility"></i></a>                            

                                <a class="uk-button uk-button-content uk-button-small uk-button-danger uk-button-table-delete" href="{{ path('customFormsDeletePage', { customFormId: type.getId }) }}" title="{% trans %}delete{% endtrans %}" data-uk-tooltip="{animation:true}">
                                    <i class="uk-icon-rz-trash-o"></i>
                                </a>
                            {% endspaceless %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endspaceless %}
        </div>
    </article>

</section>
{% endblock %}
