{% extends "admin/base.html.twig" %}

{%- block content_title -%}{% trans %}customForm{% endtrans %}{%- endblock -%}

{%- block content_header_actions -%}
    <a class="uk-button" href="{{ path('customFormsAddPage') }}">
        <i class="uk-icon-rz-plus"></i> {% trans %}add.a.customForm{% endtrans %}
    </a>
{%- endblock -%}

{%- block content_filters -%}
    {% include '@Rozier/widgets/filtersBar.html.twig' %}
{%- endblock -%}

{%- block content_body -%}
    <article class="content content-no-action-menu content-custom-forms-list">
        <div class="content-table-cont">
            {% apply spaceless %}
                <table class="custom-forms content-table uk-table">
                    <thead>
                    <tr>
                        <th>
                            {% trans %}customForm.displayName{% endtrans %}
                            {% include 'includes/column_ordering.html.twig' with {
                                'field': 'displayName',
                                'filters': filters,
                            } only %}
                        </th>
                        <th class="mobile-hidden">
                            {% trans %}createdAt{% endtrans %}
                            {% include 'includes/column_ordering.html.twig' with {
                                'field': 'createdAt',
                                'filters': filters,
                            } only %}
                        </th>
                        <th class="mobile-hidden">
                            {% trans %}customForm.closeDate{% endtrans %}
                            {% include 'includes/column_ordering.html.twig' with {
                                'field': 'closeDate',
                                'filters': filters,
                            } only %}
                        </th>
                        <th class="mobile-hidden"></th>
                        <th class="table-actions-row table-actions-row-6">{% trans %}actions{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for type in items %}
                        <tr>
                            <td class="name">
                                <a href="{{ path('customFormsEditPage', { id: type.getId }) }}"><span class="color" style="background-color:{{ type.getColor }};"></span>{{ type.displayName }}</a>
                            </td>
                            <td class="mobile-hidden">{{ type.createdAt|format_datetime('medium', 'short', locale=app.request.locale) }}</td>
                            <td class="mobile-hidden">{{ type.closeDate|format_datetime('medium', 'short', locale=app.request.locale) }}</td>
                            <td class="mobile-hidden"><div class="uk-badge uk-badge-table">{% transchoice type.getFields|length %}{0} no.customFormField|{1} 1.customFormField|]1,Inf] %count%.customFormFields{% endtranschoice %}</div></td>
                            <td class="table-actions-row table-actions-row-6">
                                {% apply spaceless %}
                                    <a class="uk-button uk-button-content uk-button-small"
                                       href="{{ path('customFormsEditPage', { id: type.getId }) }}"
                                       title="{% trans %}edit{% endtrans %}"
                                       data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>

                                    <a class="uk-button uk-button-content uk-button-small"
                                       href="{{ path('customFormFieldsListPage', { customFormId: type.getId }) }}"
                                       title="{% trans %}manage.customFormFields{% endtrans %}"
                                       data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-custom-form-fields"></i></a>

                                    <a class="uk-button uk-button-content uk-button-small"
                                       href="{{ path('customFormAnswersHomePage', { customFormId: type.getId }) }}"
                                       title="{% trans %}customForm.answers{% endtrans %}"
                                       data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-custom-form-answers"></i></a>

                                    <a class="uk-button uk-button-content uk-button-small"
                                       href="{{ path('customFormSendAction', { customFormId: type.getId }) }}"
                                       title="{% trans %}customForm.show{% endtrans %}"
                                       data-uk-tooltip="{animation:true}" target="_blank"><i class="uk-icon-rz-visibility"></i></a>

                                    <a class="uk-button uk-button-content uk-button-small rz-no-ajax-link"
                                       href="{{ path('customFormsDuplicatePage', { id: type.getId }) }}"
                                       title="{% trans %}customForm.duplicate{% endtrans %}"
                                       data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-duplicate"></i></a>

                                    <a class="uk-button uk-button-content uk-button-small uk-button-success rz-no-ajax-link"
                                       href="{{ path('customFormsExportPage', { id: type.getId }) }}"
                                       title="{% trans %}export{% endtrans %}"
                                       data-uk-tooltip="{animation:true}">
                                        <i class="uk-icon-rz-download"></i>
                                    </a>

                                    <a class="uk-button uk-button-content uk-button-small uk-button-danger uk-button-table-delete"
                                       href="{{ path('customFormsDeletePage', { id: type.getId }) }}"
                                       title="{% trans %}delete{% endtrans %}"
                                       data-uk-tooltip="{animation:true}">
                                        <i class="uk-icon-rz-trash-o"></i>
                                    </a>
                                {% endapply %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endapply %}
        </div>
    </article>
{%- endblock -%}
