{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global">

    <header class="content-header header-setting header-setting-add">
       <h1 class="content-title setting-list-title">{{ "edit.setting.%name%"|trans({'%name%': setting.getName }) }}</h1>
       <a class="content-header-nav-back uk-navbar-content" href="{{ path('settingsHomePage') }}" title="{% trans %}back_to.settings{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
    </header>

    <article class="content content-setting-edit">
        {% form_theme form '@Rozier/forms.html.twig' %}
        {{ form_start(form, { attr: { id: 'edit-setting-form'}}) }}
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                <button data-action-save="#edit-setting-form" class="uk-button uk-button-primary rz-action-save" type="submit">
                    <span class="icon-container"><i class="uk-icon-rz-save-mini"></i></span>
                    <span class="label"><span class="label-text">{% trans %}save{% endtrans %}</span></span>
                </button>
            </fieldset>
        {{ form_end(form) }}
    </article>

    {% include '@Rozier/settings/actionsMenu.html.twig' %}
</section>
{% endblock %}
