{% extends '@Rozier/layout.html.twig' %}

{% block content %}
<section class="content-global content-nav-and-filters">
    {% if settingGroup %}
        <header class="content-header header-setting header-setting-add">
           <h1 class="content-title setting-list-title">{{ settingGroup.name|trans }}</h1>
            <div class="content-header-action-menu">
                <nav>
                    <a class="uk-button" href="{{ path('settingsAddPage') }}"><i class="uk-icon-rz-plus"></i> {% trans %}add.a.setting{% endtrans %}</a>
                    <a class="uk-button" href="{{ path('settingsImportPage') }}"><i class="uk-icon-rz-upload"></i> {% trans %}import{% endtrans %}</a>
                    <a class="uk-button rz-no-ajax-link"
                       href="{{ path('settingsExportGroupPage', {settingGroupId: settingGroup.id}) }}"><i class="uk-icon-rz-download"></i> {% trans %}export{% endtrans %}</a>
                </nav>
            </div>
           {% include '@Rozier/widgets/countFiltersBar.html.twig' %}
        </header>
    {% else %}
        <header class="content-header header-setting header-setting-add">
           <h1 class="content-title setting-list-title">{% trans %}settings{% endtrans %}</h1>
           <div class="content-header-action-menu">
                <nav>
                    <a class="uk-button" href="{{ path('settingsAddPage') }}"><i class="uk-icon-rz-plus"></i> {% trans %}add.a.setting{% endtrans %}</a>
                    <a class="uk-button" href="{{ path('settingsImportPage') }}"><i class="uk-icon-rz-upload"></i> {% trans %}import{% endtrans %}</a>
                    <a class="uk-button rz-no-ajax-link" href="{{ path('settingsExportAllPage') }}"><i class="uk-icon-rz-download"></i> {% trans %}export{% endtrans %}</a>
                </nav>
           </div>
           {% include '@Rozier/widgets/countFiltersBar.html.twig' %}
        </header>
    {% endif %}
    {% include '@Rozier/widgets/filtersBar.html.twig' %}
    <article class="content content-no-action-menu content-settings-list">
        <div class="content-table-cont">
            <table class="content-table settings uk-table">
                <thead>
                    <tr>
                        <th>
                            {% trans %}name{% endtrans %}
                            {% include 'includes/column_ordering.html.twig' with {
                                'field': 'name',
                                'filters': filters,
                            } only %}
                        </th>
                        <th class="mobile-hidden">{% trans %}value{% endtrans %}</th>
                        <th class="table-actions-row table-actions-row-3">{% trans %}actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for setting in settings %}
                    <tr class="setting-row">
                        <td>
                            <p>
                                <a href="{{ path('settingsEditPage', { settingId: setting.setting.getId }) }}">
                                    {%- if setting.setting.Encrypted -%}<i class="uk-icon uk-icon-lock" title="{% trans %}encrypted{% endtrans %}" data-uk-tooltip="{animation:true}"></i> {% endif %}{{ setting.setting.name|trans|inlineMarkdown -}}
                                </a>
                            </p>
                            {% if setting.setting.description %}
                                <p class="uk-text-small uk-text-muted">{{ setting.setting.description|trans|inlineMarkdown }}</p>
                            {% endif %}
                        </td>
                        <td class="mobile-hidden">
                            {% if setting.document %}
                            <figure>{{- setting.document|display({height:30}) -}}</figure>
                            {% endif %}
                            {% form_theme setting.form 'horizontalForms.html.twig' %}
                            {{ form_start(setting.form) }}
                                {{ form_widget(setting.form) }}
                                <button class="uk-button uk-button-settings-submit uk-button-small" type="submit"><i class="uk-icon-rz-save-mini"></i></button>
                            {{ form_end(setting.form) }}
                        </td>
                        <td class="table-actions-row">
                        {% apply spaceless %}
                            <a class="uk-button uk-button-content uk-button-small uk-button-settings-save no-ajax-link uk-button-table-save mobile-hidden" href="#" title="{% trans %}save{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-save-mini"></i></a>
                            <a class="uk-button uk-button-content uk-button-small" href="{{ path('settingsEditPage', { settingId: setting.setting.getId }) }}" title="{% trans %}edit{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
                            <a class="uk-button uk-button-content uk-button-small uk-button-table-delete" href="{{ path('settingsDeletePage', { settingId: setting.setting.getId }) }}" title="{% trans %}delete{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-o"></i></a>
                        {% endapply %}

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</section>
{% endblock %}
