<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ node.subject }}</title>
<link href="{{ head.resourcesUrl }}css/styleNewsletter.css" rel="stylesheet"/>
</head>

<body>

{% set imgConf = {'width': 600, 'crop': '1:1'} %}

{% macro simpleBlock(node)%}
{% set headerImage = node.headerImage[0] %}
    <tr>
        <td class="content-block">
            <figure style="background-image:url({{ headerImage.viewer.documentUrlByArray(imgConf) }})"></figure>
            {{ node.content }}
        </td>
    </tr>
{% endmacro %}

{% macro checkNode(node)%}
    {% import _self as show %}

    {% if node.node.nodetype.name == "blockContent" %}
        {{ show.simpleBlock(node) }}
    {% elseif node.node.nodetype.name == "blockCatagories" %}
        {{ show.multiBlock(node) }}
    {% endif %}
{% endmacro %}

{% macro multiBlock(node) %}
    {% import _self as show %}

    <table width="100%" cellpadding="0" cellspacing="0">
        {% for tmp in node.child %}
            <td class="content-block">
                {{ show.checkNode(tmp.nodeSource) }}
            </td>
        {% endfor %}
    </table>
{% endmacro %}


{% import _self as show %}

<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="600">
            <div class="content">
                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="content-wrap">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="content-block">
                                        <a href="{{ node.titleLink }}" target="_blank"><h1>{{ node.newsletterTitle }}</h1></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        Newsletter: {{ node.datetime|localizeddate('none', 'none', null, null, "Y MMMM") }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
										{{ dump(node) }}
										{{ show.checkNode(node.block) }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div class="footer">
                    <table width="100%">
                        <tr>

                        </tr>
                    </table>
                </div></div>
        </td>
        <td></td>
    </tr>
</table>

</body>
</html>
