{% extends 'base.html.twig' %}

{% block content %}

    <article id="content-database" class="content">

        <div class="content-title-cont">
            <h1 class="content-title">{% trans %}database.title{% endtrans %}</h1>   
        </div>

        <div class="content-progress">
            <div class="content-progress-item first active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item"></div>
            <div class="content-progress-item"></div>
            <div class="content-progress-item"></div>
            <div class="content-progress-item"></div>
            <div class="content-progress-item last"></div>
        </div>

        <div class="content-text-cont">
            
            <div class="content-intro">
                {% trans %}database.message{% endtrans %}
            </div>

            {% if error %}
            <div class="uk-alert uk-alert-danger">
                <a href="#" class="uk-alert-close uk-close"></a>
                <p>{% trans %}database.cannot_connect{% endtrans %}</p>
                <p>{{ errorMessage }}</p>
            </div>
            {% endif %}

            {% form_theme databaseForm 'forms.html.twig' %}
            <form id="databaseForm" class="install-form uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(databaseForm) }}>

                <div class="content-text content-text-form">
                    {{ form_widget(databaseForm) }}
                </div>
                
                {% spaceless %}
                <div class="content-buttons">

                    <a class="content-button uk-button uk-button-success" href="{{ path('installCheckPage') }}"><i class="uk-icon-arrow-circle-left"></i> {% trans %}goto.requirements{% endtrans %}</a>
                    <a class="content-button uk-button" href="{{ path('installImportPage') }}"><i class="uk-icon-share"></i> {% trans %}skip.database.goto.import{% endtrans %}</a>
                    <button class="content-button form-save-button uk-button uk-button-primary"><i class="uk-icon-magic"></i> {% trans %}database.build{% endtrans %}</button>

                </div>                    
                {% endspaceless %}
                
            </form>

        </div>
        
    </article>

{% endblock %}
