{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="uk-panel-title">{% trans %}install.database{% endtrans %}</h1>
    <p>{% trans %}database.message{% endtrans %}</p>

    {% if error %}
    <div class="uk-alert uk-alert-danger">
    	<a href="#" class="uk-alert-close uk-close"></a>
    	<p>{% trans %}cannot.connect.database{% endtrans %}</p>
   		<p>{{ errorMessage }}</p>
    </div>
    {% endif %}

    <form class="uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(databaseForm) }}>
   		{{ form_errors(databaseForm) }}

	    {% for item in databaseForm %}
	    	{% if item.vars.name != "_token" %}
			    <div class="uk-form-row">
			    	<label class="uk-form-label" for="{{ item.vars.id }}">{% if item.vars.label %}{{ item.vars.label|trans }}{% else %}{{ item.vars.name|trans }}{% endif %}</label>
			        {{ form_errors(item) }}
			        {{ form_widget(item) }}
			    </div>
	    	{% endif %}
	    {% endfor %}
	    {{ form_rest(databaseForm) }}
  		<p><button class="uk-button uk-button-primary"><i class="uk-icon-magic"></i> {% trans %}build.database{% endtrans %}</button></p>
	</form>

    <p><a class="uk-button uk-button-success" href="{{ path('installCheckPage') }}"><i class="uk-icon-arrow-circle-left"></i> {% trans %}goto.requirements{% endtrans %}</a></p>
{% endblock %}
