{% extends '@Install/base.html.twig' %}
{% block siteTitle %}{{ head.siteTitle|trans }} — {% trans %}database_done.title{% endtrans %}{% endblock %}
{% block content %}
<article id="content-database-done" class="content">

    <div class="content-title-cont">
        <h1 class="content-title">
        {% trans %}database_done.title{% endtrans %}
        </h1>
    </div>

    {% include 'includes/progress.html.twig' with {
        'current': 3
    } %}

    <div class="content-text-cont">

        <div class="content-text">

                <div class="content-intro content-intro-big">
                    {% trans %}database_done.message{% endtrans %}
                </div>

                {% if imports.roles|length > 0 %}
                <h4 class="import-nodetypes-part">{% trans %}import_roles{% endtrans %}</h4>
                <table class="install-table import-nodetypes-part1-table uk-table">
                    {% for role in imports.roles %}
                        <tr>
                            <td></td>
                            <td>{{ role|trans }}</td>
                            <td class="align-center">
                                <div class="uk-badge uk-badge-notification" id="{{ role|replace({'/': '_', '.': '_'}) }}"><i class="uk-icon-circle-o"></i></div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
                {% if imports.groups|length > 0 %}
                <h4 class="import-nodetypes-part">{% trans %}import_groups{% endtrans %}</h4>
                <table class="install-table import-nodetypes-part1-table uk-table">
                    {% for group in imports.groups %}
                        <tr>
                            <td></td>
                            <td>{{ group|trans }}</td>
                            <td class="align-center">
                                <div class="uk-badge uk-badge-notification" id="{{ group|replace({'/': '_', '.': '_'}) }}"><i class="uk-icon-circle-o"></i></div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
                {% if imports.settings|length > 0 %}
                <h4 class="import-nodetypes-part">{% trans %}import_settings{% endtrans %}</h4>
                <table class="install-table import-nodetypes-part1-table uk-table">
                    {% for setting in imports.settings %}
                        <tr>
                            <td></td>
                            <td>{{ setting|trans }}</td>
                            <td class="align-center">
                                <div class="uk-badge uk-badge-notification" id="{{ setting|replace({'/': '_', '.': '_'}) }}"><i class="uk-icon-circle-o"></i></div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
        </div>

        {% apply spaceless %}
        <div class="content-buttons">
                <a class="content-button uk-button" href="{{ path('installDatabasePage') }}"><i class="uk-icon-arrow-circle-left"></i> {% trans %}goto.database{% endtrans %}</a>
                <a class="content-button uk-button uk-button-primary" href="{{ path('installThemesPage') }}"><i class="uk-icon-arrow-circle-right"></i> {% trans %}goto.theme{% endtrans %}</a>
        </div>
        {% endapply %}

    </div>

</article>
{% endblock %}

{% block customScripts %}
<script type="text/javascript">
    (function() {
        Install.importRoutes = [];
        {% for role in imports.roles %}
        Install.importRoutes.push({
            'url': "{{ path('installImportRoles') }}",
            'id':'{{ role|replace({'/': '_', '.': '_'}) }}',
            'filename':'{{ role }}'
        });
        {% endfor %}
        {% for group in imports.groups %}
        Install.importRoutes.push({
            'url': "{{ path('installImportGroups') }}",
            'id':'{{ group|replace({'/': '_', '.': '_'}) }}',
            'filename':'{{ group }}'
        });
        {% endfor %}
        {% for setting in imports.settings %}
        Install.importRoutes.push({
            'url': "{{ path('installImportSettings') }}",
            'id':'{{ setting|replace({'/': '_', '.': '_'}) }}',
            'filename':'{{ setting }}'
        });
        {% endfor %}
    })();
</script>
{% endblock %}
