{% extends 'base.html.twig' %}

{% block content %}

    <article id="content-done" class="content">

        <div class="content-title-cont">
            <h1 class="content-title">{% trans %}success.title{% endtrans %}</h1>
        </div>

        <div class="content-progress">
            <div class="content-progress-item first active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item active last"></div>
        </div>

        <div class="content-text-cont">

            <div class="content-intro content-intro-big">
                {% trans %}success.message{% endtrans %}
            </div>

            {% if error %}
            <div class="uk-alert uk-alert-danger">
                <a href="#" class="uk-alert-close uk-close"></a>
                <p>{{ errorMessage }}</p>
            </div>
            {% endif %}

            <form class="install-form uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(doneForm) }}>

                <div class="content-text">

                    {{ form_errors(doneForm) }}

                    {% for item in doneForm %}
                            {{ form_errors(item) }}
                            {{ form_widget(item) }}
                    {% endfor %}
                    {{ form_rest(doneForm) }}

                </div>

                {% spaceless %}
                <div class="content-buttons">

                    <a class="content-button uk-button uk-button-success" href="{{ path('installUserPage') }}"><i class="uk-icon-arrow-circle-left"></i> {% trans %}goto.user{% endtrans %}</a>
                    <button class="content-button uk-button uk-button-primary"><i class="uk-icon-check"></i> {% trans %}success.quit_install{% endtrans %}</button>

                </div>
                {% endspaceless %}

            </form>

        </div>

    </article>

{% endblock %}
