{% extends '@Install/base.html.twig' %}

{% block siteTitle %}{{ head.siteTitle|trans }} — {% trans %}success.title{% endtrans %}{% endblock %}
{% block content %}
    <article id="content-done" class="content">
        <div class="content-title-cont">
            <h1 class="content-title">{% trans %}success.title{% endtrans %}</h1>
        </div>

        {% include 'includes/progress.html.twig' with {
            'current': 8
        } %}

        <div class="content-text-cont">

            <div class="content-intro content-intro-big">
                {% trans %}success.message{% endtrans %}
            </div>

            {% if error %}
                <div class="uk-alert uk-alert-danger">
                    <a href="#" class="uk-alert-close uk-close"></a>
                    {% for label, messages in app.flashes(['warning', 'error']) %}
                        {% for message in messages %}
                            <p class="alert alert-{{ label }}">
                                {{- message -}}
                            </p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

            {% form_theme doneForm '@Install/forms.html.twig' %}
            {{ form_start(doneForm) }}
                <div class="content-text">
                    {{ form_errors(doneForm) }}
                    {% for item in doneForm %}
                        {{ form_errors(item) }}
                        {{ form_widget(item) }}
                    {% endfor %}
                    {{ form_rest(doneForm) }}
                </div>

                {% apply spaceless %}
                    <div class="content-buttons">
                        <a class="content-button uk-button uk-button-success" href="{{ path('installUserPage') }}"><i class="uk-icon-arrow-circle-left"></i> {% trans %}goto.user{% endtrans %}</a>
                        <button class="content-button uk-button uk-button-primary"><i class="uk-icon-check"></i> {% trans %}success.quit_install{% endtrans %}</button>
                    </div>
                {% endapply %}
            {{ form_end(doneForm) }}
        </div>
    </article>
{% endblock %}
