{% extends '@Install/base.html.twig' %}

{% block siteTitle %}{% trans %}welcome.title{% endtrans %}{% endblock %}
{% block content %}
    <article id="content-hello" class="content">
        <div class="content-title-cont">
            <h1 class="content-title">{% trans %}welcome.title{% endtrans %}</h1>
        </div>

        {% include 'includes/progress.html.twig' with {
            'current': 1
        } %}

        <div class="content-text-cont">
            <div class="content-text">
                <div class="content-intro content-intro-only">
                    <h3>{% trans %}welcome.subtitle{% endtrans %}</h3>
                    {% trans %}welcome.message{% endtrans %}
                </div>

                {% if error %}
                <div class="uk-alert uk-alert-danger">
                    <a href="#" class="uk-alert-close uk-close"></a>
                    <p>{% trans %}database.cannot_connect{% endtrans %}</p>
                    {% for label, messages in app.flashes(['warning', 'error']) %}
                        {% for message in messages %}
                            <p class="alert alert-{{ label }}">
                                {{- message -}}
                            </p>
                        {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}

                {% form_theme form 'horizontalForms.html.twig' %}
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="uk-form-row">
                        <button class="content-button form-save-button uk-button">
                            <i class="uk-icon-flag"></i> {% trans %}choose.language{% endtrans %}
                        </button>
                    </div>
                {{ form_end(form) }}
            </div>

            {% apply spaceless %}
            <div class="content-buttons">

                <a class="content-button uk-button uk-button-primary" href="{{ path('installCheckPage') }}">{% trans %}goto.requirements{% endtrans %} <i class="uk-icon-arrow-circle-right icon-right"></i></a>

            </div>
            {% endapply %}

        </div>

    </article>

{% endblock %}
