{% extends '@Install/base.html.twig' %}

{% block siteTitle %}{{ head.siteTitle|trans }} — {% trans %}import.theme.content.title{% endtrans %}{% endblock %}
{% block content %}
    <article id="content-import-node-type" class="content">
        <div class="content-title-cont">
            <h1 class="content-title">{% trans %}import.theme.content.title{% endtrans %}</h1>
        </div>
        {% include 'includes/progress.html.twig' with {
            'current': 6
        } %}

        <div class="content-text-cont">

            <div class="content-text">

                {% if roles|length > 0 %}
                <h4 class="import-nodetypes-part">{% trans %}import_roles{% endtrans %}</h4>
                <table class="install-table import-nodetypes-part1-table uk-table">
                    <tr>
                        <th></th>
                        <th>{% trans %}step.name{% endtrans %}</th>
                        <th class="last-col">{% trans %}status{% endtrans %}</th>
                    </tr>
                    {% for role in roles %}
                        <tr>
                            <td></td>
                            <td>{{ role|trans }}</td>
                            <td class="last-col">
                                <div class="uk-badge uk-badge-notification" id="{{ role|replace({'/': '_', '.': '_'}) }}"><i class="uk-icon-circle-o"></i></div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
                {% if groups|length > 0 %}
                <h4 class="import-nodetypes-part">{% trans %}import_groups{% endtrans %}</h4>
                <table class="install-table import-nodetypes-part1-table uk-table">
                    <tr>
                        <th></th>
                        <th>{% trans %}step.name{% endtrans %}</th>
                        <th class="last-col">{% trans %}status{% endtrans %}</th>
                    </tr>
                    {% for group in groups %}
                        <tr>
                            <td></td>
                            <td>{{ group|trans }}</td>
                            <td class="last-col">
                                <div class="uk-badge uk-badge-notification" id="{{ group|replace({'/': '_', '.': '_'}) }}"><i class="uk-icon-circle-o"></i></div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
                {% if settings|length > 0 %}
                <h4 class="import-nodetypes-part">{% trans %}import_settings{% endtrans %}</h4>
                <table class="install-table import-nodetypes-part1-table uk-table">
                    <tr>
                        <th></th>
                        <th>{% trans %}step.name{% endtrans %}</th>
                        <th class="last-col">{% trans %}status{% endtrans %}</th>
                    </tr>
                    {% for setting in settings %}
                        <tr>
                            <td></td>
                            <td>{{ setting|trans }}</td>
                            <td class="last-col">
                                <div class="uk-badge uk-badge-notification" id="{{ setting|replace({'/': '_', '.': '_'}) }}"><i class="uk-icon-circle-o"></i></div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
                {% if nodetypes|length > 0 %}
                <h4 class="import-nodetypes-part">{% trans %}import_node_type.node_type{% endtrans %}</h4>
                <table class="install-table import-nodetypes-part1-table uk-table">
                    <tr>
                        <th></th>
                        <th>{% trans %}step.name{% endtrans %}</th>
                        <th class="last-col">{% trans %}status{% endtrans %}</th>
                    </tr>
                    {% for nodetype in nodetypes %}
                        <tr>
                            <td></td>
                            <td>{{ nodetype|trans }}</td>
                            <td class="last-col">
                                <div class="uk-badge uk-badge-notification" id="{{ nodetype|replace({'/': '_', '.': '_'}) }}"><i class="uk-icon-circle-o"></i></div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
                {% if tags|length > 0 %}
                <h4 class="import-nodetypes-part">{% trans %}import_tags{% endtrans %}</h4>
                <table class="install-table import-nodetypes-part1-table uk-table">
                    <tr>
                        <th></th>
                        <th>{% trans %}step.name{% endtrans %}</th>
                        <th class="last-col">{% trans %}status{% endtrans %}</th>
                    </tr>
                    {% for tag in tags %}
                        <tr>
                            <td></td>
                            <td>{{ tag|trans }}</td>
                            <td class="last-col">
                                <div class="uk-badge uk-badge-notification" id="{{ tag|replace({'/': '_', '.': '_'}) }}"><i class="uk-icon-circle-o"></i></div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
                {% if attributes|length > 0 %}
                    <h4 class="import-nodetypes-part">{% trans %}import_attribute{% endtrans %}</h4>
                    <table class="install-table uk-table">
                        <tr>
                            <th></th>
                            <th>{% trans %}step.name{% endtrans %}</th>
                            <th class="last-col">{% trans %}status{% endtrans %}</th>
                        </tr>
                        {% for attribute in attributes %}
                            <tr>
                                <td></td>
                                <td>{{ attribute|trans }}</td>
                                <td class="last-col">
                                    <div class="uk-badge uk-badge-notification" id="{{ attribute|replace({'/': '_', '.': '_'}) }}"><i class="uk-icon-circle-o"></i></div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                {% if nodes|length > 0 %}
                <h4 class="import-nodetypes-part">{% trans %}import_node{% endtrans %}</h4>
                <table class="install-table uk-table">
                    <tr>
                        <th></th>
                        <th>{% trans %}step.name{% endtrans %}</th>
                        <th class="last-col">{% trans %}status{% endtrans %}</th>
                    </tr>
                    {% for node in nodes %}
                        <tr>
                            <td></td>
                            <td>{{ node|trans }}</td>
                            <td class="last-col">
                                <div class="uk-badge uk-badge-notification" id="{{ node|replace({'/': '_', '.': '_'}) }}"><i class="uk-icon-circle-o"></i></div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>

            {% apply spaceless %}
            <div class="content-buttons">
                <a class="content-button uk-button" href="{{ path('installThemesPage') }}"><i class="uk-icon-arrow-circle-left"></i> {% trans %}goto.theme{% endtrans %}</a>
                <a id="next-step-button" class="content-button uk-button uk-button-primary uk-button-disabled" href="{{ path('installUserPage')}}">{% trans %}goto.user{% endtrans %} <i class="uk-icon-arrow-circle-right"></i></a>
            </div>
            {% endapply %}
        </div>
    </article>
{% endblock %}

{% block customScripts %}
<script type="text/javascript">
    (function() {
        Install.importRoutes = [];
        {% for role in roles %}
        Install.importRoutes.push({
            'url': "{{ path('installImportRoles', {'themeId': themeId}) }}",
            'id':'{{ role|replace({'/': '_', '.': '_'}) }}',
            'filename': '{{ role }}'
        });
        {% endfor %}
        {% for group in groups %}
        Install.importRoutes.push({
            'url': "{{ path('installImportGroups', {'themeId': themeId}) }}",
            'id':'{{ group|replace({'/': '_', '.': '_'}) }}',
            'filename': '{{ group }}'
        });
        {% endfor %}
        {% for setting in settings %}
        Install.importRoutes.push({
            'url': "{{ path('installImportSettings', {'themeId': themeId}) }}",
            'id':'{{ setting|replace({'/': '_', '.': '_'}) }}',
            'filename': '{{ setting }}'
        });
        {% endfor %}
        {% for nodetype in nodetypes %}
        Install.importRoutes.push({
            'postUpdate': ["{{ path('installClearCacheSchema') }}", "{{ path('installUpdateSchema') }}"],
            'url': "{{ path('installImportNodeTypes', {'themeId': themeId}) }}",
            'id':'{{ nodetype|replace({'/': '_', '.': '_'}) }}',
            'filename': '{{ nodetype }}'
        });
        {% endfor %}
        {% for tag in tags %}
        Install.importRoutes.push({
            'url': "{{ path('installImportTags', {'themeId': themeId}) }}",
            'id':'{{ tag|replace({'/': '_', '.': '_'}) }}',
            'filename': '{{ tag }}'
        });
        {% endfor %}
        {% for attribute in attributes %}
        Install.importRoutes.push({
            'url': "{{ path('installImportAttributes', {'themeId': themeId}) }}",
            'id':'{{ attribute|replace({'/': '_', '.': '_'}) }}',
            'filename': '{{ attribute }}'
        });
        {% endfor %}
        {% for node in nodes %}
        Install.importRoutes.push({
            'url': "{{ path('installImportNodes', {'themeId': themeId}) }}",
            'id':'{{ node|replace({'/': '_', '.': '_'}) }}',
            'filename': '{{ node }}'
        });
        {% endfor %}
    })();
</script>
{% endblock %}
