{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="uk-panel-title">{% trans %}import.NodeType.json{% endtrans %}</h1>
    <p>{% trans %}import.message{% endtrans %}</p>

    <table class="uk-table">
    	<tr>
    		<th></th>
    		<th>{% trans %}step.name{% endtrans %}</th>
    		<th>{% trans %}status{% endtrans %}</th>
    	</tr>
    	{% for name in names %}
    		<tr>
                <td></td>
    			<td>{{ name|trans }}</td>
    			<td>
    				<div class="uk-badge uk-badge-notification" id="{{ name }}"><i class="uk-icon-circle-o"></i></div>
    			</td>
    		</tr>
    	{% endfor %}
    </table>
    <p>
    	<a class="uk-button uk-button-success" href="{{ path('installThemesPage') }}"><i class="uk-icon-arrow-circle-left"></i> {% trans %}goto.theme{% endtrans %}</a>
    	<a id="next-step-button" class="uk-button uk-button-disabled" href="{{ path('installDonePage') }}">{% trans %}goto.done{% endtrans %} <i class="uk-icon-arrow-circle-right"></i></a>
    </p>
{% endblock %}

{% block customScripts %}
<script type="text/javascript">
    Install.importNodeTypeRoutes = [];
    {% for name in names %}
    Install.importNodeTypeRoutes.push({'url': "{{ (path('installImportNodeTypesPage') ~ '/') ~ name }}",'id':'{{ name }}'});
    {% endfor %}
</script>
{% endblock %}
