{% extends 'base.html.twig' %}

{% block content %}

    <article id="content-import-node-type" class="content">

        <div class="content-title-cont">
            <h1 class="content-title">{% trans %}import_node_type.title{% endtrans %}</h1>   
        </div>

        <div class="content-progress">
            <div class="content-progress-item first active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item last"></div>
        </div>

        <div class="content-text-cont">
            
            <div class="content-text">

                <p>{% trans %}import_node_type.node_type{% endtrans %}</p>
                <table class="install-table uk-table">
                    <tr>
                        <th></th>
                        <th>{% trans %}step.name{% endtrans %}</th>
                        <th>{% trans %}status{% endtrans %}</th>
                    </tr>
                    {% for name in names %}
                        <tr>
                            <td></td>
                            <td>{{ name|trans }}</td>
                            <td>
                                <div class="uk-badge uk-badge-notification" id="{{ name }}"><i class="uk-icon-circle-o"></i></div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                
                <p>{% trans %}import_node_type.node{% endtrans %}</p>
                <table class="install-table uk-table">
                    <tr>
                        <th></th>
                        <th>{% trans %}step.name{% endtrans %}</th>
                        <th>{% trans %}status{% endtrans %}</th>
                    </tr>
                        <tr>
                            <td></td>
                            <td>Nodes</td>
                            <td>
                                <div class="uk-badge uk-badge-notification" id="Nodes"><i class="uk-icon-circle-o"></i></div>
                            </td>
                        </tr>
                </table>

            </div>

            <a id="next-step-button" class="content-button uk-button uk-button-primary" href="{{ path('installDonePage') }}">{% trans %}goto.done{% endtrans %} <i class="uk-icon-arrow-circle-right"></i></a>
            <a class="content-button uk-button" href="{{ path('installThemesPage') }}"><i class="uk-icon-arrow-circle-left"></i> {% trans %}goto.theme{% endtrans %}</a>
            
        </div>
        
    </article>

{% endblock %}

{% block customScripts %}
<script type="text/javascript">
    Install.importNodeTypeRoutes = [];
    {% for name in names %}
    Install.importNodeTypeRoutes.push({'url': "{{ path('installImportNodeTypes', {'filename': name}) }}",'id':'{{ name }}'});
    {% endfor %}
    Install.importNodeTypeRoutes.push({'url': "{{ path('installImportNodes') }}",'id':"Nodes"});;
</script>
{% endblock %}
