{% extends 'base.html.twig' %}

{% block content %}

    <article id="content_requirements" class="content">

        <div class="content_title_cont">
            <h1 class="content_title">{% trans %}requirements.title{% endtrans %}</h1>   
        </div>

        <div class="content_progress">
            <div class="content_progress_item first active"></div>
            <div class="content_progress_item active"></div>
            <div class="content_progress_item"></div>
            <div class="content_progress_item"></div>
            <div class="content_progress_item last"></div>
        </div>

        <div class="content_text_cont">
            
            <div class="content_text">

                {% trans %}requirements.message{% endtrans %}

                <table id="requirements_table" class="uk-table">
                    <tr>
                        <th></th>
                        <th>{% trans %}requirements.requirement{% endtrans %}</th>
                        <th>{% trans %}requirements.actual_value{% endtrans %}</th>
                        <th>{% trans %}requirements.status{% endtrans %}</th>
                    </tr>
                    {% for name, require in requirements %}
                        <tr class="requirement_item">
                            <td>{{ name|trans }}</td>
                            <td>
                                {% if require.value_minimum %}<div class="uk-badge">{{ require.value_minimum }}</div>{% endif %}
                                {% if require.version_minimum %}<div class="uk-badge">{{ require.version_minimum }}</div>{% endif %}
                            </td>
                            <td>
                                {% if require.found %}<div class="uk-badge {% if require.status %}uk-badge-success{% else %}uk-badge-danger{% endif %}">{{ require.found }}</div>{% endif %}
                                {% if require.folder %}<div class="uk-badge {% if require.status %}uk-badge-success{% else %}uk-badge-danger{% endif %}">{{ require.folder }}</div>{% endif %}
                            </td>
                            <td class="requirement_status">
                            {% if require.status %}
                                <div class="uk-badge uk-badge-notification uk-badge-success"><i class="uk-icon-check"></i></div>
                            {% else %}
                                <div class="uk-badge uk-badge-notification uk-badge-danger"><i class="uk-icon-ban"></i></div>
                            {% endif %}
                            </td>

                            {% if not require.status and require.message %}
                        </tr>
                        <tr>
                            <td colspan="4" class="message uk-alert uk-alert-danger">{{ require.message }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>

            </div> <!-- .content_text -->
            

            {% if totalSuccess %}
            <a class="content_button uk-button uk-button-success" href="{{ path('installDatabasePage') }}">{% trans %}goto.database{% endtrans %} <i class="uk-icon-arrow-circle-right"></i></a>
            {% endif %}
            <a class="content_button uk-button uk-button-success" href="{{ path('installHomePage') }}"><i class="uk-icon-arrow-circle-left"></i> {% trans %}goto.welcome{% endtrans %}</a>

        </div>
        
    </article>

{% endblock %}
