{% extends '@Install/base.html.twig' %}

{% block siteTitle %}{{ head.siteTitle|trans }} — {% trans %}requirements.title{% endtrans %}{% endblock %}
{% block content %}
    <article id="content-requirements" class="content">
        <div class="content-title-cont">
            <h1 class="content-title">{% trans %}requirements.title{% endtrans %}</h1>
        </div>

        {% include 'includes/progress.html.twig' with {
            'current': 2
        } %}

        <div class="content-text-cont">

            <div class="content-text">

                <div class="content-intro content-intro-only">
                    {% trans %}requirements.message{% endtrans %}
                </div>

                <table id="requirements-table" class="install-table uk-table">
                    <tr>
                        <th>{% trans %}requirements.spec{% endtrans %}</th>
                        <th>{% trans %}requirements.requirement{% endtrans %}</th>
                        <th>{% trans %}requirements.actual_value{% endtrans %}</th>
                        <th>{% trans %}status{% endtrans %}</th>
                    </tr>
                    {% for name, require in requirements %}
                        <tr class="install-table-item requirement-item">
                            <td class="requirement-name">{{ name|trans }}</td>
                            <td>
                                {% if require.value_minimum %}<div class="uk-badge">{{ require.value_minimum }}</div>{% endif %}
                                {% if require.version_minimum %}<div class="uk-badge">{{ require.version_minimum }}</div>{% endif %}
                            </td>
                            <td>
                                {% if require.found %}
                                    <div class="uk-badge {% if require.status %}uk-badge-success{% else %}uk-badge-danger{% endif %}">{{ require.found }}</div>
                                {% endif %}
                                {% if require.folder %}
                                    <div class="uk-badge-folder uk-badge uk-badge-notification uk-badge-notification-infos">
                                        <i class="uk-icon-rz-infos"></i>
                                         <div class="uk-badge-folder-content uk-badge {% if require.status %}uk-badge-success{% else %}uk-badge-danger{% endif %}">{{ require.folder }}</div>
                                    </div>
                                {% endif %}
                            </td>
                            <td class="status">
                            {% if require.status %}
                                <div class="uk-badge uk-badge-notification uk-badge-success"><i class="uk-icon-check"></i></div>
                            {% else %}
                                <div class="uk-badge uk-badge-notification uk-badge-danger"><i class="uk-icon-ban"></i></div>
                            {% endif %}
                            </td>

                            {% if not require.status and require.message %}
                        </tr>
                        <tr>
                            <td colspan="4" class="message uk-alert uk-alert-danger">{{ require.message }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>

            </div>

            {% apply spaceless %}
            <div class="content-buttons">
                <a class="content-button uk-button" href="{{ path('installHomePage') }}"><i class="uk-icon-arrow-circle-left"></i> {% trans %}goto.welcome{% endtrans %}</a>
                {% if totalSuccess %}
                <a class="content-button uk-button uk-button-primary" href="{{ path('installDatabasePage') }}">{% trans %}goto.database{% endtrans %} <i class="uk-icon-arrow-circle-right icon-right"></i></a>
                {% endif %}
            </div>
            {% endapply %}

        </div>

    </article>

{% endblock %}
