{% extends '@Install/base.html.twig' %}

{% block siteTitle %}{{ head.siteTitle|trans }} — {% trans %}themes.title{% endtrans %}{% endblock %}
{% block content %}
    <article id="content-user-themes" class="content">

        <div class="content-title-cont">
            <h1 class="content-title">{% trans %}themes.title{% endtrans %}</h1>
        </div>

        <div class="content-progress">
            <div class="content-progress-item first active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item"></div>
            <div class="content-progress-item"></div>
            <div class="content-progress-item"></div>
            <div class="content-progress-item last"></div>
        </div>

        <div class="content-text-cont">

            <div class="content-intro">
                {% trans %}themes.message{% endtrans %}
            </div>

            {% if error %}
            <div class="uk-alert uk-alert-danger">
                <a href="#" class="uk-alert-close uk-close"></a>
                <p>{{ errorMessage }}</p>
            </div>
            {% endif %}

            {% form_theme infosForm '@Install/forms.html.twig' %}
            <form id="infosForm" class="install-form uk-form uk-form-stacked" action="#" method="post" {{ form_enctype(infosForm) }}>

                <div class="content-text content-text-form">
                    {{ form_widget(infosForm) }}
                </div>

                {% spaceless %}
                    <div class="content-buttons">
                        <a class="content-button uk-button uk-button-success" href="{{ path('installDatabasePage') }}"><i class="uk-icon-arrow-circle-left"></i> {% trans %}goto.database{% endtrans %}</a>
                        <button class="content-button form-save-button uk-button uk-button-primary"><i class="uk-icon-rz-save-mini"></i> {% trans %}themes.save_informations{% endtrans %}</button>
                    </div>
                {% endspaceless %}

            </form>

        </div>

    </article>

{% endblock %}
