{% extends 'base.html.twig' %}

{% block content %}

    <article id="content-user-summary" class="content">

        <div class="content-title-cont">
            <h1 class="content-title">{% trans %}user_summary.title{% endtrans %}</h1>   
        </div>

        <div class="content-progress">
            <div class="content-progress-item first active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item active"></div>
            <div class="content-progress-item"></div>
            <div class="content-progress-item"></div>
            <div class="content-progress-item last"></div>
        </div>

        <div class="content-text-cont">
            
            <div class="content-text">

                <p class="user-summary-items">
                    <span class="summary-item-name">{% trans %}user.name{% endtrans %}</span> :<span class="summary-item-value">{{ name }}</span><br>
                    <span class="summary-item-name">{% trans %}user.email{% endtrans %}</span> :<span class="summary-item-value">{{ email }}</span>
                </p>

            </div>

            {% spaceless %}
            <div class="content-buttons">

                <a class="content-button uk-button" href="{{ path('installImportPage') }}"><i class="uk-icon-arrow-circle-left"></i> {% trans %}goto.import{% endtrans %}</a>
                <a class="content-button uk-button" href="{{ path('installUserPage') }}"><i class="uk-icon-magic"></i> {% trans %}user.create_another{% endtrans %}</a>
                <a class="content-button uk-button uk-button-primary" href="{{ path('installThemesPage') }}"><i class="uk-icon-arrow-circle-right"></i> {% trans %}goto.theme{% endtrans %}</a>

            </div>
            {% endspaceless %}

        </div>
        
    </article>
    
{% endblock %}
