{% extends '@Install/base.html.twig' %}

{% block siteTitle %}{{ head.siteTitle|trans }} — {% trans %}user_summary.title{% endtrans %}{% endblock %}
{% block content %}
    <article id="content-user-summary" class="content">

        <div class="content-title-cont">
            <h1 class="content-title">{% trans %}user_summary.title{% endtrans %}</h1>
        </div>

        {% include 'includes/progress.html.twig' with {
            'current': 7
        } %}

        <div class="content-text-cont">
            <div class="content-text">
                <table class="user-summary-items">
                    <tr>
                        <td class="summary-item-name">{% trans %}user.name{% endtrans %}</td>
                        <td class="summary-item-value">{{ name }}</td><br>
                    </tr>
                    <tr>
                        <td class="summary-item-name">{% trans %}user.email{% endtrans %}</td>
                        <td class="summary-item-value">{{ email }}</td>
                    </tr>
                </table>
            </div>

            {% apply spaceless %}
            <div class="content-buttons">

                <a class="content-button uk-button" href="{{ path('installThemesPage') }}"><i class="uk-icon-arrow-circle-left"></i> {% trans %}goto.theme{% endtrans %}</a>
                <a class="content-button uk-button" href="{{ path('installUserPage') }}"><i class="uk-icon-magic"></i> {% trans %}user.create_another{% endtrans %}</a>
                <a class="content-button uk-button uk-button-primary" href="{{ path('installDonePage') }}"><i class="uk-icon-arrow-circle-right"></i> {% trans %}goto.done{% endtrans %}</a>

            </div>
            {% endapply %}

        </div>

    </article>

{% endblock %}
